<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!--
    Oo      oO ooOoOOo Oo      oO  .oOOOo.
    O O    o o    O    O O    o o .O     o.
    o  o  O  O    o    o  o  O  O O       o
    O   Oo   O    O    O   Oo   O o       O
    O        o    o    O        o O       o
    o        O    O    o        O o       O
    o        O    O    o        O `o     O'
    O        o ooOOoOo O        o  `OoooO'
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title translate>Engage with your Customers | MIMO</title>
  <meta name="description" content="">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >
  <meta name="mobile-web-app-capable" content="yes">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
  <link rel="stylesheet" href="bower_components/jquery-minicolors/jquery.minicolors.css" />
  <link rel="stylesheet" href="bower_components/dragula.js/dist/dragula.css" />
  <link rel="stylesheet" href="bower_components/angular-moment-picker/dist/angular-moment-picker.min.css" />
  <link rel="stylesheet" href="bower_components/angular-color-picker/dist/angularjs-color-picker.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="app/main/material.css">
  <!-- endinjector -->
  <!-- endbuild -->

  <link rel="stylesheet" href="bower_components/emojionearea/dist/emojionearea.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    window.google.charts.load('current', {'packages':['corechart', 'timeline']});
  </script>

  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body ng-class="{ 'login': ct_login.active  }" ng-app="myApp" layout="row" ng-controller="MainCtrl as vm" ng-cloak xx-ng-strict-di>

  <md-progress-linear class="login-spin-hide" ng-class="{ 'login-spin': ct_login.active  }" md-mode="query"></md-progress-linear>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-1dp"
              md-component-id="left"
              aria-label="'Main Menu' | translate"
              md-whiteframe="4"
              md-is-open="vm.menu.isOpenLeft"
              md-is-locked-open="$mdMedia('gt-sm')">

    <md-content role="navigation" class="flex" ng-cloak>

      <md-toolbar class="md-table-toolbar md-default">
        <div class="sidenav md-toolbar-tools">
          <a class="mimo-logo" ng-click="home()">
            <img class="mimo-logo" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/mimo-logo.svg">
          </a>
        </div>
      </md-toolbar>

      <ul class="side-menu">
        <li ng-repeat="section in vm.menu.sections" class="parent-list-item" iing-class="{'active' : vm.isSelected(section) }">
          <menu-link section="section" ng-if="section.type == 'link'"></menu-link>
        </li>
      </ul>
    </md-content>
    <div hide show-gt-sm layout="row" layout-align="start end" class="sidenav-bottom">
      <md-button ng-click="toggleLocations()" class="md-icon-button" aria-label="'Locations' | translate" ng-if="user">
        <md-tooltip md-direction="right">Locations</md-tooltip>
          <md-icon>place</md-icon>
      </md-button>
    </div>
    <div hide show-gt-sm layout="row" layout-align="start end" class="sidenav-bottom">
      <md-menu md-position-mode="target-left target" md-offset="60 0">
        <md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <user-avatar></user-avatar>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item iing-if="location_slug">
            <md-button ng-click="settings()">
              <md-icon md-menu-align-target style="margin: auto 3px auto 0;">settings</md-icon>
              <span translate>Settings</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-href="/#/me" ng-click="$mdMenu.hide()">
              <md-icon md-menu-align-target style="margin: auto 3px auto 0;">face</md-icon>
              <span translate>Account</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="logout()">
              <md-icon md-menu-align-target style="margin: auto 3px auto 0;">exit_to_app</md-icon>
              <span translate>Logout</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-sidenav>

  <md-sidenav id="locationSidebar" class="md-sidenav-left" md-component-id="locations" md-whiteframe="4" ng-if="user">
    <location-sidebar></location-sidebar>
  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-hide="ct_login.active">
    <md-toolbar class="mob-top-nav" hide-gt-sm ng-hide="vm.menu.hideToolbar" md-theme="{{ theme }}">
      <div class="md-toolbar-tools">
        <md-button id="main" ng-if="!vm.menu.hideBurger" class="md-icon-button" ng-click="toggleOpen(main)" aria-label="'Settings' | translate">
          <md-icon>menu</md-icon>
        </md-button>
        <span flex></span>
        <span ng-if="loggedIn">

          <span ng-if="vm.promos">
            <md-button aria-label="'Open Apps Menu' | translate" ng-click="vm.showPromo(vm.promos.promo.value)">
              {{ vm.promos.promo.key }}
            </md-button>
          </span>

        </span>
        <md-button ng-click="toggleLocations()" class="md-icon-button" aria-label="'Locations' | translate" ng-if="user">
          <md-tooltip md-direction="bottom">Locations</md-tooltip>
            <md-icon>place</md-icon>
        </md-button>

        <md-menu md-position-mode="target-right target" md-offset="40 0">
          <md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <user-avatar></user-avatar>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ing-if="location_slug">
              <md-button ng-href="/#/locations/{{ location_slug }}/settings" ng-click="$mdMenu.hide()">
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">settings</md-icon>
                <span translate>Settings</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="/#/me" ng-click="$mdMenu.hide()">
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">face</md-icon>
                <span translate>Account</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="logout()">
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">exit_to_app</md-icon>
                <span translate>Logout</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
    <md-content layout="row" flex id="content">
      <section layout="row" flex>

        <md-content class="intercom-foot-pad" flex>
          <div ng-view autoscroll="true" ng-class="{'hidden': notFound}"></div>
          <div style="margin: 30px 40px;" ng-class="{'hidden': !notFound}">
            <h3>Oh right, that's a 404 then Jim.</h3>
          </div>
        </md-content>
      </section>
    </md-content>

  </div>

  <md-sidenav flex-xs flex-gt-sm="20" class="design-sidebar md-sidenav-right md-whiteframe-z2" md-component-id="" md-is-locked-open="vm.menu.Designer == true">
    <md-content layout-padding>
      <design-menu ver="designer"></design-menu>
    </md-content>
  </md-sidenav>

  <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]-->


  <!-- build:js({client,node_modules}) app/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-payments/lib/angular-payments.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/pusher-angular/lib/pusher-angular.js"></script>
  <script src="bower_components/urijs/src/SecondLevelDomains.js"></script>
  <script src="bower_components/urijs/src/URI.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
  <script src="bower_components/jquery-minicolors/jquery.minicolors.js"></script>
  <script src="bower_components/angular-minicolors/angular-minicolors.js"></script>
  <script src="bower_components/filepicker-js-bower/filepicker.min.js"></script>
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="bower_components/promise-polyfill/Promise.js"></script>
  <script src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
  <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
  <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
  <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
  <script src="bower_components/dragula.js/dist/dragula.js"></script>
  <script src="bower_components/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
  <script src="bower_components/tinycolor/tinycolor.js"></script>
  <script src="bower_components/angular-color-picker/dist/angularjs-color-picker.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) app/app.js -->
  <script src="app/app.js"></script>
  <!-- injector:js -->
  <script src="app/main/main.controllers.js"></script>
  <script src="app/main/main.directives.js"></script>
  <script src="app/main/main.filters.js"></script>
  <script src="app/main/main.js"></script>
  <script src="app/main/main.services.js"></script>
  <script src="components/access_token/access-token.services.js"></script>
  <script src="components/audit/audits.directives.js"></script>
  <script src="components/audit/audits.services.js"></script>
  <script src="components/authentications/authentications.controller.js"></script>
  <script src="components/authentications/authentications.services.js"></script>
  <script src="components/boxes/boxes.controllers.js"></script>
  <script src="components/boxes/boxes.directives.js"></script>
  <script src="components/boxes/boxes.filters.js"></script>
  <script src="components/boxes/boxes.services.js"></script>
  <script src="components/campaigns/campaigns.directives.js"></script>
  <script src="components/campaigns/campaigns.services.js"></script>
  <script src="components/charts/charts.directives.js"></script>
  <script src="components/clients/clients.directives.js"></script>
  <script src="components/clients/clients.services.js"></script>
  <script src="components/codes/codes.directives.js"></script>
  <script src="components/codes/codes.services.js"></script>
  <script src="components/commands/commands.directives.js"></script>
  <script src="components/commands/commands.services.js"></script>
  <script src="components/directives/bulk_message_activity.directives.js"></script>
  <script src="components/directives/bulk_messages.directives.js"></script>
  <script src="components/directives/invites.directives.js"></script>
  <script src="components/directives/invites.services.js"></script>
  <script src="components/directives/users.directives.js"></script>
  <script src="components/emails/emails.directives.js"></script>
  <script src="components/emails/emails.services.js"></script>
  <script src="components/filters/messages.filters.js"></script>
  <script src="components/filters/triggers.filters.js"></script>
  <script src="components/forms/forms.directives.js"></script>
  <script src="components/forms/forms.services.js"></script>
  <script src="components/geocoder/geocoder.services.js"></script>
  <script src="components/google/google.maps.directives.js"></script>
  <script src="components/guests/guests.directives.js"></script>
  <script src="components/guests/guests.services.js"></script>
  <script src="components/integrations/integrations.services.js"></script>
  <script src="components/invoices/invoices.controllers.js"></script>
  <script src="components/invoices/invoices.directives.js"></script>
  <script src="components/invoices/invoices.services.js"></script>
  <script src="components/locations/locations.controller.js"></script>
  <script src="components/locations/locations.directives.js"></script>
  <script src="components/locations/locations.filters.js"></script>
  <script src="components/locations/locations.services.js"></script>
  <script src="components/main/main.directives.js"></script>
  <script src="components/main/main.filters.js"></script>
  <script src="components/main/main.services.js"></script>
  <script src="components/material/menu.directives.js"></script>
  <script src="components/material/menu.filters.js"></script>
  <script src="components/material/menu.services.js"></script>
  <script src="components/people/people.directives.js"></script>
  <script src="components/people/people.services.js"></script>
  <script src="components/plans/plans.directives.js"></script>
  <script src="components/plans/plans.services.js"></script>
  <script src="components/quotas/quotas.directives.js"></script>
  <script src="components/quotas/quotas.services.js"></script>
  <script src="components/registrations/registrations.controller.js"></script>
  <script src="components/registrations/registrations.directive.js"></script>
  <script src="components/registrations/registrations.services.js"></script>
  <script src="components/reports/reports.controller.js"></script>
  <script src="components/reports/reports.services.js"></script>
  <script src="components/reports/reports.v2.directives.js"></script>
  <script src="components/services/bulk_message_activity.services.js"></script>
  <script src="components/services/bulk_messages.services.js"></script>
  <script src="components/services/metrics.services.js"></script>
  <script src="components/services/pagination_labels.services.js"></script>
  <script src="components/services/themes.services.js"></script>
  <script src="components/services/users.services.js"></script>
  <script src="components/splash_codes/splash_codes.directives.js"></script>
  <script src="components/splash_codes/splash_codes.services.js"></script>
  <script src="components/splash_integrations/splash_integrations.services.js"></script>
  <script src="components/splash_pages/splash_pages.controller.js"></script>
  <script src="components/splash_pages/splash_pages.directives.js"></script>
  <script src="components/splash_pages/splash_pages.filters.js"></script>
  <script src="components/splash_pages/splash_pages.services.js"></script>
  <script src="components/subscriptions/subscriptions.services.js"></script>
  <script src="components/users/users.controllers.js"></script>
  <script src="components/vouchers/vouchers.controller.js"></script>
  <script src="components/vouchers/vouchers.directives.js"></script>
  <script src="components/vouchers/vouchers.services.js"></script>
  <script src="components/webhooks/webhooks.directives.js"></script>
  <script src="components/webhooks/webhooks.services.js"></script>
  <script src="scripts/config.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

  <!-- This should be a template so it's not just CT -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KQ7WSH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KQ7WSH');</script>

  <script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
     s.src='https://widget.intercom.io/widget/zklfhs87';
     var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>

  <script>
    $( document ).ready(function() {
      if (!Modernizr.svg) {
        $('img[src*="svg"]').attr('src', function () {
          return $(this).attr('src').replace('.svg', '.png');
        });
      }
    });
  </script>

  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD243NSdgNYjRHBVBrWoEKX728FYOxuUgE&libraries=visualization"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="//js.pusher.com/3.1/pusher.min.js"></script>

</body>
</html>
