<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Trigger</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>
  <md-card>
    <md-card-content>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column md-order-by="trigger_type"><span translate>Type</span></th>
              <th md-column><span translate>Details</span></th>
              <th hide show-gt-xs md-column><span translate>Response</span></th>
              <th hide show-gt-sm md-column md-order-by="created_at" md-desc><span translate>Created</span></th>
              <th md-column ng-show="menu.length"><span translate>Options</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="history" md-auto-select="options.autoSelect" ng-repeat="h in filtered = (histories | filter: query.filter | orderBy: query.direction)">
              <td md-cell>
                <img title="{{ h.action }} {{ h.channel }}" src="https://d3e9l1phmgx8f2.cloudfront.net/images/integration-images/{{ h.trigger_event == 'action' ? 'action' : h.channel }}.png" style="width: 32px; height: 32px!important;">
              </td>
              <td md-cell>
                <a href="/#/locations/{{ location.slug }}/triggers/{{ trigger.id }}/trigger_history/{{ h.id }}" translate>{{ h.success ? "Success" : "Error" }}</a>
                <md-tooltip>
                  {{ h.attr_1 | truncate:100 }}
                </md-tooltip>
              </td>
              <td hide show-gt-xs md-cell>
                {{ h.response | truncate:100 }}
              </td>
              <td hide show-gt-sm md-cell>
                {{ h.created_at | humanTime }}
              </td>
              <td md-cell ng-show="menu.length">
                <md-menu>
                  <md-button aria-label="{{ 'Open Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="4" >
                    <md-menu-item ng-repeat="item in menu">
                      <md-button ng-click="action(h.id,item.type)">
                        <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                        <p flex>{{ item.name }}</p>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}"  md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
  </md-card>
</md-content>
