<li><a  href="/#/stats/clients"><i class="fa fa-users"></i> Clients</a></li>
<li><a  href="/#/stats/sessions"><i class="fa fa-bar-chart"></i> Sessions</a></li>
<li><a  href="/#/stats/impressions"><i class="fa fa-eye"></i> Page Views</a></li>
<li><a ng-class="getClass('/')" href="/#/reports/emails"><i class="fa fa-envelope-o"></i> Emails</a></li>
<li><a ng-class="getClass('/')" href="/#/reports/guests"><i class="fa fa-users"></i> Guests</a></li>
<!-- <li><a  href="/#/stats/codes"><i class="fa fa-ticket"></i> Codes</a></li> -->
<li><a  href="/#/stats/social"><i class="fa fa-user-plus"></i> Social</a></li>
<hr>
<li><a ng-class="getClass('/')" href="/#/reports/online"><i class="fa fa-asterisk"></i> Online</a></li>
<!-- <li><a ng-class="getClass('/')" href="/#/reports/codes"><i class="fa fa-ticket"></i> Codes</a></li> -->
<li><a ng-class="getClass('/')" href="/#/reports/orders"><i class="fa fa-dollar"></i> Orders</a></li>
<li><a  href="/#/stats/financials"><i class="fa fa-dollar"></i> Financials</a></li>
