<div ng-show="!loading">
  <div class="top-nav">
    <md-nav-bar
       md-no-ink-bar="disableInkBar"
       md-selected-nav-item="currentNavItem"
       nav-bar-aria-label="navigation links">
    </md-nav-bar>
  </div>

  <md-content layout-padding layout="row" layout-wrap class="page-meta">
  </md-content>

  <div layout="row" layout-align="center center">
    <md-card flex="100" flex-gt-xs="80" flex-gt-md="70">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Get integrated, woo!
          </span>
          <span class="md-subhead">
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Select an integration below to get started with MIMO.</p>
        <span ng-show="!location.paid"><h3>Start a 14-day free trial in order to create an integration</h3>
          <get-with-the-plan location="location" ng-show="location.paid == false" label='Start Trial'></get-with-the-plan>
          <md-divider style="margin: 20px"></md-divider>
        </span>
        <div layout="row" layout-align="space-around center" class="integration-cards" layout-wrap>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('unifi')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ubiquiti-logo.png">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>UniFi Controller</p>
            </md-card-actions>
          </md-card>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('vsz')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ruckus-logo.png"/>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>Ruckus VSZ</p>
            </md-card-actions>
          </md-card>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('meraki')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/meraki-logo.png"/>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>Cisco Meraki</p>
            </md-card-actions>
          </md-card>

          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('cloudtrax')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/cloudtrax-logo.png">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>CloudTrax (OpenMesh)</p>
            </md-card-actions>
          </md-card>
          <md-card style="cursor:default;" class="int-select" flex="100" flex-gt-xs="30">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img style="-webkit-filter: grayscale(100%);filter: grayscale(100%);"src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/aerohive-logo.png">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p class="muted">Aerohive - Coming Soon</p>
            </md-card-actions>
          </md-card>
          <md-card class="int-select" flex="100" flex-gt-xs="30">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img style="-webkit-filter: grayscale(100%);filter: grayscale(100%);"src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ct-logo.png">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <div flex layout="row" layout-align="center center">
              <p class="muted">Cucumber Tony - Coming Soon</p>
            </md-card-actions>
          </md-card>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
