<location-settings-nav></location-settings-nav>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
</md-content>

<div layout="row" layout-align="center center" ng-show="!loading">
  <md-card flex="100" flex-gt-xs="60" flex-gt-md="60">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Integration Complete! Sweet.
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div>
        <p>Congrats, you've successfully integrated your {{ integration.type | integrationType }} with MIMO!</p>
        <span ng-show="integration.type === 'unifi'">
          <p>Here's what we've done for you:</p>
          <ul>
            <li>Created a new wireless network called '{{ integration.ssid }}'</li>
            <li>Enabled the captive portal</li>
            <li>Imported your devices</li>
          </ul>
        </span>
        <span ng-show="integration.type === 'meraki'">
          <p>We've updated the settings for you chosen SSID so it will work with the MIMO splash pages.</p>
          <p><b>It's really important you complete the setup guide and enable the splash page</b>. If you don't do this, the splash pages won't work.</p>
        </span>
        <div ng-show="integration.type === 'vsz'">
          <p>Here's what we've done:</p>
          <ul>
            <li>Created a new wireless network called '{{ integration.ssid }}'</li>
            <li>Added the MIMO radius servers</li>
            <li>Enabled the captive portal</li>
            <li>Imported your devices</li>
          </ul>
        </div>
        <span ng-show="integration.type === 'cloudtrax'">
          <p>We've updated the settings for you chosen SSID so it will work with the MIMO splash pages.</p>
        </span>
        <div ng-show="integration.type === 'vsz'">
          <p>Here's what we've done:</p>
          <ul>
            <li>Enabled the MIMO guest settings on '{{ integration.ssid || "your SSID" }}'</li>
            <li>Imported your devices!</li>
          </ul>
        </div>
        <h3>What's next?</h3>
        <div ng-show="integration.type == 'unifi' || integration.type == 'vsz' || integration.type == 'cloudtrax'">
          <p>It can take a few minutes for your {{ integration.type | integrationType }} to sync all the settings. Once you see '{{integration.ssid}}' in your list of available networks, connect to it. You should be redirected to a splash page immediately.</p>
          <p>You'll find your splash password in your splash page settings within MIMO.</p>
          <p>If you can't see the network, please check your {{ integration.type | integrationType }}'s settings (and be patient)!</p>
        </div>
        <div ng-show="integration.type == 'meraki'">
          <p>Once you've completed the setup, connect to your guest SSID. You should be automatically directed.</p>
          <p>You'll find your splash password in your splash page settings within MIMO.</p>
        </div>
        <p>While you're waiting, why not customise your splash page?</p>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" href="/#/{{ location.slug }}/splash_pages">
        Splash Pages
      </md-button>
    </md-card-actions>
  </md-card>
</div>
