<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
<!--   <div flex="100"> -->
<!--     <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1> -->
  <div flex="100">
    <h2>Getting Started with MIMO</h2>
  </div>
<!--   </div> -->
<!--   <div flex="100" flex-gt-xs="50" flex-gt-md="20"> -->
<!--     MIMO Products -->

<!--   </div> -->
<!--   <div flex="100" flex-gt-xs="50" flex-gt-md="20"> -->
<!--     Splash Only -->
<!--   </div> -->
<!--   <div flex="100" flex-gt-xs="50" flex-gt-md="20"> -->
<!--     Splash Only -->
<!--   </div> -->

  <div flex="30">
    <h4>MIMO Products</h4>
    <p>To use MIMO's full features, choose a suitable plan and add to your subscription.</p>
  </div>
  <md-card flex="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Splash
        </span>
        <p>Engage with your customers, capture emails. Send campaigns and more.</p>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="left center">
      <md-button type="submit" class="md-raised md-primary" href="/#/{{ location.slug }}/splash_pages/guide">
        Get Welcome
      </md-button>
    </md-card-actions>
  </md-card>
  <md-card flex="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Engage
        </span>
        <p>Engage with your customers, capture emails. Send campaigns and more.</p>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="left center">
      <md-button type="submit" class="md-raised md-primary" ng-disabled="myForm.$pristine || myForm.$invalid">
        Get Engage
      </md-button>
    </md-card-actions>
  </md-card>

  <div flex="30">
    <h4>Setup the basics</h4>
    <p>Connect your Wireless Access Points and customise your splash page.</p>
  </div>
  <md-card flex="60">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Get Integrated
        </span>
        <p>Customise your splash pages and connect to your wireless access points.</p>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-checkbox
              ng-model="data.cb2"
              aria-label="Checkbox 2"
              ng-true-value="'yup'"
              ng-false-value="'nope'"
              class="md-warn md-align-top-left" flex>
        Checkbox 2 (md-warn)  <br/>
        <span class="ipsum">
          Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
          Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
          sit amet dapibus tortor ligula non nibh.
        </span>
        <br/>
        {{ data.cb2 }}
      </md-checkbox>
      </div>
      </div>
      <div flex-gt-sm="50">
        <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="data.cb3">
          Checkbox: Disabled
        </md-checkbox>
      </div>
    </md-card-content>
  </md-card>

  <md-card flex="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          What is MIMO?
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content  layout="row">
      <div flex="30">
        <p>Engage with your customers, capture emails. Send campaigns and more.</p>
      </div>
      <div flex="60">
        <img style="max-width: 99%;" src="http://d33v4339jhl8k0.cloudfront.net/docs/assets/565c910d90336053e408db48/images/577a4bce903360258a10e4b2/file-e8wZ0JdCJo.gif"></img>
      </div>
    </md-card-content>
  </md-card>
</md-content>
