<div ng-show="!loading">
  <people-nav location="location"></people-nav>
  <md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">
    <div flex="100" flex-gt-md="90">
      <h2>Getting Started with MIMO</h2>
    </div>

    <div flex="100" flex-gt-md="90" ng-show="location.paid == false">
      <div layout="row" layout-wrap>
        <div flex="100" flex-gt-sm="40">
          <h4>MIMO Products</h4>
          <p>To use MIMO's full features, choose a suitable plan and add to your subscription.</p>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-sm="30">
          <md-card class="b-bl">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" translate>
                  Splash Only
                </span>
                <p>The splash only plan lets you create beautiful and simple to use splash pages for your guests. Capture customer emails and social profiles.</p>
                <p>Works with UniFi, Ruckus VSZ and Meraki. Setting up your networks takes less than 2 mins!</p>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <get-with-the-plan location="location" ng-show="location.paid == false" label='Sign up now'></get-with-the-plan>
            </md-card-actions>
          </md-card>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-sm="30">
          <md-card class="b-bl">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" translate>
                  Engage Plus
                </span>
                <!-- <p>Engage with your customers, capture emails. Send campaigns and more.</p> -->
                <p>The engage plan includes splash pages and the MIMO engagement tools!</p>
                <p>Create campaigns and automatically email your customers. Send a special offer when they sign-up or drop them a line if they've been gone too long.</p>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button type="submit" class="md-raised md-primary" ng-disabled="myForm.$pristine || myForm.$invalid">
                Get Engage
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>

    <div flex="100" flex-gt-md="90">
      <div layout="row" layout-wrap>
        <div flex="100" flex-gt-sm="40">
          <h4>Setup the basics</h4>
          <p>Connect your Wireless Access Points and customise your splash page.</p>
        </div>
        <div flex="100" flex-gt-sm="60">
          <md-card class="guide-card b-bl">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" translate>
                  Getting Your MIMO Setup!
                </span>
                <p>There's two main things to do. First, you should customise your splash pages. Once you've done that, connect your access points to MIMO. Here's your checklist of things to do!</p>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-content>
                <md-list flex>
                  <md-subheader class="md-no-sticky"><b>Customise your splash pages</b></md-subheader>
                  <md-list-item class="md-2-line" href="/#/{{location.slug}}/splash_pages/guide">
                    <img class="check-mark" ng-src="{{location.setup.splash ? 'https://s3-eu-west-1.amazonaws.com/mimo-labs/images/checked.svg' : 'https://s3-eu-west-1.amazonaws.com/mimo-labs/images/unchecked.svg' }}" />
                    <div class="md-list-item-text">
                      <p>Welcome your guests with a beautiful, branded splash page. Capture emails, social details and keep them engaged.
                      </p>
                    </div>
                  </md-list-item>
                  <md-divider style="margin: 20px 0;"></md-divider>
                  <md-subheader class="md-no-sticky"><b>Connect MIMO to your access points</b></md-subheader>
                  <md-list-item class="md-2-line" href="/#/{{ location.slug }}/integration">
                    <img class="check-mark" ng-src="{{location.setup.integrations ? 'https://s3-eu-west-1.amazonaws.com/mimo-labs/images/checked.svg' : 'https://s3-eu-west-1.amazonaws.com/mimo-labs/images/unchecked.svg' }}" />
                    <div class="md-list-item-text">
                      <p>
                        The fun part - integrating your access points with MIMO. We've been kind enough to automate things, all you need to do is enter some credentials and you'll be up and running in a jiffy.
                      </p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content></md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div flex="100" flex-gt-md="90">
      <md-card class="b-bl">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              What is MIMO?
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-wrap>
          <div flex="100" flex-gt-xs="45" flex-gt-sm="35">
            <p>Engage with your customers, capture emails. Send campaigns and more.</p>
            <p>Everyone needs more customers. MIMO helps you understand their behaviour better. Understand how often they visit you, send them an offer if they've not been back for while. It's pretty sweet.</p>
            <p>If you want to learn more, we've created loads of helpful documents. You'll <a href="https://docs.oh-mimo.com" target="_blank">find them over here</a>.</p>
            <p><b>And don't forget to follow us on twitter <a href="https://twitter.com/ohmimo" target="_blank">@ohmimo</a></b>! We'll help you there too.</p>
          </div>
          <span flex="5"></span>
          <div flex="100" flex-gt-xs="50" flex-gt-sm="60">
            <img style="max-width:99%;border-radius:4px;border:solid 1px rgba(0, 0, 0, 0.12);" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/splash-designer.jpg"></img>
          </div>
        </md-card-content>
      </md-card>
    </div>

  </md-content>
</div>
