<camp-nav></camp-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">
  <div flex="100" flex-gt-md="90" flex-gt-lg="80" ng-show="location.paid == false">
    <div layout="row" layout-wrap>
      <div flex="100" flex-gt-sm="40">
        <h2>Getting Started with Campaigns</h2>
      </div>
      <div flex="100" flex-gt-xs="100" flex-gt-sm="60">
        <md-card class="b-pr">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Start your free trial today.
              </span>
              <p>To use campaigns, you will need an active subscription. Start your 14 day trial now.</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <get-with-the-plan location="location" ng-show="location.paid == false"></get-with-the-plan>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>

  <div flex="100" flex-gt-md="90">
    <md-card class="b-gr">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <translate>What are Campaigns?</translate>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-align="center center">
          <div flex="100" flex-gt-sm="45" flex-gt-md="30">
            <p translate>Campaigns allow you to use your captured data to engage with customers and drive retention.</p>
            <p translate>Encourage authentic data and loyal customers with the reward of discounts and deals.</p>
          </div>
          <div flex></div>
          <div flex="100" flex-gt-sm="45" flex-gt-md="60">
            <img style="max-width: 90%;" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/campaign-reports.jpg"></img>
          </div>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-href="/#/{{location.slug}}/campaigns/new">Create</md-button>
      </md-card-actions>
    </md-card>
  </div>

</md-content>
