<camp-nav></camp-nav>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
</md-content>

<md-content class="md-padding" layout="row" layout-wrap>
  <div flex="30">
    <h3><translate>Get Started with Splash Pages</translate></h3>
  </div>
  <md-card flex="60">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="">
        <div flex="100">
          <h4 translate>Start your free trial today.</h4>
          <p translate>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="left center">
      <md-button ng-click="signUp()" class="md-primary md-raised">
        Get this now
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>

<md-content class="md-padding" layout="row" layout-wrap>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          <translate>What are splash pages?</translate>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="center center">
        <div flex="100" flex-gt-xs="50" flex-gt-md="20">
          <p translate>Create a Splash Page to control your guest's access.</p>
          <p translate>Welcome your customers when they arrive. Capture their email address. Display special offers.</p>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-md="10"></div>
        <div flex="100" flex-gt-xs="50" flex-gt-md="70">
          <img style="max-width: 90%;" src="http://www.ct-networks.io/images/community/splash-pages/boxpark.png"></img>
        </div>
      </div>
      <div layout="row" layout-align="center center">
        <md-divider></md-divider>
        <div flex="100" flex-gt-xs="50" flex-gt-md="20">
          <p translate>Welcome your customers back, capture emails, promote special offers.</p>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-md="10"></div>
        <div flex="100" flex-gt-xs="50" flex-gt-md="30">
          <img style="max-width: 90%;" src="https://i.imgur.com/AvbIGOh.png"></img>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-md="40">
          <img style="max-width: 90%;" src="https://i.imgur.com/AvbIGOh.png"></img>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>

