<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="/#/{{ location.slug }}/campaigns" name="campaigns">
      Campaigns
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/campaigns/messages" name="messages">
      Messages
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/campaigns/message_activity" name="activity">
      Message Activity
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/campaigns/reports" name="reports">
      Reports
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/campaigns/guide" name="guide">
      Getting Started
    </md-nav-item>
    <span flex></span>
    <get-with-the-plan hide show-gt-sm ng-show="location.paid == false" location="location" label="Free Trial"></get-with-the-plan>
  </md-nav-bar>
</div>
