<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
  <span flex></span>
  <div>
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Back to Devices' | translate }}">
      <md-tooltip md-direction="bottom">Back to Vouchers</md-tooltip>
      <md-icon>keyboard_return</md-icon>
    </md-button>
  </div>
</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>

  <div ng-include="'components/vouchers/_form.html'"></div>

</md-content>
