<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <div>
    <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1>
    <h2>Edit Voucher</h2>
  </div>

  <span flex></span>

    <div>
      <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Back to Devices' | translate }}">
        <md-tooltip md-direction="bottom">Back to Vouchers</md-tooltip>
        <md-icon>keyboard_return</md-icon>
      </md-button>
    </div>
</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>

  <div ng-include="'components/vouchers/_form.html'"></div>

</md-content>
