<div class="top-nav">
  <md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="/#/locations/{{ location.slug }}/splash_pages" name="splash">
      Splash Pages
    </md-nav-item>
    <md-nav-item md-nav-href="/#/locations/{{ location.slug }}/vouchers" name="vouchers">
      Vouchers
    </md-nav-item>
    <md-nav-item md-nav-href="/#/locations/{{ location.slug }}/splash_codes" name="codes">
      Codes
    </md-nav-item>
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
  <span flex></span>
  <div style="margin-top:18px;">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          flex="100"
          md-selected-item="selectedItem"
          ng-enter="search(item._key)"
          md-search-text-change="searchTextChange(searchText)"
          md-no-cache="true"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item._key"
          md-min-length="5"
          md-autofocus="true"
          md-menu-class="locations-autocomplete"
          placeholder="{{ 'Search' | translate }}">

        <md-item-template >
          <a ng-click="go(item.slug)">
            <span class="item-title">
              <md-icon>{{ item._index == 'vouchers' ? "receipt" : "vpn_key" }}</md-icon>
          <span>&nbsp;{{ item._key }}</span>
            </span>
            <span class="item-metadata">
              <span class="item-metastat">
                <!-- Found {{ ::item._score || 0 }} record<span ng-if='item._score != 1'>s</span> -->
              </span>
            </span>
          </a>
        </md-item-template>
        <md-not-found>
          <translate>
            No results found.
          </translate>
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
  </div>
</md-content>

<form ng-submit="search()" name="myForm">
  <md-content class="md-padding" layout="column" layout-gt-sm='row' ng-show="vouchers.length == 0 && !query.filter && !searching && myForm.$pristine">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Get Started
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>Create some vouchers for your splash pages.</p>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-show="allowed == true" ng-click="create()"><translate>Create</translate></md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </md-content>

  <md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>
    <div flex="100" ng-show="vouchers.length > 0 || searching || query.filter">
      <md-card>
        <md-card-content>
          <md-table-container>
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
              <thead md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th md-column md-order-by="is_active"><span translate>Active</span></th>
                  <th md-column md-order-by="batch_name" md-desc><span translate>Name</span></th>
                  <th hide show-gt-sm md-column md-order-by="description" md-desc><span translate>Description</span></th>
                  <th hide show-gt-sm md-column md-numeric md-order-by="quantity" md-desc><span translate>Quantity</span></th>
                  <th md-column hide show-gt-md md-order-by="created_at"><span translate>Created</span></th>
                  <!-- <th md-column md-order-by="splash_page_id"><span translate>Splash</span></th> -->
                  <th md-column><span translate>Options</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="voucher" md-auto-select="options.autoSelect" ng-repeat="voucher in filtered = (vouchers | filter: query.filter | orderBy: query.direction)">
                  <td md-cell>
                    <md-icon md-menu-origin md-font-icon="">{{ voucher.is_active ? "check" : 'cancel' }}</md-icon>
                  </td>
                  <td md-cell>
                    <a href="/#/locations/{{ location.slug }}/vouchers/{{ voucher.unique_id }}">
                      {{ voucher.batch_name }}
                    </a>
                  </td>
                  <td hide show-gt-sm md-cell>
                    {{ voucher.batch_description | truncate:20 }}
                    <md-tooltip ng-if="voucher.batch_description.length > 20">
                      {{ voucher.batch_description }}
                    </md-tooltip>
                  </td>
                  <td hide show-gt-sm md-cell>
                    {{ voucher.quantity }}
                  </td>
                  <td hide show-gt-md md-cell>
                    {{ voucher.created_at | humanTime }}
                  </td>
                  <td md-cell>
                    <md-menu>
                      <md-button aria-label="{{ 'Open Boxes Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item ng-repeat="item in menuItems">
                          <md-button ng-disabled="isActive(voucher,item.type)" ng-click="action(voucher.unique_id,item.type)">
                            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                            <p flex>{{ item.name }}</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>
        </md-card-content>
      </md-card>
    </div>
    <div flex="100">
      <md-button ng-show="allowed == true" ng-click="create()" class="md-raised">
        Create
      </md-button>
    </div>
  </md-content>
</form>
