<splash-nav location="location"></splash-nav>

<!-- <md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap ng-show="splash_pages.length === 0"> -->
  <!-- <md-card> -->
  <!--   <md-card-title> -->
  <!--     <md-card-title-text> -->
  <!--       <span class="md-headline" translate> -->
  <!--         No Splash Pages Found -->
  <!--       </span> -->
  <!--       <span class="md-subhead" translate> -->
  <!--         You'll need to create a splash page before creating any vouchers. -->
  <!--       </span> -->
  <!--     </md-card-title-text> -->
  <!--   </md-card-title> -->
  <!--   <md-card-content> -->
  <!--     <md-card-actions layout="row" layout-align="end center"> -->
  <!--       <md-button href="/#/locations/{{ location.slug }}/splash_pages?create"><translate>Create</translate></md-button> -->
  <!--     </md-card-actions> -->
  <!--   </md-card-content> -->
  <!-- </md-card> -->
<!-- </md-content> -->

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">
  <div flex="100" flex-gt-md="60" flex-gt-lg="50">
    <div ng-include="'components/vouchers/_form.html'"></div>
  </div>
</md-content>
