<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p translate>Vouchers</p>
    <md-menu ng-if="menu.length">
      <md-button aria-label="{{ 'Open Tools' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-disabled="item.disabled" ng-click="action(item.type)">
            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
            {{item.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="50">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Voucher Details
            </span>
            <span class="md-subhead">
              <span ng-hide="voucher.completed == true">
                <md-progress-linear md-mode="query"></md-progress-linear>
                <translate>
                  Vouchers generating, please wait.
                </translate>
              </span>
            </span>
            <span ng-if="!voucher.is_active" translate>
              Voucher batch disabled.
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Batch Name</h3>
              <p>{{ voucher.batch_name }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Description</h3>
              <p>{{ voucher.batch_description }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line" ng-show="voucher.access_type == 1">
            <div class="md-list-item-text">
              <h3 translate>Validity Minutes</h3>
              <p>{{ voucher.validity_minutes }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line" ng-show="voucher.access_type == 2">
            <div class="md-list-item-text">
              <h3 translate>Download Limit</h3>
              <p>{{ voucher.access_restrict_data }}Mb</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Quantity</h3>
              <p>{{ voucher.quantity }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Splash Page</h3>
              <p><a href="/#/locations/{{ location.slug }}/splash_pages/{{ voucher.splash_page_id }}">{{ voucher.splash_page_id }}</a></p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Created</h3>
              <p>{{ voucher.created_at | humanTime }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>More Details</h3>
              <md-button ng-click="toggle('more')" aria-controls="more" class="md-secondary md-icon-button" aria-label="call">
                <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ isOpen('more') ? "up" : "down" }}</md-icon>
              </md-button>
            </div>
          </md-list-item>
          <div layout="column" layout-gt-sm="column" ng-show="isOpen('more')" id="more" class="menu-toggle-list">
            
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3 translate>Session Timeout</h3>
                <p>{{ voucher.session_timeout }}mins</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3 translate>Idle Timeout</h3>
                <p>{{ voucher.idle_timeout }}mins</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3 translate>Simultaneous Users</h3>
                <p>{{ voucher.simultaneous_use }}</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3 translate>Format</h3>
                <p>{{ voucher.voucher_format }}</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3 translate>Speeds</h3>
                <p>
                  {{ (voucher.download_speed / 1024) | number:0 }}Mbps
                  <md-icon md-font-icon="" >arrow_downward</md-icon>
                  {{ (voucher.upload_speed / 1024) | number:0 }}Mbps
                  <md-icon md-font-icon="" >arrow_upward</md-icon>
                </p>
              </div>
            </md-list-item>

          </div>

        </md-card-content>

      </md-card>
    </div>

    <div flex="100" flex-gt-sm="50">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Downloads 
            </span>
            <span class="md-subhead">
              <p translate>You can download the codes for three months after creation.</p>
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <span ng-hide="voucher.completed" translate>Your codes have not generated yet, please wait.</span>
          <span ng-show="voucher.completed" translate>Download your codes using the links below.</span>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button ng-click='regenerateLink()' ng-disabled='!voucher.completed || voucher.state == "regenerating" || voucher.csv_link'><translate>REGENERATE</translate></md-button>
          <span flex></span>
          <md-button ng-disabled="!voucher.pdf_link" class="" href="{{ voucher.pdf_link}}" target="_blank"><translate>PDF</translate></md-button>
          <md-button ng-disabled="!voucher.pdf_link" class="" href="{{ voucher.csv_link}}" target="_blank"><translate>CSV</translate></md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</md-content>


