node_modules
public
.tmp
.idea
client/bower_components
client/scripts/config.js
dist/
/server/config/local.env.js
/server/config/local.env.sample.js
Gruntfile.js
circle/deploy.sh
.sass-cache
.tmp
**/.DS_Store
*.mo
