<md-card>
  <md-card-header class="graph-small">
    <md-card-header-text>
      <span class="md-subhead" translate>Device Health</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>

    <div id="dash-health-chart" class="small-chart"></div>

    <!-- <div id="center"> -->
    <!--   <h1 style="">Status</h1> -->
    <!-- </div> -->

    <md-card-actions layout="row" layout-align="end center">
      <small>
        <span ng-if="noData && !loading" translate>No graph data</span>
        <span ng-if="loading" translate>Loading chart</span>
      </small>
    </md-card-actions>
  </md-card-content>
</md-card>
