<div class="show-for-medium-up">
  <div ng-show="location.attr_generated" class="bottom-nav" id="location-banner">
    <ul class="left inline-list">
      <li><a href="/#/"><i class="fa fa-arrow-left"></i></a></li>
      <li>{{ location.location_name | titleCase }}. {{ location.full_address }} {{ location.phone1 }}.</li>
      <li class='show-for-medium-up' translate>On The {{ location.plan_name | titleCase }} Plan.</li>
      <li ng-show="location.archived"><b><i class="fa fa-exclamation-circle"></i><translate> Location Archived</translate></b></li>
    </ul>
  </div>
</div>
<div class="show-for-small-only">
  <div id="location-banner-small">
  </div>
</div>
