<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>
        <p>
          <span ng-if="primarySelected.name == 'Vouchers'" translate>{{ primarySelected.name }} - Primary Access</span>
          <span ng-if="secondarySelected.name == 'Vouchers'" translate>{{ secondarySelected.name }} - Secondary Access</span>
        </p>
      </b>
    </div>
    <div class="panel-body">
      <div class="form-group row">
        <div class="timedAccessOn"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose_access_type">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

              <div class="checkbox">
                <label for="shop_active">
                  <translate>Sell Online (via PayPal)</translate>
                  <i class="fa fa-star fa-sm gold"></i>
                </label>
                <label class="checkbox">
                  <input ng-model="location.shop_active" type="checkbox" ng-disabled="{{ location.shop_allowed != true}}">
                </label>
              </div>
              <p ng-if="location.shop_allowed != true" class="small muted" translate>
                Paid Wi-Fi is only available on non-free plans. You can read more
                <a href="http://polkaspots.com/paid-wifi">here</a>.
              </p>
              <div ng-if="location.shop.shop_name">
                <p>Shop: <a href="/#/shops/{{location.shop.unique_id}}">{{ location.shop.shop_name }}</a></p>
              </div>
              <p translate>If you haven't done so already, generate your vouchers <a href="/#/vouchers">here</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="checkbox">
                Forgot Password Link
                <input name="logins_forgot_password" type="checkbox" ng-model="location.logins_forgot_password">
                <p class="text-muted small"></p>
              </div>
              <p class="help-block" translate>
                This allows the end-user to request their password by email. We recommend you turn this on.
                <a href="http://polkaspots.com/forgot-password-link">Read more<i class="fa fa-question"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
