<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>
        <p>
          <span ng-if="primarySelected.name == 'Clickthrough'" translate>{{ primarySelected.name }} - Primary Access</span>
          <span ng-if="secondarySelected.name == 'Clickthrough'" translate>{{ secondarySelected.name }} - Secondary Access</span>
        </p>
      </b>
    </div>
    <div class="panel-body" translate>
      <p>There are no settings to play with for clickthrough access</p>
    </div>
  </div>
</div>
