<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>
        <p>
          <span ng-if="primarySelected.name == 'Password'">{{ primarySelected.name }} - Primary Access</span>
          <span ng-if="secondarySelected.name == 'Password'">{{ secondarySelected.name }} - Secondary Access</span>
        </p>
      </b>
    </div>
    <div class="panel-body">
      <div class="form-group row">
        <div class="timedAccessOn"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 choose_access_type">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="access_password">
                  What's the password?
                </label>
                <p class="small text-muted">
                  Your customers enter this on the login pages.
                </p>
                <input ng-model="location.access_password" class="span4 input_field_autosave form-control" name="access_password" placeholder="Password" type="text" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="12" ng-minlength="5" >
                <p class="text text-danger" ng-show="myForm.access_password.$error.minlength"><b>5 letters or more please.</b></p>
                <p class="text text-danger" ng-show="myForm.access_password.$error.maxlength"><b>No more that 12 letters please.</b></p>
                <p class="text text-danger" ng-show="myForm.access_password.$error.pattern"><b>Numbers and letters only please</b></p>
              </div>
              <div ng-click="generatePassy()"><b><a href='' disabled>Generate random password</a></b></div>
              <label class="checkbox">
                <input ng-model="location.passwd_auto_gen" name="passwd_auto_gen" type="checkbox">
                Automatically change?
              </label>
              <p class="small text-muted">
                Change your password automatically &amp; have it emailed it to you.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div ng-if="location.passwd_auto_gen == 1">
                <div class="form-group">
                  <label for="email_owner">Email it to the following address</label>
                  <p class="small text-muted">
                    Make sure you enter a valid email.
                  </p>
                  <input ng-model='location.email_owner' class="form-control" name="email_owner" placeholder="Enter an email" type="email" required>
                  <p class="text text-danger" ng-show="myForm.email_owner.$error.required"><b>Please enter an email</b></p>
                  <p class="text text-danger" ng-show="myForm.email_owner.$error.email"><b>Not a valid email!</b></p>

                </div>
                <b>Change on these days</b>
                <ul class="list-unstyled">
                  <li ng-repeat="day in days">
                    <input ng-change="update_active_days()" ng-model="userdays[day.id]" type="checkbox" ng-true-value='1', ng-false-value='0'/>
                    {{ day.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
