<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" aria-label="{{ 'Splash' | translate }}">
      <md-icon md-font-icon="" >perm_identity</md-icon>
    </md-button>
    <p translate>Branding</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" ng-if="brand && brand.admin != true">
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Brand Membership
            </span>
            <span class="md-subhead" translate>
              You are a member of <b>{{ ::brand.brand_name }}</b>. Only brand admins can edit the brand details.
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3>URL</h3>
              <h4>https://{{ ::brand.url }}.ctapp.io</h4>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="brand.cname">
            <div class="md-list-item-text" layout="column">
              <h3>CNAME</h3>
              <h4>{{ ::brand.cname }}</h4>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3>Location</h3>
              <h4>{{ ::brand.network_location }}</h4>
            </div>
          </md-list-item>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap ng-if="brand && brand.admin == true">
  <div flex layout="column">
    <form name="myForm" ng-submit="save(brand)">
      <div class="md-padding" layout="column" layout-gt-sm='column'>
        <div layout="column" layout-gt-xs="row" layout-align="center center">
          <div flex-gt-sm="75">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline" translate>
                    Branding Details
                  </span>
                  <span class="md-subhead" translate>
                    Customise the look and feel of your dashboard.
                  </span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <div layout="column" layout-gt-xs="row" layout-wrap>
                  <md-input-container class="md-block" flex-gt-xs="50">
                    <label><translate>Brand Name</translate></label>
                    <input ng-disabled="user.ps" type="text" name="brand_name" placeholder="{{ 'Enter a brand name' | translate }}" ng-model="brandName.name" ng-pattern="/^[^-\s][A-Za-z0-9\\'\s-]*$/" md-maxlength="25" ng-minlength="5" required></input>
                    <div ng-messages="myForm.brand_name.$error" md-auto-hide="false">
                      <div ng-message="required" translate>Please enter a name for your brand</div>
                      <div ng-message="md-maxlength" translate>Must be less than 25 characters</div>
                      <div ng-message="minlength" translate>Minimum 5 characters</div>
                      <div ng-message="pattern" translate>Number & letters only</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs="50">
                    <label translate>Dashboard URL</label>
                    <input ng-disabled="brand.cname || user.ps" type="text" name="url" placeholder="{{ 'Enter a brand URL' | translate }}" ng-model="brand.url" md-maxlength=55 ng-minlength=5 ng-pattern="/^[a-z-_\d]*$/" required></input>
                    <div ng-messages="myForm.url.$error" md-auto-hide="false">
                      <div ng-message="required" translate>Please enter a brand URL</div>
                      <div ng-message="md-maxlength" translate>Must be less than 55 characters</div>
                      <div ng-message="minlength" translate>Minimum 5 characters</div>
                      <div ng-message="pattern" translate>Lowercase only, no numbers or special characters</div>
                      <div ng-message="url" translate>Must be a valid URL</div>
                    </div>
                  </md-input-container>
                  <p><translate>Your dashboard address is&nbsp;</translate> <b> https://{{ brand.url || 'my' }}.ctapp.io</b></p>
                </div>
              </md-card-content>
            </md-card>

            <md-card ng-if="false">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline" translate>
                    Login Image
                  </span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p translate>Appears on your dashboard login page (not your login screens).</p>
                <p translate>Image should be <b>300px wide and 70px tall</b> otherwise they will be blurry.</p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <filepicker attribute="brand.brand_image" type="20" uploading="brand.uploading" uploaded="brand.uploaded" ng-hide="brand.uploading || brand.uploaded"></filepicker>
              </md-card-actions>
            </md-card>

            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">
                    <md-icon md-font-icon="android" aria-label="android">star</md-icon>
                    <translate>Email Settings</translate>
                  </span>
                  <span class="md-subhead" translate>
                    Customise your outbound emails. Enterprise plans only.
                  </span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content layout="column" layout-gt-xs="row" layout-wrap>
                <md-input-container class="md-block" flex-gt-xs="100">
                  <label><translate>Your Website</translate></label>
                  <input type="url" ng-model="brand.website" name="website" placeholder="{{ 'Enter your website URL' | translate }}"></input>
                  <div ng-messages="myForm.website.$error">
                    <div ng-message="required" translate>Please enter a brand URL</div>
                    <div ng-message="url" translate>Must be a valid URL</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="50">
                  <label><translate>From Email</translate></label>
                  <input type="email" ng-model="brand.from_email" name="from_email" placeholder="{{ 'Enter your from email address' | translate }}"></input>
                  <div ng-messages="myForm.from_email.$error">
                    <div ng-message="email" translate>Must be a valid email</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="50">
                  <label><translate>Sender Name</translate></label>
                  <input type="text" ng-model="brand.from_name" name="from_name" placeholder="{{ 'Enter your sender name' | translate }}" md-maxlength=100></input>
                  <div ng-messages="myForm.from_name.$error">
                    <div ng-message="md-maxlength" translate>Max 100 characters</div>
                  </div>
                </md-input-container>
                <div layout-align="left left">
                  <span translate>Enterprise plans only.</span>
                  <ct-docs name='branding' alt="documentation"><translate>Read the docs</translate><ct-docs>.
                </div>
              </md-card-content>
            </md-card>

            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">
                    <md-icon md-font-icon="android" aria-label="android">star</md-icon>
                    <translate>Advanced Settings</translate>
                  </span>
                  <span class="md-subhead">
                    <!-- Use your own URL for the dashboard. Enterprise plans only. -->
                  </span>
                </md-card-title-text>
              </md-card-title>

              <md-card-content layout-gt-xs="row" layout="column" layout-gt-sm="row" flex="50" layout-wrap>

                <div ng-if="brand.cname_status === 'processing'">
                  <p translate>Processing domain change</p>
                  <md-progress-linear md-mode="query"></md-progress-linear>
                  <p><small translate>Please wait for the update to complete.</small></p>
                </div>

                <md-input-container class="md-block" flex-gt-xs="100" ng-if="brand.cname_status != 'processing'">
                  <label><translate>Custom Domain URL</translate></label>
                  <input type="text" name="cname" placeholder="{{ 'Enter the URL of your custom domain' | translate }}" ng-model="brand.cname" ng-pattern="/^(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/" ng-disabled="!user.paid_plan">
                  <div ng-messages="myForm.cname.$error">
                    <div ng-message="pattern" translate>Please enter a valid URL</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="50">
                  <label><translate>Network Location</translate></label>
                  <md-select ng-model="brand.network_location">
                    <md-option ng-repeat="loc in locations">
                      {{loc}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </md-card-content>
            </md-card>
            <md-button type="submit" ng-click="save(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised"><translate>Save</translate></md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</md-content>
