<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <form ng-submit="updatePage()">
      <section>
        <div class="md-toolbar-tools">
          <md-input-container flex="100" flex-gt-xs="100" style="margin-top: 50px" >
            <md-icon md-font-icon="search">search</md-icon>
            <label></label>
            <input ng-blur="updatePage()" ng-model="query.query" md-autofocus placeholder="{{'Search' | translate}}">
          </md-input-container>
          <md-button class="md-icon-button md-primary" aria-label="Filter" ng-click="clearQueryFilter()" ng-show="query.query">
            <md-icon>clear</md-icon>
            <md-tooltip>
              <translate>
              Clear search
              </translate>
            </md-tooltip>
          </md-button>
          <div flex></div>
        </div>
      </section>
    </form>
    <div flex></div>
    <md-button class="md-primary" aria-label="Filter" ng-click="clearAPFilter()" ng-show="query.ap_mac" style="min-width: 160px">
      {{query.ap_mac}}
      <md-icon>clear</md-icon>
      <md-tooltip>
        <translate>
        Clear AP filter
        </translate>
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-primary" aria-label="Filter" ng-click="clearRangeFilter()" ng-show="date_range">
      <md-icon>clear</md-icon>
      <md-tooltip>
        <translate>
        Clear range filter
        </translate>
      </md-tooltip>
    </md-button>
    <md-button ng-click="openMomentRange()" class="md-icon-button" hide show-gt-xs>
     <md-icon md-font-icon="date_range">date_range</md-icon>
     <md-tooltip>
       <translate>
         Add date range filter
       </translate>
     </md-tooltip>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding">
  <md-card ng-if="logs.length > 0">
    <md-card-content>
      <b>SYSTEM LOGGING IS A BETA FEATURE</b><br><br>
      While this feature is being developed, please do not be surprised should you come across some small issues.
    </md-card-content>
  </md-card>
  <md-card ng-if="logs.length == 0">
    <md-card-content>
      <span>No logs available for given criteria. <a href="" ng-click="clearAllFilters()" ng-if="date_range || query.query || query.ap_mac" style="text-decoration: none">Clear search filters.</a></span>
    </md-card-content>
  </md-card>
    <md-table-container ng-if="logs.length > 0">
      <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="table-logs">
        <tbody md-body ng-repeat="log in filtered = (logs | filter: filter | orderBy: query.order)" style="background-color: {{$even ? '#e0e0e0' : '#efefef'}}">
          <tr md-row ng-click="expandRow(log)">
            <!-- <td md-cell> -->
              <!--   <md-icon md-menu-origin md-font-icon="">{{ location.archived ? "archived" : 'check_circle' }}</md-icon> -->
              <!-- </td> -->
            <td md-cell>
              <md-icon md-menu-origin md-font-icon="">{{ log.show_detail ? "keyboard_arrow_down" : "keyboard_arrow_right" }}</md-icon>
            </td>
            <td md-cell>
              {{ log.created_at | humanTimeShort }}
            </td>
            <td md-cell>
              <a href="#/locations/{{location.slug}}/devices/{{log.ap_slug}}" style="color:#0000EE; text-decoration:underline">{{ log.ap_name }}<md-tooltip>Go to device</md-tooltip></a>
            </td>
            <td md-cell>
              {{ log.message }}
            </td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175);">
            <td></td>
            <td></td>
            <td>
              Facility:
            </td>
            <td>{{log.facility}}</td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175);">
            <td></td>
            <td></td>
            <td>
              Facility ID:
            </td>
            <td>{{log.facility_id}}</td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175);">
            <td></td>
            <td></td>
            <td>
              Severity:
            </td>
            <td>{{log.severity}}</td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175);">
            <td></td>
            <td></td>
            <td>
              <span>Mac Address:</span>
            </td>
            <td><a href="" ng-click="filterByMac(log.ap_mac)" style="color:#0000EE; text-decoration:underline">{{ log.ap_mac }}<md-tooltip>Filter logs by device</md-tooltip></a></td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175);">
            <td></td>
            <td></td>
            <td>
              Type:
            </td>
            <td>{{log.type}}</td>
          </tr>
          <tr md-row ng-if="log.show_detail == true" style="background-color: rgb(255, 255, 175)">
            <td></td>
            <td></td>

            <td>
              Created at:
            </td>
            <td>{{log.created_at | humanTime}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>
  </div>
</md-content>
