<div ng-show="!loading">
  <div class="top-nav">
    <md-nav-bar
       md-no-ink-bar="disableInkBar"
       md-selected-nav-item="currentNavItem"
       nav-bar-aria-label="navigation links">
    </md-nav-bar>
  </div>

  <md-content layout-padding layout="row" layout-wrap class="page-meta">
  </md-content>

  <div layout="row" layout-align="center center">
    <md-card flex="100" flex-gt-xs="80" flex-gt-md="70">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Select Integration Type
          </span>
          <span class="md-subhead">
            Select an integration below to get started with MIMO.
            <span ng-show="!location.paid"><b>You will need to start a 14-day trial in order to create an integration</b>.</span>
            </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-align="space-around center" class="integration-cards" layout-wrap>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('unifi')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ubiquiti-logo.png">
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>UniFi Controller</p>
            </md-card-actions>
          </md-card>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('vsz')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ruckus-logo.png"/>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>Ruckus VSZ</p>
            </md-card-actions>
          </md-card>
          <md-card class="int-select" flex="100" flex-gt-xs="30" ng-click="save('meraki')">
            <md-card-content flex layout-align="left center">
              <div flex layout="row" layout-align="center center" class="int-pic">
                <img src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/meraki-logo.png"/>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <p>Cisco Meraki</p>
            </md-card-actions>
          </md-card>
        </div>
        <md-card-actions layout="row" layout-align="end end">
          <get-with-the-plan label='Start Trial'></get-with-the-plan>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</div>
