<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p ng-if="!location.id" translate>Back</p>
    <p ng-if="location.id" translate>Back to Location</p>
    <div flex></div>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form name="myForm" ng-submit="save(myForm,location)">
  <md-content class="md-padding" layout="column" layout-gt-sm='column' layout-padding>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="50">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Create a New Location
              </span>
              <span class="md-subhead">
                <translate>Create as many locations or networks as you need.</translate> <span ng-if="brand.name" translate>This location will be created under the <b>{{ brand.name | titleCase }}</b> brand.</span>
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="100">
                <label>
                  <translate>Location Name</translate>
                </label>
                <input md-autofocus ng-model="location.location_name" name="location_name" placeholder="{{ 'Enter a name for the location' | translate }}" type="text" ng-minlength="5" md-maxlength='100' required>
                <div ng-messages="myForm.location_name.$error" md-auto-hide="false">
                  <div ng-message="max" translate>Must be less than 100 characters</div>
                  <div ng-message="min" translate>Must be greater than 5 characters</div>
                  <div ng-message="required" translate>Please enter a location name.</div>
                </div>
              </md-input-container>
              <md-input-container flex="100" flex-gt-sm="100">
                <label>
                  <translate>Location Address</translate>
                </label>
                <input ng-model="location.location_address" name="location_address" placeholder="{{ 'Enter your address' | translate }}" type="text" ng-minlength="5" md-maxlength='200' required>
                <div ng-messages="myForm.location_address.$error">
                  <div ng-message="max" translate>Must be less than 200 characters</div>
                  <div ng-message="min" translate>Must be greater than 5 characters</div>
                  <div ng-message="required" translate>You must enter an address.</div>
                </div>
              </md-input-container>
              <md-input-container flex="100" flex-gt-sm="60">
                <label>
                  <translate>City / Town</translate>
                </label>
                <input ng-model="location.town" name="location_town" placeholder="{{ 'Location City' | translate }}" type="text" ng-minlength="5" md-maxlength='200' required>
                <div ng-messages="myForm.location_town.$error">
                  <div ng-message="max" translate>Must be less than 200 characters</div>
                  <div ng-message="min" translate>Must be greater than 5 characters</div>
                  <div ng-message="required" translate>You must enter a city.</div>
                </div>
              </md-input-container>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Postcode / Zipcode</translate>
                </label>
                <input ng-model="location.postcode" name="location_postcode" placeholder="{{ 'Postcode' | translate }}" type="text" ng-minlength="3" md-maxlength='8' required>
                <div ng-messages="myForm.location_postcode.$error">
                  <div ng-message="max" translate>Must be less than 8 characters</div>
                  <div ng-message="min" translate>Must be greater than 3 characters</div>
                  <div ng-message="required" translate>Postcode required.</div>
                </div>
              </md-input-container>
              <md-switch ng-model="location.add_to_global_map" aria-label="{{ 'Public' | translate }}" class="md-warn" flex="100" flex-gt-sm="50">
                <span ng-if="location.add_to_global_map == true" translate>This is a public location</span>
                <span ng-if="location.add_to_global_map == false" translate>This is a private location</span>
              </md-switch>
            </div>
          </md-card-content>
        </md-card>
        <md-button type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid">
          <translate>
            Save
          </translate>
        </md-button>
      </div>
    </div>
  </md-content>
</form>
