<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
</md-content>

<div layout="row" layout-align="center center">
  <md-card flex="100" flex-gt-xs="60" flex-gt-md="60">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Integration Complete
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-wrap>
        <p>Congrats, you've successfully integrated with MIMO!</p>
        <p>If you haven't done so already, now is the time to create your splash page. Or you can continue freely exploring the rest of your account.</p>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" href="/#/{{ location.slug }}/splash_pages">
        Splash Pages
      </md-button>
    </md-card-actions>
  </md-card>
</div>
