<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
  <div>
    <md-button id="main" class="md-fab md-mini md-raised" ng-click="back()" aria-label="{{ 'Back' | translate }}">
      <md-tooltip md-direction="bottom">Back</md-tooltip>
      <md-icon>keyboard_return</md-icon>
    </md-button>
  </div>
  <span flex></span>
</md-content>
<form name="myForm" ng-submit="save(myForm)">
  <div layout="row" layout-align="center center">
    <md-card flex="100" flex-gt-xs="60" flex-gt-md="60">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Step 1: Connect to your UniFi controller
          </span>
          <span class="md-subhead">You'll need to give your MIMO location access to your UniFi controller before you can use your splash page. Enter the hostname of your controller and then the username & password you use to login.</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="100" flex-gt-sm="100">
            <label>
              <translate>Hostname</translate>
            </label>
            <input ng-model="integration.host" name="host" type="url" md-maxlength='255'required></input>
            <div ng-messages="myForm.host.$error" >
              <div ng-message="url" translate>Must be a valid URL</div>
              <div ng-message="required" translate>You must enter a valid URL.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-wrap>
          <md-input-container flex="100" flex-gt-xs="45">
            <label>
              <translate>Username</translate>
            </label>
            <input ng-model="integration.username" type="text" md-maxlength='255'required></input>
          </md-input-container>
          <span flex-gt-xs="10"></span>
          <md-input-container flex="100" flex-gt-xs="45">
            <label>
              <translate>Password</translate>
            </label>
            <input ng-model="integration.password" type="password" name="password" ng-minlength="8" md-maxlength='32' ng-pattern="/^[^[\]\'\\]+$/" required></input>
            <div ng-messages="myForm.password.$error">
              <div ng-message="md-maxlength">Max 32 characters</div>
              <div ng-message="minlength">Min 8 characters</div>
              <div ng-message="required">You must set a password</div>
              <div ng-message="pattern">Invalid characters in password</div>
            </div>
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="space-between center">
        <div>
          <p ng-if="validated == true">Integration Successfully Validated</p>
        </div>
        <div>
          <md-button type="submit" class="md-raised" ng-disabled="myForm.$invalid">
            Test Integration
          </md-button>
          <md-button ng-click="next()" class="md-raised" ng-disabled="validated !== true">
            Next
          </md-button>
        </div>
      </md-card-actions>
    </md-card>
  </div>
</form>
