<md-dialog ng-cloak flex="100" flex-sm="50" flex-gt-sm="30">
  <form name="form" ng-submit="save()">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 translate>
          <md-icon>credit_card</md-icon>
          Activate your account.
        </h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>You've already got a card on your account ending {{ ::user.credit_card_last4 }}. We will charge the package fee to this card.</p>
        <md-checkbox
           ng-model="terms"
           aria-label="Checkbox 2"
           class="md-warn md-align-top-left" flex>
          I agree to the terms.
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>Cancel</translate>
      </md-button>
      <md-button type="submit" ng-disabled="!terms" class="md-raised md-primary"><translate>SAVE</translate></md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
