<div ng-hide="loading">
  <div class="row">
    <div class="small-12 columns">
      <h2>Wireless Clients</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <range-filter start="{{start}}" end="{{end}}" update-fn="updateRange(message)"></range-filter>
      <p><span ng-show="location_name">Showing sessions for <b>{{ location_name }}</b>. </span><span ng-hide="location_name">All locations.</span> <a href="" ng-click="locationSelect = !locationSelect">Change location</a></p>
      <span ng-show="locationSelect">
        <typeaheads class="typeahead" items="locations" term="term" search="locationSearch(term)" select="selectLocation(item)">
          <p ng-show="locations.length">Click one to filter your results</p>
          <p ng-hide="locations.length">No results found. Sad Panda. <span ng-hide="term">Try typing in the box.</span></p>
          <div class="menu" ng-cloak>
            <ul typeahead-item="location" ng-repeat="location in locations" class="results no-bullet">
              <li><b><a href=""><i class="fa fa-building-o"></i> {{ location.location_name }}</a></b></li>
            </ul>
          </div>
        </typeaheads>
        <p>
          <small>
            <a href="" ng-click="locationSelect = !locationSelect">Cancel</a>.
            <a ng-show="location_name" href="" ng-click="clearLocations()">Show all my locations.</a>
          </small>
        </p>
        <br><br>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <line-chart data="{{ chart_series }}" legend="true" interval="{{ _stats.interval }}" align="left" start="{{ _stats.start }}"></line-chart>
    </div>
  </div>
  <div class="row" ng-show="info" ng-cloak>
    <div class="small-12 columns">
      <div class="summary">
        <h1>{{ info.online || 0}}</h1>
        <p class="text-muted">Online</p>
      </div>
      <div class="summary">
        <h1><a href="" class="has-tip" tooltip="Total unique users across all your locations.">{{ info.uniques || 0 }}</a></h1>
        <p class="text-muted">Total</p>
      </div>
      <div class="summary">
        <h1>{{ avgSnr }}dBm</h1>
        <p class="text-muted">Avg. Signal</p>
      </div>
      <div class="summary">
        <h1>{{ info.txSum | humanData }}</h1>
        <p class="text-muted">Downloads</p>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <h3>Top Locations</h3>
        <table class="table table-bordered hovering">
          <tbody>
          <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Online</th>
          </tr>
          <tr ng-repeat="location in locations | orderBy:predicate:reverse">
            <td><a href="/#/locations/{{ location.slug }}/clients">{{ location.location_name }}</a></td>
            <td>{{ location.total }}</td>
            <td>{{ location.online }}</td>
          </tr>
        </tbody>
      </table>
      <p class="text-muted"><small>The total clients at all your locations ({{ info.total }}) may be lower than the sum of users at each location because a client can visit more than one location.</small></p>
    </div>
    <div class="small-12 medium-4 columns">
      <div id="mans_chart" style="width: 300px"></div>
      <pie-chart data="{{manufacturers}}" name="Manufacturers" div="mans_chart"></pie-chart>
    </div>
    <div class="small-12 medium-4 columns">
      <div id="caps_chart" style="width: 300px"></div>
      <pie-chart data="{{info.caps}}" name="Capabilities" div="caps_chart"></pie-chart>
    </div>
  </div>
</div>


