<form name="myForm" ng-submit="create()">
  <div layout="row" layout-align="center center" class="md-padding">
    <div flex="100" flex-gt-sm="50">

      <md-card>

        <div ng-show="cookies">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Thank You!
              </span>
              <span class="md-subhead" translate>
                A confirmation has been sent to your email
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p translate>Please click the link in the email to confirm your account.</p>
            <h3>
              <md-icon>email</md-icon>
              {{ cookies.u.email }}
            </h3>
            <p><small><translate>Didn't get the invite?</translate> <a href="" ng-click="clearCookies()" translate>Resend it now</a>.</small></p>
          </md-card-content>
        </div>
        <div ng-hide="cookies">

          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Sign-up for {{ ::brand_name }}.
              </span>
              <span class="md-subhead" translate>Getting started only takes a moment.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="column">
              <md-input-container class="md-block">
                <label>
                  <translate>Enter Your Email</translate>
                </label>
                <input required ng-model="user.email" type="email">
                <p class="hint" translate>Don't worry about choosing a password, we'll email you a link to set one.</p>
              </md-input-container>
            </div>
            <md-button type="submit" ng-disabled="myForm.$invalid || myForm.$pristine" class="signup-email md-raised"><translate>Create</translate></md-button>
          </md-card-content>
        </div>
      </md-card>
    </div>
  </div>
</form>
