<div flex="100" layout="column" class="layout-column flex" ng-cloak>
  <form name="myForm" class="flow">
    <md-content class="md-padding" layout="column" layout-gt-sm='column'>
      <div layout="row" layout-align="center center">
        <div flex="100" flex-gt-sm="60">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span ng-show="finalised" class="md-headline">Creating your account.</span>
                <span ng-show="!finalised" class="md-headline">Thanks for signing-up! Let's finalise a few things.</span>
                <span ng-show="!finalised" style="margin-bottom: 40px;" class="md-subhead">Secure your account before you can go forth.</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div ng-show='finalised == true' flex layout="column">
                <md-progress-linear md-mode="query" ng-show='!data.cb4'></md-progress-linear>
                <p>We're busy creating your account...</p>
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" ng-disabled='true'>
                  Creating location
                </md-checkbox>
                <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-disabled='true'>
                  Updating user profile
                </md-checkbox>
                <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3" ng-disabled='true'>
                  Validating settings
                </md-checkbox>
                <md-checkbox ng-model="data.cb4" aria-label="Checkbox 4" ng-disabled='true'>
                  Authorising new user
                </md-checkbox>
                <h3 ng-show="data.cb4">All done, sending you on your way!</h3>
              </div>
              <div layout="column" flex-gt-sm="100" ng-show="!finalised">
                <md-input-container layout="row" flex class="md-block">
                  <label for="username">
                    <translate>Username</translate>
                  </label>
                  <input autofocus type="text" placeholder="Your Name" name="username" ng-minlength="5" ng-model="holding.username" md-minlength=8 required>
                  <md-icon>face</md-icon>
                  <div ng-messages="myForm.username.$error" md-auto-hide="false">
                    <div ng-message="required" translate>A username is required.</div>
                    <div ng-message="md-minlength" translate>Username should be less than 25 characters.</div>
                    <div ng-message="minlength" translate>Username should be at least 8 characters.</div>
                  </div>
                </md-input-container>
                <md-input-container layout="row" flex class="md-block">
                  <label for="password">
                    <translate>Password</translate>
                  </label>
                  <input autofocus type="password" placeholder="Top secret password" name="password" ng-minlength="5" ng-model="holding.password" md-minlength=8 required temp-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                  <md-icon>lock</md-icon>
                  <div ng-messages="myForm.password.$error" md-auto-hide="false">
                    <div ng-message="required" translate>A password is required.</div>
                    <div ng-message="md-minlength" translate>Password should be less than 25 characters.</div>
                    <div ng-message="minlength" translate>Password should be at least 8 characters.</div>
                    <div ng-message="pattern" translate>Must include one upper case letter, a special character and number.</div>
                  </div>
                </md-input-container>
                <md-input-container layout="row" flex class="md-block">
                  <label for="password">
                    <translate>Optional phone number</translate>
                  </label>
                  <input type="number" placeholder="In case you lose your details" name="phone" ng-minlength="5" ng-model="holding.phone" md-minlength=8>
                  <md-icon>phone</md-icon>
                </md-input-container>
                <small>To finish your account creation, please confirm that you agree to our <a href="https://www.ct-networks.io/terms" target="_blank">terms of service</a>.</small>
                <md-input-container layout="row" flex class="md-block">
                  <md-checkbox ng-model="holding.gdpr_consent" aria-label="gdpr" required>
                    I confirm that I have read and agree to the terms of service.
                  </md-checkbox>
                </md-input-container>
                <small>We'd also like to occasionally send you newsletters about products & services, news & events.</small>
                <md-input-container layout="row" flex class="md-block">
                  <md-checkbox ng-model="holding.newsletter_consent" aria-label="newsletter">
                    I'd like to receive newsletters via Email.
                  </md-checkbox>
                </md-input-container>

              </div>
            </md-card-content>
            <md-divider ng-show="!finalised"></md-divider>
            <md-card-actions ng-show="!finalised" layout="row" layout-align="end center">
              <md-button ng-click="update('done')" type="submit" ng-disabled="myForm.$invalid" class="signup-complete md-raised md-primary complete-18020714">
                <translate>Create</translate>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </form>
</div>
