<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon>build</md-icon>
    </md-button>
    <p translate>Apps</p>
    <div flex></div>
    <md-button class="md-icon-button md-accent" href="/#/apps/new" aria-label="{{ 'Add App' | translate }}">
      <md-icon>add_circle</md-icon>
      <md-tooltip md-direction="bottom">
        <translate>
          Add a new app.
        </translate>
      </md-tooltip>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>

  <div ng-show="apps.length === 0">
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>Please Create an App</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <translate>Build services on top of the Cucumber API. Wondering what you might build? The dashboard you're looking at now is an App. It's built on top of the API. You might do something similar if you wanted different functionality.</translate> <br><br><translate>By using our API, you agree to the terms of use.</translate>
          </md-card-content>

          <md-divider ng-if="!$last"></md-divider>

          <md-card-actions layout="row" layout-align="end center">
            <md-button href="/#/apps/new" aria-label="New">
              <translate>New App</translate>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

  </div>

  <div layout="row" layout-align="center center" ng-show="apps.length > 0">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Your Cucumber Applications
            </span>
            <span class="md-subhead" translate>
              Integrate your services with the Cucumber API.
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-list-item class="md-3-line" ng-repeat="app in apps" href="/#/apps/{{ app.id }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ app.name }}</h3>
              <h4>{{ app.created_at | humanTime }}</h4>
              <p>{{ app.description }}</p>
            </div>
          </md-list-item>
        </md-card-content>
        <md-divider ng-if="!$last"></md-divider>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="/#/apps/new"><translate>New</translate></md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</md-content>
