<div layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="75">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{ scope.app.id ? "Edit" : "Create" }} App
          </span>
          <span class="md-subhead">
            Create an application before use the API and build some awesome.
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>This is for developers. If you're not sure what an API is, it's best you forget this exists. <br>Developer documentation can be <a href="http://docs.polkaspots.apiary.io/#">found here</a>.</p>

        <div layout="column">
          <form name="myForm" ng-submit="save()">
            <md-input-container class="md-block">
              <label for="name">Application Name</label>
              <input type="text" ng-model="app.name" ng-class='{ "input-error" : myForm.name.$error.required || myForm.name.$error.maxlength }' name="name" placeholder="Your application name" md-maxlength=32 md-minlength=5 required>
              
              <div ng-messages="myForm.name.$error">
                <div ng-message="minlength">Name should be more than 5 characters</div>
                <div ng-message="md-maxlength">Name should be less than 32 characters</div>
                <div ng-message="required">You must set a name</div>
              </div>

            </md-input-container>

            <md-input-container class="md-block">

              <label for="name">Callback URL</label>
              <input type="url" ng-model="app.redirect_uri" ng-class='{ "input-error" : myForm.redirect_uri.$error.required || myForm.redirect_uri.$error.url }' name="redirect_uri" placeholder="Your callback URL" required>
              
              <div ng-messages="myForm.redirect_uri.$error">
                <div ng-message="url">Must be a valid, https URL</div>
                <div ng-message="required">You must set a callback URI</div>
              </div>

            </md-input-container>

            <md-input-container class="md-block">
              <label for="name">Application Website</label>
              <input type="url" ng-model="app.website" ng-class='{ "input-error" : myForm.website.$error.required || myForm.website.$error.url }' name="website" placeholder="Your website" required>
              
              <div ng-messages="myForm.website.$error">
                <div ng-message="url">You must set a webite</div>
                <div ng-message="required">Must be a valid URL</div>
              </div>

            </md-input-container>

            <md-input-container class="md-block">
              <label for="name">Description</label>
              <textarea ng-model="app.description" ng-class='{ "input-error" : myForm.description.$error.required }' name="description" placeholder="Tell us about your App" rows=5 required></textarea>
              
              <div ng-messages="myForm.webshite.$error">
                <div ng-message="required">Please enter a description</div>
              </div>

            </md-input-container>
              
            <md-button ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised" type="submit">{{ app.id ? "Update" : "Create" }}</md-button>
          </form>

        </div>
        <p>By creating this application, you are agreeing to the developer agreement found <a href="https://cucumberwifi.io/developer-terms" target="_blank">here</a>.</p>
      </md-card-content>
    </md-card>
  </div>
</div>

