<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" href="/#/apps" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Apps</p>
    <div flex></div>
    <md-button class="md-icon-button md-accent" href="/#/apps/new" aria-label="{{ 'Add App' | translate">
      <md-icon>add_circle</md-icon>
      <md-tooltip md-direction="bottom">
        <translate>Add a new app.</translate>
      </md-tooltip>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<div layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="75">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{ app.name }}
          </span>
          <span class="md-subhead">
            {{ app.description | emptyFilter }}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <h4>Scopes</h4>
        <p>
          <span ng-if="app.scopes.length" translate>{{ app.scopes }}</span>
          <span ng-if="!app.scopes.length" translate>None</span>
        </p>
        <h4 translate>Callback URLs:</h4>
        <ul ng-repeat="a in uris">
          <li ng-if="a">{{ a }}</li>
        </ul>
        <h4 translate>Application URLs:</h4>
        <ul>
          <li>https://id.ctapp.io/oauth/authorize</li>
          <li>https://id.ctapp.io/oauth/token</li>
          <li>https://id.ctapp.io/oauth/revoke</li>
        </ul>
        <h4 translate>Credentials</h4>
        <md-input-container class="md-block">
          <label translate>App ID</label>
          <input type="{{ showid == true ? 'text' : 'password' }}" ng-focus="showid = !showid" ng-blur="showid = !showid" type="text" ng-model="app.uid"></input></li>
        </md-input-container>
        <md-input-container class="md-block">
          <label translate>App Secret</label>
          <input type="{{ showsec == true ? 'text' : 'password' }}" ng-focus="showsec = !showsec" ng-blur="showsec = !showsec" type="text" ng-model="app.secret"></input></li>
        </md-input-container>
      </md-card-content>
      <md-divider ng-if="!$last"></md-divider>
      <md-card-actions layout="row" layout-align="end center">
        <md-button href="/#/apps/{{ app.id }}/edit" translate>Edit</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
