<section ng-cloak ng-if="!loading && !fs">
  <md-subheader class="md-accent">
    <b><translate>{{ box_data.meta.clients || 0 }} connected.</translate> <span hide show-gt-sm>SSID<span ng-if="box_data.ssids.length != 1">s</span>: <span ng-if="box_data.ssids.length == 1">{{ box_data.ssids[0].ssid }}</span> <span ng-if="box_data.ssids.length != 1">{{ box_data.ssids.length }}</span> <md-tooltip ng-if="box_data.ssids.length != 1"><translate>Broadcasting {{ box_data.ssids.length }} SSIDs: <span ng-repeat="ssid in box_data.ssids"><span>{{ssid.ssid}}</span><span ng-if="ssid != box_data.ssids[box_data.ssids.length - 1]">, </span></span></translate></md-tooltip></span></b>
  </md-subheader>
</section>