<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <div flex="30">
      <md-select style="margin:0px" ng-model="selected" ng-change="updateAudit(selected)" required>
        <md-option ng-repeat="model in audit_models" value="{{model}}">
          {{model}}
        </md-option>
      </md-select>
    </div>
    <div layout="row" flex style="margin-top:4px" hide show-gt-xs>
      <md-datepicker class="picker-smaller" ng-change="setStart()" ng-model="startDate" md-placeholder="{{ 'Start date' | translate }}" md-min-date="minDate" md-max-date="maxDate" md-open-on-focus></md-datepicker>
      <md-datepicker class="picker-smaller" ng-change="setEnd()" ng-model="endDate" md-placeholder="{{ 'End date' | translate }}" md-min-date="minDate" md-max-date="maxDate" md-open-on-focus></md-datepicker>
    </div>
    <div flex></div>
    <md-button class="md-primary" hide show-gt-xs aria-label="Filter" ng-click="clearClientFilter()" ng-show="selected == 'Radius Sessions' && query.client_mac" style="min-width: 160px">
      {{query.client_mac}}
      <md-icon>clear</md-icon>
      <md-tooltip>
        <translate>
        Clear AP filter
        </translate>
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" ng-click="downloadAudit()" ng-show="results.length > 0 || people.length > 0" hide show-gt-xs>
      <md-icon>file_download</md-icon>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content layout-padding>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <div class="md-toolbar-tools">
            <span translate translate-n="{{links.total_entries}}" translate-plural="{{links.total_entries || 0}} {{selected}}">1 {{selected}}</span><span hide show-gt-sm ng-if="query.start" translate><span ng-if="selected == 'Emails' || selected == 'Sales' || selected == 'Guests' || selected == 'Radius Sessions'">&nbsp;created</span><span ng-if="selected == 'People' || selected == 'Clients'">&nbsp;seen</span> between {{ query.start | humanDate }} and {{ query.end | humanDate }}</span>
            <div flex></div>
          </div>
          <md-table-container ng-show="selected != 'People'">
            <table ng-if="results.length > 0" ng-model="selected" md-row-select="options.rowSelection" multiple="false" md-table md-progress="promise">
              <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th hide show-gt-xs md-column ng-show="selected == 'Emails'"><span translate>Added</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Sales'" style="padding: 0px 24px 0px 24px"><span translate>State</span></th>
                  <th md-column ng-show="selected == 'Radius Sessions'" style="padding: 0px 24px 0px 24px"><span translate>Start</span></th>
                  <th hide show-gt-sm md-column ng-show="selected == 'Radius Sessions'"><span translate>Duration</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Radius Sessions'"><span translate>Client Mac</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Clients'" style="padding: 0px 24px 0px 24px"><span translate>Client Mac</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Radius Sessions'"><span translate>Username</span></th>
                  <th hide show-gt-lg md-column ng-show="selected == 'Radius Sessions'"><span translate>Device Mac</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Radius Sessions'"><span translate>Usage</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Radius Sessions'"><span translate>Manufacturer</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Social'" style="padding: 0px 24px 0px 24px"><span translate>Name</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Emails' || selected == 'Social' || selected == 'Sales'"><span translate>Email</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Guests'" style="padding: 0px 24px 0px 24px"><span translate>Email</span></th>
                  <th hide show-gt-sm md-column ng-show="selected == 'Emails'"><span translate>Type</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Sales'"><span translate>Voucher</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Sales'"><span translate>Total</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Guests'" ng-repeat="column in guest_columns"><span translate>{{column}}</span></th>
                  <th hide show-gt-sm md-column ng-show="selected == 'Emails' || selected ==  'Guests' || selected ==  'Sales' || selected == 'Clients'"><span translate>Created</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Sales' || selected == 'Guests'"><span translate>Mac</span></th>
                  <th hide show-gt-sm md-column ng-show="selected == 'Sales'"><span translate>Merchant</span></th>
                  <th hide show-gt-md md-column ng-show="selected == 'Social' || selected == 'Clients'"><span translate>Last Seen</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Social'"><span translate>Gender</span></th>
                  <th hide show-gt-xs md-column ng-show="selected == 'Social'"><span translate>Networks</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="email" ng-repeat="result in results | filter: filter.search | orderBy: query.order">
                  <td hide show-gt-xs md-cell ng-show="selected == 'Emails'">
                    <md-icon>{{ result.added ? "check" : "" }}</md-icon>
                  </td>
                  <td md-cell ng-show="selected == 'Sales'" style="padding: 0px 24px 0px 24px">
                    <md-icon md-menu-origin>{{ result.state == 'success' ? 'check_circle' : (result.state === 'pending') ? 'cached' : 'delete' }}</md-icon>
                    <md-tooltip>
                      <span ng-if="result.state == 'pending'" translate>This order is pending and hasn't completed</span>
                      <span ng-if="result.state == 'success'" translate>This order was a success</span>
                      <span ng-if="result.state == 'refunded'" translate>This order was refunded</span>
                    </md-tooltip>
                  </td>
                  <td md-cell ng-show="selected == 'Radius Sessions'" style="padding: 0px 24px 0px 24px">
                    <span hide show-gt-xs>{{ ::(result.acctstarttime | humanTime) }}</span>
                    <span hide-gt-xs>
                      {{ ::(result.acctstarttime | humanTimeShort) }}<br>
                      <small>{{ ::result.username | truncate:30 }}</small>
                    </span>
                    <md-tooltip><translate>Stop: {{ ::result.acctstoptime | humanTime }}</translate></md-tooltip>
                  </td>
                  <td hide show-gt-sm md-cell ng-show="selected == 'Radius Sessions'">
                    {{ ::(result.acctsessiontime | humanised ) || '-' }}
                    <md-tooltip ng-if="result.acctstoptime">{{ ::result.acctstopcause }}</md-tooltip>
                  </td>
                  <td hide show-gt-xs md-cell ng-show="selected == 'Radius Sessions'">
                    <a href="" ng-click="filterSessionsByClient(result.client_mac)">{{ ::(result.client_mac | uppercase)}}</a>
                    <md-tooltip>Filter by client</md-tooltip>
                  </td>
                  <td hide show-gt-xs md-cell ng-show="selected == 'Clients'" style="padding: 0px 24px 0px 24px">
                    <a href="/#/locations/{{location.slug}}/clients/{{ result.client_mac }}" ng-if="result.client_mac">{{ ::(result.client_mac | uppercase)}}<md-tooltip>View client</md-tooltip></a>
                  </td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Radius Sessions'">
                    {{ result.username | truncate:30 }}
                    <md-tooltip ng-if="result.username.length > 30">
                      {{ ::result.username }}
                    </md-tooltip>
                  </td>
                  <td hide show-gt-lg md-cell ng-show="selected == 'Radius Sessions'">
                    {{ ::(result.ap_mac | uppercase )}}
                  </td>
                  <td hide show-gt-xs md-cell ng-show="selected == 'Radius Sessions'">
                    {{::((result.download + result.upload)| humanData)}}
                    <md-tooltip><translate>Inbound: {{ ::result.download | humanData }}. Outbound: {{ ::result.upload | humanData }}</translate></md-tooltip>
                  </td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Radius Sessions'">{{ ::(result.manufacturer | truncate: 20) }}</td>
                  <td md-cell ng-show="selected == 'Social'"  style="padding: 0px 24px 0px 24px">
                    {{ result.first_name }} {{ result.last_name }}
                  </td>
                  <td md-cell ng-show="selected == 'Emails' || selected == 'Social'">
                    <span hide show-xs>
                      {{ result.email | truncate:18 }}
                    </span>
                    <span hide show-gt-xs>
                      {{ result.email }}
                    </span>
                  </td>
                  <td md-cell ng-show="selected == 'Guests'" style="padding: 0px 24px 0px 24px">
                    <span hide show-xs>
                      {{ result.username | truncate:18 }}
                    </span>
                    <span hide show-gt-xs>
                      {{ result.username }}
                    </span>
                  </td>
                  <td md-cell ng-show="selected == 'Sales'">
                    <a href="/#/audit/sales/{{ result.id }}">
                      <span hide-gt-xs>
                        {{ ::(result.email | truncate:15 || '-') }}
                      </span>
                      <span hide show-gt-xs>
                        {{ ::(result.email || '-') }}
                      </span>
                    </a>
                  </td>
                  <td hide show-gt-sm md-cell ng-show="selected == 'Emails'">
                    {{ result.list_type }}
                  </td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Sales'">{{ ::(result.vouchers | truncate:20) }}</td>
                  <td hide show-gt-xs md-cell ng-show="selected == 'Sales'">{{ result.total / 100 | currency:result.currency }}</td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Guests'" ng-repeat="field in guest_columns">{{ result.registration_data[field] }}</td>
                  <td hide show-gt-sm md-cell ng-show="selected == 'Emails' || selected == 'Guests' || selected == 'Sales' || selected == 'Clients'">
                    {{ ::(result.created_at | humanTimeShort ) }}
                  </td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Sales'">{{ ::(result.client_mac) }}</td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Guests'">{{ ::(result.macs[0]) }}</td>
                  <td hide show-gt-sm md-cell ng-show="selected == 'Sales'">{{ ::(result.merchant_type | titleCase) || '-' }}</td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Social'">
                    {{ result.updated_at | humanTimeShort }}
                  </td>
                  <td hide show-gt-md md-cell ng-show="selected == 'Clients'">
                    {{ result.lastseen | humanTimeShort }}
                  </td>
                  <td hide show-gt-xs md-cell ng-show="selected == 'Social'">
                    {{ result.gender == 'male' ? 'M' : 'F' }}
                  </td>
                  <td md-cell>
                    <span ng-if="result.facebook_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/facebook.png" width=24px>
                    </span>
                    <span ng-if="result.google_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/google.png" width=24px>
                    </span>
                    <span ng-if="result.linkedin_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/linkedin.png" width=24px>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-container ng-show="selected == 'People'">
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
              <thead md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th md-column><span translate>Name</span></th>
                  <th md-column><span translate>Email</span></th>
                  <th md-column><span translate>Last Seen</span></th>
                  <th md-column><span translate>First Seen</span></th>
                  <th md-column><span translate>Visits</span></th>
                  <th md-column><span translate>Options</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="person in people">
                  <td md-cell>
                    <a href="/#/locations/{{ location.slug }}/people/{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</a>
                  </td>
                  <td md-cell>
                    {{ person.email || 'NA' }}
                  </td>
                  <td md-cell>
                    {{ person.last_seen | humanTimeShortest }}
                  </td>
                  <td md-cell>
                    {{ person.created_at | humanTimeShortest }}
                  </td>
                  <td md-cell>
                    {{ person.login_count || 1 }}
                  </td>
                  <td md-cell>
                    <md-menu md-position-mode="target target">
                      <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                          <md-button ng-href="/#/locations/{{ location.slug }}/people/{{ person.id}}">
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">pageview</md-icon>
                            <span translate>View</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="delete_person(person)">
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">delete_forever</md-icon>
                            <span translate>Delete</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select ng-show="results.length > 0  && selected != 'People'"></md-table-pagination>
          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select ng-show="people.length > 0 && selected == 'People'"></md-table-pagination>

        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
