<div ng-if="loading">
  <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!loading && zones.length === 0">
  <p translate>Network not associated with a zone. </p>
</div>
<div ng-if="!loading && zones.length">
  <span translate>This network is associated with the following zones.</span>
  <md-list-item class="md-3-line" ng-repeat="zone in zones">
    <div class="md-list-item-text">
      <h3><a href="/#/locations/{{location.slug}}/zones/{{ zone.id }}" translate>{{ zone.zone_name | titleCase }} Zone</a></h3>
      <p>
        <span translate translate-n="{{zone.boxes.length}}" translate-plural="{{ zone.boxes.length || 0}} boxes">1 box.</span>
        <span translate translate-n="{{zone.networks.length}}" translate-plural="{{ zone.networks.length }} networks" translate-context="in zones componenet">1 network.
        </span>
      </p>
    </div>
  </md-list-item>
</div>
