<md-content class="md-padding" layout="column" layout-gt-xs='column'>
  <div layout="row" layout-align="center center">
    <div flex-sm="75" flex-gt-sm="50">
      <form name="myForm" ng-submit="save(brand)">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Create New Brand
              </span>
              <span class="md-subhead" translate>
                You can create multiple brands on Enterprise plans only.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="column" layout-gt-xs="row" layout-wrap flex="70">
              <md-input-container class="md-block" flex-gt-xs="100">
                <label><translate>Brand Name</translate></label>
                <input  type="text" name="brand_name" placeholder="{{ 'Enter a brand name' | translate }}" ng-model="brandName.name" ng-pattern="/^[^-\s][A-Za-z0-9\\'\s-]*$/" md-maxlength="25" ng-minlength="5" md-autofocus required></input>
                <div ng-messages="myForm.brand_name.$error" md-auto-hide="false">
                  <div ng-message="required" translate>Please enter a name for your brand</div>
                  <div ng-message="md-maxlength" translate>Must be less than 25 characters</div>
                  <div ng-message="minlength" translate>Minimum 5 characters</div>
                  <div ng-message="pattern" translate>Number &amp; letters only</div>
                </div>
                <p class="margin-top: -40px;"><small translate>The name appears on your dashboard and notification emails. Typically it's your company name.</small></p>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs="100">
                <label translate>Dashboard URL Prefix</label>
                <input ng-disabled="brand.cname || user.ps" type="text" name="url" placeholder="{{ 'Enter a brand URL' | translate }}" ng-model="brand.url" md-maxlength=28 ng-minlength=5 ng-pattern="/^[a-z-_\d]*$/" required></input>
                <div ng-messages="myForm.url.$error" md-auto-hide="false">
                  <div ng-message="required" translate>Please enter a brand URL</div>
                  <div ng-message="md-maxlength" translate>Must be less than 55 characters</div>
                  <div ng-message="minlength" translate>Minimum 5 characters</div>
                  <div ng-message="pattern" translate>Lowercase only, no numbers or special characters</div>
                  <div ng-message="url" translate>Must be a valid URL</div>
                </div>

                <p class="margin-top: -40px;"><small translate>The URL prefix control how you login to your dashboard.</small></p>

              </md-input-container>
              <p>
                <translate>
                  Your address will be&nbsp;
                </translate> <b> https://{{ brand.url || 'my' }}.ctapp.io</b>.
              </p>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <md-icon md-font-icon="android" aria-label="android">star</md-icon>
                <translate>Advanced Settings</translate>
              </span>
              <span class="md-subhead">
                Use your own URL for the dashboard. Premium plans only.
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content layout-gt-xs="row" layout="column" layout-gt-sm="row" flex="70" layout-wrap>
            <md-input-container class="md-block" flex-gt-sm="100">
              <label><translate>Network Location</translate></label>
              <md-select ng-model="brand.network_location">
                <md-option ng-repeat="loc in locations" ng-value="loc">
                  {{ loc }}
                </md-option>
              </md-select>
            <p><small translate>Choose the closest location to improve performance and job processing.</small></p>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="100">
              <label><translate>Default Locale</translate></label>
              <md-select ng-model="brand.locale">
                <md-option ng-repeat="locale in locales" ng-value="locale.value">
                  {{ locale.key }}
                </md-option>
              </md-select>
            </md-input-container>
            <p class="margin: -60px 0 40px;"><small translate>New users will be created with this locale, translating the dashboard automagically.</small></p>
          </md-card-content>
        </md-card>

        <md-button type="submit" ng-click="save(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised"><translate>Create</translate></md-button>
      </form>
    </div>
  </div>
</md-content>
