<loader></loader>
<div ng-hide="loading">

  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px" ng-show="group_policies.length > 0">
        <md-icon md-font-icon="search">search</md-icon>
        <label></label>
        <input ng-model="query.filter" md-autofocus placeholder="{{ 'Filter Results' | translate }}">
      </md-input-container>
      <md-button ng-if="!group_policies.length" id="main" class="md-icon-button md-primary" aria-label="{{ 'Filters' | translate }}">
        <md-icon>group_work</md-icon>
      </md-button>
      <p ng-if="group_policies.length == 0" translate>Group Policies</p>
      <div flex></div>
      <md-button class='md-icon-button md-accent' ng-click='addFilter()'>
        <md-icon>add_circle</md-icon>
      </md-button>
    </div>
    <md-divider></md-divider>
  </md-toolbar>

  <md-content class="md-padding" layout="column" layout-gt-sm='row' ng-if="group_policies.length == 0">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Get Started
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>Group policies let you control access to your networks.</p>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="addFilter()"><translate>Create</translate></md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>

  </md-content>

  <md-content class="md-padding" layout="column" layout-gt-sm='column' ng-if="group_policies.length || query.filter" ng-cloak>
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-card>
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <p  ng-if="query.filter" translate translate-context="filtered number, groups" translate-n="filtered.length" translate-plural="{{filtered.length}} Group Policies">1 Group Policy</p>
              <p  ng-if="!query.filter" translate translate-context="total number, groups"  translate-n="{{_links.total_entries}}" translate-plural="{{_links.total_entries}} Group Policies">1 Group Policy</p>
              <div flex></div>
            </div>
          </md-toolbar>

          <md-card-content>
            <md-table-container>
              <table multiple md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row>
                    <th md-column md-order-by="policy_name"><span translate>Name</span></th>
                    <th md-column hide show-gt-sm md-order-by="group_type"><span translate>Type</span></th>
                    <th md-column hide show-gt-sm md-order-by="policy"><span translate>Policy</span></th>
                    <th md-column hide show-gt-sm md-order-by="networks"><span translate>Networks</span></th>
                    <th md-column hide show-gt-md md-order-by="created_at"><span translate>Created</span></th>
                    <th md-column><span translate>Action</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="policy in filtered = (group_policies | filter: query.filter | orderBy: query.order)">
                    <td md-cell>
                      <a href="/#/locations/{{location.slug}}/group_policies/{{policy.id}}">
                        {{ ::(policy.policy_name | titleCase | truncate:20) }}
                      </a>
                    </td>
                    <td md-cell>
                      {{ ::(policy.group_type | policyType) }}
                    </td>
                    <td md-cell hide show-gt-sm>
                      {{ ::policy.policy }}
                    </td>
                    <td md-cell hide show-gt-sm>
                      {{ ::(policy.networks || 0)}}
                    </td>
                    <td md-cell hide show-gt-md>
                      {{ ::(policy.created_at | humanTime) }}
                    </td>
                    <td md-cell>
                      <md-menu>
                        <md-button aria-label="{{ 'Open Filters Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                          <md-menu-item ng-repeat="item in menu">
                            <md-button ng-click="action(policy, item.type)">
                              <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ ::item.icon }}">{{ ::item.icon }}</md-icon>
                              <p flex>{{ ::item.name }}</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </md-card-content>
          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </md-card>
      </div>
    </div>
  </md-content>
</div>
