<md-dialog aria-label="Edit Device Name"  ng-cloak>
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Refund Purchase</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Refund Reason</label>
          <input name="reason" md-maxlength="100" ng-model="reason">
          <div ng-messages="myForm.reason.$error">
            <div ng-message="md-maxlength">Must be less than 100 characters</div>
            <div ng-message="minlength">Must be less more than 5 characters</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="close()">
        Close
      </md-button>
      <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-raised">
        REFUND
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
