<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p>Back to Orders</p>
    <span flex></span>
    <md-menu ng-if="menu">
      <md-button aria-label="Open Tools" class="md-raised xmd-icon-button" ng-click="$mdOpenMenu($event)">
        TOOLS
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-disabled="item.disabled" ng-click="action(item.type)">
            <md-icon md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
            {{item.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>

  <div flex flex-gt-sm="30" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            Order Details
          </span>
          <span class="md-subhead">{{ order.created_at | humanTime }}</span>
        </md-card-title-text>
        <md-icon md-font-icon="">attach_money</md-icon>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Email</h3>
              <p>{{ order.email }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Status</h3>
              <p>
                <span ng-show='order.state == "refunded"'><b>Refunded</b></span>
                <span ng-show='order.state == "failed"'>Failed</span>
                <span ng-show='order.state == "success"'>Complete</span>
                <span ng-show='order.state == "pending"'>Pending</span>
              </p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Order Total</h3>
              <p>{{ order.total / 100 | currency:order.currency }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Details</span>
        </md-card-title-text>
        <md-button ng-click="toggle('details-menu')" aria-controls="details-menu" class="md-secondary md-icon-button" aria-label="call">
          <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ isOpen('details-menu') ? "up" : "down" }}</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content ng-show="isOpen('details-menu')">
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Merchant Type</h3>
              <p>{{ order.merchant_type || 'N/A' }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Auth Code</h3>
              <p>{{ order.authorization }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.refund_reason">
            <div class="md-list-item-text">
              <h3>Refund Reason</h3>
              <p>{{ order.refund_reason }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.refunded_by">
            <div class="md-list-item-text">
              <h3>Refunded By</h3>
              <p>{{ order.refunded_by }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.notes">
            <div class="md-list-item-text">
              <h3>Notes</h3>
              <p>{{ order.notes }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Order Revoked</h3>
              <p>{{ order.revoked }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

  </div>

  <div flex flex-gt-sm="30" layout="column" ng-show="order.line_items">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ order.line_items.length }} Line Item<span ng-if="order.line_items.length != 1">s</span></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="item in order.line_items">
            <div class="md-list-item-text">
              <h3>{{ (item.value / 100) | currency : order.currency }} Voucher</h3>
              <p> {{ item.description || "No description"}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    
    <md-card ng-if="order.params">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Transaction</span>
        </md-card-title-text>
        <md-button ng-click="toggle('tranny-menu')" aria-controls="tranny-menu" class="md-secondary md-icon-button" aria-label="call">
          <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ isOpen('tranny-menu') ? "up" : "down" }}</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content ng-show="isOpen('tranny-menu')">
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Timestamp</h3>
              <p>{{ order.params.timestamp }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Token</h3>
              <p>{{ order.params.token }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Transaction ID</h3>
              <p>{{ order.params.transaction_id || 'N/A' }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.params.payment_date">
            <div class="md-list-item-text">
              <h3>Payment Date</h3>
              <p>{{ order.params.payment_date }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.params.fee_amount">
            <div class="md-list-item-text">
              <h3>Merchant Fee</h3>
              <p>{{ order.params.fee_amount || 0}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-show="order.params.gross_amount">
            <div class="md-list-item-text">
              <h3>Gross Amount</h3>
              <p>{{ order.params.gross_amount }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div flex flex-gt-sm="30" layout="column" ng-show='order.codes'>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Voucher Details</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="code in order.codes">
            <div class="md-list-item-text" layout="column">
              <h4>Username</h4>
              <p>{{ code.username }}</p>
              <h4>Activated</h4>
              <p>{{ code.date_activated | humanTime }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Location</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Name</h3>
              <p>
                <a ng-show="order.location_name" href='/#/locations/{{ order.location_slug }}'>{{ order.location_name }}</a>
                <span ng-hide="order.location_nae">Unknown</span>
              </p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

</md-content>

<!--   <h3>Refund</h3> -->
<!--   <span ng-show='order.state == "success" || order.state == "refunding"'> -->
<!--     <p>So you want to refund this order?</p> -->
<!--     <button ng-disabled='order.state == "refunding"' class='button tiny alert' ng-click='update()'>Refund<span ng-show='order.state == "refunding"'>ing...</span></button> -->
<!--   </span> -->
<!--   <span ng-show='order.state != "success"'> -->
<!--     <p>You can't refund an order that's {{ order.state}}.</p> -->
<!--   </span> -->
<!--   <h3>Line Items</h3> -->
<!--   <span ng-hide='order.line_items'> -->
<!--     <p>Nothing to be seen yet</p> -->
<!--   </span> -->
<!--   <span ng-hide='order.params'> -->
<!--     <p>No details yet</p> -->
<!--   </span> -->
<!--       </ul> -->
<!--     </span> -->
<!--   </span> -->
              <!-- <span ng-show='order.state == "refunded"'>{{ order.refund_reason }}</span> -->
              <!-- <span ng-show='order.state == "refunded"'>{{ order.refunded_by }}</span> -->
              <!-- <span ng-show='order.notes'>{{ order.notes }}</span> -->
              <!-- <span ng-show='order.revoked'>Revoked: {{ order.revoked }}</span> -->
