<location-settings-nav></location-settings-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta" ng-show="!integration || !integration.type" ng-cloak>
  <div flex="100" flex-gt-md="60" flex-gt-lg="50">
    <md-card class="b-or">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            No Integration Found
          </span>
          <span class="md-subhead">
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Connect MIMO to your <b>UniFi, CloudTrax, Ruckus VSZ and Meraki</b> devices. MIMO provides beautifully simple splash pages and advanced customer engagement tools.</p>
        <p>Getting started takes less than 2 minutes - we'll configure everything for you.</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="/#/{{ location.slug }}/integration" class="md-primary md-raised">
          Hey ho, lets go!
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta" ng-show="integration && integration.type && integration.active != true" ng-cloak>
  <div flex="100" flex-gt-md="60" flex-gt-lg="50">
    <md-card class="b-or">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Incompleted Setup
          </span>
          <span class="md-subhead">
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>You haven't finished the setup of your {{ integration.type | integrationType }} integration.</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="destroy()" class="md-raised">
          Delete Integration
        </md-button>
        <md-button ng-href="/#/{{ location.slug }}/integration/{{ integration.type}}/auth" class="md-primary md-raised">
          Complete Setup
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta" ng-show="integration.type && integration.active">
  <div flex="100" flex-gt-md="90" flex-gt-lg="80">
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="100">

        <form name="myForm" ng-submit="save(myForm)">
          <md-card class="b-or">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" translate>
                  Integration Details
                </span>
                <p>You cannot change the integration type once it's been created. To add a new integration, delete the current one first.</p>
              </md-card-title-text>
            </md-card-title>

            <md-card-content ng-if="integration.type == 'unifi'">
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Integration Type</translate>
                  </label>
                  <input value="UniFi" disabled></input>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Hostname</translate>
                  </label>
                  <input ng-model="integration.host" name="host" type="url" md-maxlength='255'required></input>
                  <div ng-messages="myForm.host.$error" >
                    <div ng-message="url" translate>Must be a valid URL</div>
                    <div ng-message="required" translate>You must enter a valid URL.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-xs="40">
                  <label>
                    <translate>Username</translate>
                  </label>
                  <input ng-model="integration.username" type="text" md-maxlength='255'required></input>
                </md-input-container>
                <span flex-gt-xs="10"></span>
                <md-input-container flex="100" flex-gt-xs="40">
                  <label>
                    <translate>Password</translate>
                  </label>
                  <input ng-model="integration.password" type="password" name="password" ng-minlength="8" md-maxlength='32' ng-pattern="/^[^[\]\'\\]+$/" required></input>
                  <div ng-messages="myForm.password.$error">
                    <div ng-message="md-maxlength">Max 32 characters</div>
                    <div ng-message="minlength">Min 8 characters</div>
                    <div ng-message="required">You must set a password</div>
                    <div ng-message="pattern">Invalid characters in password</div>
                  </div>
                </md-input-container>
              </div>
            </md-card-content>

            <md-card-content ng-if="integration.type == 'vsz'">
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Integration Type</translate>
                  </label>
                  <input value="Ruckus VSZ" disabled></input>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Hostname</translate>
                  </label>
                  <input ng-model="integration.host" name="host" type="url" md-maxlength='255'required></input>
                  <div ng-messages="myForm.host.$error" >
                    <div ng-message="url" translate>Must be a valid URL</div>
                    <div ng-message="required" translate>You must enter a valid URL.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-xs="40">
                  <label>
                    <translate>Username</translate>
                  </label>
                  <input ng-model="integration.username" type="text" md-maxlength='255'required></input>
                </md-input-container>
                <span flex-gt-xs="10"></span>
                <md-input-container flex="100" flex-gt-xs="40">
                  <label>
                    <translate>Password</translate>
                  </label>
                  <input ng-model="integration.password" type="password" name="password" ng-minlength="8" md-maxlength='32' ng-pattern="/^[^[\]\'\\]+$/" required></input>
                  <div ng-messages="myForm.password.$error">
                    <div ng-message="md-maxlength">Max 32 characters</div>
                    <div ng-message="minlength">Min 8 characters</div>
                    <div ng-message="required">You must set a password</div>
                    <div ng-message="pattern">Invalid characters in password</div>
                  </div>
                </md-input-container>
              </div>
            </md-card-content>

            <md-card-content ng-if="integration.type == 'cloudtrax'">
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Integration Type</translate>
                  </label>
                  <input value="CloudTrax / OpenMesh" disabled></input>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="100">
                  <label>
                    <translate>API Key</translate>
                  </label>
                  <input ng-model="integration.username" type="password" name="key" md-maxlength='255'required></input>
                  <div ng-messages="myForm.key.$error">
                    <div ng-message="required">You must enter an API Key</div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="100">
                  <label>
                    <translate>API Secret</translate>
                  </label>
                  <input ng-model="integration.secret" type="password" name="secret" md-maxlength='255'required></input>
                  <div ng-messages="myForm.secret.$error">
                    <div ng-message="required">You must enter an API Secret</div>
                  </div>
                </md-input-container>
              </div>
            </md-card-content>

            <md-card-content ng-if="integration.type == 'meraki'">
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="40">
                  <label>
                    <translate>Integration Type</translate>
                  </label>
                  <input value="Cisco Meraki" disabled></input>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-sm="100">
                  <label>
                    <translate>API Key</translate>
                  </label>
                  <input ng-model="integration.password" type="password" name="api" md-maxlength='255'required></input>
                  <div ng-messages="myForm.api.$error">
                    <div ng-message="required">You must enter an API Key</div>
                  </div>
                </md-input-container>
              </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
              <div>
                <md-icon ng-if="validated == true" md-menu-origin md-font-icon="" style="color:#17ac5b;padding-right:10px;">check_circle</md-icon>
                <md-button type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid">
                  Test Integration
                </md-button>
                <md-button ng-click="destroy()" class="md-raised md-warn">
                  Delete Integration
                </md-button>
              </div>
            </md-card-actions>
          </md-card>
        </form>

      </div>
    </div>
  </div>
</md-content>
