<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <div>
    <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1>
    <h2>Settings</h2>
  </div>

</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>
  <form name="myForm" submit="update(myForm)">
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="100">

        <md-card>
          <md-card-title>
            <md-card-title-text layout="row">
              <div>
                <div class="md-headline" translate>UniFi Settings</div>
                <div class="md-subhead" translate>
                  For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                </div>
              </div>
              <span flex></span>
              <div>
                <img src="https://i.imgur.com/2lHBnpb.png" style="max-height:50px;max-width:200px;"/>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Hostname</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Port</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Username</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Password</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text layout="row">
              <div>
                <div class="md-headline" translate>Meraki Settings</div>
                <div class="md-subhead" translate>
                  For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                </div>
              </div>
              <span flex></span>
              <div>
                <img src="https://i.imgur.com/A07NZSr.png" style="max-height:50px;max-width:200px;"/>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 1</h3>
                <p>radius-1.ctapp.io</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 2</h3>
                <p>radius-2.ctapp.io</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Auth</h3>
                <p>1812</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Acc</h3>
                <p>1813</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius Secret</h3>
                <p>Shh This Is Secret</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Splash URL</h3>
                <p>http://app.my-wifi.co</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="100">
                <h3 translate>Walled Gardens</h3>
                <p>yeah</p>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text layout="row">
              <div>
                <div class="md-headline" translate>Ruckus VSZ Settings</div>
                <div class="md-subhead" translate>
                  For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                </div>
              </div>
              <span flex></span>
              <div>
                <img src="https://i.imgur.com/1vN067Z.png" style="max-height:50px;max-width:200px;"/>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <h3>Northbound API</h3>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>IP Address</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <span flex-gt-sm="10"></span>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Port</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Username</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Password</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <h3>Admin</h3>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>IP Address</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <span flex-gt-sm="10"></span>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Port</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Username</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Password</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>

          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text layout="row">
              <div>
                <div class="md-headline" translate>Ruckus ZoneDirector Settings</div>
                <div class="md-subhead" translate>
                  For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                </div>
              </div>
              <span flex></span>
              <div>
                <img src="https://i.imgur.com/1vN067Z.png" style="max-height:50px;max-width:200px;"/>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 1</h3>
                <p>radius-1.ctapp.io</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 2</h3>
                <p>radius-2.ctapp.io</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Auth</h3>
                <p>1812</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Acc</h3>
                <p>1813</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius Secret</h3>
                <p>Shh This Is Secret</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Splash URL</h3>
                <p>http://app.my-wifi.co</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="100">
                <h3 translate>Walled Gardens</h3>
                <p>yeah</p>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text layout="row">
              <div>
                <div class="md-headline" translate>CT Networks Settings</div>
                <div class="md-subhead" translate>
                  For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                </div>
              </div>
              <span flex></span>
              <div>
                <img src="https://i.imgur.com/1C7ZJQj.png" style="max-height:50px;max-width:200px;"/>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>API Key</translate>
                </label>
                <input ng-model="blah.blah" type="text" md-maxlength='255'required></input>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <md-card-title-text layout="row">
                <div>
                  <div class="md-headline" translate>Xirrus Settings</div>
                  <div class="md-subhead" translate>
                    For instructions, read our docs <a ng-href="http://docs.mimo.today" target="_blank">here</a>.
                  </div>
                </div>
                <span flex></span>
                <div>
                  <img src="https://i.imgur.com/CmgxugR.png" style="max-height:50px;max-width:200px;"/>
                </div>
              </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Splash URL</h3>
                <p>http://app.my-wifi.co</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius Secret</h3>
                <p>Shh This Is Secret</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 1</h3>
                <p>radius-1.ctapp.io</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius 2</h3>
                <p>radius-2.ctapp.io</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Auth</h3>
                <p>1812</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Port Acc</h3>
                <p>1813</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>Radius Secret</h3>
                <p>Shhh Secrets</p>
              </div>
              <div flex-gt-sm="10"></div>
              <div flex="100" flex-gt-sm="40">
                <h3 translate>NAS ID</h3>
                <p>INSERT_ID</p>
              </div>
            </div>
            <div layout="row" layout-wrap>
              <div flex="100" flex-gt-sm="100">
                <h3 translate>Walled Gardens</h3>
                <p>yeah</p>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Location Details
              </span>
              <span class="md-subhead">
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Name</translate>
                </label>
                <input ng-model="location.location_name" name="location_name" type="text" md-maxlength='255' placeholder="{{ 'Location Name' | translate }}" ng-minlength="5" required></input>
                <div ng-messages="myForm.location_name.$error">
                  <div ng-message="minlength" translate>Must be greater than 5 characters</div>
                  <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                  <div ng-message="required" translate>You must enter an name</div>
                </div>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Street Address</translate>
                </label>
                <input ng-model="location.location_address" name="address" type="text" md-maxlength='255' placeholder="{{ 'Street Name' | translate }}"></input>
                <div ng-messages="myForm.address.$error">
                  <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                  <div ng-message="required" translate>You must enter an address</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>City</translate>
                </label>
                <input ng-model="location.town" name="town" type="text" md-maxlength='255' placeholder="{{ 'Enter a town or city.' | translate }}"></input>
                <div ng-messages="myForm.town.$error">
                  <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                  <div ng-message="required" translate>You must enter a town</div>
                </div>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Postcode (Zipcode)</translate>
                </label>
                <input ng-model="location.postcode" name="postcode" type="text" md-maxlength='255' placeholder="{{ 'Postcode' | translate }}"></input>
                <div ng-messages="myForm.postcode.$error" md-auto-hide="false">
                  <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                  <div ng-message="required" translate>You must enter a postcode</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Country</translate>
                </label>
                <country-select country="location.country"></country-select>
              </md-input-container>
              <div flex-gt-sm="10"></div>
              <md-input-container flex="100" flex-gt-sm="40">
                <label>
                  <translate>Timezone</translate>
                </label>
                <md-select ng-model="location.timezone">
                  <md-option ng-repeat="zone in timezones" ng-value="zone">
                    {{zone}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Danger Zone
              </span>
              <span class="md-subhead" translate>
                Only make changes here if you absolutely positively know what you're doing.
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container flex="100" flex-gt-sm="50">
                <label>
                  <translate>Radius NAS ID</translate>
                </label>
                <input ng-model="location.radiusnasid" name="radiusnasid" type="text" md-maxlength="255" md-minlength="10" required>
                <div ng-messages="myForm.radiusnasid.$error" md-auto-hide="false">
                  <div ng-message="max" translate>Must be less than 255 characters</div>
                  <div ng-message="min" translate>Must be greater than 10 characters</div>
                  <div ng-message="required" translate>You must enter a NAS ID</div>
                </div>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <div flex layout="row">

          <md-button ng-click="update(myForm)" type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid">
            <translate>
              Save
            </translate>
          </md-button>

          <span flex></span>

          <md-button class="md-raised md-warn" ng-click="destroy()">
            <translate>
              Delete Location
            </translate>
          </md-button>
        </div>

      </div>
    </div>
  </form>
</md-content>
