<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="/#/{{ location.slug }}/settings/" name="location">
      Location
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/settings/integrations" name="integrations">
      Integrations
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/settings/devices" name="devices">
      Devices
    </md-nav-item>
    <span flex></span>
    <get-with-the-plan hide show-gt-sm ng-if="!location.paid" label="Free Trial"></get-with-the-plan>
  </md-nav-bar>
</div>
