<div ng-include="'components/locations/settings/_settings_header.html'"></div>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Notification Settings
            </span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <form name="myForm" submit="update(myForm)">
            <div layout="row" layout-wrap>
              <md-switch ng-model="location.reports_active" aria-label="reports_active">
                <span ng-if="location.reports_active == true" translate> Weekly Reports Enabled</span>
                <span ng-if="location.reports_active == false" translate>Weekly Reports Disabled</span>
              </md-switch>
              <md-chips flex="100"
                  ng-model="ctrl.emails"
                  placeholder="{{ 'Enter an email' | translate }}"
                  delete-button-label="{{'Remove Email' | translate}}"
                  delete-hint="{{'Press delete to remove email' | translate }}"
                  secondary-placeholder="+Email"></md-chips>
                <br/>
            </div>
            <small translate>The admin user always receives an email.</small>
          </form>
        </md-card-content>
      </md-card>
      <md-button class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="update(myForm)">
        <translate>
          Save
        </translate>
      </md-button>

    </div>

  </div>

</md-content>

