<div ng-include="'components/locations/settings/_settings_header.html'"></div>
<form name="myForm" submit="update(myForm)">
  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Security Settings
              </span>
              <span class="md-subhead" translate>
                Control how your devices are provisioned. These settings apply to version 4 devices only.
              </span>
              <span class="md-subhead" translate>
                <b>You will need to reset any new devices after changing your security level.</b>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="column" layout-wrap flex="100" flex-gt-xs="50">
              <md-input-container layout="column">
                <label>
                  <translate>Security Level</translate>
                </label>
                <md-select ng-model="location.security_level">
                  <md-option ng-repeat="level in ctrl.levels" value="{{level}}">
                    {{ level }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" layout-wrap flex="100" flex-gt-xs="100" ng-show="location.security_level == 3">
              <md-input-container class="md-block">
                <label>Aurhorised IPs</label>
                <input type="text" ng-model="location.authorized_ips" md-maxlength="500" rows="2" ng-required="location.security_level == 3"></input>
              </md-input-container>
            </div>
            <small translate>Level 1 will allow devices from all IP address. Level 2 restricts the devices to the location they were added from. Level 3 allows devices froma  range of IPs.</small>

            <div ng-if="!white_label">
              <h4>Additional Settings</h4>

              <md-switch ng-model="location.ct_modify" aria-label="{{ 'Active' | translate }}" class="md-warn">
                CT Write Access
                <span ng-if="location.ct_modify" translate>Enabled</span>
                <span ng-if="!location.ct_modify" translate>Disabled</span>
              </md-switch>

              <small translate>Enabling write access allows CT staff to modify this location, its networks, splash pages, devices and other components. Default is disabled.</small>

              <md-switch ng-model="location.ct_view" aria-label="{{ 'Active' | translate }}" class="md-warn">
                CT Read Access
                <span ng-if="location.ct_view" translate>Enabled</span>
                <span ng-if="!location.ct_view" translate>Disabled</span>
              </md-switch>

              <small translate>Disabling this prevents CT staff from viewing this location or any child components.</small>
            </div>
          </md-card-content>

        </md-card>
        <md-button type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="update(myForm)">
          <translate>
          Save
          </translate>
        </md-button>
      </div>
    </div>
  </md-content>
</form>
