<md-dialog aria-label="{{ 'UniFi Setup' | translate }}"  ng-cloak>
  <form name="myForm" class="ssid-form" id="new-ssid-form">
    <md-toolbar>
      <div class="md-toolbar-tools" layout-align="space-between center">
        <h2 translate>UniFi Setup</h2>
        <h2>2/2</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div flex="auto" layout="column">
          <p translate>Select your site and create an SSID within your controller.</p>
        </div>
        <div flex="auto" layout="column">
          <div ng-show='loading'>
            <md-progress-linear md-mode="query"></md-progress-linear>
          </div>
          <span ng-hide="loading" layout="column">
            <md-input-container>
              <label>
                <translate>Site</translate>
              </label>
              <md-select ng-model="blah.site">
                <md-option ng-repeat="zone in zones" value="ye">
                  Testificate
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>
                <translate>SSID</translate>
              </label>
              <input name="ssid" md-maxlength="32" ng-model="blah.ssid" ng-pattern="/^[^[\]\'\\]+$/" class="ssid-input" ssid required>
              <div ng-messages="myForm.ssid.$error">
                <div ng-message="md-maxlength" translate>Max 32 characters</div>
                <div ng-message="required" translate>You must set an SSID</div>
                <div ng-message="pattern" translate>Invalid characters in SSID</div>
                <div ng-message="ssidValidator" translate>SSID is too large!</div>
              </div>
            </md-input-container>
          </span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex="auto"></span>
      <md-button ng-click="back()" translate>
        Back
      </md-button>
      <md-button class="md-raised" ng-click="save()" translate>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
