<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon>assignment</md-icon>
    </md-button>
    <p>Audit</p>
    <div flex></div>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              Audit Logs
            </span>
            <span class="md-subhead">
              To be completed
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
      </md-card>
    </div>
  </div>

</md-content>

