<md-dialog aria-label="{{ 'Site Setup' | translate }}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Terms of Service Update</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <h3>We've updated our terms and conditions.</h3>
        <p>To continue using the dashboard, please confirm that you agree to our <a href="https://www.ct-networks.io/terms" target="_blank">terms of service</a>.</p>
        <md-radio-group ng-model="user.gdpr_consent">
          <md-radio-button ng-value="true">I agree to the terms of service.</md-radio-button>
          <md-radio-button ng-value="false">I disagree with the terms of service.</md-radio-button>
        </md-radio-group>
        <p>We'd also like to occasionally send you newsletters about products & services, news & events.</p>
        <md-checkbox style="margin-top:16px;" ng-model="user.newsletter_consent" aria-label="newsletter">
          I'd like to receive newsletters via Email.
        </md-checkbox>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
      <md-button class="md-raised md-warn" ng-click="delete_account()" ng-disabled="user.gdpr_consent == true || user.gdpr_consent == undefined" translate>
        Delete Account
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="user.gdpr_consent == false || user.gdpr_consent == undefined" translate>
        Save
      </md-button>
    </md-dialog-actions>
</md-dialog>
