<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon md-font-icon="pdf">picture_as_pdf</md-icon>
    </md-button>
    <p>Invoices</p>
    <div flex></div>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <span>Invoices</span>
              <div flex></div>
              <md-button ng-disabled="selected.length < 1" class="md-icon-button" ng-click="emailInvoices()">
                <md-icon>email</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-table-container>
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
              <thead md-head>
                <tr md-row class="md-table-headers-row">
                  <th md-column md-order-by="created_at"><span>Created</span></th>
                  <th md-column><span>Description</span></th>
                  <th md-column><span>Total</span></th>
                  <th ng-if="menu.length" md-column>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="invoice" md-auto-select="options.autoSelect" ng-repeat="invoice in filtered = (invoices | filter: query.filter | orderBy: query.direction)">
                  <td md-cell>
                    {{ invoice.created_at | humanTime }}
                  </td>
                  <td md-cell>
                    {{ ::invoice.description }}
                  </td>
                  <td md-cell>
                    {{ ::invoice.total }}
                  </td>
                  <td md-cell ng-if="menu.length">
                    <md-menu>
                      <md-button aria-label="Open Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item ng-repeat="item in menu">
                          <md-button ng-click="action(item.type,invoice)">
                            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                            <p flex>{{ item.name }}</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
