<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow-left" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Device</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>


<section ng-cloak ng-show="!loading">
  <md-subheader class="md-accent"><b translate>MAC Address</b>: {{ box.calledstationid}}<span hide show-gt-sm> <b translate>Description</b>: {{ box.description }}<b translate> Last Seen</b>: {{ box.last_heartbeat | humanTime }}</span></md-subheader>
</section>


<md-content class="md-padding" layout-gt-sm="row" layout="column" layout-wrap>

  <div ng-repeat="msg in messages">
    {{ msg }}
  </div>
</md-content>

