<loader></loader>

<div ng-hide="loading" ng-cloak>

    <section>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px">
            <md-icon md-font-icon="search">search</md-icon>
            <label></label>
            <input ng-blur="blur()" ng-model="query.filter" md-autofocus placeholder="{{ 'Filter Devices' | translate }}">
          </md-input-container>
        </div>
        <md-divider></md-divider>
      </md-toolbar>

    </section>

    <md-content class="md-padding" layout="column" layout-gt-sm='column' ng-if="boxes.length == 0 && !query.filter" ng-cloak>
      <div layout="row" layout-align="center center">
        <div flex="100" flex-gt-sm="50">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <md-icon>router</md-icon>
                  <translate>No Offline Devices Found</translate>
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button href="/#/"><translate>Back</translate></md-button>
              </md-card-actions>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-content>

    <md-content class="md-padding" layout="column" layout-gt-xs='column' ng-if="boxes.length || query.filter">
      <div layout="row" layout-align="center center">
        <div flex="100">
          <md-card>
            <md-toolbar class="md-table-toolbar md-default">
              <div class="md-toolbar-tools">
                <p translate translate-n="{{ ::_links.total_entries }}" translate-plural="{{ ::_links.total_entries }} Devices">1 Device
                </p>
              </div>
            </md-toolbar>
            <md-table-container>
              <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row>
                    <th md-column md-order-by="state"><span translate>State</span></th>
                    <th md-column hide show-gt-sm md-order-by="machine_type" md-desc><span translate>Type</span></th>
                    <th md-column md-order-by="description"><span translate>Description</span></th>
                    <th md-column hide show-gt-sm md-order-by="location_name"><span translate>Location</span></th>
                    <th md-column hide show-gt-sm md-order-by="last_heartbeat"><span translate>Last Seen</span></th>
                    <th md-column hide show-gt-md md-order-by="mac" class="no-padding"><span translate>Mac</span></th>
                    <th md-column><span translate>Action</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="location" ng-repeat="box in filtered = (boxes | filter: query.filter | orderBy: query.order )">
                    <td md-cell>
                      <md-icon md-menu-origin md-menu-icon="check_circle" class="box-status online" ng-if="box.state == 'online'">check_circle</md-icon>
                      <md-icon md-menu-origin md-menu-icon="error_outline" class="box-status offline md-warn" ng-if="box.state != 'online'" class="s48">error_outline</md-icon>
                    </td>
                    <td hide show-gt-sm md-cell class="box-icon">
                      <span ng-if="box.device_icon">
                        <img class="box" src="https://d3e9l1phmgx8f2.cloudfront.net/images/manufacturer-images/{{ ::box.device_icon }}" width="32px" title="{{ ::box.machine_type }}"/>
                        <md-tooltip ng-if="box.machine_type">
                          {{ ::box.machine_type }}
                        </md-tooltip>
                      </span>
                    </td>
                    <td md-cell>
                      <a href="/#/locations/{{ location.slug}}/devices/{{ box.slug }}">
                        {{ ::box.description | truncate:20 }}
                      </a>
                      <md-tooltip hide-gt-sm ng-if="box.machine_type">
                        {{ ::box.machine_type }}
                      </md-tooltip>
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ ::box.location_name }}
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ box.last_heartbeat | humanTime }}
                    </td>
                    <td hide show-gt-md md-cell>
                      {{ ::box.mac }}
                    </td>
                    <td md-cell>
                      <md-menu>
                        <md-button aria-label="{{ 'Open Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item>
                            <md-button href="/#/locations/{{ box.location_slug }}/devices/{{ box.slug }}">
                              <md-icon>router</md-icon>
                              <p flex translate>View Device</p>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button href="/#/locations/{{ box.location_slug }}">
                              <md-icon>business</md-icon>
                              <p flex translate>Location</p>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item >
                            <md-button ng-click="ignore(box)">
                              <md-icon>volume_up</md-icon>
                              <p flex>{{ box.ignored | booleanToggle }}</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination ng-if="_links.total_entries > query.limit" md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

          </md-card>

        </div>
      </div>
    </md-content>
</div>
