<div ng-show="loggedIn === true">

  <section>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            md-selected-item="selectedItem"
            ng-enter="search(item._key)"
            md-search-text-change="searchTextChange(searchText)"
            md-no-cache="true"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in querySearch(searchText)"
            md-item-text="item._key"
            md-min-length="5"
            md-autofocus="true"
            md-menu-class="locations-autocomplete"
            placeholder="{{ 'Search' | translate }}">

          <md-item-template >
            <a ng-click="go(item.slug)">
              <span class="item-title">
                <!-- ZAK - TO DO -->
                <md-icon>{{ item._index == 'devices' ? "router" : "business" }}</md-icon>
            <span>&nbsp;{{ item._key }}</span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat" translate translate-n="{{ ::item._score }}" translate-plural="{{ ::item._score || 0}} records">
                  Found 1 record
                </span>
              </span>
            </a>
          </md-item-template>
          <md-not-found translate>
            No results found.
          </md-not-found>
        </md-autocomplete>
        <br/>
      </form>
      <div flex></div>
      <md-button class="md-icon-button md-accent" href="/#/locations/new" aria-label="{{ 'Add Device' | translate }}" hide show-gt-xs>
        <md-icon>add_circle</md-icon>
        <md-tooltip md-direction="bottom">
          <translate>
            Add a new location.
          </translate>
        </md-tooltip>
      </md-button>
    </div>
    <md-divider></md-divider>
  </md-toolbar>
  </section>

  <md-content class="md-padding">
    <home-stat-cards></home-stat-cards>
    <div layout="column" layout-xs="column" layout-sm='column' iilayout-wrap layout-gt-sm='row' ng-if="!pinned && !alerts">
      <div flex-sm="50" flex-md="33" flex-gt-md="33">
        <dashing hide-gt-sm></dashing>
        <favourites></favourites>
      </div>
      <div flex-sm="50" flex-md="66" flex-gt-md="66">
        <periscope></periscope>
        <div layout="column" layout-xs="column" layout-sm='column' iilayout-wrap layout-gt-sm='row'>
          <!-- <div flex-sm="50" flex-md="50" flex-gt-md="33"> -->
          <!--   <warnings></warnings> -->
          <!-- </div> -->
          <div flex-md="50" flex-gt-md="33">
            <dash-inventory></dash-inventory>
          </div>
          <div flex-md="50" flex-gt-md="33">
            <app-status></app-status>
          </div>
        </div>
      </div>
    </div>
  </md-content>

  <favourites-extended ng-if="pinned && !alerts"></favourites-extended>

</div>
