<mapbox map-id="polkaspots.ic4p9aa5" lat="51.52" lng="-0.10" zoom="10" div='map'>

  <div ng-repeat="location in locations | filter: query | orderBy:orderProp | filter: { summary: { boxes_alerting: boxAlerts } } | filter: { network_name: networkName }">

    <marker lat="{{location.lat}}" lng="{{location.lng}}" color="#39cccc" network="{{ location.network_name }}" alerting="{{location.summary.boxes_alerting}}" symbol="grocery" boxes="{{ location.summary.boxes_count }}" ng-if="location.lat && location.lng">

      <h4>
        {{location.location_name}}
        <br>
        <small>{{ location.location_address }}</small>
        <br><small>Network: {{ location.network_name }}</small>
        <br><small>Box alerts: {{ location.summary.boxes_alerting ? "Yes" : "No" }}</small></li>
      </h4>
      <hr>
      <p>
        <small>
          Boxes: {{ location.summary.boxes_count }}
          <br>
          Sessions: {{ location.summary.total_sessions }}
          <br>
          Downloads: {{ location.summary.total_downloads }}
          <br>
          Connected: {{ location.summary.connected_clients }}
        </small>
      </p>
      <hr>
      <a href="/#/locations/{{ location.slug }}" class="tiny" >View</a>



    </marker>

  </div>

</mapbox>
