<loader></loader>
<div ng-hide="loading" ng-cloak>
  <md-content class="md-padding" layout="column" layout-gt-xs='column'>
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div layout="row" flex="50">
                <md-input-container>
                  <label>
                    <translate>Event Type</translate>
                  </label>
                  <md-select ng-model="query.object" ng-change="search()">
                    <md-option ng-repeat="trigger in triggers" value="{{trigger.value}}">
                      {{ trigger.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>
                    <translate>Level</translate>
                  </label>
                  <md-select ng-model="query.level" ng-change="search()">
                    <md-option ng-repeat="level in levels" value="{{ level.value }}">
                      {{ level.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex></div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-table-container>
              <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row>
                    <th hide show-gt-sm md-column md-desc><span translate>Level</span></th>
                    <th md-column md-desc><span translate>Summary</span></th>
                    <th hide show-gt-sm md-column md-desc><span translate>Resource</span></th>
                    <th hide show-gt-sm md-column md-desc><span translate>Location</span></th>
                    <th hide show-gt-sm md-column md-desc><span translate>User</span></th>
                    <th hide show-gt-sm md-column md-order-by="created_at"><span translate>Created</span></th>
                    <th md-column><span translate>Action</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="event" ng-repeat="event in filtered = (events | filter: filter | orderBy: query.order)">
                    <td hide show-gt-sm md-cell>
                      {{ ::event.level | eventLevel }}
                    </td>
                    <td md-cell>
                      <a href="/#/events/{{ event.id }}">{{ event.description | eventSummary:event.event_type | truncate:50 }}</a>
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ ::event.object | titleCase }}
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ ::event.location_name }}
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ ::event.username }}
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ ::event.created_at | humanTime }}
                    </td>
                    <td md-cell>
                      <md-menu>
                        <md-button aria-label="{{ 'Open Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                          <md-menu-item>
                            <md-button ng-href="/#/events/{{ event.id }}">
                              <md-icon>pageview</md-icon>
                              <p flex translate>View Event</p>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button ng-disabled="!event.short" ng-href="/#/?xtr={{ event.short }}">
                              <md-icon>pageview</md-icon>
                              <p flex translate>View Resource</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination ng-if="_links.total_entries > query.limit" md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-content>
</div>
