<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Event Details</span>
            <!-- <span class="md-subhead">Large</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <show-event event="event"></show-event>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" ng-if="event.url">
          <md-button href="{{event.url}}">View</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>

