<div>
  <p translate>Download the firmware for your devices. <span ng-if="!user_is_guest">You can read about installing the firmwares in the&nbsp;<a href="http://docs.cucumberwifi.io/category/404-firmware-integration" target="_blank">documentation</a>.</span></p>
  <div flex flex-gt-sm="30" layout="column">
    <md-input-container>
      <label>
        <translate>Choose a firmware version</translate>
      </label>
        <md-select iiing-if="firmwares.length" ng-model="firmware">
        <md-option ng-repeat="f in firmwares" value="{{f.url}}">
          {{f.type}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <md-button ng-click="download()" class="md-raised" ng-disabled="!firmware" aria-label="{{ 'download firmware' }}"><translate>Download</translate></md-button>
</div>
