<md-dialog aria-label="{{ 'Upgrade Device' | translate }}" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Upgrade Your Device</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 translate>Firmware Upgrade</h2>
        <p translate>Upgrade your firmware to the latest version. Firmware upgrades include security updates and new features.</p>
        <div flex-xs flex="50" ng-if="ps">
          <md-input-container>
            <label>
              <translate>Enter a Version</translate>
            </label>
            <input ng-model="prefs.version" placeholder="B_160201_01">
          </md-input-container>
        </div>
        <div flex-xs flex="50">
          <md-checkbox ng-model="prefs.now" aria-label="{{ 'Upgrade Now' | translate }}">
            <translate>
              Upgrade Now
            </translate>
          </md-checkbox>
        </div>
        <div flex-xs flex="100" ng-hide="prefs.now">
          <h4 translate>Upgrade at 2am localtime on the following date</h4>
          <md-datepicker ng-model="myDate" md-placeholder="{{ 'Enter date' | translate }}" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        <translate>
          Cancel
        </translate>
      </md-button>
      <md-button ng-click="runUpgrade()" style="margin-right:20px;" translate>
        upgrade <span ng-if="upgrade.now">now</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
