<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="goto('page1')" name="page1">
      People
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page2')" name="page2">
      Reports
    </md-nav-item>
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <div>
    <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1>
    <h2>People</h2>
  </div>

  <span flex="" class="flex"></span>

</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>
  <div flex layout="column">

    <md-card>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-order-by="active" md-column><span translate>Name</span></th>
              <th md-column md-order-by="interface_ipaddr"><span translate>Last Seen</span></th>
              <th md-column md-order-by="access_type"><span translate>First Seen</span></th>
              <th md-column><span translate>Options</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>
                  Bert Morley
              </td>
              <td md-cell>
                  12/12/17
              </td>
              <td md-cell>
                  12/12/12
              </td>
              <td md-cell>
                <md-button aria-label="{{ 'Open Networks Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                </md-button>
              </td>
            </tr>
            <tr md-row>
              <td md-cell>
                  Max Powers
              </td>
              <td md-cell>
                  12/12/17
              </td>
              <td md-cell>
                  12/12/12
              </td>
              <td md-cell>
                <md-button aria-label="{{ 'Open Networks Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                </md-button>
              </td>
            </tr>
            <tr md-row>
              <td md-cell>
                  Mike Hunt
              </td>
              <td md-cell>
                  12/12/17
              </td>
              <td md-cell>
                  12/12/12
              </td>
              <td md-cell>
                <md-button aria-label="{{ 'Open Networks Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                </md-button>
              </td>
            </tr>
            <tr md-row>
              <td md-cell>
                  Tony Gourdon
              </td>
              <td md-cell>
                  12/12/17
              </td>
              <td md-cell>
                  12/12/12
              </td>
              <td md-cell>
                <md-button aria-label="{{ 'Open Networks Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination ng-if="_links.total_entries" md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-card>
  </div>
</md-content>
