<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="goto('page1')" name="page1">
      People
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page2')" name="page2">
      Reports
    </md-nav-item>
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <div>
    <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1>
    <h2>People</h2>
  </div>

  <span flex="" class="flex"></span>

  <div>
    <md-input-container flex="100" ng-show="networks.length > 0">
      <md-icon md-font-icon="search">search</md-icon>
      <label></label>
      <input ng-model="query.filter" md-autofocus placeholder="{{'Search People' | translate }}">
    </md-input-container>
  </div>

</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>
  <div flex layout="column">

    <md-card>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column><span translate></span></th>
              <th md-order-by="active" md-column><span translate>Name</span></th>
              <th md-column md-order-by="interface_ipaddr"><span translate>Last Seen</span></th>
              <th md-column md-order-by="access_type"><span translate>First Seen</span></th>
              <th md-column ng-show="menu.length"><span translate>Options</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-class="network.highlight ? 'highlight' : ''" md-row ng-repeat="network in filtered = (networks | filter: query.filter | filter: band | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit)">
              <td md-cell>
                <md-icon md-menu-origin md-font-icon="">{{ network.active ? "check_circle" : 'cancel' }}</md-icon>
              </td>
              <td md-cell>
                <a href="/#/locations/{{ location.slug }}/networks/{{ network.id }}">
                  {{ network.ssid }}
                </a>
              </td>
              <td hide show-gt-sm md-cell>
                {{network.bridge_to_switch_ports ? '' : network.interface_ipaddr + '/' + network.interface_netmask }}
              </td>
              <td hide show-gt-sm md-cell>
                <span>
                  {{ network.access_type | translatableNetworkAccess | titleCase }}
                  <md-tooltip ng-if="network.access_type != 'open'" >
                    {{ network.encryption_type }}
                  </md-tooltip>
                </span>
              </td>
              <td md-cell ng-show="menu.length">
                <span ng-if="network.state == 'processing'">
                  <md-progress-circular class="md-warn" md-diameter="40"></md-progress-circular>
                </span>
                <span ng-if="network.state != 'processing'">
                  <md-menu>
                    <md-button aria-label="{{ 'Open Networks Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                      <md-menu-item ng-repeat="item in menu">
                        <md-button ng-click="action(network,item.type)" ng-disabled="network.access_type != 'password' && item.type == 'share'">
                          <md-icon md-menu-origin md-font-icon="{{ item.icon}}">{{ item.icon }}</md-icon>
                          <p flex>{{ item.name }}</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination ng-if="_links.total_entries" md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-card>
  </div>
</md-content>
