<analytics ng-if="!loading">
  <client-chart>
    <radius-stats render="emails"></radius-stats>

    <div layout="" layout-wrap class="md-padding">
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="Unique Users" type="radius.users" render="total-users" period="{{period}}" show-gt-sm></dash-clients-chart>
      </div>
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="New Users" type="radius.new" render="new-users" show-gt-sm></dash-clients-chart>
      </div>
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="Sessions" type="radius.sessions" render="radius-sessions" show-gt-sm></dash-clients-chart>
      </div>
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="Splash Views" type="splash.views" render="splash-views" show-gt-sm></dash-clients-chart>
      </div>
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="Popular Hours" type="radius.popular" popular="true" render="popular-hours" bar="true" show-gt-sm></dash-clients-chart>
      </div>
      <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 50}}" ng-hide="fs && fs.panel != 'usage'">
        <dash-clients-chart name="Emails" type="emails.new" bar="true" render="new-emails" show-gt-sm></dash-clients-chart>
      </div>
    </div>
  </client-chart>
</analytics>