body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Temp fixes to address */

ul {
  line-height: 1.5rem;
}

.hidden { display: none; }

.official-fw {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: #16AC5B!important;
}

.custom-fw {
  color: blue;
}

.hard-break {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+, 6, 7, 8 compability-mode */
  -ms-word-break: break-all; /* Internet Explorer 8 */
}

.marker-action a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
}

table.table-logs {
  font-family: courier, courier new, serif;
}

table.table-logs tr:focus {
  outline: none;
}

table.table-logs td {
  font-size: 10px!important;
}

table.table-logs tr {
  height: 26px!important;
}

table.table-logs > tbody {
  background-color: #ffffff;
}

table.table-logs > tbody > tr.table-expand:nth-of-type(2) > td {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

table.table-logs > tbody > tr.table-expand > td:nth-of-type(1) {
  border-right: 1px rgba(0, 0, 0, 0.12) dotted;
}

table.table-logs > tbody:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table.table-logs > tbody > tr:hover {
  background-color: #e8e8e8;
}

table.table-logs > tbody > tr.table-expand {
  background-color: #ffffff;
  text-indent: -130px;
  height: 20px!important;
}

.status-icon {
  width: 10px;
}

md-table-container::-webkit-scrollbar {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 1px;
  height: 5px;
}

md-table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #CCC;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.md-toolbar-tools md-input-container {
  margin-top: 50px;
}

.user-avatar {
  border-radius: 99%;
}

td a {
  font-weight: 500;
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

td a:hover, td a:focus {
  color: #3b78e7;
  text-decoration: none;
  background-image: -webkit-linear-gradient(transparent 94%,#3b78e7 94%);
  background-image: linear-gradient(transparent 94%,#3b78e7 94%);
}

md-menu-item > button.md-button {
  display: inline;
}

a.no-anchor-style {
  color: inherit;
  text-decoration: none;
}

md-menu-content {
  max-height: 504px;
}

.intercom-foot-pad {
  padding-bottom: 70px;
}

.align-right {
  text-align: right!important;
}

form.flow {
  font-size: 1.1rem;
}

form.flow label {
  margin: 10px 0 10px 0;
}

form .url {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 25px;
}

.heartbeat-table {
  width: 100%;
  max-width: 100px;
}

/* Temp fixes to address */

.ng-hide.ng-hide-animate{
  display: none !important;
}

.locations-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.locations-autocomplete li:last-child {
  border-bottom-width: 0;
}

.locations-autocomplete .item-title, .locations-autocomplete .item-metadata {
  display: block;
  line-height: 2;
}

md-toolbar md-autocomplete {
  min-width: 300px;
  margin-top: 18px;
  /* height: 15px; */
}

@media (max-width: 600px) {
  md-toolbar md-autocomplete {
    min-width: 230px;
  }
}

.login {
  background: #455A64; /* Old browsers */
  background: -moz-linear-gradient(top,  #455A64 0%, #37474F 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #455A64 0%,#37474F 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #455A64 0%,#37474F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455A64', endColorstr='#37474F',GradientType=0 ); /* IE6-9 */
  z-index: 1000000000;
}

.login-spin-hide {
  display: none;
}

.login-spin {
  display: block;
}

.integrations-icon-show {
  width: 60px;
}

.picker-wider .md-datepicker-input {
  min-width: 155px;
}

.picker-smaller .md-datepicker-input {
  min-width: 90px;
}

.picker-smaller .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: rgba(0,0,0,0.87);
}

.picker-smaller .md-datepicker-triangle-button.md-button.md-icon-button {
  margin-top: -4px;
}

.md-datepicker-calendar-pane {
 border-radius: 2px;
}

.md-datepicker-button {
  display: none;
}

.s12.material-icons {
  font-size: 16px;
}

md-card-header.graph-small {
  padding: 0px 0 0 20px;
}

.graph-small md-card-header-text {
  padding: 10px 0 0 0px;
}

.design-sidebar .md-no-style {
  border-bottom: 1px solid #ECECEC;
  padding: 2px 0px 2px 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.870588);
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
}

.design-sidebar .md-no-style md-icon {
  float:right;
  padding-right:15px;
  padding-top:7px;
}

.design-sidebar .md-button-toggle {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 5px;
  margin: 0 0 0px 0;
  max-height: 40px;
  overflow: hidden;
  padding: 7px 16px 20px 5px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
}

.design-sidebar .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 2px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.design-sidebar .menu-toggle-list {
  padding-top: 20px;
}

splash-designer .design-sidebar {
  min-width: 350px;
  max-height: 100vh!important;
  overflow: scroll;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.design-sidebar md-tabs {
  height: calc(100vh - 100px);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

@media (max-width: 960px) {
  .design-sidebar md-tabs {
    height: calc(100vh - 150px);
  }
  splash-designer .design-sidebar {
    height: calc(100vh - 50px);
  }
  .designer {
    height: calc(100vh - 50px)!important;
  }
}

md-toolbar.md-table-toolbar .sidenav {
  padding: 0px;
}

md-sidenav.site-sidenav {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-sidenav .divider {
  padding 7px 0 0 0;
  margin: 15px 0 10px 0;
}

md-sidenav.design-sidebar {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}

md-sidenav.md-sidenav-right ul {
  margin: 0px -15px 0 -13px;
}

.splash-design-buttons {
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  margin-top: 5%%;
  margin-bottom: 5%;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 80px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

.active {
  background-color: rgba(158,158,158,0.2);
}

.bottom-right {
  top: auto;
  right: 90px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

md-button-group {
  border-radius: 3px;
  display: inline-block;
  padding: 0;
  margin: 6px 8px;
  min-height: 36px;
  min-width: 88px;
}

md-button-group.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-button-group > .md-button {
  text-transform: lowercase;
  border-radius: 0;
  border: 0;
  min-width: 20px;
  margin: 0;
}

.small-chart {
  min-height: 250px;
}

.clients-charts md-card {
  min-height: 350px;
}

.dashboard-charts md-card {
  min-height: 450px;
}

.md-button .active {
  background-color: rgba(158,158,158,0.2)!important;
}

.md-toolbar-tools {
  font-size: 14px;
}

.online {
  color: #4CAF50!important;
}

.processing {
  color: #E91E63!important;
}

.ignored {
  color: #E91E63!important;
}

.muted {
  color: #607D8B;
}

.offline {
  color: #F44336;
}

.dnat {
  color: #FF9800;
}

img.box {
  width: 20px!important;
  max-height: 20px!important;
}

img.state-icon {
  width: 18px!important;
  height: 18px!important;
}

img.box-image {
  margin-bottom: -6px;
  height: 22px;
  padding: 0 8px;
}

table.clients th {
  font-size: 0.65rem!important;
}

table.clients td {
  font-size: 0.65rem!important;
  /* padding: 0 12px 0 5px!important; */
}

table.md-table tr.highlight {
  background-color: #eeeeee !important;
}

table.md-table tr.muted td.md-cell {
  color: #607D8B;
}

table.md-table td.with-padding {
  padding: 0 0 0 25px!important;
}

table.md-table.md-row-select td.box-icon {
  padding: 2px 5px 0 0px!important;
}

table.md-table.md-row-select td.box-status {
  padding: 2px 0px 0 10px!important;
}

/* .box-spinner { */
/*   margin: 5px; */
/*   padding: 0; */
/* } */

ul.errors {
  margin: -20px -35px -15px -20px;
}

.layout-padding {
  padding: 14px;
}

.design-sidebar .layout-padding {
  height: 100%;
}

md-toolbar h3 {
  margin: auto;
  margin: auto 20px;
  font-weight: 500;
}

table td {
  white-space: nowrap;
}

table tr td, table.print-friendly tr th {
  page-break-inside: avoid;
}

.menu-subhead {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .010em;
  padding: 0 16px 0 20px;
  color: rgba(0,0,0,0.54);
  max-width: 250px;
  word-break: break-word;
}

.copy {
  color: #ccc;
  font-size: 90%;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 10;
}

.side-menu .material-icons {
  margin-right: 27px;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  /* line-height: 55px; */
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 3px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 37px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.minicolors-theme-bootstrap .minicolors-swatch {
  top: 5px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 35px;
  margin-bottom: -20px;
}

.inputdemoErrorsAdvanced {
}

.hint {
  font-size: 12px;
  line-height: 24px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

#map_canvas_container {position: relative;}
#map_canvas {position: absolute; top: 65px; left: 0; bottom: 0; right: 0;}
#map_canvas_wide {position: absolute; top: 54px; left: 0px; bottom: 0; right: 0;}
#map_canvas_inner {width: 100%; height: 465px; margin: 43px 0;}

.md-toolbar-tools a {
  font-size: 20px;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 60%;
  margin: 0 20px;
  opacity: 0.5;
}

.payload-card {
  height: 600px;
  position: relative;
}

md-card.payload-card md-card-content {
  padding: 16px 16px 0px 16px;
}

[scroll-glue] {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  max-height: 90%;
  height: 450px;
  max-width: 100%;
  padding: 0px 20px 20px 20px;
}

.list-messages {
  border-radius: 4px;
  border: 1px solid #e4e4e4;
}

.message-small {
  color: #c5c5c5;
  font-size: 10px;
}

.message-small a {
  color: #c5c5c5;
  text-decoration: none;
}

.message-small .material-icons {
  font-size: 18px;
  color: #c5c5c5;
}

#messages-outer {

}

#message-list {
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: .25rem solid transparent;
  padding: 20px 20px 80px 20px;
}

#message-footer {
  /* display: flex; */
  /* bottom: 0; */
  /* width: 100%; */
  background: #fff;
}

.message-inner {
  border-bottom: 1px solid #f5f3f3;
  padding: 10px 0;
}

#message-footer input {
  font-size: 16px;
  height: 20px;
  outline-width: 1px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 16px;
  margin: -15px 0 10px 8px;
  width:calc(100% - 51px);
  width:-moz-calc(100% - 51px);
  width:-webkit-calc(100% - 51px);
}

.message-input input:focus {
  outline-color: transparent;
  outline-style: none;
  text-transform: lowercase;
}

.triggers pre {
  margin-top: -30px;
}

.emojionearea, .emojionearea.form-control {
  box-shadow: none !important;
  border-width: 0 0 1px 0 !important;
}

pre .list-unstyled {
  list-style: none;
  margin: 0px 0 -40px -40px;
  line-height: 8px;
}

md-card.highlight-section {
  background-color: #f4f8ff;
}

.ssid-form {
  height: 400px;
}

#new-ssid-form.ssid-form {
  height: 100%;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
  position: initial !important;
}

.emojionearea .emojionearea-editor {
  color: rgba(0,0,0,0.87) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-stretch: normal !important;
  font-style: normal !important;
  font-variant-caps: : normal !important;
  font-variant-ligatures: : normal !important;
  font-variant-numeric: : normal !important;
  font-weight: : normal !important;
}

.google-visualization-tooltip {
  z-index: 1000;
  background-color: white;
  left: 30px !important;
  top: 30px !important;
}

.google-visualization-tooltip > div > div > div {
  margin: 12px 0 12px 0 !important;
  padding: 0 24px 0 12px !important;
}

location-boxes md-table-container {
  overflow: visible !important;
}

location-boxes table {
  overflow: visible !important;
}

.heartbeats-tooltip-separator {
  height: 1px !important;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  z-index: 1000;
}

[heartbeat-chart] {
  margin-top: 5px;
}

[heartbeat-chart] > div > div:nth-child(1) > div > div > svg > g:nth-child(2) > rect {
  opacity: 0 !important;
}

[heartbeat-chart] > div > div:nth-child(1) > div > div > svg > g:nth-child(2) > path {
  opacity: 0 !important;
}

[heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(2) > text {
  opacity: 0 !important;
}

[heartbeat-chart] > div > div:nth-child(1) > div > svg > g:nth-child(2) > rect {
  opacity: 0 !important;
}

[heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(3) > text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

@media (max-width: 960px) {
  [heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(3) > text {
    display: none!important;
  }

  [heartbeat-chart] > div > div:nth-child(1) > div > svg > g:nth-child(2) > path {
    opacity: 0 !important;
  }

  [heartbeat-chart]> div > div:nth-child(1) {
    height: 60px!important;
  }
}

.md-sidenav-left, .md-sidenav-left md-content {
  background: #37484f;
  color: #EEEEEE;
}

.md-sidenav-left md-divider {
  border-top-color: #263238;
}

.sidenav.md-toolbar-tools {
  background: #37484f;
}

.md-sidenav-left .menu-heading.menu-subhead {
  color: #EEEEEE;
}

.menu-heading.menu-subhead .material-icons {
  color: #EEEEEE;
}

.md-sidenav-left .side-menu .material-icons {
  color: #EEEEEE;
}

.md-sidenav-left .side-menu .menu-subhead {
  color: #EEEEEE;
}

md-bottom-sheet .md-subheader {
  white-space: normal;
  line-height: 26px;
}

@media (min-width: 600px) {
  .ssid-form {
    width: 350px;
  }
}

.page-loader {
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  left: 0;
  position: absolute;
  background-color: white;
}

.home-stat-icon {
  display:flex;
  justify-content:center;
  align-items:center;
}

.home-stat-icon md-icon.material-icons {
  font-size: 32px;
  height:auto;
  width:auto;
}

.locked-account {
  background-color: #ff007f;
  margin: 7px;
  padding: 80px 0px;
  /* font-weight: bold; */
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/*colour picker*/

.color-picker-wrapper {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  padding-bottom: 5px;
}

.color-picker-swatch {
  border-radius: 30px;
  border-width: 1px!important;
}

.color-picker-input-wrapper input {
  border: 0px;
  outline: 0px;
}

.color-picker-input {
  min-width: 200px;
}

/*  */

.muted.label {
  font-size: 12px;
  padding-left: 2px;
  color: rgba(0,0,0,.54);
}

/*people page*/

.people-icon {
  border-radius: 30px;
  max-height: 30px;
  max-width: 30px;
  margin-right: 20px;
}

.people-avatar {
  border-radius: 100px;
  max-height: 100px;
  max-width: 100px;
}

.people-filter md-card-content {
  padding-top: 0px;
}

@media (min-width: 960px) {
  .people-filter {
    position:fixed;
    width:calc(30% - 31px);
    width:-moz-calc(30% - 31px);
    width:-webkit-calc(30% - 31px);
  }
  .people-filter > md-card {
    height: calc(100vh - 120px);
  }
  .people-filter md-card md-card-content {
    overflow: auto;
    height: 100%;
  }
  .people-table > md-card {
    height: calc(100vh - 120px);
  }
  .people-table md-card md-table-container {
    overflow: auto;
    height: 100%;
    margin-right:-5px;
  }
}

.md-subhead {
  font-size: 15px;
  font-weight: 700;
  color: rgba(113, 113, 113, 0.87);
}

table.md-table td.md-cell {
  color: rgba(0, 0, 0, 0.75);
}

md-card.md-default-theme, md-card {
  color: rgba(0, 0, 0, 0.75);
}

.person-social {
  margin: auto 0px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

@media (min-width: 960px) {
  /* md-card.people-prof {
    height: calc(100vh - 203px);
    min-height: 496px;
  } */
  /* md-card.people-prof md-card-title {
    min-height: 120px;
  } */
  md-card.people-prof md-card-content {
    padding: 0px;
    overflow: auto;
    height: 100%;
  }
  md-card.people-email {
    height: calc(100vh - 510px);
    min-height: 190px;
  }
  md-card.people-email md-table-container {
    overflow: auto;
    height: 100%;
    margin-right:-5px;
  }
  md-card.people-socials {
    height: 290px;
  }
  md-card.people-devices {
    height: calc(50vh - 110px);
    min-height: 240px;
  }
  md-card.people-devices md-table-container {
    overflow: auto;
    height: 100%;
    margin-right:-5px;
  }
  md-card.people-sms {
    height: calc(50vh - 110px);
    min-height: 240px;
  }
  md-card.people-sms md-table-container {
    overflow: auto;
    height: 100%;
    margin-right:-5px;
  }

}

email-stats md-list-item h2 {
  color: rgba(0, 0, 0, 0.57);
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 10px;
}
email-stats md-list-item p {
  color: rgba(0, 0, 0, 0.50);
}
email-stats .email-stats-bottom md-list-item h2 {
  font-size:18px;

}
email-stats .email-stats-bottom md-list-item p {
  font-size:12px;
}
@media (min-width: 960px) {
  .email-stats-top {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }
  .email-stats-bottom {
    padding-top: 10px;
  }
}
@media (max-width: 960px) {
  .email-stats-top {
    border-right: 1px solid #e0e0e0;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .email-stats-top {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    border-right: none;
  }
  .email-stats-bottom {
    padding-top: 10px;
  }
}

/* timeline */

.timeline-column {
  margin-left: 8px;
}

.timeline-column md-tab-content {
  margin-top: 20px;
}

.timeline-top, .timeline-bottom {
  height: 30px;
  margin-left: 39px;
  padding-left: 39px;
  border-left: 2px dashed rgba(0, 136, 187,0.5);
}

.timeline-post {
  position: relative;
  margin-left: 39px;
  padding-left: 39px;
  border-left: 2px solid rgba(0, 136, 187,0.5);
}

.timeline-post hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  margin: 0px;
}

.timeline-post md-card {
  margin-bottom: 40px;
}

.timeline-post:first-of-type md-card {
  margin-top: 40px;
}

.timeline-icon img {
  position: absolute;
  max-width: 40px;
  top: 3px;
  left: -21px;
  border-top: 5px solid #fafafa;
  border-bottom: 5px solid #fafafa;
}

.timeline-post md-list {
  padding: 0px;
}

.timeline-post md-list-item {
  padding: 0px;
  height: 40px;
  min-height: 40px;
  margin-bottom: 16px;
}

img.timeline-avatar {
  margin: auto 0px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 420px;
}

/*  */

.login-type-icon {
  max-height: 30px;
  max-width: 30px;
  margin-right: 5px;
}

div.warning {
  background-color: #ffe9b4;
  padding: 5px;
  text-align: center;
  border: solid 1px #ffd165;
  border-radius: 4px;
}
