body {
  font-family: 'Source Sans Pro', sans-serif;
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1), (min-width: 1280px) {*/
@media only screen (min-width: 1280px) {
  body {
    font-size: 2.2vmin;
  }

  .md-headline {
    font-size: 3.2vmin;
  }

  .md-subhead, md-card md-card-title md-card-title-text .md-subhead {
    font-size: 2vmin;
  }

  md-list-item.md-2-line .md-list-item-text p, md-list-item.md-2-line > .md-no-style .md-list-item-text p, md-list-item.md-3-line .md-list-item-text p, md-list-item.md-3-line > .md-no-style .md-list-item-text p {
    font-size: 1.9vmin;
  }

  md-list .md-subheader {
    font-size: 1.9vmin;
  }

  .md-button {
    font-size: 1.9vmin;
  }

  table.md-table th.md-column {
    font-size: 1.9vmin;
  }

  table.md-table td.md-cell {
    font-size: 1.9vmin;
  }
}

ul {
  line-height: 1.5rem;
}

.hidden { display: none; }

.official-fw {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: #16AC5B!important;
}

.custom-fw {
  color: blue;
}

.hard-break {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+, 6, 7, 8 compability-mode */
  -ms-word-break: break-all; /* Internet Explorer 8 */
}

.marker-action a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
}

table.table-logs {
  font-family: courier, courier new, serif;
}

table.table-logs tr:focus {
  outline: none;
}

table.table-logs td {
  font-size: 10px!important;
}

table.table-logs tr {
  height: 26px!important;
}

table.table-logs > tbody {
  background-color: #ffffff;
}

table.table-logs > tbody > tr.table-expand:nth-of-type(2) > td {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

table.table-logs > tbody > tr.table-expand > td:nth-of-type(1) {
  border-right: 1px rgba(0, 0, 0, 0.12) dotted;
}

table.table-logs > tbody:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table.table-logs > tbody > tr:hover {
  background-color: #e8e8e8;
}

table.table-logs > tbody > tr.table-expand {
  background-color: #ffffff;
  text-indent: -130px;
  height: 20px!important;
}

.status-icon {
  width: 10px;
}

md-table-container::-webkit-scrollbar {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 1px;
  height: 5px;
}

md-table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #CCC;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.md-toolbar-tools md-input-container {
  margin-top: 50px;
}

div > md-toolbar:nth-child(1) {
  background-color: white;
  z-index: 22;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

div > md-toolbar:nth-child(1) md-icon {
  /*color: #EF476F;*/
  background: -webkit-linear-gradient(45deg, #EF476F 10%, #F78C6B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-avatar {
  border-radius: 99%;
}

td a {
  font-weight: 500;
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

td a:hover, td a:focus {
  color: #3b78e7;
  text-decoration: none;
  background-image: -webkit-linear-gradient(transparent 94%,#3b78e7 94%);
  background-image: linear-gradient(transparent 94%,#3b78e7 94%);
}

md-menu-item > button.md-button {
  display: inline;
}

a.no-anchor-style {
  color: inherit;
  text-decoration: none;
}

md-menu-content {
  max-height: 504px;
}

.intercom-foot-pad {
  padding-bottom: 70px;
}

.align-right {
  text-align: right!important;
}

form.flow {
  font-size: 1.1rem;
}

form.flow label {
  margin: 10px 0 10px 0;
}

form .url {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 25px;
}

.heartbeat-table {
  width: 100%;
  max-width: 100px;
}

table.md-table th.md-column span {
  color: #EF476F;
}

table.md-table th.md-column span a, table.md-table th.md-column a {
  text-decoration: none;
}

table.md-table td.md-cell {
  border-right: 1px rgba(0, 0, 0, 0.12) solid;
}

table.md-table tr > td.md-cell:last-of-type {
  border-right: none;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 0 24px 0 24px;
}

table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
  padding: 0 24px 0 24px;
}

/* Temp fixes to address */

.ng-hide.ng-hide-animate{
  display: none !important;
}

.locations-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.locations-autocomplete li:last-child {
  border-bottom-width: 0;
}

.locations-autocomplete .item-title, .locations-autocomplete .item-metadata {
  display: block;
  line-height: 2;
}

md-toolbar md-autocomplete {
  min-width: 300px;
  margin-top: 18px;
  /* height: 15px; */
}

@media (max-width: 600px) {
  md-toolbar md-autocomplete {
    min-width: 230px;
  }
}

.login {
  background: #475a87; /* Old browsers */
  z-index: 1000000000;
}

.login-spin-hide {
  display: none;
}

.login-spin {
  display: block;
}

.integrations-icon-show {
  width: 60px;
}

.picker-wider .md-datepicker-input {
  min-width: 155px;
}

.picker-smaller .md-datepicker-input {
  min-width: 90px;
}

.picker-smaller .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: rgba(0,0,0,0.87);
}

.picker-smaller .md-datepicker-triangle-button.md-button.md-icon-button {
  margin-top: -4px;
}

.md-datepicker-calendar-pane {
 border-radius: 2px;
}

.md-datepicker-button {
  display: none;
}

.s12.material-icons {
  font-size: 16px;
}

md-card-header.graph-small {
  padding: 0px 0 0 20px;
}

.graph-small md-card-header-text {
  padding: 10px 0 0 0px;
}

.design-sidebar .md-no-style {
  border-bottom: 1px solid #ECECEC;
  padding: 2px 0px 2px 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.870588);
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
}

.design-sidebar .md-no-style md-icon {
  float:right;
  padding-right:15px;
  padding-top:7px;
}

.design-sidebar .md-button-toggle {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 5px;
  margin: 0 0 0px 0;
  max-height: 40px;
  overflow: hidden;
  padding: 7px 16px 20px 5px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
}

.design-sidebar .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 2px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.design-sidebar .menu-toggle-list {
  padding-top: 20px;
}

md-toolbar.md-table-toolbar .sidenav {
  padding: 0px;
}

md-sidenav.site-sidenav {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  z-index: 65;
}

md-sidenav.site-sidenav .md-button {
  min-width: 60px;
}

md-sidenav.site-sidenav .sidenav-bottom .md-button {
  min-width: 40px;
  margin: 10px;
}

md-sidenav.site-sidenav .sidenav-bottom .md-button a {
  text-decoration: none;
}

md-sidenav.site-sidenav .sidenav-bottom .md-button md-icon {
  color: #485b88;
}

md-sidenav.site-sidenav .sidenav-bottom .md-button:hover md-icon {
  color: #5a72a9;
  transition: 0.2s;
}

md-sidenav.site-sidenav .md-button md-icon {
  margin: auto;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-sidenav .divider {
  padding 7px 0 0 0;
  margin: 15px 0 10px 0;
}

md-sidenav.design-sidebar {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}

md-sidenav.md-sidenav-right ul {
  margin: 0px -15px 0 -13px;
}

.splash-design-buttons {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 80px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

.active {
  padding-left: 13px!important;
  border-image-slice: 1!important;
}

li:nth-child(1) .active {
  border-left: 3px solid #0088bb;
  -moz-border-image: -moz-linear-gradient(25deg, #0088bb 10%, #0acffe 100%);
  -webkit-border-image: -webkit-linear-gradient(25deg, #0088bb 10%, #0acffe 100%);
  border-image: linear-gradient(25deg, #0088bb 10%, #0acffe 100%);

}

li:nth-child(2) .active {
  border-left: 3px solid #17ac5b;
  -moz-border-image: -moz-linear-gradient(25deg, #17ac5b 10%, #9be15d 100%);
  -webkit-border-image: -webkit-linear-gradient(25deg, #17ac5b 10%, #9be15d 100%);
  border-image: linear-gradient(25deg, #17ac5b 10%, #9be15d 100%);
}

li:nth-child(3) .active {
  border-left: 3px solid #8e2d56;
  -moz-border-image: -moz-linear-gradient(25deg, #8e2d56 10%, #c471f5 100%);
  -webkit-border-image: -webkit-linear-gradient(25deg, #8e2d56 10%, #c471f5 100%);
  border-image: linear-gradient(25deg, #8e2d56 10%, #c471f5 100%);
}

.active md-icon {
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

li:nth-child(1) .active md-icon {
  color: #0088bb!important;
  background: -webkit-linear-gradient(45deg, #0088bb 10%, #0acffe 100%);
}

li:nth-child(2) .active md-icon {
  color: #17ac5b!important;
  background: -webkit-linear-gradient(45deg, #17ac5b 10%, #9be15d 100%);
}

li:nth-child(3) .active md-icon {
  color: #8e2d56!important;
  background: -webkit-linear-gradient(45deg, #8e2d56 10%, #c471f5 100%);
}

.bottom-right {
  top: auto;
  right: 90px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

md-button-group {
  border-radius: 3px;
  display: inline-block;
  padding: 0;
  margin: 6px 8px;
  min-height: 36px;
  min-width: 88px;
}

md-button-group.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-button-group > .md-button {
  text-transform: lowercase;
  border-radius: 0;
  border: 0;
  min-width: 20px;
  margin: 0;
}

.small-chart {
  min-height: 250px;
}

.clients-charts md-card {
  min-height: 350px;
}

.dashboard-charts md-card {
  min-height: 450px;
}

.md-button .active {
  background-color: rgba(158,158,158,0.2)!important;
}

.md-toolbar-tools {
  font-size: 14px;
}

.online {
  color: #4CAF50!important;
}

.processing {
  color: #E91E63!important;
}

.ignored {
  color: #E91E63!important;
}

.muted {
  color: rgba(0, 0, 0, 0.50);
}

.offline {
  color: #F44336;
}

.dnat {
  color: #FF9800;
}

img.box {
  width: 20px!important;
  max-height: 20px!important;
}

img.state-icon {
  width: 18px!important;
  height: 18px!important;
}

img.box-image {
  margin-bottom: -6px;
  height: 22px;
  padding: 0 8px;
}

/* table.md-table.md-row-select td.md-cell:nth-child(2), table.md-table.md-row-select th.md-column:nth-child(2) { */
/*   padding: 0 0px 0 12px; */
/* } */

table.clients th {
  font-size: 0.65rem!important;
}

table.clients td {
  font-size: 0.65rem!important;
  /* padding: 0 12px 0 5px!important; */
}

table.md-table tr.highlight {
  background-color: #eeeeee !important;
}

table.md-table tr.muted td.md-cell {
  color: #607D8B;
}

table.md-table td.with-padding {
  padding: 0 0 0 25px!important;
}

/* table.md-table.md-row-select th.no-padding { */
/*     padding: 0 0px 0 10px!important; */
/* } */

table.md-table.md-row-select td.box-icon {
  padding: 2px 5px 0 0px!important;
  text-align: center;
}

table.md-table.md-row-select td.box-status {
  padding: 2px 0px 0 10px!important;
}

/* .box-spinner { */
/*   margin: 5px; */
/*   padding: 0; */
/* } */

ul.errors {
  margin: -20px -35px -15px -20px;
}

.layout-padding {
  padding: 14px;
}

.design-sidebar .layout-padding {
  height: 100%;
}

md-toolbar h3 {
  margin: auto;
  margin: auto 20px;
  font-weight: 500;
}

table td {
  white-space: nowrap;
}

table tr td, table.print-friendly tr th {
  page-break-inside: avoid;
}

.menu-subhead {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .010em;
  padding: 0 16px 0 20px;
  color: rgba(0,0,0,0.54);
  max-width: 250px;
  word-break: break-word;
}

.copy {
  color: #ccc;
  font-size: 90%;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 10;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 37px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.minicolors-theme-bootstrap .minicolors-swatch {
  top: 5px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 35px;
  margin-bottom: -20px;
}

.inputdemoErrorsAdvanced {
}

.hint {
  font-size: 12px;
  line-height: 24px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

#map_canvas_container {position: relative;}
#map_canvas {position: absolute; top: 65px; left: 0; bottom: 0; right: 0;}
#map_canvas_wide {position: absolute; top: 54px; left: 0px; bottom: 0; right: 0;}
#map_canvas_inner {width: 100%; height: 465px; margin: 43px 0;}

.md-toolbar-tools a {
  font-size: 20px;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 60%;
  margin: 0 20px;
  opacity: 0.5;
}

[scroll-glue] {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  max-height: 90%;
  top: 80px;
  bottom: 100px;
  left: 20px;
  right: 0;
}

.message-small {
  color: #c5c5c5;
  font-size: 10px;
}

.message-small a {
  color: #c5c5c5;
  text-decoration: none;
}

.message-small .material-icons {
  font-size: 18px;
  color: #c5c5c5;
}

#messages-outer {

}

#message-list {
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: .25rem solid transparent;
  padding: 20px 20px 80px 20px;
}

#message-footer {
  position: fixed;
  bottom: 0;
  width: 75%;
  background: #fff;
}

.message-inner {
  border-bottom: 1px solid #f5f3f3;
  padding: 10px 0;
}

#message-footer input {
  font-size: 16px;
  height: 20px;
  outline-width: 1px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px 0 10px 14px;
  width: 99%;
}

.message-input input:focus {
  outline-color: transparent;
  outline-style: none;
  text-transform: lowercase;
}

.message-notifier {
  padding: 0 20px;
}

.triggers pre {
  margin-top: -30px;
}

pre .list-unstyled {
  list-style: none;
  margin: 0px 0 -40px -40px;
  line-height: 8px;
}

md-card.highlight-section {
  background-color: #f4f8ff;
}

.ssid-form {
  height: 400px;
}

#new-ssid-form.ssid-form {
  height: 100%;
}

.google-visualization-tooltip {
  z-index: 1000;
  background-color: white;
  left: 30px !important;
  top: 30px !important;
}

.google-visualization-tooltip > div > div > div {
  margin: 12px 0 12px 0 !important;
  padding: 0 24px 0 12px !important;
}

location-boxes table {
  overflow: visible !important;
}

.heartbeats-tooltip-separator {
  height: 1px !important;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  z-index: 1000;
}

[heartbeat-chart] {
  margin-top: 5px;
}

[heartbeat-chart] > div > div:nth-child(1) > div > div > svg > g:nth-child(2) > rect {
  opacity: 0 !important;
}

[heartbeat-chart] > div > div:nth-child(1) > div > div > svg > g:nth-child(2) > path {
  opacity: 0 !important;
}

[heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(2) > text {
  opacity: 0 !important;
}

[heartbeat-chart] > div > div:nth-child(1) > div > svg > g:nth-child(2) > rect {
  opacity: 0 !important;
}

[heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(3) > text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

@media (max-width: 960px) {
  [heartbeat-chart]> div > div:nth-child(1) > div > svg > g:nth-child(3) > text {
    display: none!important;
  }

  [heartbeat-chart] > div > div:nth-child(1) > div > svg > g:nth-child(2) > path {
    opacity: 0 !important;
  }

  [heartbeat-chart]> div > div:nth-child(1) {
    height: 60px!important;
  }
}

/* pre { */
/*   text-space-collapse: trim-inner; */
/* } */

/*sidebar style*/

.md-sidenav-left, .md-sidenav-left md-content {
  background: white;
  color: #EEEEEE;
}

.md-sidenav-left md-divider {
  border-top-color: #263238;
}

.sidenav.md-toolbar-tools {
  background: white;
}

.md-sidenav-left .menu-heading.menu-subhead {
  color: #EEEEEE;
}

.menu-heading.menu-subhead .material-icons {
  color: #EEEEEE;
}

.md-sidenav-left .side-menu .material-icons {
  color: #cfd8dc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.md-sidenav-left .side-menu .md-button:hover {
  background-color: #f9fafb;
}

.md-sidenav-left .side-menu .md-button:hover .material-icons {
  color: #b0bec6;
  transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.md-sidenav-left .side-menu .menu-subhead {
  color: #EEEEEE;
}

.sidenav .mimo-logo {
  margin: auto;
  cursor: pointer;
}

.sidenav .mimo-logo img {
  width: 40px;
  margin-top: 5px;
}

@media (min-width: 960px) {
  #locationSidebar {
    margin-left: 60px;
  }
}

/*top nav styles*/

.top-nav {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 21;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  overflow-x: auto;
}

@media (max-width: 959px) {
  .top-nav {
    top: 49px;
  }
}

.top-nav .md-nav-bar {
  border-bottom: 0px;
}

.top-nav md-nav-ink-bar {
  /*background: -webkit-linear-gradient(25deg, #EF476F 10%, #F78C6B 100%)!important;*/
  display: none!important;
}

.top-nav .md-active ._md-nav-button-text {
  background: -webkit-linear-gradient(25deg, #EF476F 10%, #F78C6B 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

people-nav .top-nav .md-active ._md-nav-button-text {
  background: -webkit-linear-gradient(25deg, #0088bb 10%, #0acffe 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

splash-nav .top-nav .md-active ._md-nav-button-text {
  background: -webkit-linear-gradient(25deg, #17ac5b 10%, #9be15d 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

camp-nav .top-nav .md-active ._md-nav-button-text {
  background: -webkit-linear-gradient(25deg, #8e2d56 10%, #c471f5 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.top-nav .md-active {
  border-bottom: 3px solid #EF476F;
  -moz-border-image: -moz-linear-gradient(80deg, #EF476F 10%, #F78C6B 100%);
  -webkit-border-image: -webkit-linear-gradient(80deg, #EF476F 10%, #F78C6B 100%);
  border-image: linear-gradient(80deg, #EF476F 10%, #F78C6B 100%);
  border-image-slice: 1;
  padding-bottom: 9px!important;
}

people-nav .top-nav .md-active {
  border-bottom: 3px solid #0088bb;
  -moz-border-image: -moz-linear-gradient(80deg, #0088bb 10%, #0acffe 100%);
  -webkit-border-image: -webkit-linear-gradient(80deg, #0088bb 10%, #0acffe 100%);
  border-image: linear-gradient(80deg, #0088bb 10%, #0acffe 100%);
  border-image-slice: 1;
  padding-bottom: 9px!important;
}

splash-nav .top-nav .md-active {
  border-bottom: 3px solid #17ac5b;
  -moz-border-image: -moz-linear-gradient(80deg, #17ac5b 10%, #9be15d 100%);
  -webkit-border-image: -webkit-linear-gradient(80deg, #17ac5b 10%, #9be15d 100%);
  border-image: linear-gradient(80deg, #17ac5b 10%, #9be15d 100%);
  border-image-slice: 1;
  padding-bottom: 9px!important;
}

camp-nav .top-nav .md-active {
  border-bottom: 3px solid #8e2d56;
  -moz-border-image: -moz-linear-gradient(80deg, #8e2d56 10%, #c471f5 100%);
  -webkit-border-image: -webkit-linear-gradient(80deg, #8e2d56 10%, #c471f5 100%);
  border-image: linear-gradient(80deg, #8e2d56 10%, #c471f5 100%);
  border-image-slice: 1;
  padding-bottom: 9px!important;
}

/*top doc link styles*/

.md-button.md-fab.doc-link {
  z-index: 23;
  position: fixed;
  top: -2px;
  right: 10px;
}

@media (max-width: 959px) {
  .md-button.md-fab.doc-link {
    right: 160px;
  }
}

/*top trial link styles*/

.top-nav get-with-the-plan {
  margin-right: 130px;
}

@media (max-width: 959px) {
  .top-nav get-with-the-plan {
    margin-right: 0px;
  }
}


/*toast text style*/

md-bottom-sheet .md-subheader {
  white-space: normal;
  line-height: 26px;
}

@media (min-width: 600px) {
  .ssid-form {
    width: 350px;
  }
}

.page-loader {
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  left: 0;
  position: absolute;
  background-color: white;
}

/*home-n-stuff*/

.home-stat-icon {
  display:flex;
  justify-content:center;
  align-items:center;
}

.home-stat-icon md-icon.material-icons {
  font-size: 32px;
  height:auto;
  width:auto;
}

/*page info*/

.page-meta > div > div > md-select > md-select-value > .md-select-icon {
  margin: 0 -1px;
}

/*.page-meta md-input-container {
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}*/

.page-meta h1 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.page-meta h2 {
  color: rgba(0, 0, 0, 0.57);
  font-weight: 400;
  margin-bottom: 0px;
}

.page-meta {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-bottom: 0px;
}

/*colour picker*/

.color-picker-wrapper {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  padding-bottom: 5px;
}

.color-picker-swatch {
  border-radius: 30px;
  border-width: 1px!important;
}

.color-picker-input-wrapper input {
  border: 0px;
  outline: 0px;
}

.color-picker-input {
  min-width: 200px;
}

/*integration*/

.integration-cards {
  align-items:stretch;
}

.int-pic {
  position:relative;
  min-height:80px;
  height:100%;
}

.int-pic img {
  max-height: 60px;
  max-width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.int-select {
  cursor: pointer;
}

.integration-type img {
  max-height: 60px;
}

@media (max-width: 959px) {
  .integration-type img {
    max-height: 40px;
  }
}


/*guide pages*/

.check-mark {
  max-width: 40px;
  margin-right: 15px;
}

.guide-card md-content, .guide-card .md-subheader {
  background-color: rgb(255,255,255);
}

/*location sidebar*/

.location-sidebar-top {
  padding-left: 20px;
  padding-right: 20px;
}

.location-sidebar-top md-input-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.location-sidebar-top p {
  color: rgba(0, 0, 0, 0.87);
}

.locations > thead > tr > th > a {
  color: #EF476F;
}

/*campaign*/

.predicates div {
  padding-top: 15px;
}

.predicates ul {
  padding-left: 15px;
  margin-top: 0px;
}

.predicates li {
  color: rgba(0, 0, 0, 0.50);
}

/*general changes*/

.example-data {
  background-color: #ffe9b4;
  margin: 7px;
  padding: 10px;
  /*font-weight: bold;*/
  text-align: center;
  border: solid 1px #ffd165;
  border-radius: 4px;
}

.md-button.md-primary.md-raised {
  background-color: #f0466e;
}

.md-button.md-primary.md-raised[disabled] {
  background-color: rgba(0,0,0,0.12);
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #f0466e;
}

md-card {
  border-radius: 4px;
}

md-card.b-pn, md-card.b-db, md-card.b-bl, md-card.b-or, md-card.b-gr, md-card.b-yl, md-card.b-pr {
  position: relative;
}

/*md-card.b-pn::after, md-card.b-db::after, md-card.b-bl::after, md-card.b-or::after, md-card.b-gr::after, md-card.b-yl::after, md-card.b-pr::after {
  content:'';
  width: 40%;
  height: 4px;
  border-radius: 0 0 -10px -10px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
}*/

md-card.b-pn::after, md-card.b-db::after, md-card.b-bl::after, md-card.b-or::after, md-card.b-gr::after, md-card.b-yl::after, md-card.b-pr::after {
  content:'';
  width: 30px;
  height: 30px;
  border-radius: 4px 0 0 0;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(0%) translateY(0%);
}

md-card.b-pn::after {
  background: linear-gradient(135deg, #f0476e 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-db::after {
  background: linear-gradient(135deg, #485b88 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-bl::after {
  background: linear-gradient(135deg, #0088bb 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-or::after {
  background: linear-gradient(135deg, #f78c6b 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-gr::after {
  background: linear-gradient(135deg, #17ac5b 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-yl::after {
  background: linear-gradient(135deg, #ffd165 7px, rgba(0,0,0,0) 0) top left;
}

md-card.b-pr::after {
  background: linear-gradient(135deg, #8e2d56 7px, rgba(0,0,0,0) 0) top left;
}

md-card .md-card-image {
  border-radius: 4px 4px 0 0;
}

md-dialog {
  border-radius: 4px;
}

.md-button {
  border-radius: 4px;
}

a {
  color: rgb(71, 90, 136);
}

md-list .md-subheader {
  font-size: 16px;
  color: rgb(71, 90, 136);
}

.md-subhead a {
  font-weight: 500;
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

.md-subhead a:hover, .md-subhead a:focus {
  color: #3b78e7;
  text-decoration: none;
  background-image: -webkit-linear-gradient(transparent 94%,#3b78e7 94%);
  background-image: linear-gradient(transparent 94%,#3b78e7 94%);
}

.payment-portal md-tabs-canvas {
  display: none;
}

.splash-settings md-divider {
  border-top-width:1px!important;
}

td.activePlan {
  background: #ffe9b4;
}

table#plans td.md-cell {
  padding: 8px 24px;
  font-size: 14px;
}

.splash-table td.md-cell:nth-of-type(1) {
  width: 60px;
  text-align: center;
}

table a {
  font-weight: 600;
  color: rgb(71, 90, 136);
}

/*WYSIWYG start*/

.mce-container * {
  color: rgba(0,0,0,0.9)!important;
  font-family: 'Source Sans Pro', sans-serif!important;
}

.mce-container.mce-toolbar-grp {
  background-color: transparent!important;
  padding: 0px!important;
}

.mce-panel, .mce-btn {
  background-color: white!important;
}

.mce-btn {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.mce-btn:hover, .mce-btn:active {
  background-color:#F5F5F5!important;
  border-color: transparent!important;
}

.mce-ico {
  color: rgba(0,0,0,0.7)!important;
  font-family: 'tinymce',Arial!important;
}

.mce-edit-area {
  border-bottom: 1px solid rgb(224, 224, 224)!important;
  border-top: 1px solid rgb(224, 224, 224)!important;
}

.mce-statusbar {
  border-top: 0px solid rgb(224, 224, 224)!important;
  background: transparent!important;
}

.mce-tinymce.mce-container.mce-panel {
  border: 1px solid rgb(224, 224, 224)!important;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 10px;
}

.mce-toolbar-grp .mce-flow-layout-item {
  margin: 0;
}

.mce-widget.mce-btn.mce-menubtn.mce-first.mce-last {
  border-radius: 4px 0px 0px 0px!important;
}

.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
  background-color:#F5F5F5!important;
}

.mce-menu {
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in {
  border-radius: 4px!important;
}

.mce-window-head {
  border-bottom: 1px solid rgb(224, 224, 224)!important;
}

.mce-foot {
  border-top: 1px solid rgb(224, 224, 224)!important;
  border-radius: 0px 0px 4px 4px;
}

.mce-combobox input, .mce-textbox {
  border: 0px solid rgb(224, 224, 224)!important;
  border-bottom: 1px solid rgb(224, 224, 224)!important;
}

.mce-combobox input:focus, .mce-textbox:focus {
  border-bottom: 1px solid #f0476e!important;
}

.mce-window-head {
  padding: 15px 15px!important;
}

.mce-window-head .mce-close {
  right: 7px!important;
  top: 7px!important;
}

/*WYSIWYG end*/

@media (min-width: 960px) {
  .people-filter {
    position:fixed;
    width:calc(30% - 31px);
    width:-moz-calc(30% - 31px);
    width:-webkit-calc(30% - 31px);
  }
  .people-filter md-card {
    max-height: 88vh;
  }
  .people-filter md-card md-card-content {
    overflow: auto;
  }
}
