<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <div>
    <h1>{{location.location_name ? location.location_name : '&nbsp;'}}</h1>
    <h2>Campaigns</h2>
  </div>

</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>
  <div flex layout="column">

    <md-card>
      <div class="md-toolbar-tools" ng-cloak>
        <span class="md-subhead" translate>
          You have a total of {{ _links.total_entries || 0 }} campaigns.
        </span>
      </div>
      <span flex><span>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column><span translate>Subject</span></th>
              <th md-column><span translate>Body</span></th>
              <th md-column><span translate>Created</span></th>
              <th md-column><span translate>Type</span></th>
              <th md-column><span translate>Options</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="campaign in campaigns">
              <td md-cell>
                <a href="/#/locations/{{ location.slug }}/campaigns/{{ campaign.slug }}">{{ campaign.attr_1 || '-' }}</a>
              </td>
              <td md-cell>
                {{ campaign.attr_2 ? campaign.attr_2.length > 25 ? campaign.attr_2.substring(0,22) + '...' : campaign.attr_2 : '-' }}
              </td>
              <td md-cell>
                {{ campaign.created_at | humanTime }}
              </td>
              <td md-cell>
                {{ campaign.campaign_type }}
              </td>
              <td md-cell>
                <md-menu md-position-mode="target target">
                  <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item>
                      <md-button ng-href="/#/locations/{{ location.slug }}/campaigns/{{ campaign.slug}}">
                        <md-icon md-menu-align-target style="margin: auto 3px auto 0;">pageview</md-icon>
                        <span translate>View</span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="delete(campaign)">
                        <md-icon md-menu-align-target style="margin: auto 3px auto 0;">delete_forever</md-icon>
                        <span translate>Delete</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-limit-options="query.options" md-total="{{::_links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-card>
  </div>
</md-content>
