<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" aria-label="{{ 'Vouchers' | translate }}">
      <md-icon md-font-icon="" >notifications_active</md-icon>
    </md-button>
    <p translate>Campaigns</p>
    <div flex></div>
    <md-button ng-show="allowed == true" ng-click="create()" class="md-icon-button md-accent">
      <md-icon>add_circle</md-icon>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form ng-submit="search()" name="myForm">

  <md-content class="md-padding" ng-show="triggers.length || query.page">
    <md-card ng-show="triggers.length">
      <md-card-content>
        <md-card-title ng-show="!xctTrggrs && location.slug && triggers.length">
          <md-card-title-text>
            <span class="md-headline" translate>Campaigns</span>

          </md-card-title-text>
        </md-card-title>
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead md-head>
              <tr md-row class="md-table-headers-row">
                <th md-column md-order-by="active"><span translate>Active</span></th>
                <th md-column md-order-by="name"><span translate>Name</span></th>
                <th hide show-gt-sm md-column md-order-by="type"><span translate>Type</span></th>
                <th hide show-gt-sm md-column md-order-by="channel"><span translate>Channel</span></th>
                <th hide show-gt-sm md-column><span translate>Runs</span></th>
                <th md-column translate>Action</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="trigger" md-auto-select="options.autoSelect" ng-repeat="trigger in filtered = (triggers | filter: query.filter | orderBy: query.direction)">
                <td md-cell>
                  <md-icon md-menu-origin md-font-icon="">{{ trigger.active ? "check_circle" : 'warning' }}</md-icon>
                  <md-tooltip>
                    <translate>
                      <span ng-if="trigger.active" translate>Trigger is active</span>
                      <span ng-if="!trigger.active" translate>Trigger disabled</span>
                    </translate>
                  </md-tooltip>
                </td md-cell>
                <td md-cell>
                  <a href="/#/locations/{{ location.slug }}/campaigns/{{ trigger.id }}">
                    {{ trigger.trigger_name }}
                  </a>
                  <md-tooltip hide-gt-sm>
                    <translate>
                      Type: {{ trigger.trigger_type }}. Runs: {{ trigger.run_count }}
                    </translate>
                  </md-tooltip>
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  {{ trigger.trigger_type }}
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  {{ trigger.trigger_event == 'action' ? 'inbound' : trigger.channel }}
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  <span>
                    {{ trigger.run_count }}
                    <md-tooltip>
                      <translate>
                        Fails: {{ trigger.total_fail_count || 0}}
                      </translate>
                    </md-tooltip>
                  </span>
                </td md-cell>
                <td md-cell>
                  <md-menu>
                    <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                      <md-menu-item ng-repeat="item in menu">
                        <md-button ng-click="action(item.type,trigger)" ng-disabled="{{ menuDisabled(item.type, client) || (trigger.locked && item.type == 'delete' ) }}">
                          <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                      <p flex>{{ item.name }}</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination ng-if="_links.total_entries" md-limit="query.limit" md-page="query.page" md-total="{{_links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</form>
