<div class="modal-header">
  <h2 class="modal-title">No Internet.</h2>
  <hr>
</div>
<div class="modal-body">
    <p>Looks like you've lost connection. It's probably best you wait until you reconnect, otherwise we can't save your changes.</p>
    <p><b>If you rebooted you box or synced any network settings, you might have been disconnected.</b></p><p>Check you're connected to the correct network and that the box has connectivity.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
