<splash-nav location="location"></splash-nav>

<md-content class="md-padding page-meta" layout="column" layout-gt-sm='row' layout-wrap>

  <div flex="40">
    <md-card>
      <form name='myForm' autocomplete="off">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>Field Settings</span>
            <span class="md-subhead" translate>Click a field to edit. Drag to reorder.</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <md-input-container class="md-block" ng-hide='selected.name == "username"'>
            <label>
              <translate>Field Name</translate>
            </label>
            <input ng-class="{ 'input-error' : myForm.name.$error.required || myForm.name.$error.maxlength || myForm.name.$error.pattern }" ng-model='selected.name' name='name' type='text' ng-minlength='5' md-maxlength='255' ng-pattern='/^[a-zA-Z0-9\ ]+$/' md-autofocus required></input>
            <div ng-messages="myForm.name.$error" md-auto-hide="false">
              <div ng-message="required" translate>You must set a name for the field.</div>
              <div ng-message="pattern" translate>Number and letters only please.</div>
              <div ng-message="md-maxlength" translate>Max 255 characters.</div>
              <div ng-message="minlength" translate>Must be more than 5 characters.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>
              <translate>Field Label</translate>
            </label>
            <input ng-model='selected.label' type='text' ng-minlength="5" md-maxlength='255' name='label' ng-pattern='/^[a-zA-Z0-9\ ]+$/' required></input>
            <div ng-messages="myForm.label.$error">
              <div ng-message="required" translate>You must set a label for the field.</div>
              <div ng-message="pattern" translate>Number and letters only please.</div>
              <div ng-message="md-maxlength" translate>Max 255 characters.</div>
              <div ng-message="minlength" translate>Must be more than 5 characters.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" ng-hide='selected.name == "username"'>
            <label>
              <translate>Field Type</translate>
            </label>
            <md-select ng-model="selected.field_type" required>
              <md-option ng-repeat="t in types" value="{{t.value}}">
                {{t.key}}
              </md-option>
            </md-select>
          </md-input-container>

          <div layout="column" ng-show='selected.field_type == "radio" || selected.field_type == "dropdown"'>
            <md-input-container class="md-block">
              <label ng-if="newF.field_type === 'radio'" translate>Radio Values (comma separated)</label>
              <label ng-if="newF.field_type !== 'radio'" translate>Dropdown Options (comma separated)</label>
              <input ng-model='selected.attrs' type='text' ng-maxlength='255' placeholder="{{ 'Enter the vals here' | translate }}"></input>
            </md-input-container>
          </div>

          <md-switch aria-label="{{ 'Disabled switch' | translate }}" ng-model="selected.required" ng-hide='selected.name == "username"'>
            <translate>Required Field</translate>
          </md-switch>

          <md-switch aria-label="{{ 'Hidden switch' | translate }}" ng-model="selected.hidden" ng-hide="selected.name === 'username'" ng-hide='selected.name == "username"'>
            Hidden Field
          </md-switch>

          <small translate>Advanced</small>
          <md-button ng-click="toggle('advanced')" aria-controls="splash" class="md-secondary md-icon-button" aria-label="call">
            <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ isOpen('advanced') ? "up" : "down" }}</md-icon>
          </md-button>

          <div ng-show="isOpen('advanced')" id="advanced" class="menu-toggle-list" layout="column" layout-gt-sm="column">
            <md-input-container class="md-block" ng-hide='selected.name == "username" || selected.name == "password"'>
              <label>
                <translate>Default Value</translate>
              </label>
              <input ng-model='selected.value' name="value" type='text' ng-maxlength='100' placeholder="{{ 'Default field value' | translate }}"></input>
              <div ng-messages="myForm.value.$error" md-auto-hide="false">
                <div ng-message="pattern" translate>Number and letters only please.</div>
                <div ng-message="md-maxlength" translate>Max 100 characters.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>
                <translate>Unique ID</translate>
              </label>
              <input ng-model='selected.unique_id' type='text' ng-minlength="5" ng-maxlength='255' name='unique_id' placeholder="{{ 'Unique Field ID' | translate }}"></input>
            </md-input-container>
          </div>

          <div ng-show='selected.name == "username"'>
            <small translate>The username / email field is mandatory and can't be removed.</small>
          </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="deleteField()" ng-show="selected._id && selected.name != 'username'" class="md-raised"><translate>Delete</translate></md-button>
          <md-button ng-click="newField()" ng-hide="" class="md-raised">New Field</md-button>
          <md-button ng-click="save(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised md-primary">
            <span ng-if="selected._id" translate>Save</span>
            <span ng-if="!selected._id" translate>Create</span>
          </md-button>
        </md-card-actions>
      </form>
    </md-card>

  </div>
  <div flex></div>
  <div flex="60">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Form Preview</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>

        <md-input-container class="md-block" flex-gt-xs>
          <label>
            <translate>Description (appears on splash page, not draggable)</translate>
          </label>
          <textarea ng-blur="save()" ng-model="form.message" name="description" md-maxlength="100" rows="3"></textarea>
          <div ng-messages="myForm.description.$error">
            <div ng-message="md-maxlength" translate>Must be less than 100 characters</div>
          </div>
        </md-input-container>

        <div id="dragable">
          <div ng-repeat='field in form.registration_fields | orderBy:order:reverse' id='{{ field._id }}' ng-click='selectedInput($index)' ng-class="{selected: $index==selectedIndex}" ng-hide='field._destroy'>

            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            <md-input-container class="md-block" ng-if="field.field_type == 'email' || field.field_type == 'text' || field.field_type == 'password'">
              <label>{{ field.label }}</label>
              <input itype='{{field.field_type}}' placeholder='{{field.label}}' ng-model='stats.value' ng-required='field.required' disabled></input>
            </md-input-container>

            <md-input-container class="md-block" ng-if="field.field_type == 'textarea'">
              <label>{{ field.label }}</label>
              <textarea rows="3" placeholder='{{field.label}}' ng-model='field.value' ng-required='field.required' disabled></textarea>
            </md-input-container>

            <div layout="column" ng-if="field.field_type == 'dropdown'">
              <md-input-container class="md-block" style="margin-top: -10px;">
                <label>{{ field.label }}</label>
                <md-select ng-model="ctrl.userState" ng-if="field.field_type == 'dropdown'">
                  <md-option ng-repeat="f in field.attrs">
                    {{f | titleCase }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <md-checkbox ng-model="data.cb1" aria-label="{{ 'Checkbox 1' | translate}}" ng-if="field.field_type == 'checkbox'">
              {{ field.label | titleCase }}
            </md-checkbox>

            <div layout="column" ng-if="field.field_type == 'radio'">
              <md-radio-group ng-model="data.group1" layout="row">
                <span ng-repeat="f in field.attrs">
                <md-radio-button style="margin-top: -30px; padding: 20px 20px 20px 0;" value="{{ f }}" class="md-primary">{{ f | titleCase }}</md-radio-button>
                </span>
              </md-radio-group>
            </div>

          </div>
        </div>
        <p>Click and drag a field to re-order.</p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
