<splash-nav location="location"></splash-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">
  <div flex="100" flex-gt-md="90" ng-show="location.paid == false">
    <div layout="row" layout-wrap>
      <div flex="100" flex-gt-sm="40">
        <h2>Getting Started with Splash Pages</h2>
      </div>
      <div flex="100" flex-gt-xs="100" flex-gt-sm="60">
        <md-card class="b-gr">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Start your free trial today!
              </span>
              <p>To use splash pages, you will need an active subscription. Start your 14 day trial now.</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <get-with-the-plan location="location" ng-show="location.paid == false"></get-with-the-plan>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>

  <div flex="100" flex-gt-md="90">
    <md-card class="b-gr">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <translate>What are splash pages?</translate>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-align="center center">
          <div flex="100" flex-gt-sm="45" flex-gt-md="30">
            <p translate>Splash pages are the gateway to your guest WiFi, allowing you to control your guest's access</p>
            <p translate>Welcome your customers when they arrive with a variety of login types.</p>
            <o translate>Capture their email addresses & social details to engage with them and display special offers.</p>
            <p translate>With unlimited sessions, you don't need to worry about additional monthly costs.</p>
          </div>
          <div flex></div>
          <div flex="100" flex-gt-sm="45" flex-gt-md="60">
            <img style="max-width: 90%;" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/designer.jpg"></img>
          </div>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <splash-new style="md-raised" pages="splash_pages"></splash-new>
      </md-card-actions>
    </md-card>
  </div>

</md-content>
