<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px" ng-show="splash_pages.length > 0">
      <md-icon md-font-icon="search">search</md-icon>
      <label></label>
      <input ng-model="query.filter" md-autofocus placeholder="{{'Filter Splash' | translate }}">
    </md-input-container>
    <md-button ng-if="!splash_pages.length" id="main" class="md-icon-button md-primary" aria-label="{{ 'Splash' | translate }}">
      <md-icon md-font-icon="">layers</md-icon>
    </md-button>
    <p ng-if="splash_pages.length === 0" translate>Splash Pages</p>
    <div flex></div>
    <splash-new style="md-icon-button md-accent" pages="splash_pages"></splash-new>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>

  <div ng-hide="splash_pages.length">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <!-- <md-icon md-font-icon=""></md-icon> -->
            <translate>Get Started</translate>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>Create a Splash Page to control your guest's access.</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <splash-new style="md-raised" pages="splash_pages"></splash-new>
      </md-card-actions>
    </md-card>

  </div>

  <div flex layout="column" ng-show="splash_pages.length">

    <md-card>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column md-order-by="active"><span translate>Active</span></th>
              <th hide show-gt-sm md-column md-order-by="splash_name"><span translate>Name</span></th>
              <th md-column md-order-by="primary_access"><span translate>Type</span></th>
              <th hide show-gt-sm md-column><span translate>Network</span></th>
              <th hide show-gt-sm md-column md-order-by="weight"><span translate>Weight</span></th>
              <th md-column ng-show="menu.length"><span translate>Action</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-class="splash.highlight ? 'highlight' : ''" md-row ng-repeat="splash in filtered = (splash_pages | filter: query.filter | filter: band | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit)">
              <td md-cell>
                <md-icon md-menu-origin md-font-icon="">{{ splash.active ? "check_circle" : 'cancel' }}</md-icon>
              </td>
              <td hide show-gt-sm md-cell>
                <a href="/#/locations/{{ location.slug }}/splash_pages/{{ splash.id }}" translate>
                  <span ng-if="splash.splash_name" translate>{{splash.splash_name}}</span>
                  <span ng-if="!splash.splash_name" translate>{{'No name' | truncate:20}}</span>
                </a>
                <md-tooltip>
                  <translate>Created {{ splash.created_at | humanTime }}</translate>
                </md-tooltip>
              </td>
              <td md-cell>
                {{ splash.primary_access }}
                <md-tooltip hide-gt-sm>
                  <translate>Name {{ splash.splash_name }}</translate>
                </md-tooltip>
              </td>
              <td hide show-gt-sm md-cell>
                <span ng-if="splash.networks.length < 1"></span>
                <span ng-if="splash.networks.length == 1">{{ splash.networks[0] }}</span>
                <span ng-if="splash.networks.length > 1" span>{{ splash.networks.length }} networks</span>

              </td>
              <td hide show-gt-sm md-cell>
                {{ splash.weight }}
              </td>
              <td md-cell ng-show="menu.length">
                <span ng-if="network.state == 'processing'">
                  <md-progress-circular class="md-warn" md-diameter="40"></md-progress-circular>
                </span>
                <span ng-if="splash.state != 'processing'">
                  <md-menu>
                    <md-button aria-label="{{ 'Open Splash Menu' | translate}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                      <md-menu-item ng-repeat="item in menu">
                        <md-button ng-click="action(splash.id,item.type)" ng-disabled="false">
                          <md-icon md-menu-origin md-font-icon="{{ item.icon}}">{{ item.icon }}</md-icon>
                          <p flex>{{ item.name }}</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <!-- <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination> -->
    </md-card>
  </div>
</md-content>
