<form name="myForm">

  <div ng-hide='splash.splash.updating'>
    <p translate>Splash Designer</p>
  </div>

  <div ng-show='splash.splash.updating'>
    <p translate>Saving...</p>
    <md-progress-linear md-mode="query"></md-progress-linear>
  </div>

  <!-- <div layout="row" layout-align="center center" ng-cloak> -->
  <!--   <md-fab-speed-dial md-open="true" md-direction="up" class="md-fling bottom-right"> -->
  <!--     <md-fab-trigger> -->
  <!--       <md-button aria-label="menu" class="md-fab md-warn"> -->
  <!--         <md-icon md-font-icon="save">menu</md-icon> -->
  <!--       </md-button> -->
  <!--     </md-fab-trigger> -->
  <!--     <md-fab-actions> -->
  <!--       <md-button ng-click="splash.save(splash.splash,myForm)" aria-label="Save" class="md-fab md-raised md-mini"> -->
  <!--         <md-icon md-font-icon="save">save</md-icon> -->
  <!--       </md-button> -->
  <!--       <md-button ng-click="splash.preview()" aria-label="Preview" class="md-fab md-raised md-mini"> -->
  <!--         <md-icon md-font-icon="pageview">pageview</md-icon> -->
  <!--       </md-button> -->
  <!--       <md-button ng-click="splash.back()" aria-label="Back" class="md-fab md-raised md-mini"> -->
  <!--         <md-icon md-font-icon="arrow_back" >arrow_back</md-icon> -->
  <!--       </md-button> -->
  <!--     </md-fab-actions> -->
  <!--   </md-fab-speed-dial> -->
  <!-- </div> -->

  <md-button class="md-no-style" ng-click="splash.toggle('bg')" aria-controls="bg">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('bg') ? "up" : "down" }}</md-icon>
    <translate>Background Image</translate>
  </md-button>

  <div ng-show="splash.isOpen('bg')" id="images" class="menu-toggle-list">
    <md-card>
      <img ng-show="splash.splash.background_image_name" src="{{splash.splash.background_image_name}}" class="md-card-image" alt="Background">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline translate">Background Image</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>
          Upload a background image. Please note, large images will delay page load times.
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-warn" ng-disabled="!splash.splash.background_image_name" aria-label="{{ 'delete' | translate }}" ng-click="splash.deleteBg(splash.splash,myForm)">
          <translate>Delete</translate>
        </md-button>
        <filepicker attribute="splash.splash.background_image_name" type="10" uploading="splash.splash.bg_uploading"></filepicker>
      </md-card-actions>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('logo')" aria-controls="logo">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('logo') ? "up" : "down" }}</md-icon>
    <translate>Header Image</translate>
  </md-button>

  <div ng-show="splash.isOpen('logo')" id="images" class="menu-toggle-list">
    <md-card>
      <img ng-show="splash.splash.header_image_type == 1 && splash.splash.logo_file_name" src="{{splash.splash.logo_file_name}}" class="md-card-image" alt="Background">
      <img ng-show="splash.splash.header_image_type == 2 && splash.splash.header_image_name" src="{{splash.splash.header_image_name}}" class="md-card-image" alt="Background">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Header Image</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          <span ng-show="splash.splash.header_image_type == 1" translate>
            Upload your logo which must be 200px by 106px.
          </span>
          <span ng-show="splash.splash.header_image_type == 2" translate>
            Upload your banner image which must be 851px by 315px.
          </span>
        </p>
        <md-radio-group ng-model="splash.splash.header_image_type" layout="row" style="padding: 0 0 20px 0">
          <md-radio-button value="1" class="md-primary"><translate>Logo</translate></md-radio-button>
          <md-radio-button value="2"><translate>Banner</translate></md-radio-button>
        </md-radio-group>
        <md-input-container class="md-block" ng-show="edit_image_url && splash.splash.header_image_type == 1">
          <label>
            <translate>Image URL</translate>
          </label>
          <input type="text" ng-model="splash.splash.logo_file_name" ng-if="splash.splash.header_image_type == 1"></input>
        </md-input-container>
        <md-input-container class="md-block" ng-show="edit_image_url && splash.splash.header_image_type == 2">
          <label>
            <translate>Banner URL</translate>
          </label>
          <input type="text" ng-model="splash.splash.header_image_name"></input>
        </md-input-container>
        <div ng-show="splash.splash.header_image_type == 1" class="btn-group">
          <md-radio-group ng-model="splash.splash.logo_position" layout="row">
            <md-radio-button value="left" class="md-primary"><translate>Left</translate></md-radio-button>
            <md-radio-button value="center"><translate>Center</translate></md-radio-button>
            <md-radio-button value="right"><translate>Right</translate></md-radio-button>
          </md-radio-group>
        </div>
        <md-switch ng-model="ctrl.nothing" aria-label="{{ 'Switch 1' | translate }}" ng-click="edit_image_url = !edit_image_url" style="margin-bottom: -20px">
          <span ng-if="splash.splash.header_image_type == 1" translate> Edit Logo URL</span>
          <span ng-if="splash.splash.header_image_type != 1" translate> Edit Banner URL</span>
        </md-switch>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <!-- <md-button class="md-warn" ng-disabled="!splash.splash.header_image_name" aria-label="delete" ng-click="splash.deleteHeader(splash.splash,myForm)"> -->
        <!-- Delete -->
        <!-- </md-button> -->
        <span ng-hide="edit_image_url">
          <filepicker attribute="splash.splash.logo_file_name" type="{{ splash.splash.header_image_type }}" uploading="splash.splash.uploading" ng-if="splash.splash.header_image_type == 1"></filepicker>
          <filepicker attribute="splash.splash.header_image_name" type="{{ splash.splash.header_image_type }}" uploading="splash.splash.uploading" ng-if="splash.splash.header_image_type == 2"></filepicker>
        </span>
      </md-card-actions>
    </md-card>
    <!-- <p>Upload {{ splash.splash.header_image_type == 1 ? "Logo" : "Banner"}}</p> -->
    <!-- <div layout="row" layout-align="end center"> -->
    <!-- </div> -->
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('side')" aria-controls="side">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('side') ? "up" : "down" }}</md-icon>
    <translate>Side Image</translate>
  </md-button>

  <div ng-show="splash.isOpen('side')" id="images" class="menu-toggle-list">
    <md-card>
      <img ng-show="splash.splash.location_image_name" src="{{splash.splash.location_image_name}}" class="md-card-image" alt="Background">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Side Image</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-switch ng-model="splash.splash.design_id" ng-true-value="2" ng-false-value="1" aria-label="show_side_image" style="margin: 0px 0 20px 0">
          <span ng-show="splash.splash.design_id == 2" translate>Side Image Enabled</span>
          <span ng-show="splash.splash.design_id == 1" translate>Side Image Disabled</span>
        </md-switch>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <span ng-hide="edit_image_url">
          <filepicker attribute="splash.splash.location_image_name" uploading="splash.splash.uploading"></filepicker>
        </span>
      </md-card-actions>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('text')" aria-controls="text">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('text') ? "up" : "down" }}</md-icon>
    <translate>Text</translate>
  </md-button>

  <div ng-show="splash.isOpen('text')" id="text" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Splash Content</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Header Text</translate>
          </label>
          <input type='text' ng-model="splash.splash.header_text" placeholder="{{'Location Header'|translate}}" name="header_text" md-maxlength='255'></input>
          <div ng-messages="myForm.header_text.$error">
            <div ng-message="md-maxlength" translate>Must be less than 250 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Body Text</translate>
          </label>
          <textarea ng-model="splash.splash.info" placeholder="{{ 'Location Info'  | translate }}" type='text' rows=2 md-maxlength='250' name="info"></textarea>
          <div ng-messages="myForm.info.$error">
            <div ng-message="md-maxlength" translate>Must be less than 250 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Address</translate>
          </label>
          <input ng-model="splash.splash.address" placeholder="{{ 'Address' | translate }}" type='text' rows=2 md-maxlength='100' name="address"/>
          <div ng-messages="myForm.address.$error">
            <div ng-message="md-maxlength" translate>Must be less than 100 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>More Info</translate>
          </label>
          <textarea ng-model="splash.splash.info_two" placeholder="{{'Location Info Two' | translate }}" type='text' name="info_two" md-maxlength='500' rows=3></textarea>
          <div ng-messages="myForm.info_two.$error">
            <div ng-message="md-maxlength" translate>Must be less than 500 characters.</div>
          </div>
        </md-input-container>
      </md-card-content>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('theme')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('theme') ? "up" : "down" }}</md-icon>
    <translate>Theme</translate>
  </md-button>

  <div ng-show="splash.isOpen('theme')" id="theme" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Main Theme</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Body Background Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.body_background_colour" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Container Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.container_colour" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Border Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.border_colour" required>
        </md-input-container>
        <translate>Opacity {{ splash.splash.container_transparency * 100}}%</translate>
        <md-slider flex min="0" max="1" step="0.1" ng-model="splash.splash.container_transparency" aria-label="red">
        </md-slider>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('typography')" aria-controls="typography">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('typography') ? "up" : "down" }}</md-icon>
    <translate>Typography</translate>
  </md-button>

  <div ng-show="splash.isOpen('typography')" id="typography" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Fonts</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container>
          <label>
            <translate>Font</translate>
          </label>
          <md-select ng-model="splash.splash.font_family">
            <md-option ng-repeat="font in splash.fonts" iivalue="{{state.abbrev}}">
              {{font}}
            </md-option>
          </md-select>
        </md-input-container>
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H1 Size</translate>
              </label>
              <input type="text" ng-model="splash.splash.heading_text_size" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H1 Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.heading_text_colour" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H2 Size</translate>
              </label>
              <input type="text" ng-model="splash.splash.heading_2_text_size" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H2 Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.heading_2_text_colour" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H3 Size</translate>
              </label>
              <input type="text" ng-model="splash.splash.heading_3_text_size" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>H3 Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.heading_3_text_colour" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Body Size</translate>
              </label>
              <input type="text" ng-model="splash.splash.body_font_size" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Body Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.body_text_colour" required>
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('btn')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('btn') ? "up" : "down" }}</md-icon>
    <translate>Login Button</translate>
  </md-button>

  <div ng-show="splash.isOpen('btn')" id="btn" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Login Button</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-wrap>
          <div flex="100">
            <md-input-container class="md-block">
              <label>
                <translate>Button Text</translate>
              </label>
              <input name="button_text" type="text" require md-maxlength="15" ng-model="splash.splash.btn_text" required>
              <div ng-messages="myForm.button_text.$error">
                <div ng-message="md-maxlength" translate>Must be less than 15 characters.</div>
                <div ng-message="required" translate>Button text required.</div>
              </div>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Button Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.button_colour" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Border Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.button_border_colour" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Font Size</translate>
              </label>
              <input type="text" ng-model="splash.splash.btn_font_size" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-sm="50">
            <md-input-container class="md-block">
              <label>
                <translate>Text Colour</translate>
              </label>
              <input minicolors type="text" ng-model="splash.splash.btn_font_colour" required>
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('input')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('input') ? "up" : "down" }}</md-icon>
    <translate>Input Fields</translate>
  </md-button>

  <div ng-show="splash.isOpen('input')" id="input" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Input Fields</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Border Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.input_border_colour" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Background Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.input_background" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Text Colour</translate>
          </label>
          <input minicolors="customSettings" type="text" ng-model="splash.splash.input_text_colour" required>
        </md-input-container>
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Height</translate>
              </label>
              <input type="text" ng-model="splash.splash.input_height" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Padding</translate>
              </label>
              <input type="text" ng-model="splash.splash.input_padding" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Radius</translate>
              </label>
              <input type="text" ng-model="splash.splash.input_border_radius" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Width</translate>
              </label>
              <input type="text" ng-model="splash.splash.input_border_width" required>
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('links')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('links') ? "up" : "down" }}</md-icon>
    <translate>Links</translate>
  </md-button>

  <div ng-show="splash.isOpen('links')" id="links" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Splash Links</span>
          <span class="md-subhead" translate>Ensure these are in your walled gardens</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Website</translate>
          </label>
          <input type='text' ng-model="splash.splash.website" placeholder="{{ 'Website' | translate }}" name="website" md-maxlength='255'></input>
          <div ng-messages="myForm.website.$error">
            <div ng-message="md-maxlength" translate>Must be less than 250 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Twitter Name</translate>
          </label>
          <input type='text' ng-model="splash.splash.twitter_name" placeholder="Twitter" name="twitter" md-maxlength='15'></input>
          <div ng-messages="myForm.twitter.$error">
            <div ng-message="md-maxlength" translate>Must be less than 15 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Facebook Page</translate>
          </label>
          <input type='text' ng-model="splash.splash.facebook_name" placeholder="Facebook" name="facebook" md-maxlength='50'></input>
          <div ng-messages="myForm.facebook.$error">
            <div ng-message="md-maxlength" translate>Must be less than 50 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Google+</translate>
          </label>
          <input type='text' ng-model="splash.splash.google_name" placeholder="Google" name="google" md-maxlength='50'></input>
          <div ng-messages="myForm.google.$error">
            <div ng-message="md-maxlength" translate>Must be less than 50 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>LinkedIn Page</translate>
          </label>
          <input type='text' ng-model="splash.splash.linkedin_name" placeholder="LinkedIn" name="linkedin" md-maxlength='50'></input>
          <div ng-messages="myForm.linkedin.$error">
            <div ng-message="md-maxlength" translate>Must be less than 50 characters.</div>
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('container')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('container') ? "up" : "down" }}</md-icon>
    <translate>Container</translate>
  </md-button>

  <div ng-show="splash.isOpen('container')" id="container" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Container Style</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Width</translate>
              </label>
              <input type="text" ng-model="splash.splash.container_width" required>
            </md-input-container>
          </div>
          <div flex="100" flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>
                <translate>Padding</translate>
              </label>
              <input type="text" ng-model="splash.splash.container_inner_padding" required>
            </md-input-container>
          </div>
        </div>
        <md-radio-group ng-model="splash.splash.container_text_align" layout="row">
          <md-radio-button value="left" class="md-primary"><translate>Left</translate></md-radio-button>
          <md-radio-button value="center"><translate>Center</translate></md-radio-button>
          <md-radio-button value="right"><translate>Right</translate></md-radio-button>
        </md-radio-group>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('welcome')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('welcome') ? "up" : "down" }}</md-icon>
    <translate>Welcome Page</translate>
  </md-button>

  <div ng-show="splash.isOpen('welcome')" id="welcome" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Welcome Page</span>
          <span class="md-subhead" translate>Appears after a user logs in.</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-switch ng-model="splash.splash.show_welcome" aria-label="show_welcome" style="margin: 0px 0 20px 0">
          <span ng-show="splash.splash.show_welcome == true" translate>Welcome Page Enabled</span>
          <span ng-show="splash.splash.show_welcome == false" translate>Welcome Page Disabled</span>
        </md-switch>
        <md-input-container class="md-block">
          <label>
            <translate>Welcome Text</translate>
          </label>
          <textarea ng-click="swapToWelcome()" ng-model="splash.splash.welcome_text" placeholder="{{'Welcome text (Max 1000 chars)' | translate }}" type='text' name="welcome" ng-maxlength='1000' rows=10></textarea>
          <div ng-messages="myForm.welcome.$error">
            <div ng-message="md-maxlength" translate>Must be less than 1000 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>
            <translate>Display Welcome For (seconds)</translate>
          </label>
          <input ng-model="splash.splash.welcome_timeout" placeholder="0" type='number' name="welcome_timeout" ng-max='30' ng-min='0'>
          <div ng-messages="myForm.welcome_timeout.$error">
            <div ng-message="max" translate>Must be less than 30 seconds.</div>
            <div ng-message="min" translate>Must be greater than 0 seconds.</div>
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('terms')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('terms') ? "up" : "down" }}</md-icon>
    <translate>Terms</translate>
  </md-button>

  <div ng-show="splash.isOpen('terms')" id="terms" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><translate>Terms &amp; Conditions</translate></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Terms URL</translate>
          </label>
          <input ng-model="splash.splash.terms_url" placeholder="{{ 'Terms URL' | translate }}" type='url' name="terms_url" ng-maxlength='255' required></input>
          <div ng-messages="myForm.terms_url.$error">
            <div ng-message="md-maxlength" translate>Must be less than 250 characters.</div>
            <div ng-message="url" translate>Must be a valid URL including http(s).</div>
          </div>
        </md-input-container>
        <md-switch ng-model="splash.splash.hide_terms" aria-label="{{'Switch 1' | translate }}" ng-false-value="true" ng-true-value="false" style="margin-top: -30px">
          <span ng-if="splash.splash.hide_terms == true" translate>Terms &amp; Conditions Hidden</span>
          <span ng-if="splash.splash.hide_terms == false" translate>Terms &amp; Conditions Visible</span>
        </md-switch>
        <md-divider ng-if="!$last"></md-divider>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('shop')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('shop') ? "up" : "down" }}</md-icon>
    <translate>Shop</translate>
  </md-button>

  <div ng-show="splash.isOpen('shop')" id="shop" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Shop Settings</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>Buy Voucher Text</translate>
          </label>
          <input ng-model="splash.store_buy_link_text" placeholder="{{'Buy Voucher Now' | translate }}" type='text' name="buy_voucher_text" ng-maximum='255'></input>
          <div ng-messages="myForm.buy_voucher_text.$error">
            <div ng-message="md-maxlength" translate>Must be less than 255 characters.</div>
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>

  <md-button class="md-no-style" ng-click="splash.toggle('css')" aria-controls="theme">
    <md-icon md-font-icon="keyboard_down">keyboard_arrow_{{ splash.isOpen('css') ? "up" : "down" }}</md-icon>
    <translate>CSS</translate>
  </md-button>

  <div ng-show="splash.isOpen('css')" id="css" class="menu-toggle-list" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Custom CSS</span>
          <span class="md-subhead" translate>Fine tune your layouts</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block">
          <label>
            <translate>External CSS</translate>
          </label>
          <input ng-model="splash.splash.external_css" placeholder="{{'External CSS' | translate }}" type='text' name="external_css" md-maxlength='255'></input>
          <div ng-messages="myForm.external_css.$error">
            <div ng-message="md-maxlength" translate>Must be less than 255 characters.</div>
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>

  <div class="splash-design-buttons">
    <md-button ng-click="splash.back()" aria-label="{{'Back' | translate }}" class="md-fab md-raised md-mini">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <md-button ng-click="splash.preview()" aria-label="{{'Preview' | translate }}" class="md-fab md-raised md-mini">
      <md-icon md-font-icon="pageview">pageview</md-icon>
    </md-button>
    <md-button ng-click="splash.save(splash.splash,myForm)" aria-label="{{'Save' | translate}}" class="md-fab md-raised md-primary md-mini">
      <md-icon md-font-icon="save">save</md-icon>
    </md-button>
  </div>
</form>
