<md-dialog aria-label="{{ 'Site Setup' | translate }}" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Splash Template</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

        <md-radio-group ng-model="splash.template">
          <div layout="row" layout-align="space-around center" layout-wrap>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template One</p>
                  </div>
                  <div>
                    <md-radio-button value="material_red"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Two</p>
                  </div>
                  <div>
                    <md-radio-button value="material_yellow"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Three</p>
                  </div>
                  <div>
                    <md-radio-button value="material_green"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Four</p>
                  </div>
                  <div>
                    <md-radio-button value="material_blue"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Five</p>
                  </div>
                  <div>
                    <md-radio-button value="desk_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Six</p>
                  </div>
                  <div>
                    <md-radio-button value="camp_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>

            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Seven</p>
                  </div>
                  <div>
                    <md-radio-button value="coffee_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
              <md-card>
                <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                </md-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div>
                    <p>Template Eight</p>
                  </div>
                  <div>
                    <md-radio-button value="hotel_template"></md-radio-button>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div flex="100" flex-gt-xs="30">
                <md-card>
                  <md-content class="md-card-image" style="background-image:url(http://www.ct-networks.io/images/pages/splash.jpg);min-height:180px;background-size:cover;">
                  </md-content>
                  <md-card-actions layout="row" layout-align="space-between center">
                    <div>
                      <p>Template Nine</p>
                    </div>
                    <div>
                      <md-radio-button value="shop_template"></md-radio-button>
                    </div>
                  </md-card-actions>
                </md-card>
              </div>

          </div>
        </md-radio-group>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="close()" translate>
        Close
      </md-button>
      <md-button class="md-raised" ng-click="next()" translate>
        Apply
      </md-button>
    </md-dialog-actions>
</md-dialog>

<style>
md-radio-button {
  margin-bottom: 0px!important;
}
</style>
