<div class="top-nav">
  <md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="/#/{{ location.slug }}/splash_pages" name="splash">
      Splash Pages
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/vouchers" name="vouchers">
      Vouchers
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/splash_codes" name="codes">
      Codes
    </md-nav-item>
    <md-nav-item md-nav-href="/#/{{ location.slug }}/splash_pages/guide" name="guide" class="getting-started-button">
      Getting Started
    </md-nav-item>
  </md-nav-bar>
</div>
