<md-dialog aria-label="{{ 'Site Setup' | translate }}"  flex="80" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Splash Template</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div flex="auto" layout="column">
          <h1>A BUNCH OF TEMPLATES AND STUFF</h1>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex="auto"></span>
      <md-button ng-click="close()" translate>
        Close
      </md-button>
      <md-button class="md-raised" ng-click="ye" translate>
        Apply
      </md-button>
    </md-dialog-actions>
</md-dialog>
