<md-dialog aria-label="{{ 'Apply Template' | translate }}" ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title" style="margin-top:0px;">Apply this template?</h2>
        <p>Applying this will replace all of your current design settings. This cannot be undone.</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around center">
      <md-button class="md-primary md-cancel-button" ng-click="back()" translate>
        Back
      </md-button>
      <md-button class="md-primary md-confirm-button" ng-click="save()" translate>
        Apply
      </md-button>
    </md-dialog-actions>
</md-dialog>

<style>
