<md-card class="b-gr">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Voucher Settings
      </span>
      <span class="md-subhead">
        <p translate>Vouchers have their own rules. When you create a batch of vouchers, you also create the policies which limit speed, time etc.</p>
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>

    <div layout="column" flex="100" flex-gt-xs="55">

      <md-switch class="md-accent" ng-model="splash.shop_active" aria-label="Enable Shop">
        <translate>Shop {{ splash.shop_active ? 'Enabled' : 'Disabled' }}</translate>
      </md-switch>

      <md-switch class="md-accent" ng-model="splash.forgot_password_link" aria-label="Forgot Password" ng-disabled="!splash.shop_active">
        <translate>Forgot Password Link {{ splash.forgot_password_link ? 'Visible' : 'Hidden' }}</translate>
      </md-switch>

    </div>
    <div flex layout="row">
      <div flex></div>
      <md-button ng-click="shop()" class="md-raised" ng-disabled="!splash.shop_active">
        Shop
      </md-button>
    </div>

  </md-card-content>

</md-card>
