<md-card class="b-gr">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Password Settings
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content layout="column" layout-gt-sm="row" layout-wrap>

    <div flex flex-gt-sm="40">
      <input style="display:none" type="password" name="password"/>
      <md-input-container class="md-block">
        <label>
          <translate>Splash Password</translate>
        </label>
        <input ng-model="splash.password" placeholder="{{'Splash Password' | translate}}" type="{{ show || showPass ? 'text' : 'password' }}" ng-focus="showPass = !showPass" ng-blur="showPass = !showPass" name="password" md-maxlength='25' ng-minlength="4" ng-pattern="/^[a-zA-Z0-9_-]+$/" required>
        <div ng-messages="myForm.password.$error">
          <div ng-message="md-maxlength" translate>Must be less than 25 characters</div>
          <div ng-message="minlength" translate>Must be more than 4 characters</div>
          <div ng-message="required" translate>A valid password is required</div>
        </div>
      </md-input-container>
    </div>
    <span flex-gt-sm="10"></span>
    <div flex-gt-sm="50">
      <md-switch class="md-accent" ng-model="splash.passwd_auto_gen" aria-label="{{ 'Password Auto Gen' | translate }}">
        <span ng-show="splash.passwd_auto_gen == true" translate>Auto Password Change Enabled</span>
        <span ng-show="splash.passwd_auto_gen == false" translate>Auto Password Change Off</span>
      </md-switch>
    </div>
    <div flex-gt-sm="40" ng-show="splash.passwd_auto_gen == true">
      <md-input-container class="md-block">
        <label>
          <translate>Send the password to:</translate>
        </label>
        <input ng-disabled="!splash.passwd_auto_gen" ng-model="splash.passwd_change_email" placeholder="{{ 'Send password to this email' | translate }}" type="email" name="email" ng-required="splash.passwd_auto_gen == true">
        <div ng-messages="myForm.email.$error" md-auto-hide="false">
          <div ng-message="required" translate>Recipient email required when using auto change.</div>
          <div ng-message="email" translate>Must be a valid email address</div>
        </div>
      </md-input-container>
      <p style="margin-top: -20px;"><small>A new password will be emailed to you every morning.</small></p>
    </div>
    <span flex-gt-sm="10" ng-show="splash.passwd_auto_gen == true"></span>
    <div flex-gt-sm="50" ng-show="splash.passwd_auto_gen == true">
      <div style="margin: 25px 0;">
        <day-selector active="splash.passwd_auto_gen" days="splash.passwd_change_day" array="splash.userdays"></day-selector>
      </div>
    </div>
  </md-card-content>
</md-card>
