<md-card class="b-gr">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Social Settings
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>

    <div layout="column" layout-gt-sm="row">

      <md-checkbox ng-model="splash.fb_login_on" name="fb_login_on" type="checkbox">
        <translate>Facebook</translate>
      </md-checkbox>
      <md-checkbox ng-model="splash.g_login_on" name="g_login_on" type="checkbox">
        <translate>Google+</translate>
      </md-checkbox>
      <md-checkbox ng-model="splash.backup_vouchers" name="backup_vouchers" type="checkbox">
        <translate>Vouchers</translate>
      </md-checkbox>
      <md-checkbox ng-model="splash.backup_email" name="backup_email" type="checkbox">
        <translate>Email Backup</translate>
      </md-checkbox>

    </div>

  </md-card-content>
</md-card>

<md-card class="b-gr" ng-show="splash.fb_login_on">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Facebook Settings
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content layout="column" layout-gt-sm="row" layout-wrap>
    <div flex-gt-sm="40">

      <md-input-container class="md-block">
        <label translate>Facebook Page ID (numeric)</label>
        <input ng-model="splash.fb_page_id" name="fb_page_id" placeholder="{{'Facebook Page ID' | translate }}" type="text" ng-required="splash.fb_redirect_to_page || splash.fb_checkin" ng-pattern="/^-?\d+\.?\d*$/">
        <div ng-messages="myForm.fb_page_id.$error" md-auto-hide="false">
          <div ng-message="required" translate>Page ID required</div>
          <div ng-message="pattern" translate>Invalid Page ID</div>
        </div>
      </md-input-container>

    </div>

    <div flex-gt-sm="10"></div>

    <div flex-gt-sm="40">
      <md-switch class="md-accent" ng-model="splash.fb_redirect_to_page" aria-label="Redirect To Page">
        <translate style="word-wrap: break-word">Redirect To Facebook Page</translate>
      </md-switch>
      <md-switch class="md-accent" ng-model="splash.fb_checkin" aria-label="FB Checkin">
        <translate>Allow Checkin</translate>
      </md-switch>
    </div>

  </md-card-content>

</md-card>

<md-card class="b-gr" ng-show="splash.g_login_on">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Google+ Settings
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content layout="column" layout-gt-sm="row" layout-wrap>
    <div flex-gt-sm="40">
      <div layout="column">
        <md-input-container class="md-block">
          <label>Google Page ID</label>
          <input ng-model="splash.g_page_id" name="g_page_id" ng-class="{ 'input-error' : myForm.g_page_id.$error.required }" placeholder="{{ 'Enter your Google Page ID' | translate }}" type="text" ng-required="splash.g_redirect_to_page" ng-disabled="!splash.g_redirect_to_page">
          <div ng-messages="myForm.g_page_id.$error" md-auto-hide="false">
            <div ng-message="md-maxlength">Page ID required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Google Client ID</label>
          <input ng-model="splash.g_api_key" ng-focus="gKey = !gKey" ng-blur="gKey = !gKey" name="g_api_key" ng-class="{ 'input-error' : myForm.g_api_key.$error.required }" placeholder="{{ 'Enter your Google API Key' | translate }}" type='{{ gKey ? "text" : "password" }}' ng-required="!splash.g_use_ps" ng-disabled="splash.g_use_ps">
          <div ng-messages="myForm.g_api_key.$error">
            <div ng-message="md-maxlength">Google Client ID required when using your own App.</div>
          </div>
        </md-input-container>
      </div>
    </div>

    <div flex-gt-sm="10"></div>

    <div flex-gt-sm="40">
      <md-switch class="md-accent" ng-model="splash.g_redirect_to_page" aria-label="Redirect To Page">
        <translate>Redirect To Google Page</translate>
      </md-switch>
      <md-switch class="md-accent" ng-model="splash.g_use_ps" aria-label="{{ 'Google Use CT' | translate }}" ng-true-value="0" ng-false-value="1">
        <translate>Use Your Own Google App</translate>
      </md-switch>
    </div>

  </md-card-content>
</md-card>
