<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        Voucher Settings
      </span>
      <span class="md-subhead">
        <p>Vouchers have their own rules. When you create a batch of vouchers, you also create the policies which limit speed, time etc.</p>
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>

    <div layout="column" flex="100" flex-gt-xs="55">

        <md-switch class="md-accent" ng-model="splash.shop_active" aria-label="Enable Shop">
          Shop {{ splash.shop_active ? 'Enabled' : 'Disabled' }}
        </md-switch>

        <md-switch class="md-accent" ng-model="splash.forgot_password_link" aria-label="Forgot Password" ng-disabled="!splash.shop_active">
          Forgot Password Link {{ splash.forgot_password_link ? 'Visible' : 'Hidden' }}
        </md-switch>

        <md-switch class="md-accent" ng-model="splash.unified_login_code" aria-label="Unified Login">
          Unified Login Code {{ splash.unified_login_code ? 'Enabled' : 'Disabled' }}
        </md-switch>

      </div>

  </md-card-content>

</md-card>

