<div class="row" ng-if="adding">
  <div class="small-12 columns">
    <label for="value" translate>How much should the voucher cost?</label>
    <form name="myForm" ng-submit="saveProduct(product)">
      <div class="row">
        <div class="medium-2 columns">
          <div class="row collapse prefix-radius">
            <div class="small-4 columns">
              <span class="prefix">£</span>
            </div>
            <div class="small-6 end columns">
              <input type="number" ng-model="product.value" placeholder="3" step="any"></input>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label for="value"><translate>How long do you want it to last for?</translate></label>
          <div class="row collapse prefix-radius">
            <div class="small-3 columns">
              <input type="number" ng-model="product.duration" placeholder="60"></input>
            </div>
            <div class="small-6 end columns">
              <select ng-model="product.distance" ng-options="name for (name, value) in distances" ng-change="updateChannels()" name="ht_mode_2" id="channel2"></select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-5 columns">
          <div class="row collapse">
            <label><translate>Download Speed</translate></label>
            <div class="small-4 columns">
              <input type="number" ng-model="product.download_speed" placeholder="512"></input>
            </div>
            <div class="small-3 end columns">
              <span class="postfix">Kbps</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-5 end columns">
          <div class="row collapse">
            <label><translate>Upload Speed</translate></label>
            <div class="small-4 columns">
              <input type="number" ng-model="product.upload_speed" placeholder="512"></input>
            </div>
            <div class="small-3 end columns">
              <span class="postfix">Kbps</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-5 columns">
          <div class="row collapse">
            <label><translate>Max Devices</translate></label>
            <div class="small-3 columns">
              <input type="number" ng-model="product.devices" placeholder="3"></input>
            </div>
            <div class="small-4 end columns">
              <span class="postfix" translate>Devices</span>
            </div>
          </div>
        </div>
      </div>
      <button ng-disabled="submitting == true || iimyForm.$invalid || asdfmyForm.$pristine" class="button" id="update"><translate>Update</translate></button>
    </form>
  </div>
</div>
