<form name="myForm" ng-submit="update(splash, myForm)" confirm-on-exit>
  <div class="small-12" id="design-sidebar">
    <div class="show-for-small-only">
      <p><small>Heads up. Designing your splash pages is much better on a big screen.</small></p>
    </div>
    <p><b>Splash Designer</b></p>
    <p>Make your login pages pretty. Add your copy and location information.</p>
    <h4>
      <a href="/#/locations/{{ location.slug}}/splash_pages/{{splash.id}}" class="button tiny">Back</a>
      <button ng-disabled="myForm.$invalid || splash.updating" class="button tiny" id="">Save <span ng-show="splash.updating"> <i class="fa fa-spinner fa-spin"></i></span></button>
      <p ng-if="myForm.$invalid" class="small text text-muted">Something's wrong, check you've entered valid details.</p>
    </h4>
    <span ng-show="splash.updating == true"><i class="fa fa-cog fa-spin"></i> Saving Splash. Please Wait...</span>
    <hr>
    <h4><a class="design-tip" tooltip="Choose a single or double column layout">Theme</a></h4>
    <input ng-model="splash.design_id" class="design_id" type="radio" ng-value='1'/><label class='radio'>Skinny Jeans</label></h4>
    <input ng-model="splash.design_id" class="design_id" type="radio" ng-value='2'/><label class='radio'>Wide Boy</label></h4>
    <p>
      <small ng-show="splash.design_id == 1">A single column layout for a sleek look</small>
      <small ng-show="splash.design_id == 2">A double column layout for the man about town</small>
    </p>
    <hr>
    <h4><a class="design-tip" tooltip="A logo is a small image that appears at the top. A banner image covers the whole page, a little like the Facebook header image.">Upload a logo</a></h4>
    <input type="radio" ng-model="splash.header_image_type" name="header_image_type" ng-value="1" id="header_image_type_logo"><label for="header_image_logo">Logo</label></h4>
    <input type="radio" ng-model="splash.header_image_type" name="header_image_type" ng-value="2" id="header_image_type_banner">
    <label for="header_image_banner">Banner</label></h4>

    <input type="text" ng-model="splash.logo_file_name" ng-show="splash.header_image_type == 1 && edit_image_url"></input>
    <input type="text" ng-model="splash.header_image_name" ng-show="splash.header_image_type == 2 && edit_image_url"></input>

    <span ng-hide="edit_image_url">
      <filepicker attribute="splash.logo_file_name" type="{{ splash.header_image_type }}" uploading="splash.uploading" ng-if="splash.header_image_type == 1"></filepicker>
      <filepicker attribute="splash.header_image_name" type="{{ splash.header_image_type }}" uploading="splash.uploading" ng-if="splash.header_image_type == 2"></filepicker>
    </span>

    <p><a href="" ng-click="edit_image_url = !edit_image_url" class="button tiny">Custom URL</a></p>

    <span ng-show="splash.uploading == true"><small><i class="fa fa-cog fa-spin"></i> Crunching Image. Please wait...</small></span>
    <small ng-show="splash.header_image_type == 1">Ensure your image is 200px by 106px.</small>
    <small ng-show="splash.header_image_type == 2">Ensure your image is 851px by 315px.</small>

    <remove-image attribute="splash.logo_file_name" temp="splash.logo_file_name_temp" ></remove-image>

    <div ng-show="splash.header_image_type == 1" class="btn-group">
      <h4><a class="design-tip" tooltip="Where should the logo be positioned on the page. Doesn't affect banner images.">Le Alignment</a></h4>
      <a class="button tiny" ng-click="align_logo('left')" ng-class="{'hover' : splash.logo_position=='left'}" type="button"><span class="fa fa-align-left fa-fw"></span></a>
      <a class="button tiny" ng-click="align_logo('center')" ng-class="{'hover' : splash.logo_position=='center'}" type="button"><span class="fa fa-align-center fa-fw"></span></a>
      <a class="button tiny" ng-click="align_logo('right')" ng-class="{'hover' : splash.logo_position=='right'}" type="button"><span class="fa fa-align-right fa-fw"></span></a>
    </div>

    <hr>
    <h4><a class="design-tip" tooltip="This fills the entire screen. Make sure you choose a high-quality image otherwise it'll look naf.">Background Image</a></h4>
    <small>Please note, the background image can take a moment to load, be cool.</small>
    <filepicker attribute="splash.background_image_name" type="10" uploading="splash.bg_uploading"></filepicker>
    <span ng-show="splash.bg_uploading == true"><small><i class="fa fa-cog fa-spin"></i> Crunching Image. Please wait...</small></span>
    <remove-image attribute="splash.background_image_name" temp="splash.background_image_name_temp" ></remove-image>
    <hr>
    <div ng-show="splash.design_id == 2">
      <h4><label>Sidebar Image</label></h4>
      <small>Only available on the wide-boy layout</small><br>
      <filepicker attribute="splash.location_image_name" uploading="splash.image_uploading"></filepicker>
      <span ng-show="splash.image_uploading == true"><i class="fa fa-cog fa-spin"></i> Crunching Image. Please wait...</span>
      <remove-image attribute="splash.location_image_name" temp="splash.location_image_name_temp" ></remove-image>
      <hr>
    </div>
    <h4><a class="design-tip" tooltip="This text goes at the top of the page. It might be your location name or a welcome message">Page Title</a></h4>
    <input type='text' ng-model="splash.header_text" placeholder="Location Header" name="header_text" ng-maxlength='255'></input>
    <h4><a class="design-tip" tooltip="Enter some descriptive information about your location or business.">Page Body</a></h4>
    <textarea ng-model="splash.info" placeholder="Location Info (Max 255 chars)" type='text' name="maininfo" ng-maxlength='250' rows=7></textarea>
    <small class="text-danger" ng-show="myForm.maininfo.$error.maxlength"><b>Max. 250 characters.</b></small>
    <div ng-show="splash.design_id == 1 || !splash.location_image_name">
      <h4><a class="design-tip" tooltip="If you want to say a little more, say it here.">More Information</a></h4>
      <textarea ng-model="splash.info_two" placeholder="Location Info Two" type='text' name="info_two" ng-maxlength='500' rows=3></textarea>
      <small class="text-danger" ng-show="myForm.info_two.$error.maxlength"><b>Max. 500 characters.</b></small>
    </div>
    <h4><a class="design-tip" tooltip="Pretty self-explanatory, tell your customers where you are.">Your Address</a></h4>
    <input type="text" ng-model="splash.address" placeholder="Location Address" type='text' name="address" ng-maxlength='255'></input>
    <h4><label class="design-tip" tooltip="Enter an address where you have your terms and conditions. A link will appear on the login screen">Terms of use URL</label></h4>
    <input ng-model="splash.terms_url" placeholder="Terms URL" type='url' name="terms_url" ng-maxlength='255'></input>
    <p class="text text-danger small" ng-show="myForm.terms_url.$error.url"><b>Should look like a URL inc. http.</b></p>
    <input type="checkbox" ng-model="splash.hide_terms"></input>
    <label for="hide_terms">Hide terms</label>
    <hr>
    <h4><a class="design-tip" tooltip="Don't over do the colours.">Colours</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Background </label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.body_background_colour" placeholder="Body Background Colour" type='text' name="body_background_colour" minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Container </label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.container_colour" placeholder="Container Colour" type='text' name="container_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Border</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.border_colour" placeholder="Border Colour" type='text' name="border_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Links</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.link_colour" placeholder="Border Colour" type='text' name="border_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Opacity</label></h4>
      </div>
      <div class="small-7 columns">
        <div slider ng-model="splash.container_transparency" start=0 end=1 step=0.1 callback='set'></div>
      </div>
    </div>
    <hr>
    <h4><a class="design-tip" tooltip="Choose from a selection of web-safe fonts.">Choose your font</a></h4>
    <select ng-model='splash.font_family' ng-options="value for value in fonts" name="font_family"></select>
    <h4><a class="design-tip" tooltip="Your main heading font colour and size. Avoid making this too big or small.">Main Header</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_text_colour" placeholder="Heading Font Colour" type='text' name="heading_text_colour" minicolors="colorPickerSettings" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Size</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_text_size" placeholder="Heading Font Size" type='text' name="heading_text_size" ng-maxlength='255'></input>
      </div>
    </div>
    <h4><a class="design-tip" tooltip="Your secondary font colour and size. Should be smaller than your header.">Heading Two</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_2_text_colour" placeholder="Heading 2 Font Colour" type='text' name="heading_text_colour" minicolors="colorPickerSettings" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Size</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_2_text_size" placeholder="Heading 2 Font Size" type='text' name="heading_2_text_size" ng-maxlength='255'></input>
      </div>
    </div>
    <h4><a class="design-tip" tooltip="Your smallest header, should be about the same size and colour as your body font.">Heading Three</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_3_text_colour" placeholder="Heading 3 Font Colour" type='text' name="heading_text_colour" minicolors="colorPickerSettings" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <h4><label for="" class="minicolor-label">Size</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.heading_3_text_size" placeholder="Heading 3 Font Size" type='text' name="heading_3_text_size" ng-maxlength='255'></input>
      </div>
    </div>
    <h4><a class="design-tip" tooltip="Your smallest header, should be about the same size and colour as your body font.">Body</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.body_text_colour" placeholder="Body Font Colour" type='text' name="body_text_colour" minicolors="colorPickerSettings" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Size</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.body_font_size" placeholder="Font Size" type='text' name="body_font_size" ng-maxlength='255'></input>
      </div>
    </div>
    <hr>
    <h4><a class="design-tip" tooltip="Control the look and feel of the splash page login button. White is usually best here.">Login Button</a></h4>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.button_colour" placeholder="button colour" type='text' name="button_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Text Colour</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.btn_font_colour" placeholder="button colour" type='text' name="btn_font_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Text Size</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.btn_font_size" placeholder="button font size" type='text' name="button_font_size" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Text</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.btn_text" placeholder="button text" type='text' name="button_text" ng-maxlength='25'></input>
      </div>
    </div>
    <div class="row">
      <div class="small-5 columns">
        <label for="" class="minicolor-label">Border</label></h4>
      </div>
      <div class="small-7 columns">
        <input ng-model="splash.button_border_colour" placeholder="border colour" type='text' name="btn_border_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
      </div>
    </div>
    <hr>
    <h4><a class="design-tip" tooltip="Adjust your input fields.">Input Settings</a></h4>
    <div ng-show="input_settings">
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Border</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_border_colour" placeholder="border colour" type='text' name="btn_border_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Background</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_background" placeholder="border colour" type='text' name="btn_border_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Text Color</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_text_colour" placeholder="text colour" type='text' name="input_text_colour" ng-maxlength='255' minicolors="colorPickerSettings"></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Height</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_height" placeholder="Input height" type='text' name="input_height" ng-maxlength='255'></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Padding</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_padding" placeholder="Input padding" type='text' name="input_padding" ng-maxlength='255'></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Radius</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_border_radius" placeholder="Border Radius" type='text' name="input_padding" ng-maxlength='255'></input>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <label for="" class="minicolor-label">Width</label></h4>
        </div>
        <div class="small-7 columns">
          <input ng-model="splash.input_border_width" placeholder="Border Width" type='text' name="input_padding" ng-maxlength='255'></input>
        </div>
      </div>
    </div>
    <a href="" ng-click="input_settings = !input_settings">{{ input_settings ? "Hide settings" : "Show settings" }}</a>
    <hr>
    <h4><a class="design-tip" tooltip="Enter some of your social account names here and we'll put links to them on the login screens.">Get Social</a></h4>
    <small class="text-danger" ng-show="myForm.zone_description.$error.maxlength">Max. 255 characters.</small>
    <div class="row">
      <div class="small-10 columns">
        <input ng-model="splash.website" placeholder="Your Website" type='text' name="website" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/twitter.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.twitter_name" placeholder="Twitter Handle" type='text' name="twitter_name" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/google.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.google_name" placeholder="Google+ Page" type='text' name="google_name" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/facebook.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.facebook_name" placeholder="Facebook Page" type='text' name="facebook_name" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/pinterest.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.pinterest_name" placeholder="Pinterest Board" type='text' name="pinterest_name" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/instagram.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.instagram_name" placeholder="Instagram Page" type='text' name="instagram_name" ng-maxlength='255'></input>
      </div>
    </div>
    <div class="row">
      <div class="right small-2 columns">
        <img class="social-inputs" src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/linkedin.svg">
      </div>
      <div class="small-10 columns">
        <input ng-model="splash.linkedin_name" placeholder="Linkedin Page" type='text' name="linkedin_name" ng-maxlength='255'></input>
      </div>
    </div>
    <hr>

    <h4><a class="design-tip" tooltip="Adjust the total width of your page. Remember, always consider mobile devices first as they'll make up a big percentage of your users.">Container Width</a></h4>
    <input ng-model="splash.container_width" placeholder="Container Width" type='text' name="container_width" ng-maxlength='255'></input>
    <h4><a class="design-tip" tooltip="Inner Padding.">Inner Padding</a></h4>
    <input ng-model="splash.container_inner_padding" placeholder="Inner Padding" type='text' name="container_inner_padding" ng-maxlength='255'></input>

    <!-- <h4><a class="design-tip" tooltip="This is the width of the inner container in proportion to the main container. Think spacious.">Inner Width</a></h4> -->
    <!-- <input ng-model="splash.container_inner_width" placeholder="Container Inner" type='text' name="container_inner_width" ng-maxlength='255'></input> -->

    <div class="btn-group">
      <h4><a class="design-tip" tooltip="Which side of the page do you want your design to appear. It's usually best down the centre.">Container Float</a></h4>
      <a class="button tiny" ng-click="align_container('left')" ng-class="{'hover' : splash.container_float=='left'}" type="button"><span class="fa fa-align-left fa-fw"></span></a>
      <a class="button tiny" ng-click="align_container('center')" ng-class="{'hover' : splash.container_float=='center'}" type="button"><span class="fa fa-align-center fa-fw"></span></a>
      <a class="button tiny" ng-click="align_container('right')" ng-class="{'hover' : splash.container_float=='right'}" type="button"><span class="fa fa-align-right fa-fw"></span></a>
    </div>

    <div class="btn-group">
      <h4><a class="design-tip" tooltip="How do you want your text aligned?">Text Align</a></h4>
      <a class="button tiny" ng-click="align_text('left')" ng-class="{'hover' : splash.container_text_align=='left'}" type="button"><span class="fa fa-align-left fa-fw"></span></a>
      <a class="button tiny" ng-click="align_text('center')" ng-class="{'hover' : splash.container_text_align=='center'}" type="button"><span class="fa fa-align-center fa-fw"></span></a>
      <a class="button tiny" ng-click="align_text('right')" ng-class="{'hover' : splash.container_text_align=='right'}" type="button"><span class="fa fa-align-right fa-fw"></span></a>
    </div>

    <hr>

    <h4><a class="design-tip" tooltip="Send your customers to a specific page after they've logged in.">Redirect to website</a></h4>
    <input ng-model="splash.success_url" placeholder="http://polkaspots.com/awesome" type='url' name="success_url" ng-maximum='255'></input>
    <p class="text text-danger small" ng-show="myForm.success_url.$error.url"><b>Should look like a URL inc. http.</b></p>

    <input ng-model="splash.show_welcome" type="checkbox"></input>
    <label>Show welcome page?</label>

    <div ng-if="splash.show_welcome">
      <p><small>{{ splash.welcome_text.length }} <span ng-show="splash.welcome_text">characters of 1000 max.</span></small></p>
      <textarea ng-click="swapToWelcome()" ng-model="splash.welcome_text" placeholder="Welcome text (Max 1000 chars)" type='text' name="info" ng-maxlength='1000' rows=7></textarea>
      <p><a href="" ng-click="clearWelcomeEdit()">Click here when you're done.</a></small></p>
      <div class="row collapse">
        <label for="welcome_timeout">Display For</label></h4>
        <div class="small-3 columns">
          <input ng-model="splash.welcome_timeout" placeholder="0" type='number' name="welcome_timeout" ng-max='30' ng-min='0'>
        </div>
        <div class="small-4 end columns">
          <span class="postfix">Seconds</span>
        </div>
      </div>
    </div>
    <p>For more information, <span data-elevio-inline="24255">click here</span>.</a>
    <hr>

    <h4><a class="design-tip" tooltip="Customise your store messages.">Store Settings</a></h4>
    <div ng-show="store_settings">
      <input ng-model="splash.store_buy_link_text" placeholder="Buy Voucher Now" type='text' name="buy_voucher_text" ng-maximum='255'></input>
      <p><small>This will appear if you're selling vouchers via. your splash pages.</small></p>
    </div>
    <a href="" ng-click="store_settings = !store_settings">{{ store_settings ? "Hide settings" : "Show settings" }}</a>
    <hr>
    <h4><a class="design-tip" tooltip="Advanced users only, link to a custom stylesheet fancy pants." class="minicolor-label">External CSS</a></h4>
    <input ng-model="splash.external_css" placeholder="External CSS" type='text' name="external_css" ng-maxlength='255'></input>
    <p><span data-elevio-inline="7344">Using external stylesheets</span></p>
    <hr>
    <h4><a class="design-tip" tooltip="Advanced users only, add some custom css." class="minicolor-label">Custom CSS</a></h4>
    <!-- <div ng-show="custom_css"> -->
    <!--   <textarea rows=3 ng-model="splash.custom_css" placeholder="Custom CSS" type='text' name="custon_css" ng-maxlength='1000'></textarea> -->
    <!-- </div> -->
    <!-- <a class="text-white" href="" ng-click="custom_css = !custom_css">{{ custom_css ? "Hide" : "Show Settings" }}</a> -->
    <!-- <hr> -->
    <button ng-disabled="myForm.$invalid || splash.updating" class="button tiny" id="">Save <span ng-show="splash.updating"> <i class="fa fa-spinner fa-spin"></i></span></button>
  </div>

</form>
