<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Splash Page</p>
    <div flex></div>
    <md-menu ng-if="menu">
      <md-button aria-label="Open Tools" class="md-raised xmd-icon-button" ng-click="$mdOpenMenu($event)">
        <translate>
        TOOLS
        </translate>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-disabled="item.disabled" ng-click="action(item.type)">
            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
            {{item.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap ng-hide="store">

  <div ng-hide="splash_pages.length">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <!-- <md-icon md-font-icon=""></md-icon> -->
            <translate>
            Get Started
            </translate>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>Create a store and sell vouchers online via your splash pages.</p>
        <md-button class="md-raised md-primary" ng-disabled="creating" id='create-store' ng-click=createStore()><translate>Create Store</translate></md-button>
      </md-card-content>
    </md-card>

  </div>

</md-content>


<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap ng-show="store">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">
            <span ng-show="store.active" translate>
              This store is active and visible on the splash page.
            </span>
            <span ng-hide="store.active" translate>
              This store is not active yet. Enable this in the settings.
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Products">
            <md-content class="md-padding">
              <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                  <h2 class="md-headline" translate translate-n="products.length" translate-plural="{{ products.length || 0 }} Products">1 Product</h2>
                  <div flex></div>
                  <md-button class="md-raised" ng-click="addProduct()">
                    <translate>
                    New
                    </translate>
                  </md-button>
                </div>
              </md-toolbar>
              <md-table-container>
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                      <th md-column md-numeric md-order-by="value"><span translate>Value</span></th>
                      <th md-column md-order-by="description" md-desc><span translate>Description</span></th>
                      <th hide show-gt-sm md-column md-order-by="download_speed"><span translate>Speeds</span></th>
                      <th hide show-gt-sm md-column md-numeric md-order-by="devices"><span translate>Devices</span></th>
                      <th hide show-gt-sm md-column md-numeric md-order-by="session_timeout"><span translate>Timeout</span></th>
                      <th md-column><span></span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr ng-hide="product._destroy" md-row md-select="product" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="product in filtered = (products | filter: filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit)">
                      <td md-cell>{{ (product.value / 100) | currency:store.currency_symbol }}</td>
                      <td md-cell>
                        {{ product.description | truncate:30 }}
                        <md-tooltip ng-show="product.description.length > 30">
                          {{ product.description }}
                        </md-tooltip>
                      </td>
                      <td hide show-gt-sm md-cell>{{ product.upload_speed }}</td>
                      <td hide show-gt-sm md-cell>{{ product.devices }}</td>
                      <td hide show-gt-sm md-cell>{{ product.session_timeout }}</td>
                      <td md-cell>
                        <md-button class="md-icon-button" ng-click="removeProduct($index)">
                          <md-icon md-menu-origin aria-label="delete payload" md-font-icon="trash" class="s48">delete_forever</md-icon>
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </md-content>
          </md-tab>
          <md-tab label="Merchant Settings">
            <form name="myForm">
              <md-content class="md-padding">
                <h4 class="md-headline" translate>Merchant Settings</h4>
                <div layout="column" layout-gt-sm="row">
                  <div flex="100" flex-gt-sm="50">
                    <div layout="row" layout-wrap>
                      <div flex="100" flex-gt-xs="100">
                        <md-input-container layout="column">
                          <label><translate>Merchant Type</translate></label>
                          <md-select ng-model="store.merchant_type">
                            <md-option ng-repeat="type in merchant_types" value="{{ type.value }}">
                              {{type.key}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div flex="100" ng-if="store.merchant_type=='paypal'">
                        <md-input-container class="md-block">
                          <label><translate>PayPal Username</translate></label>
                          <input ng-focus="ppUser = !ppUser" ng-blur="ppUser = !ppUser" type="{{ ppUser ? 'text' : 'password' }}" ng-model="store.login_paypal" name='pplogin' placeholder="{{ 'Enter your PayPal login details' | translate }}" required></input>
                          <div ng-messages="myForm.pplogin.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must set the PayPal Login.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <div flex="100" ng-if="store.merchant_type=='paypal'">
                        <md-input-container class="md-block">
                          <label><translate>PayPal Password</translate></label>
                          <input ng-focus="ppPass = !ppPass" ng-blur="ppPass = !ppPass" type="{{ ppPass ? 'text' : 'password' }}" name='pppassword' ng-model="store.password_paypal" placeholder="{{ 'Enter your PayPal password' | translate }}" required></input>
                          <div ng-messages="myForm.pppassword.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must enter a PayPal Password.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <div flex="100" ng-if="store.merchant_type=='paypal'">
                        <md-input-container class="md-block">
                          <label><translate>PayPal Signature</translate></label>
                          <input ng-focus="ppSig = !ppSig" ng-blur="ppSig = !ppSig" type="{{ ppSig ? 'text' : 'password' }}" name='ppsig' ng-model="store.signature_paypal" placeholder="{{ 'Enter your PayPal signature' | translate }}" required></input>
                          <div ng-messages="myForm.ppsig.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must enter a PayPal Signature.</div>
                          </div>
                        </md-input-container>
                      </div>
                      
                      <div flex="100" ng-if="store.merchant_type=='stripe'">
                        <md-input-container class="md-block">
                          <label><translate>Stripe Secret Key</translate></label>
                          <input ng-focus="showSecret = !showSecret" ng-blur="showSecret = !showSecret" type="{{ showSecret ? 'text' : 'password' }}" ng-model="store.token_stripe_secret" name='stripe_secret' placeholder="{{ 'Enter your Stripe secret key' | translate }}" required></input>
                          <div ng-messages="myForm.stripe_secret.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must set the Stripe secret key.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div flex="100" ng-if="store.merchant_type=='stripe'">
                        <md-input-container class="md-block">
                          <label><translate>Stripe Public Key</translate></label>
                          <input ng-focus="showPub = !showPub" ng-blur="showPub = !showPub" type="{{ showPub ? 'text' : 'password' }}" ng-model="store.token_stripe_pub" name='stripe_pub' placeholder="{{ 'Enter your Stripe secret key' | translate }}" required></input>
                          <div ng-messages="myForm.stripe_pub.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must set the Stripe public key.</div>
                          </div>
                        </md-input-container>
                      </div>
                      
                      <div flex="100" ng-if="store.merchant_type=='sagepay'">
                        <md-input-container class="md-block">
                          <label><translate>SagePay Vendor Name</translate></label>
                          <input ng-focus="showV = !showV" ng-blur="showV = !showV" type="{{ showV ? 'text' : 'password' }}" ng-model="store.login_sagepay" name='splogin' placeholder="{{ 'Enter your SagePay login details' | translate }}" required></input>
                          <div ng-messages="myForm.splogin.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must set the SagePay vendor name.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div flex="100" ng-if="store.merchant_type=='sagepay'">
                        <md-input-container class="md-block">
                          <label><translate>SagePay Encryption Key</translate></label>
                          <input ng-focus="showE = !showE" ng-blur="showE = !showE" type="{{ showE ? 'text' : 'password' }}" ng-model="store.password_sagepay" name='sppass' placeholder="{{ 'Enter your SagePay password' | translate }}" required></input>
                          <div ng-messages="myForm.sppass.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must set the SagePay password.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div flex="100" flex-gt-xs="100">
                        <md-input-container class="md-block">
                          <label><translate>Support Email</translate></label>
                          <input name="email" type="email" ng-model="store.email" placeholder="{{ 'Enter a Contact Email' | translate }}" required></input>
                          <div ng-messages="myForm.email.$error" md-auto-hide="false">
                            <div ng-message="email" translate>Must be a valid email address.</div>
                            <div ng-message="required" translate>You must enter a support email for the store.</div>
                          </div>
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                  <div flex></div>
                  <div flex="100" flex-gt-sm="40">
                    <div layout="row" layout-wrap>
                      <div flex="100" flex-gt-xs="50">
                        <currency model="store.currency"></currency>
                      </div>
                      <div flex="100" flex-gt-xs="50">
                        <md-input-container class="md-block">
                          <label><translate>Symbol</translate></label>
                          <input name="symbol" type="text" value="£" ng-model="store.currency_symbol" placeholder="{{ 'Currency Symbol' | translate }}"></input>
                          <div ng-messages="myForm.symbol.$error" md-auto-hide="false">
                            <div ng-message="required" translate>You must enter a currency symbol.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div flex="100" flex-gt-xs="100">
                        <md-input-container layout="column">
                          <label><translate>Environment</translate></label>
                          <md-select ng-model="store.development_mode">
                            <md-option ng-repeat="env in environments" value="{{ env.value }}">
                              {{env.key}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                      <div flex="100" flex-gt-xs="100">
                        <md-switch class="md-accent" ng-model="store.active" aria-label="active" ng-disabled="!products.length">
                          <span ng-show="store.active" translate>Store Enabled</span>
                          <span ng-show="!store.active" translate>Store Disabled</span>
                        </md-switch>
                        <p ng-hide="products.length"><b translate>Add a product before activating this store.</b></p>
                        <p><small translate>Your store won't appear on the splash pages until you've set it to active.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </md-content>
              <md-button ng-click="update('Payment Gateway Updated.',myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised md-primary"><translate>Save</translate></md-button>
            </form>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>

</md-content>

