<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" aria-label="Users">
      <md-icon md-font-icon="" >people</md-icon>
    </md-button>
    <p>Admin Users</p>
    <div flex></div>
    <md-card-actions layout="row" layout-align="end center" ng-if="allowed === true" >
      <md-button class="md-icon-button md-accent" ng-click="invite()">
        <md-icon>add_circle</md-icon>
      </md-button>
    </md-card-actions>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card ng-if="users.length">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              Admin Users
            </span>
            <span class="md-subhead">
              Add users to manage and monitor your location.
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-table-container>
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
              <thead md-head>
                <tr md-row class="md-table-headers-row">
                  <th hide show-gt-sm md-column><span>Username</span></th>
                  <th md-column><span>Email</span></th>
                  <th hide show-gt-sm md-column><span>Status</span></th>
                  <th hide show-gt-sm md-column><span>Created</span></th>
                  <th ng-show="menu.length" md-column>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="user" md-auto-select="options.autoSelect" ng-repeat="user in filtered = (users | filter: query.filter | orderBy: query.order)">
                  <td hide show-gt-sm md-cell>
                    {{ ::user.username || 'N/A' }}
                  </td md-cell>
                  <td md-cell>
                    {{ ::user.email }}
                    <md-tooltip hide-gt-sm>
                      State: {{ user.state | titleCase }}. Created: {{ (user.created_at || user.timestamp ) | humanTime }}
                    </md-tooltip>
                  </td md-cell>
                  <td hide show-gt-sm md-cell>
                    {{ ::user.state | titleCase }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell>
                    {{ (user.created_at || user.timestamp ) | humanTime }}
                  </td md-cell>
                  <td md-cell ng-if="menu.length">
                    <md-menu>
                      <md-button aria-label="Open Clients Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item ng-repeat="item in menu">
                          <md-button ng-click="action(item.type,user)" ng-disabled="user.state == 'owner' && item.type == 'revoke'">
                            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ ::item.icon }}">{{ ::item.icon }}</md-icon>
                            <p flex>{{ ::item.name }}</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
