<div>
  <md-input-container class="md-block" flex-gt-xs="50">
    <label>
      <translate>Run Payload</translate>
    </label>
    <md-select ng-model="command.selected">
      <md-option ng-repeat="cmd in commands" value="{{cmd.unique_id}}">
        {{cmd.payload_description | translatablePayloadDescription }}
      </md-option>
    </md-select>
  </md-input-container>
  <md-button ng-disabled="!command.selected" class="md-raised" ng-click="runCommand()"><translate>RUN</translate></md-button>
</div>
