<md-content class="md-padding" ng-if="project.admin != true">
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              Project Details
            </span>
            <span class="md-subhead" translate>
              Only project admins can edit the project details.
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3>Description</h3>
              <h4>{{ project.description }}</h4>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3>Created</h3>
              <h4>{{ project.created_at | humanTime }}</h4>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Associated Locations</h3>
              <h4>
                {{ ::project.locations }}
              </h4>
            </div>
          </md-list-item>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap ng-if="project && project.admin == true">
  <div flex layout="column">
    <form name="myForm" ng-submit="save(project)">
      <div class="md-padding" layout="column" layout-gt-sm='column'>
        <div layout="column" layout-gt-xs="row" layout-align="center center">
          <div>
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline" translate>
                    Project Settings
                  </span>
                  <span class="md-subhead" translate>
                    Update your project. Project associated with {{ ::project.locations }} location<span ng-if="project.locations != 0">s</span>.
                  </span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <div layout="column" layout-gt-xs="row" layout-wrap flex="100" flex-gt-sm="100">
                  <md-input-container class="md-block" flex-gt-xs="100">
                    <label><translate>Project Name</translate></label>
                    <input  type="text" name="project_name" placeholder="{{ 'Enter a project name' | translate }}" ng-model="project.project_name" md-maxlength="25" ng-minlength="5" required></input>
                    <div ng-messages="myForm.project_name.$error" md-auto-hide="false">
                      <div ng-message="required" translate>Please enter a name for your project</div>
                      <div ng-message="md-maxlength" translate>Must be less than 25 characters</div>
                      <div ng-message="minlength" translate>Minimum 5 characters</div>
                      <div ng-message="pattern" translate>Number &amp; letters only</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs="100">
                    <label translate>Description</label>
                    <input type="text" name="url" placeholder="Project description" ng-model="project.description" md-maxlength=255 ng-minlength=5></input>
                  </md-input-container>
                </div>
              </md-card-content>
            </md-card>

            <md-button type="submit" ng-click="save(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised"><translate>Save</translate></md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</md-content>
