<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back">arrow_back</md-icon>
    </md-button>
    <p translate>Triggers</p>
    <md-menu ng-if="menu.length">
      <md-button aria-label="{{ 'Open Tools' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-disabled="item.disabled" ng-click="action(item.type)">
            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
            {{item.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form name="myForm" ng-submit="save(myForm)">
  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                <span ng-if="!trigger.id" translate>Name your Trigger</span>
                <span ng-if="trigger.id" translate>{{ trigger.trigger_name }} Trigger</span>
              </span>
              <span class="md-subhead" ng-if="trigger.id" translate>
                Trigger ID: {{ ::trigger.id }}
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>
                <translate>Trigger Name</translate>
              </label>
              <input type="text" name="trigger_name" ng-minlength="5" md-maxlength="50" ng-model="trigger.trigger_name" placeholder="{{ 'My Handy Trigger' | translate }}" required md-autofocus></input>
              <div ng-messages="myForm.trigger_name.$error">
                <div ng-message="required"  translate>Please enter a name for your trigger</div>
                <div ng-message="md-maxlength" translate>Must be less than 50 characters</div>
              </div>
            </md-input-container>
            <md-input-container layout="column" ng-if="trigger.id && trigger.trigger_event == 'action'" style="margin: 40px 0 10px 0">
              <label>
                <translate>Trigger URL</translate>
              </label>
              <input type="{{ showpassword == true ? 'text' : 'password' }}" ng-focus="showpassword = !showpassword" ng-blur="showpassword = !showpassword" name="trigger_url" ng-model="trigger.action_url" readonly="readonly"></input>
            </md-input-container>
            <small class="muted" style="font-size: 75%;" ng-if="trigger.id && trigger.trigger_event == 'action'" translate>The unique URL to run trigger. Supports POST or GET requests. <b>Keep this secret!</b></small>

            <md-switch ng-model="trigger.active" aria-label="{{ 'Active' | translate }}" ng-change="active()" class="md-warn" ng-show="trigger.id">
              <span ng-if="trigger.active" translate>Trigger Active</span>
              <span ng-if="!trigger.active" translate>Trigger Disabled</span>
            </md-switch>
          </md-card-content>

        </md-card>
        <md-card iing-if="trigger.trigger_name || trigger.id">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Choose an Event
              </span>
              <span class="md-subhead" ng-hide="trigger.locked" translate>
                First you need to choose an event type.
              </span>
              <span class="md-subhead" ng-show="trigger.locked" translate>
                This is a system trigger and is locked, you can't adjust some settings.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>
                <translate>Event</translate>
              </label>
              <md-select ng-model="trigger.type" ng-disabled="trigger.locked || trigger.id">
                <md-option ng-repeat="type in triggers | orderBy:'value'" value="{{type.value}}">
                  {{ type.key }}
                </md-option>
              </md-select>
            </md-input-container>

            <md-radio-group ng-model="trigger.trigger_event" layout="row" ng-disabled="trigger.id" ng-show="trigger.type != '_all' && location.slug" ng-change="resetTypes()">
              <md-radio-button value="notify">
                <translate>
                  Create Notification
                </translate>
              </md-radio-button>
              <md-radio-button value="action">
                <translate>
                  Perform Action
                </translate>
              </md-radio-button>
            </md-radio-group>

            <p ng-if="trigger.type == 'action'"><small translate>Send triggers when an action run.</small></p>
            <p ng-if="trigger.type == 'box'"><small translate>Send triggers when something happens to your boxes.</small></p>
            <p ng-if="trigger.type == 'client'"><small translate>Send a trigger when your wireless clients cause an event.</small></p>
            <p ng-if="trigger.type == 'email'"><small translate>When an email address is captured, send a trigger.</small></p>
            <p ng-if="trigger.type == 'guest'"><small translate>Send triggers when a guest causes an event</small></p>
            <p ng-if="trigger.type == 'location'"><small translate>Send triggers when one of your locations causes an event.</small></p>
            <p ng-if="trigger.type == 'network'"><small translate>Send triggers when your networks cause an event.</small></p>
            <p ng-if="trigger.type == 'quickcode'"><small translate>Send triggers when QuickCodes cause an event.</small></p>
            <p ng-if="trigger.type == 'rogue'"><small translate>Send triggers when rogue devices checkin</small></p>
            <p ng-if="trigger.type == 'splash'"><small translate>Send triggers on splash page events</small></p>
            <p ng-if="trigger.type == 'social'"><small translate>Send triggers when a Social login causes a trigger.</small></p>
            <p ng-if="trigger.type == 'store'"><small translate>Send triggers when a store creates an event.</small></p>
            <p ng-if="trigger.type == 'voucher'"><small translate>Send a trigger when a vouchers creates a trigger</small></p>
            <p ng-if="trigger.type == 'zone'"><small translate>Send triggers when changes happen to a zone.</small></p>

            <p ng-if="trigger.type == 'user'"><small translate>Send triggers when changes happen to a user.</small></p>
            <p ng-if="trigger.type == 'brand'"><small translate>Send triggers when changes happen to a brand.</small></p>
            <p ng-if="trigger.type == 'project'"><small translate>Send triggers when changes happen to a project.</small></p>
            <p ng-if="trigger.type == 'project_user'"><small translate>Send triggers when project users are updated.</small></p>

          </md-card-content>
        </md-card>
        <md-card ng-if="trigger.type && trigger.type != '_all'">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Set the event trigger
              </span>
              <span class="md-subhead">
                <span ng-if="trigger.trigger_event == 'notify'" translate>
                  The trigger will fire when this event happens.
                </span>
                <span ng-if="trigger.trigger_event == 'action'">
                  <translate>The trigger will run this action.</translate>
                  <span ng-if="trigger.trigger_event == 'action'" translate>Cannot be changed once created.</span>
                </span>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-radio-group ng-model="trigger.trigger_type" layout="column" ng-disabled="trigger.locked || trigger.id" required>
              <span ng-if="trigger.type == 'action'">
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="action.run">
                    <translate>
                      Runs
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'box'" layout="row" layout-wrap>
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="box.reboot">
                    <translate>
                      Reboot
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.reset">
                    <translate>
                      Reset
                    </translate>
                  </md-radio-button>
                  <!-- <md-radio-button value="box.destroy"> -->
                  <!--   <translate> -->
                  <!--     Delete -->
                  <!--   </translate> -->
                  <!-- </md-radio-button> -->
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="box.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.reset">
                    <translate>
                      Reset
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="box.transfer">
                    <translate>
                      Transferred
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.resync">
                    <translate>
                      Resynced
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.online">
                    <translate>
                      Marked online
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.offline">
                    <translate>
                      Marked offline
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'client'">
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="client.create">
                    <translate>
                      First connects
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="client.login">
                    <translate>
                      Logs in through splash
                    </translate>
                  </md-radio-button>
                </span>

                <!-- <span flex="50" ng-show="trigger.trigger_event == 'action'"> -->
                <!--   <md-radio-button value="client.disconnect"> -->
                <!--     <translate> -->
                <!--       Disconnect -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!--   <md-radio-button value="client.block"> -->
                <!--     <translate> -->
                <!--       Block -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!-- </span> -->

              </span>

              <span ng-if="trigger.type == 'email' && trigger.trigger_event == 'notify'">
                <md-radio-button value="email.create">
                  <translate>
                    Captured
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'guest' && trigger.trigger_event == 'notify'">
                <md-radio-button value="guest.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'location'" layout="row" layout-wrap>
                <!-- <span flex="50" ng-show="trigger.trigger_event == 'action'"> -->
                <!--   <md-radio-button value="location.archive"> -->
                <!--     <translate> -->
                <!--       Archive -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!--   <md-radio-button value="location.restore"> -->
                <!--     <translate> -->
                <!--       Restore -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!--   <md-radio-button value="location.destroy"> -->
                <!--     <translate> -->
                <!--       Delete -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!-- </span> -->
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="location.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="location.unarchive">
                    <translate>
                      Unarchived
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.transfer">
                    <translate>
                      Transferred
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.duplicate">
                    <translate>
                      Duplicated
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'network'">
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="network.disable">
                    <translate>
                      WiFi off
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="network.enable">
                    <translate>
                      WiFi on
                    </translate>
                  </md-radio-button>
                  <!-- <md-radio-button value="network.destroy"> -->
                  <!--   <translate> -->
                  <!--     Delete -->
                  <!--   </translate> -->
                  <!-- </md-radio-button> -->
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="network.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="network.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="network.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'quickcode'">
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <!-- <md-radio-button value="quickcode.destroy"> -->
                  <!--   <translate> -->
                  <!--     Delete -->
                  <!--   </translate> -->
                  <!-- </md-radio-button> -->
                  <md-radio-button value="quickcode.create">
                    <translate>
                      Create
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="quickcode.password">
                    <translate>
                      Generate Password
                    </translate>
                  </md-radio-button>
                </span>

                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="quickcode.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="quickcode.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="quickcode.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="quickcode.login">
                    <translate>
                      Logged In
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'rogue' && trigger.trigger_event == 'notify'">
                <md-radio-button value="rogue.detected">
                  <translate>
                    Detected
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'splash'" layout="row" layout-wrap>
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="splash.disable">
                    <translate>
                      Disable
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="splash.enable">
                    <translate>
                      Enable
                    </translate>
                  </md-radio-button>
                  <!-- <md-radio-button value="splash.destroy"> -->
                  <!--   <translate> -->
                  <!--     Delete -->
                  <!--   </translate> -->
                  <!-- </md-radio-button> -->
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="splash.password">
                    <translate>
                      Generate Password
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="splash.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="splash.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="splash.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="splash.password">
                    <translate>
                      Password changed
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'social' && trigger.trigger_event == 'notify'">
                <md-radio-button value="social.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>

                <md-radio-button value="social.login">
                  <translate>
                    Logged in
                  </translate>
                </md-radio-button>

              </span>

              <span ng-if="trigger.type == 'store'" layout="row" layout-wrap>
                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="store.disable">
                    <translate>
                      Disable
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.enable">
                    <translate>
                      Enable
                    </translate>
                  </md-radio-button>

                  <!-- <md-radio-button value="store.destroy"> -->
                  <!--   <translate> -->
                  <!--     Destroy -->
                  <!--   </translate> -->
                  <!-- </md-radio-button> -->
                </span>

                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="store.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.destroy">
                    <translate>
                      Destroy
                    </translate>
                  </md-radio-button>
                </span>

                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="store.purchase">
                    <translate>
                      Purchase
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.refund">
                    <translate>
                      Refund
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'trigger' && trigger.trigger_event == 'notify'">
                <md-radio-button value="trigger.fail">
                  <translate>
                    Failed
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'voucher'">
                <!-- <span flex="50" ng-show="trigger.trigger_event == 'action'"> -->
                <!--   <md-radio-button value="voucher.disable"> -->
                <!--     <translate> -->
                <!--       Disable -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!--   <md-radio-button value="voucher.enable"> -->
                <!--     <translate> -->
                <!--       Enable -->
                <!--     </translate> -->
                <!--   </md-radio-button> -->
                <!--   <1!-- <md-radio-button value="voucher.destroy"> --1> -->
                <!--   <1!--   <translate> --1> -->
                <!--   <1!--     Delete --1> -->
                <!--   <1!--   </translate> --1> -->
                <!--   <1!-- </md-radio-button> --1> -->
                <!-- </span> -->
                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="voucher.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="voucher.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'user'" layout="row" layout-wrap>

                <span flex="50" ng-show="trigger.trigger_event == 'action'">
                  <md-radio-button value="user.logout">
                    <translate>
                      Logout
                    </translate>
                  </md-radio-button>
                </span>

                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="user.create">
                    <translate>
                      Created*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="user.update">
                    <translate>
                      Updated*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="user.destroy">
                    <translate>
                      Deleted*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="user.password">
                    <translate>
                      Password Changed*
                    </translate>
                  </md-radio-button>
                </span>

                <span flex="50" ng-show="trigger.trigger_event == 'notify'">
                  <md-radio-button value="user.invite">
                    <translate>
                      Invited
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="user.revoke">
                    <translate>
                      Revoked
                    </translate>
                  </md-radio-button>
                </span>
                <small ng-if="trigger.trigger_event == 'notify'" class="muted" style="font-size: 75%;">*Only available for brand triggers.</small>
              </span>

              <span ng-if="trigger.type == 'project' && trigger.trigger_event == 'notify'" layout="row" layout-wrap>
                <span flex="100">
                  <md-radio-button value="project.create">
                    <translate>
                      Created*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="project.update">
                    <translate>
                      Updated*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="project.destroy">
                    <translate>
                      Deleted*
                    </translate>
                  </md-radio-button>
                </span>
                <small class="muted" style="font-size: 75%;">*Only available for brand triggers.</small>
              </span>

              <span ng-if="trigger.type == 'project_user' && trigger.trigger_event == 'notify'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="project_user.create">
                    <translate>
                      Created*
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="project_user.destroy">
                    <translate>
                      Deleted*
                    </translate>
                  </md-radio-button>
                </span>
                <small ng-if="trigger.trigger_event == 'notify'" class="muted" style="font-size: 75%;">*Only available for brand triggers.</small>
              </span>

              <span ng-if="trigger.type == 'zone' && trigger.trigger_event == 'notify'">
                <span flex="50">
                  <md-radio-button value="zone.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="zone.generate">
                    <translate>
                      Generated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="zone.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
              </span>
            </md-radio-group>

            <span ng-if="location.slug && trigger.trigger_event == 'action' && (trigger.type == 'guest' || trigger.type == 'email' || trigger.type == 'rogue' || trigger.type == 'social' || trigger.type == 'store' || trigger.type == 'zone' || trigger.type == 'client' || trigger.type == 'action' || trigger.type == 'voucher' || trigger.type == 'location')">
              <b><translate>Action triggers not available for {{ trigger.type }}s</translate></b>
            </span>

          </md-card-content>
        </md-card>

        <md-card iing-if="trigger.trigger_type && trigger.trigger_event == 'action'">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <translate>
                  Action Settings
                </translate>
              </span>
              <span class="md-subhead" translate>
                Create an inbound webhook for external applications like Zapier or IFTTT to call. Or schedule it to run periodically.
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>

            <md-switch ng-true-value="1" ng-model="trigger.schedule" aria-label="Switch">
              Scheduled
            </md-switch>

            <!-- <small class="muted" style="font-size: 75%;">Schedule the trigger to run periodically</small> -->

            <span iing-show="trigger.schedule == 1">
              <div layout-gt-sm="row" layout="column" layout-wrap>
                <md-input-container flex-gt-sm="50" flex="100">
                  <label>
                    <translate>Every</translate>
                  </label>
                  <md-select ng-model="trigger.cron_frequency" ng-required="trigger.schedule == 1" ng-disabled="trigger.schedule !== 1">
                    <md-option ng-repeat="every in everies" value="{{ every.value }}">
                      {{ every.key }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout-gt-sm="row" layout="column" layout-wrap>
                <md-input-container flex-gt-sm="25" flex="100">
                  <label>
                    <translate>Hour</translate>
                  </label>
                  <md-select ng-model="trigger.hours" ng-required="trigger.schedule == 1" ng-disabled="trigger.schedule !== 1">
                    <md-option ng-repeat="hour in hours" value="{{ hour.value }}">
                      {{ hour.key }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex-gt-sm="25" flex="100">
                  <label>
                    <translate>Minutes</translate>
                  </label>
                  <md-select ng-model="trigger.mins" ng-required="trigger.schedule == 1" ng-disabled="trigger.schedule !== 1">
                    <md-option ng-repeat="min in mins" value="{{ min.value }}">
                      {{ min.key }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </span>

            <small ng-if="trigger.hours && trigger.mins" class="muted" style="font-size: 75%;">Run the action automatically every {{ trigger.cron_frequency }} at {{ trigger.hours }}:{{ trigger.mins }}</small>

            <md-switch ng-model="trigger.notify" aria-label="Switch">
              Send notification
            </md-switch>
            <small class="muted" style="font-size: 75%;">
              Receive a notification when this trigger runs
            </small>
          </md-card-content>
        </md-card>

        <div ng-if="trigger.trigger_event == 'notify' || trigger.notify">
          <md-card ng-if="trigger.trigger_type">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <translate>
                    Select a Channel
                  </translate>
                </span>
                <span class="md-subhead" translate>
                  <span ng-if="trigger.trigger_event == 'notify'">
                    The channel is the way you get notified.
                  </span>
                  <span ng-if="trigger.trigger_event == 'action'">
                    Send a notification to this channel after the action runs.
                  </span>
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-input-container layout="column">
                <label>
                  <translate>Channel</translate>
                </label>
                <md-select ng-model="trigger.channel" ng-change="initChannel()">
                  <md-option ng-repeat="channel in channels" value="{{channel.value}}">
                    {{channel.key}}
                  </md-option>
                </md-select>
              </md-input-container>
            </md-card-content>
          </md-card>

          <md-card ng-if="trigger.channel">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  <span ng-show="trigger.channel == 'email'" translate>Send an Email</span>
                  <span ng-show="trigger.channel == 'slack'" translate>Notify Slack</span>
                  <span ng-show="trigger.channel == 'webhook'" translate>Send a Webhook</span>
                  <!-- <span ng-show="trigger.channel == 'mailchimp'" translate>Add to List</span> -->
                  <!-- <span ng-show="trigger.channel == 'sms'" translate>Send SMS</span> -->
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <trigger-tags type="{{trigger.type}}" channel="{{trigger.channel}}"></trigger-tags>
              <span channel-types ver='{{ trigger.channel }}'></span>
            </md-card-content>
          </md-card>
        </div>

        <md-card ng-if="trigger.trigger_type && (trigger.channel || trigger.trigger_event == 'action')">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Advanced Settings
              </span>
              <span class="md-subhead" translate>
                Deferring the trigger will queue it and send it after the event has occurred.
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout-gt-sm="column" layout="column" flex-gt-xs="60" flex="100">
              <md-input-container ng-if="trigger.trigger_event == 'notify'">
                <label>
                  <translate>Defer Minutes</translate>
                </label>
                <input type="text" name="ttl" md-maxlength="100" ng-model="trigger.ttl" placeholder="{{ 'Defer for minutes' | translate }}"></input>
                <div ng-messages="myForm.ttl.$error">
                  <div ng-message="md-max" translate>Must be less than 100 chars</div>
                </div>
              </md-input-container>

              <span ng-if="trigger.trigger_event == 'notify'" layout="column">
                <md-input-container style="margin: 0 0 -20px -3px;">
                  <label>
                    <translate>Match</translate>
                  </label>
                  <input type="text" name="match" md-maxlength="255" ng-model="trigger.match" placeholder="{{ 'Expression match' | translate }}"></input>
                  <div ng-messages="myForm.match.$error">
                    <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                  </div>
                </md-input-container>
                <small class="muted" style="font-size: 75%;" translate>Regex match on description, AP Mac or Zone ID.</small>
              </span>

              <md-input-container style="margin: 40px 0 0 -3px;" ng-if="trigger.trigger_event == 'action'">
                <label>
                  <translate>Authorized IPs</translate>
                </label>
                <input md-maxlength="255" name="ips" type="text" name="tags" ng-model="trigger.authorized_ips" placeholder="{{ 'Authorized IPs' | translate }}"></input>
                <div ng-messages="myForm.ips.$error">
                  <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                </div>
                <small class="muted" style="font-size: 75%; margin-top: -20px" translate>Whitelist IP addresses.</small>
              </md-input-container>

              <md-input-container style="margin: 40px 0 0 -3px;">
                <label>
                  <translate>Tags</translate>
                </label>
                <input md-maxlength="255" type="text" name="tags" ng-model="trigger.tags" placeholder="{{ 'Tags' | translate }}"></input>
                <div ng-messages="myForm.tags.$error">
                  <div ng-message="md-maxlength" translate>Must be less than 128 characters</div>
                </div>
                <small class="muted" style="font-size: 75%; margin-top: -20px" translate>Match any object tags.</small>
              </md-input-container>

            </div>

            <div layout-gt-sm="row" layout="column" flex="100" ng-if="trigger.trigger_event == 'notify'">
              <div style="margin-top: 1px;">
                <p><small translate>Allowed Days</small></p>
                <day-selector active="true" days="trigger.allowed_days" array="trigger.periodic_days"></day-selector>
              </div>
            </div>

            <span ng-if="trigger.trigger_event == 'notify'">
              <div layout-gt-sm="row" flex="100" flex-gt-xs="60" style="margin: 20px 0 -20px 0">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>Start Hour</label>
                  <input type="time" ng-model="trigger.starttime">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>End Hour</label>
                  <input type="time" ng-model="trigger.endtime">
                </md-input-container>
              </div>
            </span>

            <small class="muted" style="font-size: 75%;" translate>Set the start and end hours to zero to get alerts all day.</small>

            <span ng-show="brand.id">
              <md-switch ng-model="trigger.template" aria-label="Switch">
                Location Template
              </md-switch>
              <small class="muted" style="font-size: 75%;" translate>Template triggers won't fire for brand events. Instead, they will be added to your locations as default triggers.</small>
            </span>
          </md-card-content>
        </md-card>

        <md-button type="submit" ng-disabled="myForm.$invalid || myForm.$pristine || trigger.type == '_all'" class="md-raised"><translate>Save</translate></md-button>
      </div>
    </div>
  </md-content>
</form>
