<p ng-bind-html="error"></p>
<div layout="column">
  <div layout="column">
    <md-input-container>
      <label>
        <translate>Slack URL</translate>
      </label>
      <input type="url" name="slack_url" ng-model="trigger.attr_1" placeholder="{{ 'Enter your Slack Webhook' | translate }}"></input>
      <div ng-messages="myForm.slack_url.$error" md-auto-hide="false">
        <div ng-message="url" translate>Must be a valid URL</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>
        <translate>Message</translate>
      </label>
      <textarea name="slack-msg" ng-model="trigger.attr_2" md-maxlength="1000" placeholder="" rows=8 required></textarea>
      <div ng-messages="myForm.slack-msg.$error" md-auto-hide="false">
        <div ng-message="required" translate>Please enter a message</div>
        <div ng-message="md-maxlength" translate>Must be less than 1000 characters</div>
      </div>
    </md-input-container>


    <md-input-container>
      <label>
        <translate>Channel Override (Optional)</translate>
      </label>
      <input name="icon" ng-model="trigger.attr_3" placeholder="{{ 'Enter a channel' | translate }}"></input>
    </md-input-container>

    <md-input-container>
      <label>
        <translate>Emoji (Optional)</translate>
      </label>
      <input type="text" name="slack-icon" ng-model="trigger.attr_4" placeholder="{{ 'Emoji time!' | translate }}"></input>
    </md-input-container>

    <md-input-container>
      <label>
        <translate>Username (Optional)</translate>
      </label>
      <input type="text" name="slack-username" ng-model="trigger.attr_5" placeholder="{{ 'Username' | translate }}"></input>
    </md-input-container>
  </div>
</div>
