<md-card>
  <div class="md-card-image" style="height: 5px; background-color: {{ color }};"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <translate>Data Usage</translate>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <ul>
      <li>
        <div class="box-name">
          <p>Box 1</p>
        </div>
        <div id="chart3" class="box-heartbeat">
          <svg></svg>
        </div>
      </li>
      <li>
        <div class="box-name">
          <p>Box 2</p>
        </div>
        <div id="chart4" class="box-heartbeat">
          <svg></svg>
        </div>
      </li>
    <ul>
  </md-card-content>
</md-card>