<md-card flex="100" class="snapshot-card">
  <div class="md-card-image" style="height: 5px; background-color: {{ color }};"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <translate>Devices Online</translate>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div layout="row">
      <div class="box-name" flex="40">
        <p>Box 1</p>
      </div>
      <div id="chart3" class="box-heartbeat" flex="60">
        <svg></svg>
      </div>
    </div>
    <div layout="row">
      <div class="box-name" flex="40">
        <p>Box 2</p>
      </div>
      <div id="chart4" class="box-heartbeat" flex="60">
        <svg></svg>
      </div>
    </div>
  </md-card-content>
</md-card>