<md-card>
  <div class="md-card-image" style="height: 5px; background-color: {{ color }};"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        <!-- // <md-icon md-font-icon="arrow_back">favorite</md-icon> -->
        Favourites
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <span ng-if="loading" translate>
      Loading.
    </span>
    <span ng-if="!loading">
      <span ng-if="!locations.length" translate>
        You have no favourite locations.
      </span>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in locations" href="/#/locations/{{ ::item.slug }}">
          <div class="md-list-item-text">
            <h3>{{ ::item.location_name }}</h3>
            <h4>{{ ::item.location_address | truncate:20 }}.</h4>
            <p><span translate translate-n="{{ ::item.boxes_count }}" translate-plural="{{ ::item.boxes_count }} boxes"> 1 box. <span translate translate-n="{{ ::item.clients_online }}" translate-plural="{{ ::item.clients_online }} clients online."> 1 client online.</span></p>
          </div>
        </md-list-item>
      </md-list>
    </span>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="row" layout-align="end center" >
    <md-button target="_blank" ng-disabled="!locations" ng-click="all()" translate>VIEW ALL</md-button>
  </md-card-actions>
</md-card>
