<md-card flex="100">
  <div class="md-card-image" style="height: 5px; background-color: rgb(76,175,80)"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <translate>Health Report</translate>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
      <div>
        Your boxes are healthy!
        No symptoms.
      </div>
      <div id="clients-count">
        <p>In this time you have had:</p>
        <h1>93</h1>
        <p>Clients Connected</p>
      </div>
  </md-card-content>
</md-card>
