<md-card flex="100" class="snapshot-card">
  <div class="md-card-image" style="height: 5px; background-color: rgb(76,175,80)"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <translate>Health Report</translate>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div id='health-summary'>
      Your boxes are healthy!
      No symptoms.
    </div>
    <div id='health-uniques'>
      You had 528 unique clients in this period.
    </div>
    <div id='health-devices'>
      All 5 of your boxes were online during this period!
    </div>
  </md-card-content>
</md-card>