<md-card flex="100">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <translate>Health Report</translate>
        <span>
          <i class="fa fa-heart" aria-hidden="true"></i>
          <i class="fa fa-heart" aria-hidden="true"></i>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </span>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
      Your boxes are healthy!
      No symptoms.
  </md-card-content>
</md-card>
