<div layout="column" layout-xs="column" layout-sm='column' iilayout-wrap layout-gt-sm='row' hide show-gt-sm ng-if="!pinned && !alerts">

  <md-button ng-href="/#/locations" flex-md="50" flex-gt-md="25" class="md-raised home-stat-card-local">
    <div layout="row">
      <div flex="50" style="padding-left:20px;">
        <span ng-if="loading"><h1 translate>0</h1></span>
        <span ng-if="!loading"><h1>{{ ::stats.locations }}</h1></span>
        <p translate>Locations</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>business</md-icon>
      </div>
    </div>
  </md-button>

  <md-button ng-href="/#/alerts" flex-md="50" flex-gt-md="25" class="md-raised home-stat-card-box">
    <div layout="row">
      <div flex="50" style="padding-left:20px;">
        <span ng-if="loading"><h1 translate>0</h1></span>
        <span ng-if="!loading"><h1 translate>{{ ::online }}</h1></span>
        <p>Devices Online</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>router</md-icon>
      </div>
      <md-tooltip>
        <translate>
          {{ ::offline }} Offline, {{ ::stats.boxes.stats.total }} Total
        </translate>
      </md-tooltip>
    </div>
  </md-button>

  <md-button ng-href="/#/reports" flex-md="50" flex-gt-md="25" class="md-raised home-stat-card-client">
    <div layout="row">
      <div flex="50" style="padding-left:20px;">
        <span ng-if="loading"><h1 translate>0</h1></span>
        <span ng-if="!loading"><h1>{{ ::stats.online }}</h1></span>
        <p translate>Clients Online</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>devices</md-icon>
      </div>
    </div>
  </md-button>

  <md-button ng-href="/#/reports/radius" flex-md="50" flex-gt-md="25" class="md-raised home-stat-card-splash">
    <div layout="row">
      <div flex="50" style="padding-left:20px;">
        <span ng-if="loading"><h1 translate>0</h1></span>
        <span ng-if="!loading"><h1>{{ ::stats.splash_views }}</h1></span>
        <p translate>Splash Views</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>web</md-icon>
      </div>
    </div>
  </md-button>

</div>
