<div layout="column" layout-xs="column" layout-sm='column' iilayout-wrap layout-gt-sm='row' hide show-gt-sm ng-if="!pinned && !alerts">

  <md-card md-ink-ripple flex-md="50" flex-gt-md="25" class="home-stat-card-local">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>17</h1>
        <p>Locations</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>business</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card md-ink-ripple flex-md="50" flex-gt-md="25" class="home-stat-card-box">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>42</h1>
        <p>Devices Online</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>router</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card md-ink-ripple flex-md="50" flex-gt-md="25" class="home-stat-card-client">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>123</h1>
        <p>Clients Online</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>devices</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card md-ink-ripple flex-md="50" flex-gt-md="25" class="home-stat-card-splash">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>2593</h1>
        <p>Splash Views</p>
      </div>
      <div flex="50" class="home-stat-icon">
        <md-icon>web</md-icon>
      </div>
    </md-card-content>
  </md-card>

</div>
