<div layout="column" layout-xs="column" layout-sm='column' iilayout-wrap layout-gt-sm='row' hide show-gt-sm ng-if="!pinned && !alerts">

  <md-card flex-md="50" flex-gt-md="25" style="background-color:#5C6BC0;color:white;">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>17</h1>
        <p>Locations</p>
      </div>
      <div flex="50" style="display:flex;justify-content:center;align-items:center;">
        <md-icon style="color:white;font-size:70px;height:auto;width:auto;">business</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card flex-md="50" flex-gt-md="25" style="background-color:#42A5F5;color:white;">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>42</h1>
        <p>Boxes Online</p>
      </div>
      <div flex="50" style="display:flex;justify-content:center;align-items:center;">
        <md-icon style="color:white;font-size:70px;height:auto;width:auto;">router</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card flex-md="50" flex-gt-md="25" style="background-color:#26C6DA;color:white;">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>123</h1>
        <p>Clients Online</p>
      </div>
      <div flex="50" style="display:flex;justify-content:center;align-items:center;">
        <md-icon style="color:white;font-size:70px;height:auto;width:auto;">devices</md-icon>
      </div>
    </md-card-content>
  </md-card>

  <md-card flex-md="50" flex-gt-md="25" style="background-color:#26A69A;color:white;">
    <md-card-content layout="row">
      <div flex="50" style="padding-left:20px;">
        <h1>2593</h1>
        <p>Splash Views</p>
      </div>
      <div flex="50" style="display:flex;justify-content:center;align-items:center;">
        <md-icon style="color:white;font-size:70px;height:auto;width:auto;">web</md-icon>
      </div>
    </md-card-content>
  </md-card>

</div>
