<location-settings-nav></location-settings-nav>

<md-content class="md-padding page-meta">
  location.has_devices = {{location.has_devices}}
  <span ng-show="location.has_devices == false">
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="100">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>No Devices Added</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>Ensure you have set up your integration.</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>
              <translate>
                Setup Integration
              </translate>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </span>

  <!-- <span ng-if="location.has_devices"> -->
  <span>
    <location-boxes filter="query" loading="loading" token="{{location.pubsub_token}}" streaming="location.streamingUpdates"></location-boxes>
  </span>

</md-content>
