<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">

  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">
  <span flex></span>
  <div>
    <md-input-container flex="100" ng-show="location.has_devices">
      <label></label>
      <md-icon md-font-icon="search">search</md-icon>
      <input ng-model="query" md-autofocus placeholder="{{ 'Search Devices' | translate }}">
    </md-input-container>
  </div>
</md-content>

<md-content class="md-padding">
  <span ng-show="location.has_devices == false">
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="100">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>Getting Started</span>
              <span class="md-subhead" translate>Add your first device so you can get started building your guest access</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <p translate>Add your device when you are ready.</p>
            <md-button class="md-raised" ng-click="addDevice()" aria-label="{{ 'Add Device' | translate }}">
              <translate>
                Add Device
              </translate>
            </md-button>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </span>

  <span ng-if="location.has_devices">
    <location-boxes filter="query" loading="loading" token="{{location.pubsub_token}}" streaming="location.streamingUpdates"></location-boxes>
  </span>

</md-content>
