<div class="location-sidebar-top" layout="row" layout-wrap>
  <div flex="100">
    <form ng-submit="blur()">
      <md-input-container flex="100">
        <md-icon md-font-icon="search">search</md-icon>
        <label></label>
        <input ng-blur="blur()" ng-model="query.filter" md-autofocus placeholder="{{'Filter Locations' | translate}}">
      </md-input-container>
    </form>
  </div>
</div>
<div class="location-sidebar-top" layout="row" layout-align="space-between center">
  <div>
    <p translate translate-n="{{ ::_links.total_entries }}" translate-plural="{{ ::_links.total_entries }} Locations">1 Location</p>
  </div>
  <div>
    <md-button href="/#/new-location" class="md-icon-button md-raised">
      <md-icon>add</md-icon>
    </md-button>
  </div>
</div>

<div layout="row" layout-wrap>
  <div flex="100">
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="locations">
        <thead md-head>
          <tr md-row class="md-table-headers-row">
            <th md-column><a href="" ng-click='sort("state", query.direction)' translate>State</a></th>
            <th md-column><span translate><a href="" ng-click='sort("location_name", query.direction)' translate>Name</a></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="location" ng-repeat="location in filtered = (locations | filter: query.filter)">
            <td md-cell>
              <md-icon md-menu-origin ng-if="location.state != 'archived'" class="s48">check_circle</md-icon>
              <md-icon md-menu-origin ng-if="location.state == 'archived'" class="s48">archived</md-icon>
            </td>
            <td md-cell>
              <a href="/#/locations/{{ location.slug}}">
                {{ ::location.location_name | truncate:20 }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</div>
