<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px" ng-show="location.has_devices">
      <md-icon md-font-icon="search">search</md-icon>
      <input ng-model="query" md-autofocus placeholder="{{ 'Filter Devices' | translate }}">
    </md-input-container>
    <div flex></div>
    <md-button class="md-icon-button md-accent" ng-click="addDevice()" aria-label="{{ 'Add Device' | translate }}">
      <md-icon>add_circle</md-icon>
    </md-button>
    <md-button class="md-icon-button md-accent" href="/#/locations/{{ location.slug }}" aria-label="{{ 'Map' | translate }}">
      <md-icon>map</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="favourite()" aria-label="{{ 'Favourite' | translate }}">
      <md-icon style="color: #E91E63" md-font-icon="">{{ location.is_favourite ? "favorite" : "favorite_border" }}</md-icon>
    </md-button>
    <md-switch title="Streaming updates {{ streamingUpdates ? 'enabled' : 'disabled' }}" ng-model="streamingUpdates" aria-label="{{ 'Switch 1' | translate }}" ng-change='streamingUpdater()'>
    </md-switch>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<google-maps id="map_canvas" lat="{{ ::location.latitude }}" lng="{{ ::location.longitude }}" zoom="12" div='map' update="updateCT(options)">
  <div ng-repeat="box in boxes | filter:query ">
    <google-marker lat="{{ ::box.latlng[1] }}" lng="{{ ::box.latlng[0]}}" color="{{ ::box.colour }}" state="{{ ::box.state }}" alerting="true" symbol="grocery" draggable="true" slug="{{ ::box.slug }}" style="display: none" icon="{{ ::box.device_icon }}">
      <h4>
        <img ng-if="box.is_polkaspots || box.last_heartbeat" class="status-icon" title='This box is {{box.state}}.' src="https://d3e9l1phmgx8f2.cloudfront.net/images/icons/{{box.is_online || box.state == 'processing' ? box.state == 'rebooting' ? 'amber' : 'online' : 'offline' }}.png"></span>
    {{ box.description || 'No Description' | truncate:15 }}
      </h4>
      <p class="text-muted"><small>{{ box.mac }}</small></p>
      <md-divider ng-if="!$last"></md-divider>
      <p>
        <span translate translate-n="{{ ::box.metadata.ssids }}" translate-plural="SSIDs: {{ ::box.metadata.ssids }}">SSIDs: {{ box.metadata.ssids | emptyFilter }}</span><br>
        <span translate>Zone: {{ ::box.metadata.zone_name }}</span>
        <span ng-if="!box.metadata.zone_name" translate>No zone</span><br>

        <span ng-show="::box.heartbeat"><translate>Last seen:</translate> <span am-time-ago="::box.heartbeat" am-preprocess="unix"></span></span>
        <span ng-hide="::box.heartbeat" translate>Never checked in</span>
        <br>
        <translate>Connected:</translate> {{ box.metadata.online || 0 }}<br>
        <span>{{ (box.throughput || 0) | mbps }} avg. throughput.</span>
      </p>
      <md-divider></md-divider>
      <span layout="row" class="marker-action">
        <a href='/#/locations/{{ location.slug }}/boxes/{{ box.slug }}' translate>View</a>
      </span>
    </google-marker>
  </div>
</google-maps>
