<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Usage Statistics
      </span>
      <span class="md-subhead" translate>Showing the last 7 days activity</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div id="line"></div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="row" layout-align="end center">
    <md-button href="/#/reports/radius"><translate>Reports</translate></md-button>
  </md-card-actions>
</md-card>
