<md-card>
  <div class="md-card-image" style="height: 5px; background-color: {{ color }};"></div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Warnings
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <span ng-if="loading" translate>
      Loading.
    </span>
    <span ng-if="!events.length && !loading" translate>
      No warnings found.
    </span>
    <md-list-item class="md-2-line" href="/#/events/{{ event.id }}" ng-repeat="event in events">
      <div class="md-list-item-text">
        <h3 ng-class="event.event_type == 'box.online' ? 'muted' : 'offline'">
          {{ event.data.description }}
          <span ng-if="event.event_type == 'box.online'" translate>Reconnected</span>
          <span ng-if="event.event_type != 'box.online'" translate>Disconnected</span>
        </h3>
        <md-tooltip>{{ event.data.ap_mac }}</md-tooltip>
        <p translate>Last seen {{ event.data.last_heartbeat | mysqlTime }}</p>
      </div>
    </md-list-item>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="row" layout-align="end center">
    <md-button href="/#/events"><translate>events</translate></md-button>
  </md-card-actions>
</md-card>
