<div id="finalising-location" ng-show="location.attr_generated == false">
  <div class="rowii">
    <div class="small-12 medium-10 large-6 columns medium-centered new-location-creating">
      <h2 class="text-info"><i class="fa fa-cogs fa-5x"></i></h2>
      <h2 translate>Hang Tight! We're Creating Your Location</h2>
      <p>
        <translate>Please wait while we apply the finishing touches</translate>
        <i class="fa fa-cog fa-spin"></i>
      </p>
      <br>
      <hr>
      <small class="text-info" translate>Meep Meep...</small>
    </div>
  </div>
</div>
