<div class="row">
  <div class="small-12 medium-10 columns">
    <h1 translate>Yello!</h1>
    <div class="panel" style="padding: 30px;">
      <p translate>This is your location's dashboard. All you need to do now is add a box.</p>
      <p translate>All you need to do now is add a <b><a href="http://docs.cucumberwifi.io/article/78-compatible-devices-access-points" target="_blank" >compatible box</a></b>.</p>
      <p>Read the docs! <a href="http://docs.cucumberwifi.io">http://docs.cucumberwifi.io</a></p>
      <p><a href="/#/locations/{{location.slug}}/boxes/new" class="button large success">Add Your Box</a></p>
      <p><small translate>Want to know about boxes? Ok, <span data-elevio-article="7136">learn more</span>.</small></p>
    </div>
    <br>
    <input ng-change="update()" ng-model='location.setup_fin' type='checkbox'></input>
    <label>
      <translate>Yeah, I'm done. Show me the dashboard.</translate>
    </label>
  </div>
</div>
