<div ng-show="location.total_sessions < 1" class='small-12 columns'>
  <div class="row">
    <div class='small-10 columns'>
      <h2>Ready for take off</h2>
      <p>All you need now is for someone to login. Your dashboard will fill-up with useful stats and graphs helping you understand your networks better.</p>
    </div>
    <div class='small-2 columns'>
      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/locations/rocket.png" width='50px' class='rocket right'></img>
    </div>
  </div>
  <hr>
</div>
