<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p ng-if="splash_code.id" translate>Splash Code</p>
    <p ng-if="!splash_code.id && code.username" translate>Codes</p>
    <p ng-if="!splash_code.id && !code.username" translate>Client</p>
    <span flex></span>
    <clients-toolbar client="client"></clients-toolbar>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>

  <div flex flex-gt-sm="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span ng-if="splash_code.id" class="md-headline" translate>{{ _links.total_entries }} Sessions for Splash Code</span>
          <span ng-if="!splash_code.id && code.username" class="md-headline" translate>{{ _links.total_entries }} Sessions for {{code.username}}</span>
          <span ng-if="splash_code.id && !code.username" class="md-headline" translate>{{ _links.total_entries }} Sessions for Client</span>
          <span class="md-subhead" translate>Between {{ query.start | humanTimeShort }} and {{ query.end | humanTimeShort }}</span>
        </md-card-title-text>
        <md-button ng-click="rangeFilter()" class="md-icon-button" hide show-gt-xs>
          <md-icon md-font-icon="date_range">date_range</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>
        <div ng-hide="sessions.length" translate>
          No sessions found for this date range.
        </div>
        <div ng-show="sessions.length">
          <div ng-include="'components/codes/_table.html'"></div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
