<md-table-container>
  <table ng-model="selected" md-row-select="options.rowSelection" multiple="false" md-table md-progress="promise">
    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
      <tr md-row>
        <th md-column><span translate>Start</span></th>
        <th hide show-gt-sm md-column><span translate>Duration</span></th>
        <th hide show-gt-xs md-column><span translate>Client Mac</span></th>
        <th hide show-gt-md md-column><span translate>Username</span></th>
        <th hide show-gt-lg md-column><span translate>Device Mac</span></th>
        <th hide show-gt-xs md-column><span translate>Usage</span></th>
        <th hide show-gt-md md-column><span translate>Manufacturer</span></th>
        <th hide show-gt-sm md-column><span translate>Location</span></th>
        <th md-column translate>Action</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="session" ng-repeat="session in sessions | filter: filter.search | orderBy: query.order">
        <td md-cell>
          <span hide show-gt-xs>{{ ::(session.acctstarttime | humanTime) }}</span>
          <span hide-gt-xs>
            {{ ::(session.acctstarttime | humanTimeShort) }}<br>
            <small>{{ ::session.username | truncate:30 }}</small>
          </span>
          <md-tooltip><translate>Stop: {{ ::session.acctstoptime | humanTime }}</translate></md-tooltip>
        </td>
        <td hide show-gt-sm md-cell>
          {{ ::(session.acctsessiontime | humanised ) || '-' }}
          <md-tooltip ng-if="session.acctstoptime">{{ ::session.acctstopcause }}</md-tooltip>
        </td>
        <td hide show-gt-xs md-cell>
          {{ ::(session.client_mac | uppercase)}}
          <md-tooltip ng-if="session.device_ipaddr">{{ ::session.device_ipaddr }}</md-tooltip>
        </td>
        <td hide show-gt-md md-cell>
          {{ session.username | truncate:30 }}
          <md-tooltip ng-if="session.username.length > 30">
            {{ ::session.username }}
          </md-tooltip>
        </td>
        <td hide show-gt-lg md-cell>
          {{ ::(session.ap_mac | uppercase )}}
        </td>
        <td hide show-gt-xs md-cell>
          {{::((session.download + session.upload)| humanData)}}
          <md-tooltip hide-gt-md><translate>Inbound: {{ ::session.download | humanData }}. Outbound: {{ ::session.upload | humanData }}</translate></md-tooltip>
        </td>
        <td hide show-gt-md md-cell>{{ ::(session.manufacturer | truncate: 20) }}</td>
        <td hide show-gt-sm md-cell>
          {{ ::(session.location_name | truncate:30 ) }}
          <md-tooltip ng-if="session.location_name.length > 30">
            {{ ::session.location_name }}
          </md-tooltip>
        </td>
        <td md-cell>
          <md-menu>
            <md-button aria-label="{{ 'Open sessions menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button href="/#/locations/{{ session.location_id }}">
                  <md-icon>business</md-icon>
                  <p flex translate>Location</p>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="visitClient(session)">
                  <md-icon>devices</md-icon>
                  <p flex translate>Client</p>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-label="{{paginationLabels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
