<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          flex="100"
          md-selected-item="selectedItem"
          ng-enter="search(item._key)"
          md-search-text-change="searchTextChange(searchText)"
          md-no-cache="true"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item._key"
          md-min-length="5"
          md-autofocus="true"
          md-menu-class="locations-autocomplete"
          placeholder="{{ 'Search' | translate }}">

        <md-item-template >
          <a ng-click="go(item.slug)">
            <span class="item-title">
              <md-icon>{{ item._index == 'guests' ? "person_pin" : "business" }}</md-icon>
              <span>&nbsp;{{ item._key }}</span>
            </span>
            <span class="item-metadata">
              <span class="item-metastat">
              </span>
            </span>
          </a>
        </md-item-template>
        <md-not-found translate>
          No results found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
    <div flex></div>
    <range-filter search="test()" ing-if="query.filter || query.start" ></range-filter>
    <audit-downloads ng-if="query.start && location.id && location_name && guests.length" lid="{{location.id}}" type="guest"></audit-downloads>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <span translate translate-n="{{_links.total_entries}}" translate-plural="{{_links.total_entries || 0}} Guests">1 Guest</span><span hide show-gt-sm ng-if="query.start" translate>&nbsp;created between {{ query.start | humanDate }} and {{ query.end | humanDate }}</span>
              <div flex></div>
            </div>
          </md-toolbar>
          <md-table-container>
            <table ng-model="selected" md-row-select="options.rowSelection" multiple="false" md-table md-progress="promise">
              <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th md-column><span translate>Email</span></th>
                  <th hide show-gt-xs md-column><span translate>Location</span></th>
                  <th hide show-gt-xs md-column><span translate>Created</span></th>
                  <th md-column>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="guest" ng-repeat="guest in guests | filter: filter.search | orderBy: query.order">
                  <td md-cell>
                    {{ guest.username }}
                  </td>
                  <td hide show-gt-xs md-cell>
                    {{ guest.location_name }}
                  </td>
                  <td hide show-gt-xs md-cell>
                    {{ guest.created_at | humanTime }}
                  </td>
                  <td md-cell>
                    <md-menu>
                      <md-button aria-label="{{ 'Open sessions menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item>
                          <md-button href="/#/locations/{{ guest.location_id }}">
                            <md-icon>business</md-icon>
                            <p flex translate>Location</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
