<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          flex="100"
          md-selected-item="selectedItem"
          ng-enter="search(item._key)"
          md-search-text-change="searchTextChange(searchText)"
          md-no-cache="true"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item._key"
          md-min-length="5"
          md-autofocus="true"
          md-menu-class="locations-autocomplete"
          placeholder="{{ 'Search' | translate }}">

        <md-item-template >
          <a ng-click="go(item.slug)">
            <span class="item-title">
              <md-icon>{{ item._index == 'socials' ? "people" : "business" }}</md-icon>
              <span>&nbsp;{{ item._key }}</span>
            </span>
            <span class="item-metadata">
              <!-- <span class="item-metastat"> -->
              <!--   Found {{ ::item._score || 0 }} record<span ng-if='item._score != 1'>s</span> -->
              <!-- </span> -->
            </span>
          </a>
        </md-item-template>
        <md-not-found translate>
          No results found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
    <div flex></div>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <md-table-container>
            <table ng-model="selected" md-row-select="options.rowSelection" multiple="false" md-table md-progress="promise">
              <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th md-column><span translate>Name</span></th>
                  <th hide show-gt-xs md-column><span translate>Email</span></th>
                  <th hide show-gt-md md-column><span translate>Last Seen</span></th>
                  <th hide show-gt-xs md-column><span translate>Gender</span></th>
                  <th md-column><span translate>Networks</span></th>
                  <th md-column translate>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="social" ng-repeat="social in socials | filter: filter.search | orderBy: query.order">
                  <td md-cell>
                    {{ social.first_name }} {{ social.last_name }}
                  </td>
                  <td hide show-gt-xs md-cell>
                    {{ social.email }}
                  </td>
                  <td hide show-gt-md md-cell>
                    {{ social.updated_at | humanTimeShort }}
                  </td>
                  <td hide show-gt-xs md-cell>
                    {{ social.gender == 'male' ? 'M' : 'F' }}
                  </td>
                  <td md-cell>
                    <span ng-if="social.facebook_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/facebook.png" width=24px>
                    </span>
                    <span ng-if="social.google_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/google.png" width=24px>
                    </span>
                    <span ng-if="social.linkedin_id">
                      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/social/linkedin.png" width=24px>
                    </span>
                  </td>
                  <td md-cell>
                    <md-menu>
                      <md-button aria-label="{{ 'Open sessions menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item>
                          <md-button href="/#/locations/{{ social.location_id }}">
                            <md-icon>business</md-icon>
                            <p flex translate>Location</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-label="{{pagination_labels}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>

