<md-dialog aria-label="{{ 'Create Network' | translate }}"  ng-cloak>
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Create New Network</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div flex="auto" layout="column">
          <p translate>Create up to 16 networks per location.</p>
        </div>
        <div flex="auto" layout="column">
          <div ng-show='loading'>
            <md-progress-linear md-mode="query"></md-progress-linear>
          </div>
          <span ng-hide="loading" layout="column">
            <md-input-container>
              <label>
                <translate>SSID</translate>
              </label>
              <input name="ssid" md-maxlength="32" ng-model="network.ssid" ng-pattern="/^[^[\]\'\\]+$/" required>
              <div ng-messages="myForm.ssid.$error">
                <div ng-message="md-maxlength" translate>Max 32 characters</div>
                <div ng-message="required" translate>You must set an SSID</div>
                <div ng-message="pattern" translate>Invalid characters in SSID</div>
              </div>
            </md-input-container>
            <md-input-container ng-if="network.access_type == 'password'">
              <label>
                <translate>Password</translate>
              </label>
              <input name="password" ng-minlength="8" md-maxlength="32" ng-model="network.encryption_key" ng-pattern="/^[^[\]\'\\]+$/" required>
              <div ng-messages="myForm.password.$error">
                <div ng-message="md-maxlength" translate>Max 32 characters</div>
                <div ng-message="minlength" translate>Min 8 characters</div>
                <div ng-message="required" translate>You must set a password</div>
                <div ng-message="pattern" translate>Invalid characters in password</div>
              </div>
            </md-input-container>
            <md-input-container ng-show="zones.length > 1">
              <label>
                <translate>Zone</translate>
              </label>
              <md-select ng-model="network.zone_id">
                <md-option ng-repeat="zone in zones" value="{{zone.id}}">
                  {{zone.zone_name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-radio-group ng-model="network.access_type" layout="row">
              <md-radio-button value="password" class="md-primary">
                <translate>
                  Password
                </translate>
              </md-radio-button>
              <md-radio-button value="open">
                <translate>
                  Open
                </translate>
              </md-radio-button>
            </md-radio-group>
            <md-switch class="md-warn" ng-model="network.captive_portal_enabled" aria-label="{{ 'Captive Portal' | translate }}" style="padding-top: 20px;">
              <translate>
                Captive Portal
              </translate>
            </md-switch>
            <md-checkbox ng-model="network.self_destruct" aria-label="Self Destruct?">
              Self Destruct?
            </md-checkbox>
            <span ng-if="network.self_destruct">
              <translate>Network will destroy itself in...</translate>
              <br>
              <md-input-container class="md-block" flex-gt-sm>
                <label>
                  <translate>Days</translate>
                </label>
                <input name="days" type="number" ng-model="network.ttl_days" min="0">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>
                  <translate>Hours</translate>
                </label>
                <input name="hours" type="number" ng-model="network.ttl_hours" min="0">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>
                  <translate>Minutes</translate>
                </label>
                <input name="minutes" type="number" ng-model="network.ttl_minutes" min="0">
              </md-input-container>
            </span>
          </span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex="auto"></span>
      <md-button ng-click="close()" translate>
        Close
      </md-button>
      <md-button class="md-raised"ng-click="save()" translate>
        CREATE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
