<md-dialog aria-label="{{ 'Health Check' | translate }}"  ng-cloak>
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Update SSID</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="ssid-form">
      <div class="md-dialog-content" layout="column">
        <div flex layout="column">
          <p translate>Changing the SSID will resync your boxes.</p>
        </div>
        <div flex layout="column">
          <md-input-container>
            <label>
              <translate>SSID</translate>
            </label>
            <!-- <input name="ssid" md-maxlength="32" ng-model="networkEdit.ssid" emoji-picker="{content: '.ssid-input', pickerPosition: 'bottom'}" class="ssid-input" ng-pattern="/^[^[\]\'\\]+$/" ssid required> -->
            <div ng-messages="myForm.ssid.$error">
              <div ng-message="md-maxlength" translate>Max 32 characters</div>
              <div ng-message="required" translate>You must set an SSID</div>
              <div ng-message="pattern" translate>Invalid SSID</div>
              <div ng-message="ssidValidator" translate>SSID is too large, emojis take up more space!</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>
          Close
        </translate>
      </md-button>
      <md-button class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="update()">
        <translate>
          UPDATE
        </translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
