<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p>Splash Codes</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row'>

  <div layout="row" ng-show="splash_pages.length === 0">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            You don't have any splash pages.
          </span>
          <span class="md-subhead">
            Please create a splash page before generating some splash codes.
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button href="/#/locations/{{ location.slug }}/splash_pages">CREATE SPLASH</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="50">
      <form name="myForm" ng-submit="save()" ng-show="splash_pages.length > 0">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Create New Password 
              </span>
              <span class="md-subhead" ng-show="splash_pages.length == 1">
                This code will be for the splash page <a href="/#/locations/{{ location.slug }}/splash_pages/{{ splash_pages[0].id }}">{{ splash_pages[0].splash_name || "No name" }}</a>

              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <input style="display:none" type="text" name="ssid"/>
              <md-input-container flex="100" ng-if="splash_pages.length > 1">
                <label>Splash Page</label>
                <md-select ng-model="code.splash_page_id" required>
                  <md-option ng-repeat="splash in splash_pages" value="{{splash.id}}">
                    {{splash.splash_name || 'No name' }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="100">
                <label>Password</label>
                <input type="text" ng-model="code.password" name="password" placeholder="Enter a Password" ng-minlength="3" md-maxlength="20" md-select-on-focus required>
                <div ng-messages="myForm.password.$error" md-auto-hide="false">
                  <div ng-message="minlength">Must be greater than 3 characters</div>
                  <div ng-message="md-maxlength">Max 20 characters</div>
                  <div ng-message="required">You must set a password</div>
                </div>
              </md-input-container>
              <md-input-container flex="50">
                <label>Validity Minutes</label>
                <input type="number" ng-model="code.volume" placeholder="" name="volume" ng-min="10" required>
                <div ng-messages="myForm.volume.$error">
                  <div ng-message="minlength">Must be greater than 10 minutes</div>
                  <div ng-message="required">You must set the validity minutes</div>
                </div>
              </md-input-container>
              
              <md-input-container flex="50">
                <label>Max. Users</label>
                <input type="number" ng-model="code.simultaneous_use" name="sim_use" placeholder="" ng-min="1" required>
                <div ng-messages="myForm.sim_use.$error">
                  <div ng-message="min">Must be greater than 1</div>
                  <div ng-message="required">You must set the max. users</div>
                </div>
              </md-input-container>

              <div flex="100">
                <md-radio-group ng-model="code.period" layout="row" style="margin: -10px 0 10px 0;">
                  <md-radio-button value="daily"> Per day </md-radio-button>
                  <md-radio-button value="all" class="md-primary">All time</md-radio-button>
                </md-radio-group>
              </div>

              <div flex="100">
                <div layout="column">
                  <p>Download Speed ({{(code.download_speed / 1024) | number:0 }}Mbps)</p>

                  <md-slider-container>
                    <md-slider flex ng-model="code.download_speed" min="56" max="51200" step="56" aria-label="down" id="down-slider" class="md-accent">
                    </md-slider>
                  </md-slider-container>
                  <p>Upload Speed ({{(code.upload_speed / 1024) | number:0 }}Mbps)</p>

                  <md-slider-container flex="50">
                    <md-slider flex ng-model="code.upload_speed" min="56" max="51200" step="56" aria-label="down" id="down-slider" class="md-accent">
                    </md-slider>
                  </md-slider-container>

                </div>
              </div>

              <div flex="100">
                <p>Expiration Date</p>
                <md-datepicker class="picker-wider" name="dateField" ng-model="code.expires" md-placeholder="Expiration Date" required md-min-date="minDate" style="margin: 10px 0 0 -10px;"></md-datepicker>
              </div>
            </div>
          </md-card-content>
        </md-card>
        <md-button ng-click="save(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised">Save</md-button>
      </form>
    </div>
  </div>

</md-content>
