<md-content layout-padding layout="row" layout-wrap>

  <div style="padding-left:16px;">
    <h1>{{location.location_name ? location.location_name : 'InsertLocationName &nbsp;'}}</h1>
    <h2>View Splash Code</h2>
  </div>

  <span flex></span>

    <div>
      <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Back to Devices' | translate }}">
        <md-tooltip md-direction="bottom">Back to Splash Codes</md-tooltip>
        <md-icon>keyboard_return</md-icon>
      </md-button>
    </div>
</md-content>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Code Details
        </span>
        <span class="md-subhead">
          <span ng-show="((splash_code.valid == false) && (splash_code.started == true))"><b translate>This code has expired. Please create another.</b></span>
          <span ng-show="splash_code.started == false"><b translate>This code hasn't started yet.</b></span>
          <span ng-show="splash_code.valid == true"><b translate>This code is valid.</b></span>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <div layout="row" layout-wrap>
        <div flex="100" flex-gt-sm="50">
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Password</h3>
              <p>{{ splash_code.password }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Validity</h3>
              <p translate>{{ splash_code.volume }} mins, {{ splash_code.simultaneous_use }} simultaneous users</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Session Timeout</h3>
              <p translate>{{ splash_code.session_timeout }} mins</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Idle Timeout</h3>
              <p translate>{{ splash_code.idle_timeout }} mins</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 ng-if="splash_code.started === true" translate>Started</h3>
              <h3 ng-if="splash_code.started === false" translate>Starts</h3>
              <p>{{ splash_code.start_date | humanTime }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 ng-if="splash_code.valid === true || splash_code.started === false" translate>Expires</h3>
              <h3 ng-if="splash_code.valid === false && splash_code.started === true" translate>Expired</h3>
              <p>{{ splash_code.expires | humanTime }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Access Restriction</h3>
              <p ng-if="splash_code.period === 'all'" translate>All time</p>
              <p ng-if="splash_code.period !== 'all'" translate>Daily</p>
            </div>
          </md-list-item>

        </div>
        <div flex="100" flex-gt-sm="50">
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Speeds</h3>
              <p>
                {{ (splash_code.download_speed / 1024) | number:0 }}Mbps
                <md-icon md-font-icon="" >arrow_downward</md-icon>
                {{ (splash_code.upload_speed / 1024) | number:0 }}Mbps
                <md-icon md-font-icon="" >arrow_upward</md-icon>
              </p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Splash Page</h3>
              <p><a href="/#/locations/{{location.slug}}/splash_pages/{{ splash_code.splash_page_id}}" translate>{{ splash_code.splash_page_id || "Unnamed Splash" }}</a></p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Created</h3>
              <p>{{ splash_code.created_at | humanTime }}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3 translate>Created By</h3>
              <p>{{ splash_code.created_by }}</p>
            </div>
          </md-list-item>

        </div>

      </div>

    </md-card-content>

    <md-card-actions layout="row" style="padding-left: 20px">
      <md-switch ng-model="splash_code.active" ng-change="update()" aria-label="{{ 'Active' | translate }}" class="md-primary">
        <span ng-if="splash_code.active === true" translate>Code Active</span>
        <span ng-if="splash_code.active === false" translate>Code Disabled</span>
      </md-switch>
    </md-card-actions>

  </md-card>

</md-content>


<!-- <p ng-show="splash_code.valid == false"><b>This code is not valid. Either it's expired or has been disabled.</b></p> -->
<!-- <h2>{{ splash_code.password }}</h2> -->
<!-- <p><small><span class="text-muted">Give this password to your guests</span></small></p> -->
<!-- <ul> -->
<!--   <li>Valid for {{ splash_code.volume }} mins and up to {{ splash_code.simultaneous_use }} simultaneous users</li> -->
<!--   <li>{{ splash_code.download_speed }}Kbps <i class="fa fa-arrow-down"></i> {{ splash_code.upload_speed }}Kbps <i class="fa fa-arrow-up"></i></li> -->
<!--   <li>Expires <span am-time-ago="splash_code.expires" am-preprocess="unix"></span> <span class="text-muted">on {{ splash_code.expires | humanTime }}.</span></li> -->
<!--   <li>Valid on: {{ splash_code.splash_name || "Unknown" }} splash</li> -->
<!--   <hr> -->
<!--   <li>Created by {{ splash_code.created_by }} on {{ splash_code.created_at | humanTime }}</li> -->
<!--   <li>{{ splash_code.active ? "Is active" : "Is disabled"}} {{ splash_code.valid ? "and valid" : "and invalid" }} for use.</li> -->
<!--   <li>Upto {{ splash_code.volume }} mins {{ splash_code.period == "all" ? "forever and ever and ever." : "per day"}}</li> -->
<!-- </ul> -->
