<div class="page-loader" ng-hide="loader == true"></div>

<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <div flex></div>
    <md-button class="md-icon-button" ng-click="favourite()" aria-label="{{ 'Favourite' | translate }}">
      <md-icon style="color: #E91E63" md-font-icon="">{{ location.is_favourite ? "favorite" : "favorite_border" }}</md-icon>
      <md-tooltip md-direction="bottom">
        <translate>
          Add location to favourites.
        </translate>
      </md-tooltip>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content layout-padding>

  <client-chart>
    <div flex flex-gt-sm="{{fs.panel ? 100 : 100}}" layout="column" class="dashboard-charts">
      <div layout="" layout-wrap>
        <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 33}}" iiing-hide="fs && fs.panel != 'usage'">
          <health-chart ng-if="location.has_devices"></health-chart>
          <div ng-show="location.has_devices == false">
            <div layout="row" layout-align="top top">
              <div flex="100" flex-gt-sm="100">
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline" translate>Please Add a Device</span>
                      <span class="md-subhead" translate>Manage and monitor all your device remotely.</span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content>
                    <p translate>You haven't added any devices yet. Please check through the list of compatible devices <a href='http://docs.cucumberwifi.io/article/78-compatible-devices-access-points' target="_blank">here</a>.</p>
                    <p translate>The firmware is available in the downloads section.</p>
                    <p translate>Once you have installed this, add your device(s) to your dashboard. They will provision automatically.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                  </md-card-content>

                  <md-divider></md-divider>

                  <md-card-actions layout="row" layout-align="end center">
                    <md-button href="/#/downloads" aria-label="{{ 'Downloads' | translate }}">
                      <translate>
                        Downloads
                      </translate>
                    </md-button>
                    <md-button ng-click="addDevice()" aria-label="{{ 'Add Device' | translate }}">
                      <translate>
                        Add Device
                      </translate>
                    </md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </div>
          </div>
        </div>
        <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 66}}" ng-hide="fs && fs.panel != 'usage'">
          <dash-clients-chart ></dash-clients-chart>
        </div>
        <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 33}}" ng-hide="fs && fs.panel != 'usage'">
          <clients-conn-chart ></clients-conn-chart>
        </div>
        <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 33}}" ng-hide="fs && fs.panel != 'usage'">
          <caps-chart ></caps-chart>
        </div>
        <div flex="100" flex-gt-sm="{{fs.panel ? 100 : 33}}" ng-hide="fs && fs.panel != 'usage'">
          <dash-usage-chart ></dash-usage-chart>
        </div>
      </div>
    </div>
  </client-chart>
</md-content>
