<md-dialog aria-label="Health Check"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Health Check Results</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-table-container>
          <table md-table md-row-select="false" ng-model="selected">
            <tr md-row>
              <thead md-head>
                <th md-column>Description</th>
                <th md-column>Passed</th>
              </thead>
            </tr>
            <tbody md-body>
              <tr md-row>
                <td md-cell>Internet Check</td>
                <td md-cell>
                  <span ng-if="box.health.icmp_ip == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.icmp_ip == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                  </span>
                </td>
              </tr>
              <tr md-row>
                <td md-cell>DNS Check</td>
                <td md-cell>
                  <span ng-if="box.health.icmp_host == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.icmp_host == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                    The box cannot resolve hostnames. Please check your DNS settings.
                  </span>
                </td>
              </tr>
              <tr md-row>
                <td md-cell>MTU Check</td>
                <td md-cell>
                  <span ng-if="box.health.mtu_check == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.mtu_check == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                  </span>
                </td>
              </tr>
              <tr md-row>
                <td md-cell>Connected to Cucumber</td>
                <td md-cell>
                  <span ng-if="box.health.ct == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.ct == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                    Cannot communicate with Cucumber Tony. Please reboot.
                  </span>
                </td>
              </tr>
              <tr md-row>
                <td md-cell>Splash Pages</td>
                <td md-cell>
                  <span ng-if="box.health.splash == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.splash == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                    Splash pages aren't active. This is OK if you're not using a captive portal
                  </span>
                </td>
              </tr>
              <tr md-row>
                <td md-cell>In Sync</td>
                <td md-cell>
                  <span ng-if="box.health.sync == true">
                    <md-icon md-menu-origin md-font-icon="check_circle" class="s48">check_circle</md-icon>
                  </span>
                  <span ng-if="box.health.sync == false">
                    <md-icon md-menu-origin md-font-icon="error_outline" class="s48">error_outline</md-icon>
                    The box is out of sync. Resync or reboot to get updated configs.
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
