<md-content layout-padding layout="row" layout-wrap>

  <div style="padding-left:16px;">
    <h1>{{location.location_name ? location.location_name : 'InsertLocationName &nbsp;'}}</h1>
    <h2>{{box.description ? box.description : '&nbsp;'}}</h2>
  </span>
  </div>

  <span flex></span>

  <div>
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Back to Devices' | translate }}">
      <md-tooltip md-direction="bottom">Back to Devices</md-tooltip>
      <md-icon>keyboard_return</md-icon>
    </md-button>
  </div>

</md-content>

<md-content class="md-padding" layout-gt-sm="row" layout="column" layout-wrap>
  <div flex-gt-sm="60">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Device Details</span>
          <span flex></span>

          <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/manufacturer-images/{{ box.device_icon }}" title="{{ box.machine_type }}" ng-class="{ 'box': box.device_icon !== 'blank.png' }"/>

        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <splash-only box="box"></splash-only>
      </md-card-content>
    </md-card>
  </div>
  <div flex-gt-sm="40" ng-if='allowed'>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Radius Configuration</span>
          <span class="md-subheading" translate></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Primary Radius</h3>
            <p>radius-1.ctapp.io</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Secondary Radius</h3>
            <p>radius-2.ctapp.io</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Authentication Port</h3>
            <p>1812</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Accounting Port</h3>
            <p>1813</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Splash URL</h3>
            <p>http://app.my-wifi.co</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3 translate>Walled Gardens</h3>
            <p>
              <ct-docs name="walled-gardens">
                <translate>
                  View required URLs
                </translate>
              </ct-docs>
            </p>
          </div>
        </md-list-item>
      </md-card-content>
    </md-card>
    <md-button ng-click="transferBox()" class="md-raised">
      Transfer
    </md-button>
    <md-button ng-click="destroy()" class="md-raised md-warn">
      Delete
    </md-button>

  </div>
</md-content>
