<div class="top-nav">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
  </md-nav-bar>
</div>

<md-content layout-padding layout="row" layout-wrap class="page-meta">

  <span flex></span>

  <div>
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Back to Devices' | translate }}">
      <md-tooltip md-direction="bottom">Back to Devices</md-tooltip>
      <md-icon>keyboard_return</md-icon>
    </md-button>
  </div>

</md-content>

<md-content class="md-padding" layout-gt-sm="row" layout="column" layout-wrap>
  <div flex="100">
    <md-card>
      <md-card-title>
        <md-card-title-text layout="row">
          <span class="md-headline" translate>Device Details</span>
          <span flex></span>

          <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/manufacturer-images/{{ box.device_icon }}" title="{{ box.machine_type }}" ng-class="{ 'box': box.device_icon !== 'blank.png' }"/>

        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <splash-only box="box"></splash-only>
      </md-card-content>
    </md-card>
    <div flex layout="row">
      <span flex></span>
      <md-button ng-click="destroy()" class="md-raised md-warn">
        Delete
      </md-button>
    </div>
  </div>
</md-content>
