<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader translate>Action Required. This box is not part of a zone. The box will function but will not broadcast an SSID. Add this box to a zone to complete setup.</md-subheader>
  <md-button ng-click="cancel()" class="md-list-item-content">
    <span class="md-inline-list-icon-label" translate>Cancel</span>
  </md-button>
  <md-button ng-click="add()" class="md-list-item-content md-accent">
    <span class="md-inline-list-icon-label" translate>Add To Zone</span>
  </md-button>
</md-bottom-sheet>,
