<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader translate>Action Required. This box has been manually reset. Please confirm this action. Or click cancel to ignore.</md-subheader>
  <md-button ng-click="cancel()" class="md-list-item-content">
    <span class="md-inline-list-icon-label"><translate>Cancel</translate></span>
  </md-button>
  <md-button ng-click="reset()" md-autofocus="true" class="md-list-item-content md-accent" >
    <span class="md-inline-list-icon-label"><translate>CONFIRM</translate></span>
  </md-button>
</md-bottom-sheet>
