<div ng-if="loading">
  <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!loading">
  <div ng-if="!locations" translate>
    Could not find any locations to tranfer this device to.
  </div>
  <div ng-if="locations" layout="column" layout-gt-sm="row">
    <md-input-container flex="100" flex-gt-sm="50">
      <label translate>Transfer device to</label>
      <md-select ng-model="box.transfer_to">
        <md-option ng-repeat="location in locations" value="{{location.id}}">
          {{ location.location_name }}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
</div>
