<div class="panel panel-default">
  <div class="panel-heading">
    <b>Blacklisted Devices ({{ blacklists.length || 0 }} of 50 allowed)</b>
  </div>
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-xs-12">
        <table class="table table-bordered">
          <tr>
            <th>Blacklisted Devices</th>
            <th>Expires</th>
            <th></th>
          </tr>
          <tr name="myForm" ng-if='!blacklisted._destroy' ng-repeat="blacklisted in blacklists">
            <td>
              <input type="text" class="form-control" name="mac" ng-model="blacklisted.mac" placeholder="Enter a mac to block" ng-pattern="/^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$/">
              <p class="text text-danger small" ng-show="myForm.mac.$error.pattern"><b>Invalid mac address.</b></p>
            </td>
            <td>
              <input type="date" class="form-control" name="expires_at" ng-model="blacklisted.expires_at" placeholder="When should this expire">
            </td>
            <td>
              <span ng-click="deleteField(blacklisted)" class='btn btn-sm btn-danger'><i class="fa fa-trash"></i></span>
            </td>
          </tr>
        </table>
        <a ng-click="addBlFields(blacklists)" class="btn btn-sm btn-default">Add Another</a>
      </div>
    </div>
  </div>
</div>
