<div class="panel panel-default">
  <div class="panel-heading">
    <b translate>Walled Gardens ({{ walledgardens.length || 0 }} of 25 allowed)</b>
  </div>
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered">
          <tr>
            <th translate>Allowed URL</th>
            <th></th>
          </tr>
          <tr name="myForm" ng-if='!walledgarden._destroy' ng-repeat="walledgarden in walledgardens">
            <td>
              <input type="text" class="form-control" name="url" ng-model="walledgarden.url" placeholder="{{ 'Enter an allowed url' | translate }}">
            </td>
            <td>
              <span ng-click="deleteField(walledgarden)" class='btn btn-sm btn-danger'><i class="fa fa-trash"></i></span>
            </td>
            <!-- <p class="help-block" ng-show="userFieldForm.email.$invalid">Valid Email Address Required</p> -->
          </tr>
        </table>
        <a ng-click="addWgFields(walledgardens)" class="btn btn-sm btn-default" translate>Add Another</a>
      </div>
    </div>
  </div>
</div>
