<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="70">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>Download the Firmware</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <download-firmware></download-firmware>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
