<md-dialog aria-label="Subscribe to a plan">
  <form name="form" stripe-form="stripeCallback">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Free Trial Subscription</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:500px;max-height:810px; ">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom class="payment-portal">

        <md-tab label="one">
          <md-content layout-padding layout='row' flex layout-wrap>
            <div flex="100">
              <h2>Choose a plan that suits you</h2>
            </div>
            <div flex="100">
              <md-radio-group ng-model="plan_id" ng-click="setPlan(plan_id)">
                <span ng-repeat="plan in plans">
                  <md-radio-button value="{{ plan.slug }}" class="md-primary">{{plan.plan_name}} - {{ plan.plan_price | currency : curr }} per month</md-radio-button>
                </span>
              </md-radio-group>
            </div>
            <div flex="100">
              <p><b>All plans include 250 people!</b></p>
            </div>
            <div flex="100">
              <md-table-container>
                <table md-table md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                      <th md-column><span></spam></th>
                      <th md-column><span translate>Splash</span></th>
                      <th md-column><span translate>Engage</span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr>
                      <td md-cell>
                        Beautiful splash pages
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Unlimited devices
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Unlimited integrations
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Data capture
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        MailChimp connector
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Automated campaigns
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Outbound messaging
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                    <tr>
                      <td md-cell>
                        Audience targetting
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Splash' ? 'activePlan' : ''">
                      </td>
                      <td md-cell ng-class="plan.plan_name == 'Engage' ? 'activePlan' : ''">
                        <md-icon>check</md-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="two">
          <md-content layout-padding layout='row' flex layout-wrap>
            <h2>Estimate number of users</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          </md-content>
        </md-tab>

        <md-tab label="three">
          <md-content layout-padding layout='row' flex layout-wrap>
            <h2>Enter payment details</h2>
            <p><b>Cancel any time in the first 14 days and you won't be charged</b>. The free trial includes all the features of the plan you've selected.</p>
            <h3><b>{{ plan.plan_price | currency : curr }}</b> per month.</h3>

            <md-input-container class="md-block" flex="100">
              <label translate>Card Number</label>
              <input type='text' ng-model='number' placeholder="{{ 'Card Number' | translate }}" payments-format='card' payments-validate='card' name='card' value=''/>
              <div ng-messages="form.card.$error">
                <div ng-message="card" translate>Card number invalid</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="100" flex-gt-sm="45">
              <label for='expiry' translate>Expiry Date</label>
              <input type='text' ng-model='expiry' placeholder="{{ 'Expiration' | translate }}" payments-format='expiry' payments-validate='expiry' name='expiry'/>
              <div ng-messages="form.expiry.$error">
                <div ng-message="expiry" translate>Invalid expiry date</div>
              </div>
            </md-input-container>
            <span flex-gt-sm="10"></span>
            <md-input-container class="md-block" flex="100" flex-gt-sm="45">
              <label for='cvc' translate>Security Code</label>
              <input type='text' ng-model='cvc' placeholder='CVC' payments-validate='cvc' payments-format='cvc' name='cvc'/>
              <div ng-messages="form.cvc.$error">
                <div ng-message="expiry" translate>Invalid CVC</div>
              </div>
            </md-input-container>
            <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/logos/powered_by_stripe_3x.png" style="width: 150px; height: 33px;"/>
          </md-content>
        </md-tab>

        <md-tab label="four">
          <md-content layout-padding layout='row' flex layout-wrap>
            <h1 class="md-display-2">Processing Payment</h1>
            <p>Please wait while we process your payment and create your subscription.</p>
            <p ng-hide="errors">Do not close this window! It might take a few seconds. Tick tock.</p>
            <span ng-show="errors">
              <h4>There's been a problem processing your request!!</h4>
              <p><md-icon>warning</md-icon>{{ errors }}</p>
            </span>
          </md-content>
        </md-tab>

        <md-tab label="five">
          <md-content layout-padding layout='row' flex layout-wrap>
            <h1 class="md-display-2">You're all set! High-fives!</h1>
            <p>We're just adding the finishing touches to your MIMO account. You'll be on your way soon.</p>
            <p>Thanks for signing up for MIMO today!</p>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="back()" ng-if="selectedIndex > 0 && (selectedIndex != 3 || errors)">
        Back
      </md-button>
      <md-button ng-click="cancel()" ng-if="selectedIndex == 4">
        Close
      </md-button>
      <md-button ng-click="next()" style="margin-right:20px;" ng-if="selectedIndex <= 1">
        Next
      </md-button>
      <md-button type="submit" style="margin-right:20px;" ng-if="selectedIndex == 2" ng-disabled="form.$pristine || form.$invalid" class="md-raised md-primary">
        Start Trial
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
