<md-content layout="row" layout-wrap layout-align="center center">

  <div flex="100" layout="row" ng-show="portal_request">
    <div flex></div>
    <md-menu>
      <md-button aria-label="{{ 'Open sessions menu' | translate }}" class="md-fab md-raised md-mini" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="confirmDownload()">
            <md-icon>file_download</md-icon><p flex translate>Download</p>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="confirmDestroy()">
            <md-icon>delete</md-icon><p flex translate>Delete all data</p>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <div flex="100">
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab id="tab1">
        <md-tab-label>Activity</md-tab-label>
        <md-tab-body>

          <div class="timeline-top"></div>

          <div layout="column" class="timeline-post" layout-wrap ng-repeat="timeline in timelines">
            <div class="timeline-icon">
              <img ng-show="timeline.event == 'sign_in_sms' || timeline.event == 'contact_sms'" src="https://d247kqobagyqjh.cloudfront.net/api/file/dQGVIHdTyGo8kiBLjYQB"></img>
              <img ng-show="timeline.event == 'sign_in_fb'" src="https://d247kqobagyqjh.cloudfront.net/api/file/WUhzu2zRTremUtlXxALC"></img>
              <img ng-show="timeline.event == 'sign_in_tw' || timeline.event == 'contact_twitter'" src="https://d247kqobagyqjh.cloudfront.net/api/file/PdwjF22TTiqOHvzQcksA"></img>
              <img ng-show="timeline.event == 'sign_in_g'" src="https://d247kqobagyqjh.cloudfront.net/api/file/K3YDlqzUQzIavvIEkesC"></img>
              <img ng-show="timeline.event == 'sign_in_email' || timeline.event == 'contact_email'" src="https://d247kqobagyqjh.cloudfront.net/api/file/nt0LfEXlTpWhoKVSW706"></img>
            </div>
            <md-card class="b-bl" ng-if="timeline.event == 'sign_in_sms' || timeline.event == 'sign_in_fb' || timeline.event == 'sign_in_tw' || timeline.event == 'sign_in_g' || timeline.event == 'sign_in_email' || timeline.event == 'sign_in_unknown'">
              <md-card-content>
                <md-list flex>
                  <md-list-item class="md-2-line">
                    <img src="{{person.profile_photo || 'https://d247kqobagyqjh.cloudfront.net/api/file/Ny9J0MsTtus0xk3e43rh'}}" class="timeline-avatar"/>
                    <div class="md-list-item-text">
                      <h3>
                        <span ng-show="timeline.event == 'sign_in_sms'">Signed in with <b>SMS</b></span>
                        <span ng-show="timeline.event == 'sign_in_fb'">Signed in with <b>Facebook</b></span>
                        <span ng-show="timeline.event == 'sign_in_tw'">Signed in with <b>Twitter</b></span>
                        <span ng-show="timeline.event == 'sign_in_g'">Signed in with <b>Google</b></span>
                        <span ng-show="timeline.event == 'sign_in_email'">Signed in with <b>Email</b></span>
                        <span ng-show="timeline.event == 'sign_in_unknown'">Signed in</span>
                      </h3>
                      <p>{{timeline.created_at | humanTime}}</p>
                    </div>
                  </md-list-item>
                </md-list>
                <p>Mac: {{timeline.client_mac}}</p>
                <p ng-if="timeline.login_email">Email: {{timeline.login_email}}</p>
                <p ng-if="timeline.event == 'sign_in_email' && !timeline.login_email && timeline.doi_confirmed == false">Email: <b>unconfirmed<md-tooltip>User has not yet confirmed email address</md-tooltip></b></p>
              </md-card-content>
            </md-card>

            <md-card class="b-bl" ng-if="timeline.event == 'contact_email' || timeline.event == 'contact_sms' || timeline.event == 'contact_twitter'">
              <md-card-content>
                <md-list flex>
                  <md-list-item class="md-2-line">
                    <img src="{{person.profile_photo || 'https://d247kqobagyqjh.cloudfront.net/api/file/Ny9J0MsTtus0xk3e43rh'}}" class="timeline-avatar"/>
                    <div class="md-list-item-text">
                      <h3>
                        <span ng-show="timeline.event == 'contact_sms'">You sent an <b>SMS</b> to {{timeline.to}}</span>
                        <span ng-show="timeline.event == 'contact_twitter'">You sent a <b>Tweet</b> to {{timeline.to}}</span>
                        <span ng-show="timeline.event == 'contact_email'">You sent an <b>Email</b> to <b>{{timeline.to}}</b></span>
                      </h3>
                      <p>{{timeline.created_at | humanTime}}</p>
                    </div>
                  </md-list-item>
                </md-list>
                <hr>
                <div layout="row" layout-align="space-between center" layout-wrap>
                  <p>State: {{timeline.state}}</p>
                  <p ng-show="timeline.event == 'contact_email'">Opens: {{timeline.opens}}</p>
                  <p ng-show="timeline.event == 'contact_email'">Clicks: {{timeline.clicks}}</p>
                </div>
                <hr>
                <p ng-show="timeline.event == 'contact_email'"><b>{{timeline.subject}}</b></p>
                <p>{{timeline.content}}</p>
              </md-card-content>
            </md-card>

            <md-card class="b-bl" ng-if="timeline.event == 'agreement_terms'">
              <md-card-content>
                <md-list flex>
                  <md-list-item class="md-2-line">
                    <img src="{{person.profile_photo || 'https://d247kqobagyqjh.cloudfront.net/api/file/Ny9J0MsTtus0xk3e43rh'}}" class="timeline-avatar"/>
                    <div class="md-list-item-text">
                      <h3>
                        <span>User <b>agreed to CT terms</b></span>
                      </h3>
                      <p>{{timeline.created_at | humanTime}}</p>
                    </div>
                  </md-list-item>
                </md-list>
                <p>Terms: <a href="https://www.ct-networks.io/terms/users/">Read here</a></p>
                <p>Mac: {{timeline.client_mac}}</p>
              </md-card-content>
            </md-card>

            <md-card class="b-bl" ng-if="timeline.event == 'agreement_email'">
              <md-card-content>
                <md-list flex>
                  <md-list-item class="md-2-line">
                    <img src="{{person.profile_photo || 'https://d247kqobagyqjh.cloudfront.net/api/file/Ny9J0MsTtus0xk3e43rh'}}" class="timeline-avatar"/>
                    <div class="md-list-item-text">
                      <h3>
                        <span>User <b>confirmed email address</b></span>
                      </h3>
                      <p>{{timeline.created_at | humanTime}}</p>
                    </div>
                  </md-list-item>
                </md-list>
                <p ng-if="timeline.login_email">Email: {{timeline.login_email}}</p>
                <p ng-if="!timeline.login_email && timeline.doi_confirmed == false">Email: <b>unconfirmed<md-tooltip>User has not yet confirmed email address</md-tooltip></b></p>
              </md-card-content>
            </md-card>

            <md-card class="b-bl" ng-if="timeline.event == 'mailchimp_subscribe' || timeline.event == 'campaign_monitor_subscribe' || timeline.event == 'sendgrid_subscribe'">
              <md-card-content>
                <md-list flex>
                  <md-list-item class="md-2-line">
                    <img src="{{person.profile_photo || 'https://d247kqobagyqjh.cloudfront.net/api/file/Ny9J0MsTtus0xk3e43rh'}}" class="timeline-avatar"/>
                    <div class="md-list-item-text">
                      <h3>
                        <span>User added to <b>{{timeline.event == 'mailchimp_subscribe' ? 'MailChimp' : timeline.event == 'campaign_monitor_subscribe' ? 'Campaign Monitor' : 'SendGrid'}}</b> list</span>
                      </h3>
                      <p>{{timeline.created_at | humanTime}}</p>
                    </div>
                  </md-list-item>
                </md-list>
                <p>List ID: {{timeline.meta.list}}</p>
                <p ng-if="timeline.login_email">Email: {{timeline.login_email}}</p>
                <p ng-if="!timeline.login_email && timeline.doi_confirmed == false">Email: <b>unconfirmed<md-tooltip>User has not yet confirmed email address</md-tooltip></b></p>
              </md-card-content>
            </md-card>

          </div>
          <div class="timeline-bottom"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</md-content>
