<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="Settings">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p>{{ trigger.id ? "Back to Trigger" : "Triggers" }}</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form name="myForm" ng-submit="save(myForm)">
  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Choose an Event
              </span>
              <span class="md-subhead">
                First you need to choose an event type.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>Event</label>
              <md-select ng-model="trigger.type">
                <md-option ng-repeat="type in triggers" value="{{type.value}}">
                  {{type.key}}
                </md-option>
              </md-select>
            </md-input-container>
            <p ng-if="trigger.type == 'box'">Send triggers when something happens to your boxes.</p>
            <p ng-if="trigger.type == 'client'">Send a trigger when your wireless clients cause an event.</p>
            <p ng-if="trigger.type == 'email'">When an email address is captured, send a trigger.</p>
            <p ng-if="trigger.type == 'guest'">Send triggers when a guest causes an event</p>
            <p ng-if="trigger.type == 'location'">Send triggers when one of your locations causes an event.</p>
            <p ng-if="trigger.type == 'network'">Send triggers when your networks cause an event.</p>
            <p ng-if="trigger.type == 'quickcode'">Send triggers when QuickCodes cause an event.</p>
            <p ng-if="trigger.type == 'splash'">Send triggers on splash page events</p>
            <p ng-if="trigger.type == 'social'">Send triggers when a Social login causes a trigger.</p>
            <p ng-if="trigger.type == 'store'">Send triggers when a store creates an event.</p>
            <p ng-if="trigger.type == 'voucher'">Send a trigger when a vouchers creates a trigger</p>
            <p ng-if="trigger.type == 'zone'">Send triggers when changes happen to a zone.</p>
          </md-card-content>
        </md-card>
        <md-card ng-if="trigger.type && trigger.type != 'all'">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Now set the event trigger
              </span>
              <span class="md-subhead">
                The trigger will fire when this event happens.
                {{ trigger.type | humanTrigger }}...
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-radio-group ng-model="trigger.trigger_type" layout="column">

              <span ng-if="trigger.type == 'box'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="box.create">
                    Created
                  </md-radio-button>
                  <md-radio-button value="box.update">
                    Updated
                  </md-radio-button>
                  <md-radio-button value="box.destroy">
                    Deleted
                  </md-radio-button>
                  <md-radio-button value="box.reset">
                    Reset
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="box.transfer">
                    Transferred
                  </md-radio-button>
                  <md-radio-button value="box.resync">
                    Resynced
                  </md-radio-button>
                  <md-radio-button value="box.online">
                    Marked online
                  </md-radio-button>
                  <md-radio-button value="box.offline">
                    Marked offline
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'client'">
                <md-radio-button value="client.create">
                  First connects
                </md-radio-button>
                <md-radio-button value="client.login">
                  Logs in through splash
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'email'">
                <md-radio-button value="email.create">
                  Captured
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'guest'">
                <md-radio-button value="guest.create">
                  Created
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'location'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="location.create">
                    Created
                  </md-radio-button>
                  <md-radio-button value="location.update">
                    Updated
                  </md-radio-button>
                  <md-radio-button value="location.destroy">
                    Deleted
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="location.unarchive">
                    Unarchived
                  </md-radio-button>
                  <md-radio-button value="location.transfer">
                    Transferred
                  </md-radio-button>
                  <md-radio-button value="location.duplicate">
                    Duplicated
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'network'">
                <md-radio-button value="network.create">
                  Created
                </md-radio-button>
                <md-radio-button value="network.update">
                  Updated
                </md-radio-button>
                <md-radio-button value="network.destroy">
                  Deleted
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'quickcode'">
                <md-radio-button value="quickcode.create">
                  Created
                </md-radio-button>
                <md-radio-button value="quickcode.update">
                  Updated
                </md-radio-button>
                <md-radio-button value="quickcode.destroy">
                  Deleted
                </md-radio-button>
                <md-radio-button value="quickcode.login">
                  Logged In
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'splash'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="splash.create">
                    Created
                  </md-radio-button>
                  <md-radio-button value="splash.update">
                    Updated
                  </md-radio-button>
                  <md-radio-button value="splash.destroy">
                    Deleted
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="splash.duplicate">
                    Duplicated
                  </md-radio-button>
                  <md-radio-button value="splash.password">
                    Password Changed
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'social'">
                <md-radio-button value="social.create">
                  Created
                </md-radio-button>

                <md-radio-button value="social.login">
                  Logged in
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'store'">
                <md-radio-button value="store.create">
                  Created
                </md-radio-button>

                <md-radio-button value="store.update">
                  Updated
                </md-radio-button>

                <md-radio-button value="store.destroy">
                  Destroy
                </md-radio-button>

                <md-radio-button value="store.purchase">
                  Purchase
                </md-radio-button>

                <md-radio-button value="store.refund">
                  Refund
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'voucher'">
                <md-radio-button value="voucher.create">
                  Created
                </md-radio-button>
                <md-radio-button value="voucher.update">
                  Updated
                </md-radio-button>
                <md-radio-button value="voucher.update">
                  Completed
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'zone'">
                <md-radio-button value="zone.create">
                  Created
                </md-radio-button>
                <md-radio-button value="zone.generate">
                  Generated
                </md-radio-button>
                <md-radio-button value="zone.destroy">
                  Deleted
                </md-radio-button>

              </span>

            </md-radio-group>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.trigger_type">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Select a Channel
              </span>
              <span class="md-subhead">
                The channel is the way you get notified.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>Channel</label>
              <md-select ng-model="trigger.channel" ng-change="initChannel()">
                <md-option ng-repeat="channel in channels" value="{{channel.value}}">
                  {{channel.key}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.channel">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <span ng-show="trigger.channel=='email'">Send an Email</span>
                <span ng-show="trigger.channel=='slack'">Notify Slack</span>
                <span ng-show="trigger.channel=='webhook'">Send a Webhook</span>
                <span ng-show="trigger.channel=='mailchimp'">Add to List</span>
                <span ng-show="trigger.channel=='sms'">Send SMS</span>
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <trigger-tags type="{{trigger.type}}"></trigger-tags>
            <span channel-types ver='{{ trigger.channel }}'></span>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.attr_1">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Name your Trigger
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>Name of trigger</label>
              <input type="text" name="trigger_name" md-maxlength="100" ng-model="trigger.trigger_name" placeholder="Name" required></input>
              <div ng-messages="myForm.trigger_name.$error" md-auto-hide="false">
                <div ng-message="required">Please enter a name for your trigger</div>
                <div ng-message="md-maxlength">Must be less than 100 characters</div>
              </div>
            </md-card-content>
        </md-card>
        <md-button type="submit" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised">Save</md-button>
      </div>
    </div>

  </md-content>

</form>
