<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back">arrow_back</md-icon>
    </md-button>
    <p translate>{{ trigger.id ? "Back to Trigger" : "Triggers" }}</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form name="myForm" ng-submit="save(myForm)">
  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Choose an Event
              </span>
              <span class="md-subhead" translate>
                First you need to choose an event type.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>
                <translate>Event</translate>
              </label>
              <md-select ng-model="trigger.type">
                <md-option ng-repeat="type in triggers" value="{{type.value}}">
                  {{ type.key }}
                </md-option>
              </md-select>
            </md-input-container>
            <p ng-if="trigger.type == 'box'" translate>Send triggers when something happens to your boxes.</p>
            <p ng-if="trigger.type == 'client'" translate>Send a trigger when your wireless clients cause an event.</p>
            <p ng-if="trigger.type == 'email'" translate>When an email address is captured, send a trigger.</p>
            <p ng-if="trigger.type == 'guest'" translate>Send triggers when a guest causes an event</p>
            <p ng-if="trigger.type == 'location'" translate>Send triggers when one of your locations causes an event.</p>
            <p ng-if="trigger.type == 'network'" translate>Send triggers when your networks cause an event.</p>
            <p ng-if="trigger.type == 'quickcode'" translate>Send triggers when QuickCodes cause an event.</p>
            <p ng-if="trigger.type == 'rogue'" translate>Send triggers when rogue devices checkin</p>
            <p ng-if="trigger.type == 'splash'" translate>Send triggers on splash page events</p>
            <p ng-if="trigger.type == 'social'" translate>Send triggers when a Social login causes a trigger.</p>
            <p ng-if="trigger.type == 'store'" translate>Send triggers when a store creates an event.</p>
            <p ng-if="trigger.type == 'voucher'" translate>Send a trigger when a vouchers creates a trigger</p>
            <p ng-if="trigger.type == 'zone'" translate>Send triggers when changes happen to a zone.</p>
          </md-card-content>
        </md-card>
        <md-card ng-if="trigger.type && trigger.type != 'all'">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Set the event trigger
              </span>
              <span class="md-subhead" translate>
                The trigger will fire when this event happens.
                <!-- {{ trigger.type | humanTrigger }} -->
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-radio-group ng-model="trigger.trigger_type" layout="column">
              <span ng-if="trigger.type == 'box'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="box.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.reset">
                    <translate>
                      Reset
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="box.transfer">
                    <translate>
                      Transferred
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.resync">
                    <translate>
                      Resynced
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.online">
                    <translate>
                      Marked online
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="box.offline">
                    <translate>
                      Marked offline
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'client'">
                <md-radio-button value="client.create">
                  <translate>
                    First connects
                  </translate>
                </md-radio-button>
                <md-radio-button value="client.login">
                  <translate>
                    Logs in through splash
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'email'">
                <md-radio-button value="email.create">
                  <translate>
                    Captured
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'guest'">
                <md-radio-button value="guest.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'location'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="location.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="location.unarchive">
                    <translate>
                      Unarchived
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.transfer">
                    <translate>
                      Transferred
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="location.duplicate">
                    <translate>
                      Duplicated
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'network'">
                <md-radio-button value="network.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
                <md-radio-button value="network.update">
                  <translate>
                    Updated
                  </translate>
                </md-radio-button>
                <md-radio-button value="network.destroy">
                  <translate>
                    Deleted
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'quickcode'">
                <md-radio-button value="quickcode.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
                <md-radio-button value="quickcode.update">
                  <translate>
                    Updated
                  </translate>
                </md-radio-button>
                <md-radio-button value="quickcode.destroy">
                  <translate>
                    Deleted
                  </translate>
                </md-radio-button>
                <md-radio-button value="quickcode.login">
                  <translate>
                    Logged In
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'rogue'">
                <md-radio-button value="rogue.detected">
                  <translate>
                    Detected
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'splash'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="splash.create">
                    <translate>
                      Created
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="splash.update">
                    <translate>
                      Updated
                    </translate>
                  </md-radio-button>
                  <md-radio-button value="splash.destroy">
                    <translate>
                      Deleted
                    </translate>
                  </md-radio-button>
                </span>
                <span flex="50">
                  <md-radio-button value="splash.password">
                    <translate>
                      Password changed
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'social'">
                <md-radio-button value="social.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>

                <md-radio-button value="social.login">
                  <translate>
                    Logged in
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'store'" layout="row" layout-wrap>
                <span flex="50">
                  <md-radio-button value="store.create">
                    <translate>
                    Created
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.update">
                    <translate>
                    Updated
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.destroy">
                    <translate>
                    Destroy
                    </translate>
                  </md-radio-button>
                </span>

                <span flex="50">
                  <md-radio-button value="store.purchase">
                    <translate>
                    Purchase
                    </translate>
                  </md-radio-button>

                  <md-radio-button value="store.refund">
                    <translate>
                    Refund
                    </translate>
                  </md-radio-button>
                </span>
              </span>

              <span ng-if="trigger.type == 'trigger'">
                <md-radio-button value="trigger.fail">
                  <translate>
                    Failed
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'voucher'">
                <md-radio-button value="voucher.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
                <md-radio-button value="voucher.update">
                  <translate>
                    Updated
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'user'">
                <md-radio-button value="user.invite">
                  <translate>
                    Invited
                  </translate>
                </md-radio-button>
                <md-radio-button value="user.revoke">
                  <translate>
                    Revoked
                  </translate>
                </md-radio-button>
              </span>

              <span ng-if="trigger.type == 'zone'">
                <md-radio-button value="zone.create">
                  <translate>
                    Created
                  </translate>
                </md-radio-button>
                <md-radio-button value="zone.generate">
                  <translate>
                    Generated
                  </translate>
                </md-radio-button>
                <md-radio-button value="zone.destroy">
                  <translate>
                    Deleted
                  </translate>
                </md-radio-button>
              </span>
            </md-radio-group>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.trigger_type">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <translate>
                  Select a Channel
                </translate>
              </span>
              <span class="md-subhead" translate>
                The channel is the way you get notified.
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>
                <translate>Channel</translate>
              </label>
              <md-select ng-model="trigger.channel" ng-change="initChannel()">
                <md-option ng-repeat="channel in channels" value="{{channel.value}}">
                  {{channel.key}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.channel">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <span ng-show="trigger.channel == 'email'" translate>Send an Email</span>
                <span ng-show="trigger.channel == 'slack'" translate>Notify Slack</span>
                <span ng-show="trigger.channel == 'webhook'" translate>Send a Webhook</span>
                <!-- <span ng-show="trigger.channel == 'mailchimp'" translate>Add to List</span> -->
                <!-- <span ng-show="trigger.channel == 'sms'" translate>Send SMS</span> -->
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <trigger-tags type="{{trigger.type}}" channel="{{trigger.channel}}"></trigger-tags>
            <span channel-types ver='{{ trigger.channel }}'></span>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.type && trigger.type != 'all'">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Trigger Settings
              </span>
              <span class="md-subhead" translate>
                Deferring the trigger will queue it and send it after the event has occurred.
              </span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content layout-gt-sm="column">
            <md-input-container>
              <label>
                <translate>Defer Minutes</translate>
              </label>
              <input type="text" name="ttl" md-maxlength="100" ng-model="trigger.ttl" placeholder="{{ 'Defer for minutes' | translate }}"></input>
              <div ng-messages="myForm.ttl.$error" md-auto-hide="false">
                <div ng-message="md-max" translate>Must be less than 100 chars</div>
              </div>
            </md-input-container>
            <md-input-container style="margin: 0 0 -20px -3px;">
              <label>
                <translate>Match</translate>
              </label>
              <input type="text" name="match" md-max="43200" ng-model="trigger.match" placeholder="{{ 'Expression match' | translate }}"></input>
              <div ng-messages="myForm.match.$error" md-auto-hide="false">
                <div ng-message="md-maxlength" translate>Must be less than 43,200 mins</div>
              </div>
            </md-input-container>
            <small class="muted" style="font-size: 75%;">Regex match on description, AP Mac or Zone ID.</small>
            <md-input-container style="margin: 40px 0 -20px -3px;">
              <label>
                <translate>Tags</translate>
              </label>
              <input type="text" name="tags" ng-model="trigger.tags" placeholder="{{ 'Tags' | translate }}"></input>
              <div ng-messages="myForm.tags.$error" md-auto-hide="false">
              </div>
            </md-input-container>
            <small class="muted" style="font-size: 75%;">Match any object tags.</small>
          </md-card-content>
        </md-card>

        <md-card ng-if="trigger.attr_1">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Name your Trigger
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container layout="column">
              <label>
                <translate>Name of trigger</translate>
              </label>
              <input type="text" name="trigger_name" md-maxlength="100" ng-model="trigger.trigger_name" placeholder="{{ 'Name' | translate }}" required></input>
              <div ng-messages="myForm.trigger_name.$error" md-auto-hide="false">
                <div ng-message="required" translate>Please enter a name for your trigger</div>
                <div ng-message="md-maxlength" translate>Must be less than 100 characters</div>
              </div>
            </md-input-container>
          </md-card-content>
        </md-card>
        <md-button type="submit" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised"><translate>Save</translate></md-button>
      </div>
    </div>
  </md-content>
</form>
