<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back">arrow_back</md-icon>
    </md-button>
    <p translate>Triggers</p>
    <md-menu ng-if="menu.length">
      <md-button aria-label="{{ 'Open Tools' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-disabled="item.disabled" ng-click="action(item.type)">
            <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
            {{item.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="50">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" translate>
              <md-icon ng-if="trigger.locked">lock</md-icon>
              <span ng-show="trigger.active" translate>Details</span>
              <span ng-hide="trigger.active" translate><b>Trigger disabled!</b></span>
            </span>
            <span class="md-subhead">
              <span ng-show="trigger.active" translate>Trigger active.</span>
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            <span translate translate-n="{{trigger.run_count}}" translate-plural="This trigger has run {{ trigger.run_count || 0 }} times."> This trigger has run 1 time.</span>
            <span translate translate-n="{{trigger.total_fail_count}}" translate-plural="It has failed {{ trigger.total_fail_count || 0 }} times">It has failed 1 time</span>
          </p>
          <p><b><span translate translate-n="{{trigger.fail_count}}" translate-plural="It's failed {{ trigger.fail_count || 0 }} times since the last reset">It's failed 1 time since the last reset.</span></b></p>

          <p class="text-muted"><small translate>Created {{ trigger.created_at | humanTime }}</small></p>

          <md-switch ng-model="trigger.active" aria-label="{{ 'Active' | translate }}" ng-change="active()" class="md-warn">
            <span ng-if="trigger.active" translate>Trigger Active</span>
            <span ng-if="!trigger.active" translate>Trigger Disabled</span>
          </md-switch>

          <small><span ng-if="trigger.active" class="text-muted" translate>Disabling this will stop the alerts.</span> <translate>Triggers are automatically disabled if they fail 5 times.</translate></small>

          <span ng-show="trigger.testing == true">
            <p translate>Testing Trigger</p>
            <md-progress-linear md-mode="query"></md-progress-linear>
            <p>
              <small ng-if="trigger.channel == 'email'" translate>An email will be sent to the recipient and owner of the location</small>
            </p>
          </span>

          <span ing-if="trigger.test" class="">
            <p><b>{{ trigger.test }}</b></p>
          </span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="/#/locations/{{ location.slug }}/triggers/{{ trigger.id }}/edit"><translate>Edit</translate></md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex="100" flex-gt-sm="50">
      <div show-trigger-details ver='{{ trigger.channel }}'></div>
    </div>
  </div>

</md-content>
