<!-- Why can't we format this properly! -->
<!-- Why can't we format this properly! -->

<md-dialog aria-label="{{ 'Trigger Tags' | translate }}" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Dynamic Variables</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout-align="left left">
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-sm="40">
            <p><b translate>Common tags</b></p>

              <pre ng-non-bindable>
{{ Created_At }}
{{ Location_Id }}
{{ Location_Name }}
{{ Object }}
{{ Resource_Id }}
{{ Slug }}
{{ Trigger_Type }}
<!-- {{ User_Id }} -->
<!-- {{ Username }} -->
              </pre>
            </ul>
          </div>
          <div flex></div>
          <div flex="100" flex-gt-sm="40">
            <p><b translate>{{ type | titleCase }} tags</b></p>
              <span ng-show='type == "box"'>
                <pre ng-non-bindable>
{{ Machine_Type }}
{{ Description }}
{{ Ap_Mac }}
{{ State }}
{{ Last_Heartbeat }}
{{ Wan_Ip }}
{{ Public_Ip }}
                </pre>
              </span>
              <span ng-show='type == "client"'>
                <pre ng-non-bindable>
{{ Manufacturer }}
{{ Client_Mac }}
{{ Ap_Mac }}
{{ State }}
{{ Wireless }}
{{ Splash }}
{{ Ssid }}
{{ Srn }}
                </pre>
              </span>
              <span ng-if='type == "email"'>
                <pre ng-non-bindable>
{{ Splash_Id }}
{{ Email }}
                </pre>
              </span>
              <span ng-if='type == "guest"'>
                <pre ng-non-bindable>
{{ Splash_Id }}
{{ Metadata }}
{{ Email }}
{{ Username }}
                </pre>
              </span>
              <span ng-if='type == "location"'>
                <pre ng-non-bindable>
{{ Location_Name }}
                </pre>
              </span>
              <span ng-if='type == "network"'>
                <pre ng-non-bindable>
{{ Location_Name }}
{{ Ssid }}
{{ Encryption }}
{{ Access_Type }}
{{ Captive_Portal }}
                </pre>
              </span>
              <span ng-if='type == "splash"'>
                <pre ng-non-bindable>
{{ Splash_Username }}
{{ Manufacturer }}
{{ Description }}
{{ Splash_Name }}
{{ Access_Type }}
{{ Client_Mac }}
{{ Password }}
{{ Wireless }}
{{ Ap_Mac }}
{{ Email }}
{{ Ssid }}
{{ Snr }}
                </pre>
              </span>
              <span ng-if='type == "social"'>
                <pre ng-non-bindable>
{{ Email }}
{{ First_Name }}
{{ Last_Name }}
{{ Gender }}
{{ Facebook_Id }}
{{ Linkedin_Id }}
{{ Google_Id }}
                </pre>
              </span>
              <span ng-if='type == "voucher"'>
                <pre ng-non-bindable>
{{ Description }}
{{ Batch_Name }}
{{ Active }}
{{ Quantity }}
                </pre>
              </span>
              <span ng-if='type == "zone"'>
                <pre ng-non-bindable>
{{ Zone_Name }}
                </pre>
              </span>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()" translate>
        CLOSE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

<!-- Why can't we format this properly! -->
<!-- Why can't we format this properly! -->
