<p ng-bind-html="error"></p>

<md-button href="/#/users/{{ user.slug }}/integrations" ng-if="error" translate>AUTHORISE</md-button>

<div layout="column">

  <span ng-if="loading_integration">
    <p translate>Loading</p>
    <md-progress-linear md-mode="query"></md-progress-linear>
  </span>

  <div ng-if="slack_channels.length && !loading_integration" layout="column">

    <md-input-container>
      <label translate>Choose a Slack Channel</label>
      <md-select ng-model="trigger.attr_1">
        <md-option ng-repeat="channel in slack_channels" value="{{channel.id}}">
          {{channel.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <span ng-if="trigger.attr_1 != undefined" layout="column">

      <md-input-container>
        <label translate>Message</label>
        <textarea name="slack-msg" ng-model="trigger.attr_2" md-maxlength="1000" placeholder="" rows=8 required></textarea>
        <div ng-messages="myForm.slack-msg.$error" md-auto-hide="false">
          <div ng-message="required" translate>Please enter a message</div>
          <div ng-message="md-maxlength" translate>Must be less than 1000 characters</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label translate>Username (Optional)</label>
        <input type="text" name="slack-username" ng-model="trigger.attr_3" placeholder="{{ 'Slack Username' | translate }}"></input>
      </md-input-container>

      <md-input-container>
        <label translate>Icon URL (Optional)</label>
        <input type="url" name="slack_url" ng-model="trigger.attr_4" placeholder="{{ 'Enter a url for the Icon' | translate }}"></input>
        <div ng-messages="myForm.slack_url.$error" md-auto-hide="false">
          <div ng-message="url" translate>Must be a valid URL</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label translate>Emoji (Optional)</label>
        <input type="text" name="slack-icon" ng-model="trigger.attr_5" placeholder="{{ 'Emoji time!' | translate }}"></input>
      </md-input-container>

    </span>
  </div>
</div>
