<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" aria-label="{{ 'Vouchers' | translate }}">
      <md-icon md-font-icon="" >notifications_active</md-icon>
    </md-button>
    <p translate>Triggers</p>
    <div flex></div>
    <md-button ng-show="allowed == true" ng-click="create()" class="md-icon-button md-accent">
      <md-icon>add_circle</md-icon>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<form ng-submit="search()" name="myForm">

  <md-content class="md-padding" layout="column" layout-gt-sm='row' ng-show="triggers.length == 0 && !query.filter && !searching && myForm.$pristine">

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>
            Get Started
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>Triggers run automatically in the background.</p>
        <p>They monitor things that happen and notify you automatically.</p>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-show="allowed == true" ng-click="create()"><translate>Create</translate></md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>

  </md-content>

  <md-content class="md-padding" layout="column" layout-gt-sm='column' ng-show="triggers.length > 0 || searching || query.filter" layout-wrap>
    <md-card>
     
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead md-head>
              <tr md-row class="md-table-headers-row">
                <th md-column md-order-by="active"><span translate>Active</span></th>
                <th md-column md-order-by="name"><span translate>Name</span></th>
                <th hide show-gt-sm md-column md-order-by="type"><span translate>Type</span></th>
                <th hide show-gt-sm md-column md-order-by="channel"><span translate>Channel</span></th>
                <th hide show-gt-sm md-column md-order-by="info"><span translate>Info</span></th>
                <th hide show-gt-sm md-column md-order-by="runs"><span translate>Runs</span></th>
                <th md-column translate>Action</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="trigger" md-auto-select="options.autoSelect" ng-repeat="trigger in filtered = (triggers | filter: query.filter | orderBy: query.direction)">
                <td md-cell>
                  <md-icon md-menu-origin md-font-icon="">{{ trigger.active ? "check_circle" : 'cancel' }}</md-icon>
                </td md-cell>
                <td md-cell>
                  <a href="/#/locations/{{ location.slug }}/triggers/{{ trigger.id }}">
                    {{ trigger.trigger_name }}
                  </a>
                  <md-tooltip hide-gt-sm>
                    <translate>
                      Type: {{ trigger.trigger_type }}. Runs: {{ trigger.run_count }}
                    </translate>
                  </md-tooltip>
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  {{ trigger.trigger_type }}
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  {{ trigger.channel }}
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  <span ng-if="trigger.channel == 'slack'" translate>
                    Posting to {{ trigger.custom_1 || 'unknown'}}
                  </span>
                </td md-cell>
                <td hide show-gt-sm md-cell>
                  {{ trigger.run_count }}
                  <md-tooltip>
                    <translate>
                      Fails: {{ trigger.total_fail_count || 0}}
                    </translate>
                  </md-tooltip>
                </td md-cell>
                <td md-cell>
                  <md-menu>
                    <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                      <md-menu-item ng-repeat="item in menu">
                        <md-button ng-click="action(item.type,trigger)" ng-disabled="{{ menuDisabled(item.type, client) }}">
                          <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                      <p flex>{{ item.name }}</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <!-- <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination> -->

        </div>
      
    </md-card>
  </md-content>
</form>
