<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{ trigger.trigger_name | titleCase }}
      </span>
      <span class="md-subhead">
        {{ trigger.description }}
      </span>
    </md-card-title-text>
    <md-card-title-media>
      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/integration-images/chimp.png" class="integrations-icon-show">
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <b>{{ trigger.human }}</b>, <translate>add an email to the MailChimp list</translate><b>{{ trigger.custom_1 }}</b>.
  </md-card-content>
</md-card>
