<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{ trigger.trigger_name | titleCase }}
      </span>
      <span class="md-subhead">
        {{ trigger.description }}
      </span>
    </md-card-title-text>
    <md-card-title-media>
      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/integration-images/slack.png" class="integrations-icon-show">
    </md-card-title-media>
  </md-card-title>
  <md-card-content translate>
    <b>{{ trigger.human }}</b>, send a notification to the Slack channel <b>{{ trigger.custom_1 }}</b>.
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3 translate>Message</h3>
        <p>{{ trigger.attr_2 }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ng-show="trigger.attr_3">
      <div class="md-list-item-text">
        <h3 translate>Username</h3>
        <p>{{ trigger.attr_3 }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ng-show="trigger.attr_4">
      <div class="md-list-item-text">
        <h3 translate>Icon</h3>
        <p>{{ trigger.attr_4 }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ng-show="trigger.attr_5">
      <div class="md-list-item-text">
        <h3 translate>Emoji</h3>
        <p>{{ trigger.attr_5 }}</p>
      </div>
    </md-list-item>
  </md-card-content>
</md-card>
