<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{ trigger.trigger_name | titleCase }}
      </span>
      <span class="md-subhead">
        {{ trigger.description }}
      </span>
    </md-card-title-text>
    <md-card-title-media>
      <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/integration-images/webhook.png" class="integrations-icon-show">
    </md-card-title-media>
  </md-card-title>
  <md-card-content translate>
    <p>{{ trigger.human }}</b>, send a <b>{{ trigger.attr_2 }}</b> request to:<br> <b>{{ trigger.attr_1 }}</b>.</p>
    <p>Request body: {{ trigger.attr_3 }}</p>
  </md-card-content>
</md-card>

