<!-- {{ firmwares }} -->
<div class="row">
  <div class="small-12 columns">
    <h1>Firmwares</h1>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <input type="text" ng-model="query" autofocus placeholder="What are you looking for?"></input>
        <input type="checkbox" ng-model="active"></input>
        <label>Active</label>
        <input type="checkbox" ng-model="public"></input>
        <label>Public</label>
      </div>
    </div>
    <div ng-show="filtered.length">
      <table class="table table-bordered hovering">
        <tbody>
          <tr>
            <th class=""><a href="" ng-click='predicate = "unique_id"; reverse=!reverse'>ID</a></th>
            <th class=""><a href="" ng-click='predicate = "description"; reverse=!reverse'>Description</a></th>
            <th class=""><a href="" ng-click='predicate = "created_at"; reverse=!reverse'>Created</a></th>
            <th class=""><a href="" ng-click='predicate = "active"; reverse=!reverse'>Active</a></th>
            <th class=""><a href="" ng-click='predicate = "is_public"; reverse=!reverse'>Public</a></th>
            <th class=""><a href="" ng-click='predicate = "machine_type"; reverse=!reverse'>Machine Type</a></th>
          </tr>
          <tr ng-repeat="firmware in filtered = (firmwares | filter:query | filter: { state: onlineFilter, active: active, is_public: public } | orderBy:predicate:reverse)">
            <td>{{firmware.unique_id}}</td>
            <td>{{firmware.description}}</td>
            <td>{{firmware.created_at | humanTime }}</td>
            <td>{{firmware.active }}</td>
            <td>{{firmware.is_public }}</td>
            <td>{{firmware.machine_type }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <span ng-show="_links.total_pages > 1" class="left"> -->
      <!--   <pagination ng-click="updatePage()" total-items="_links.total_entries" page="_links.current_page" max-size="5" class="pagination-sm" boundary-links="false" rotate="false" num-pages="_links.total_pages" items-per-page="25"></pagination> -->
      <!-- </span> -->
    </div>
    <div ng-hide="filtered.length">
      <hr>
      <p>Nothing to be seen here, move along please</a>
    </div>
  </div>
</div>

