<loader></loader>
<div ng-hide="loading">
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <p>
          <span ng-if="query.filter" translate translate-context="filtered number, devices" translate-n="filtered.length" translate-plural="{{filtered.length}} Devices.">1 Device.</span>
          <span ng-if="!query.filter" translate translate-context="total number, devices" translate-n="{{_links.total_entries}}" translate-plural="{{_links.total_entries}} Devices.">1 Device.</span>
          <span translate translate-n="{{ online }}" translate-plural="{{ online }} Clients Online.">1 Client Online.</span></p>
        <div flex></div>
        <md-menu ng-if="selected.length">
          <md-button aria-label="{{ 'Open Boxes Menu' | translate }}" class="md-fab md-mini md-warn" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item>
              <md-button ng-click="showZonesDialog()">
                <md-icon>layers</md-icon>
                <p flex translate>Edit Zones</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="showPayloadDialog($event)">
                <md-icon>present_to_all</md-icon>
                <p flex translate>Run Payload</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="deleteDevices()">
                <md-icon>delete_forever</md-icon>
                <p flex translate>Delete Devices</p>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-card-content>
      <md-table-container>
        <table multiple md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th><span></span></th>
              <th colspan="2" md-column md-order-by="description" md-desc>
                <span translate>
                  &nbsp; Name
                </span>
              </th>
              <th md-column hide show-gt-lg md-order-by="calledstationid"><span translate>Mac</span></th>
              <th md-column hide show-gt-md md-order-by="metadata.online"><span translate>Clients</span></th>
              <th md-column hide show-gt-sm md-order-by="zone_id"><span translate>Zone</span></th>
              <th md-column hide show-gt-md md-order-by="wan_ip"><span translate>IP</span></th>
              <th hide show-gt-xs md-column md-order-by="last_heartbeat"><span translate>Last Seen</span></th>
              <th md-column><span translate>Action</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="box" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="box in filtered = ( boxes | filter: filter | orderBy: query.order)">
              <td md-cell class="box-status">
                <span ng-if="box.state == 'processing'" class="box-spinner">
                  <md-icon class="box-status processing" md-menu-origin md-font-icon="">rotate_right</md-icon>
                </span>
                <span ng-if="box.state != 'processing'">
                  <md-icon md-menu-origin class="box-status online" ng-if="box.state == 'online'">check_circle</md-icon>
                  <md-icon md-menu-origin class="box-status offline md-warn" ng-if="box.state != 'online'" class="s48">error_outline</md-icon>
                </span>
                <md-tooltip>
                  {{ ::box.state | deviceStatus }}
                </md-tooltip>
              </td>
              <td md-cell class="box-icon">
                <span ng-if="box.device_icon">
                  <img class="box" src="https://d3e9l1phmgx8f2.cloudfront.net/images/manufacturer-images/{{ ::box.device_icon }}" width="32px" title="{{ ::box.machine_type }}"/>
                  <md-tooltip ng-if="box.machine_type">
                    {{ ::box.machine_type }}
                  </md-tooltip>
                </span>
              </td>
              <td md-cell ing-click="editDescription($event, box)">
                <span>
                  <a href="/#/locations/{{ location.slug }}/devices/{{ box.slug }}">
                    <span hide-gt-xs>{{ box.description | emptyFilter | truncate:10 }}</span>
                    <span hide show-gt-xs>{{ box.description | emptyFilter | truncate:20 }}</span>
                  </a>
                </td>
                <td hide show-gt-lg md-cell>
                  {{ box.calledstationid }}
                </td>
                <td hide show-gt-md md-cell>
                  {{::box.metadata.online || '-' }}
                </td>
                <td hide show-gt-sm md-cell>
                  <a href="/#/locations/{{ location.slug }}/zones/{{ box.metadata.zone_id }}">
                    {{ box.metadata.zone_name | truncate:20 | titleCase }}
                  </a>
                </td>
                <td hide show-gt-md md-cell>
                  {{ box.wan_ip }}
                  <md-tooltip>
                    <translate>
                      WAN Protocol: {{ ::box.wan_proto }}
                    </translate>
                    <span ng-if='box.wan_proto === "static"' translate>. Static IP: {{ ::box.wan_ipaddr }}</span>
                  </md-tooltip>
                </td>
                <td hide show-gt-xs md-cell>
                  {{ box.last_heartbeat | humanTimeShort }}
                </td>
                <td md-cell>
                  <md-menu>
                    <md-button aria-label="{{ 'Open Boxes Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                      <md-menu-item>
                        <md-button href="/#/locations/{{ location.slug }}/devices/{{ box.slug }}">
                          <md-icon>pageview</md-icon>
                          <p flex translate>View</p>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item ng-repeat="item in menuItems">
                        <md-button ng-click="action(box,item.type)" ng-disabled="{{ disabled(box,item.type) }}">
                          <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ ::item.icon }}">{{ ::item.icon }}</md-icon>
                          <p flex>{{ ::item.name }}</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card-content>
      <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

    </md-card>
  </div>
</div>
