<div ng-hide="loading">
  <md-card class="b-or">
    <md-card-title>
      <md-card-title-text layout="row">
        <div>
          <div class="md-headline" translate>
            Devices Added
          </div>
          <div class="md-subhead">
            These are the devices added during your last update.
          </div>
        </div>
        <span flex></span>
        <div class="integration-type">
          <img ng-if="integration.type == 'unifi'" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ubiquiti-logo.png">
          <img ng-if="integration.type == 'meraki'" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/meraki-logo.png">
          <img ng-if="integration.type == 'vsz'" src="https://s3-eu-west-1.amazonaws.com/mimo-labs/images/logos/ruckus-logo.png">
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column><span>Status</spam></th>
              <th md-column md-order-by="description" md-desc><span translate>Name</span></th>
              <th md-column md-order-by="calledstationid"><span translate>Mac</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="box" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="box in filtered = ( boxes | filter: filter | orderBy: query.order)">
              <td md-cell class="box-status">
                <span ng-if="box.state == 'processing'" class="box-spinner">
                  <md-icon class="box-status processing" md-menu-origin md-font-icon="">rotate_right</md-icon>
                </span>
                <span ng-if="box.state != 'processing'">
                  <md-icon md-menu-origin class="box-status online" ng-if="box.state == 'online'">check_circle</md-icon>
                  <md-icon md-menu-origin class="box-status offline md-warn" ng-if="box.state != 'online'" class="s48">error_outline</md-icon>
                </span>
                <md-tooltip>
                  {{ ::box.state | deviceStatus }}
                </md-tooltip>
              </td>
              <td md-cell>
                <span hide-gt-xs>{{ box.description | emptyFilter | truncate:10 }}</span>
                <span hide show-gt-xs>{{ box.description | emptyFilter | truncate:20 }}</span>
              </td>
              <td md-cell>
                {{ box.calledstationid }}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
    <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>
    </md-card>
  </div>
</div>
