<camp-nav></camp-nav>

<md-content layout-padding layout="row" layout-wrap layout-align="center center" class="page-meta">
  <div flex-gt-sm="100">
    <md-card class="b-pr">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Message</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list flex>
          <div layout="row">
            <div flex="35">
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 translate>To:</h3>
                  <p>{{message.to_email}}</p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 translate>From:</h3>
                  <p>{{message.from_name}} ({{message.from_email}})</p>
                </div>
              </md-list-item>
            </div>
            <div flex="65">
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 translate>Subject:</h3>
                  <p>{{message.subject}}</p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 translate>Body:</h3>
                  <p>{{message.content}}</p>
                </div>
              </md-list-item>
            </div>
          </div>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div flex-gt-sm="100">
    <md-card class="b-pr">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Activity</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-table-container>
          <table multiple md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="description" md-desc>
                  <span translate>
                    Timestamp
                  </span>
                </th>
                <th md-column hide show-gt-xs md-order-by="calledstationid"><span translate>Event</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="box" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="activity in filtered = ( activity | filter: filter | orderBy: query.order)">
                <td md-cell>
                  <a ng-click="query(message.person_id)">
                    {{ activity.created_at | humanTime }}
                  </a>
                </td>
                <td hide show-gt-xs md-cell>
                  {{ activity.event | titleCase }}
                  <md-tooltip ng-show="activity.useragent">{{ activity.useragent }}</md-tooltip>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card-content>
      <md-table-pagination md-limit="500" md-limit-options="[500]" md-page="1" md-total="{{activity.length}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>

    </md-card>
  </div>
</md-content>
