<form name="myForm" ng-submit="save(myForm)">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>
          Billing Preferences
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="100">
          <label translate>Company Name</label>
          <input type="text" name="billing_name" ng-model='user.billing_name' placeholder="{{ 'Your company name' | translate }}" md-maxlength="255">
          <div ng-messages="myForm.billing_name.$error">
            <div ng-message="md-maxlength" translate>Max 255 characters</div>
          </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="50">
          <label translate>Billing City</label>
          <input type="text" name="billing_city" ng-model='user.billing_city' placeholder="{{ 'Your billing city' | translate}}"  md-maxlength="255">
          <div ng-messages="myForm.billing_city.$error">
            <div ng-message="md-maxlength" translate>Max 255 characters</div>
          </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="50">
          <label translate>Billing Postcode</label>
          <input type="text" name="billing_postcode" ng-model='user.billing_postcode' placeholder="{{ 'Your billing postcode' | translate }}" md-maxlength="10">
          <div ng-messages="myForm.billing_postcode.$error">
            <div ng-message="md-maxlength" translate>Max 10 characters</div>
          </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="100">
          <label translate>Additional Billing Emails</label>
          <textarea type="text" name="billing_email" ng-model='user.billing_email' placeholder="{{ 'Add additional billing email addresses' | translate }}"></textarea>
        </md-input-container>

      </div>
    </md-card-content>
  </md-card>

  <user-credit-card user="user"></user-credit-card>

  <!-- <md-button class="md-raised" ng-if="!cancelling && user.subscription_active" type="submit" ng-click="cancel()"><translate>cancel plan</translate></md-button> -->

  <md-button type="submit" class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid">
    <translate>Save</translate>
  </md-button>

</form>
