<md-dialog aria-label="Cancel Account" ng-cloak flex="100" flex-sm="50" flex-gt-sm="30">
  <form name="form" ng-submit="save()">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2>Cancel Your Account</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-wrap>
        <div flex="100">
          <p>Sorry to see you want to cancel your account.</p>
        </div>
        <md-input-container class="md-block" ng-model="user.reason" md-maxlength="255" ng-minlength="5" flex="100">
          <label>Tell Us What We Did Wrong</label>
          <textarea md-autofocus ng-model='reason' required></textarea>
        </md-input-container>
        <p>Cancelling is immediate. No futher charges will be applied to your account.</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        Close
      </md-button>
      <md-button type="submit" ng-disabled="form.$pristine || form.$invalid" class="md-raised md-wardn">CANCEL ACCOUNT</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
