<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" translate>
        Cancel Subscription 
      </span>
      <!--Toni, fixme, think of something-->
      <span class="md-subhead">
        <tranlsalate>Cancelling will take affect immediately. No futher charges will be applied.</translate>
        <p><b>Please note. If you on a per-AP billed plan, you will be charged for any access points outstanding on your account. You can view this month's additions in <a href="/#/users/{{ user.slug }}/inventory">your inventory</a>.</b></p>
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <span ng-if="cancelling">
      <p translate>Cancelling, please wait.</p>
      <md-progress-linear md-mode="query"></md-progress-linear>
    </span>
    <md-button ng-if="!cancelling" type="submit" ng-click="cancel()"><translate>cancel</translate></md-button>
  </md-card-actions>
</md-card>
