<md-dialog aria-label="{{ 'Change Password' | translate }}" ng-cloak flex="100" flex-sm="50" flex-gt-sm="30">
  <form name="form" stripe-form="stripeCallback">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 translate>
          <md-icon>lock</md-icon>
          Add Credit Card
        </h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-wrap>
        <div flex="100">
          <h3 translate>Update or add your credit card</h3>
        </div>
        <md-input-container class="md-block" flex="100">
          <label translate>Card Number</label>
          <input md-autofocus type='text' ng-model='number' placeholder="{{ 'Card Number' | translate }}" payments-format='card' payments-validate='card' name='card' value=''/>
          <div ng-messages="form.card.$error">
            <div ng-message="card" translate>Card number invalid</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100" flex-gt-sm="50">
          <label for='expiry' translate>Expiry Date</label>
          <input type='text' ng-model='expiry' placeholder="{{ 'Expiration' | translate }}" payments-format='expiry' payments-validate='expiry' name='expiry'/>
          <div ng-messages="form.expiry.$error">
            <div ng-message="expiry" translate>Invalid expiry date</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100" flex-gt-sm="50">
          <label for='cvc' translate>Security Code</label>
          <input type='text' ng-model='cvc' placeholder='CVC' payments-validate='cvc' payments-format='cvc' name='cvc'/>
          <div ng-messages="form.cvc.$error">
            <div ng-message="expiry" translate>Invalid CVC</div>
          </div>
        </md-input-container>
        <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/logos/powered_by_stripe_3x.png" style="width: 150px; height: 33px;"/>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>Cancel</translate>
      </md-button>
      <md-button type="submit" ng-disabled="form.$pristine || form.$invalid" class="md-raised md-primary"><translate>SAVE</translate></md-button>
    </md-dialog-actions>
    <!-- </form> -->
</md-dialog>
