<md-dialog aria-label="{{ 'Health Check' | translate }}"  ng-cloak>
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Delete Account</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="ssid-form">
      <div class="md-dialog-content" layout="column">
        <div flex layout="column">
          <p translate>Please enter account email address to confirm.</p>
        </div>
        <div flex layout="column">
          <md-input-container>
            <label>
              <translate>Email Address</translate>
            </label>
            <input name="email" model="email" md-maxlength="254" ng-model="email" required>
          </md-input-container>
        </div>
        <p><translate>All data related to your account will be removed and cannot be recovered. Your locations, boxes, triggers, settings, stats, reports and all other data will be permanently removed. <b>This is not reversible. Use with caution</b>.</translate></p>
        <p>Please cancel any subscriptions prior to deleting your account. Failing to do so may result in continued charges.</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>
          Close
        </translate>
      </md-button>
      <md-button class="md-raised md-warn" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="delete(email)">
        <translate>
          DELETE
        </translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
