<form name="myForm" ng-submit="update(myForm)">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
        <md-icon md-font-icon="arrow_back" >face</md-icon>
      </md-button>
      <p translate>Profile</p>
      <div flex></div>
    </div>
    <md-divider></md-divider>
  </md-toolbar>

  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <md-icon md-font-icon="" ng-if="user.verified">verified_user</md-icon>
                {{ ::user.username }}
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-list-item class="md-3-line" flex="100" flex-gt-sm="50">
                <div class="md-list-item-text">
                  <h3 translate>Account ID</h3>
                  <p>{{ ::user.account_id }}
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50" ng-if="user.invited_by">
                <div class="md-list-item-text">
                  <h3 translate>Invited By</h3>
                  <p>
                    {{ user.invited_by }}
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50" ng-if="user.plan">
                <div class="md-list-item-text">
                  <h3 translate>Plan</h3>
                  <p>
                    <span ng-show="user.plan.plan_price < 1" translate>You're on the free plan.</span>
                    <span ng-show="user.plan.plan_price > 0" translate>You're on the {{ ::user.plan.plan_name }} Plan which costs {{ ::user.currency == 'USD' ? '$' : '£'}}{{ ::user.plan.plan_price | number:2 }} and is billed {{ ::user.plan.billing_period }}.</span></p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50">
                <div class="md-list-item-text">
                  <h3 translate>Account Created</h3>
                  <p>{{ user.created_at | humanTime }}</p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50" ng-if="user.plan">
                <div class="md-list-item-text">
                  <h3 translate>Subscription Status</h3>
                  <p ng-if="user.subscription_active == true" translate> Active </p>
                  <p ng-if="user.subscription_active == false" translate> Free User</p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50" ng-if="!user.plan && user.invited_by">
                <div class="md-list-item-text">
                  <h3 translate>Subscription Status</h3>
                  <p>Guest Account</p>
                </div>
              </md-list-item>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                Profile Settings
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                <label translate>Username</label>
                <input ng-disabled="!user.allowed" md-maxlength="50" ng-minlength="5" type="text" name="username" ng-model='user.username' placeholder="{{ 'Enter your username' | translate }}"  required></input>
                <div ng-messages="myForm.username.$error">
                  <div ng-message="minlength" translate>Must be greater than 5 characters</div>
                  <div ng-message="md-maxlength" translate>Max 20 characters</div>
                  <div ng-message="required" translate>You must set a username</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                <label translate>Email Address</label>
                <input ng-disabled="!user.allowed" md-maxlength="100" ng-minlength="5" type="email" name="username" ng-model='user.email' placeholder="{{ 'Enter your email address' | translate }}" required></input>
                <div ng-messages="myForm.email.$error">
                  <div ng-message="minlength" translate>Must be greater than 5 characters</div>
                  <div ng-message="md-maxlength" translate>Max 100 characters</div>
                  <div ng-message="required" translate>You must set an email</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                <label translate>Company</label>
                <input md-maxlength="255" ng-minlength="5" type="text" name="company" ng-model='user.company_name' placeholder="{{ 'Enter your company name' | translate }}"></input>
                <div ng-messages="myForm.company.$error">
                  <div ng-message="minlength" translate>Must be greater than 5 characters</div>
                  <div ng-message="md-maxlength" translate>Max 100 characters</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                <label translate>Phone Number</label>
                <input md-maxlength="100" ng-minlength="5" type="text" name="phone" ng-model='user.mobile_number' placeholder="{{ 'Enter your phone number' | translate }}"></input>
                <div ng-messages="myForm.phone.$error">
                  <div ng-message="minlength" translate>Must be greater than 5 characters</div>
                  <div ng-message="md-maxlength" translate>Max 100 characters</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                <label translate>Locale</label>
                <md-select ng-model="user.locale">
                  <md-option ng-repeat="locale in locales" value="{{locale.value}}">
                    {{locale.key}}
                  </md-option>
                </md-select>
              </md-input-container>

            </div>
          </md-card-content>
          <user-password ng-if="user.allowed"></user-password>
        </md-card>

        <md-button class="md-raised" ng-disabled="myForm.$pristine || myForm.$invalid" ng-click="update(myForm)">
          <translate>Save</translate>
        </md-button>

      </div>

  </md-content>
</form>
