<md-dialog aria-label="{{ 'Change Password' | translate }}" flex=30 ng-cloak>
  <form name="myForm" ng-submit="change(user)">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 translate>Change Password</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-wrap>
        <div flex="100">
          <h3 translate>Change your account password</h3>
        </div>
        <md-input-container flex="100">
          <label translate>Current Password</label>
          <input ng-minlength="8" type="password" name="oldpassword" ng-model='user.current_password' placeholder="{{ 'Your Current Password' | translate }}" required>
          <div ng-messages="myForm.oldpassword.$error">
            <div ng-message="minlength" translate>Must be greater than 5 characters</div>
            <div ng-message="md-maxlength" translate>Max 100 characters</div>
          </div>
        </md-input-container>
        <md-input-container flex="100">
          <label translate>New Password</label>
          <input type="password" name="password" ng-model='user.password' placeholder="{{ 'Your New Password' | translate }}" ng-minlength='5' required>
          <div ng-messages="myForm.password.$error">
            <div ng-message="minlength" translate>Must be greater than 5 characters</div>
            <div ng-message="md-maxlength" translate>Max 100 characters</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>Cancel</translate>
      </md-button>
      <md-button type="submit" ng-disabled="myForm.$pristine || myForm.$invalid" class="md-raised md-primary"><translate>CHANGE</translate></md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
