<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="book">book</md-icon>
    </md-button>
    <p translate>Resource Quotas</p>
    <div flex></div>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='column'>

  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <md-table-container>
            <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column><span translate>Resource</span></th>
                  <th md-column><span translate>Usage</span></th>
                  <th md-column><span translate>Limit</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row>
                  <td md-cell><a href="/#/locations?user_id={{ quota.user_id }}" translate>Locations</a></td>
                  <td md-cell>{{ usage.locations || 0}}</td>
                  <td md-cell>{{ quota.locations || 0}}</td>
                </tr>
                <tr md-row>
                  <td md-cell><span translate>Boxes</span></td>
                  <td md-cell>{{ usage.boxes || 0 }}</td>
                  <td md-cell>{{ quota.boxes || 0 }}<md-button ng-if="user.reseller" ng-click='editBoxQuota()' style="min-width: 36px"><md-icon style="font-size: 18px">edit</md-icon></md-button></td>
                </tr>
                <tr md-row>
                  <td md-cell><span translate>Vouchers</spans></td>
                  <td md-cell>{{ usage.vouchers || 0}}</td>
                  <td md-cell>{{ quota.vouchers || 0}}</td>
                </tr>
                <tr md-row>
                  <td md-cell><span translate>Splash Views</span></td>
                  <td md-cell>{{ usage.splash_views || 0 }}</td>
                  <td md-cell>{{ quota.splash_views || 0 }}</td>
                </tr>
                <tr md-row>
                  <td md-cell><span translate>Zones per location</span></td>
                  <td md-cell><span translate>NA</span></td>
                  <td md-cell>{{ usage.zones || 0 }}</td>
                </tr>
                <tr md-row>
                  <td md-cell><span translate>Admin Users</span></td>
                  <td md-cell>{{ usage.admins || 0 }}</td>
                  <td md-cell>{{ quota.admins || 0 }}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-card-content>
      </md-card>
    </div>
  </div>
<md-content>
