<md-dialog aria-label="{{ 'Health Check' | translate }}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Show / Hide Columns</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-gt-sm="row" layout-wrap>
        <md-switch ng-change="saveCols()" ng-model="columns.ssid" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            SSID
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.txbps" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Txbps
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.rxbps" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Rxbps
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.expected_throughput" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Expected Tput
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.txbitrate" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Tx Rate
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.rxbitrate" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Rx Rate
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.snr" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            SNR
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.signal" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Signal
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.mcs" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            MCS
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.ip" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            IPv4
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.lastseen" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate> 
            Last Seen
          </translates>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.description" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            AP Description
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.channel" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Channel
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.capabilities" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate> 
            Frequency
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.manufacturer" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Manufacturer
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.splash_username" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Splash User
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.policies" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
          <translate>
            Policies
          </translate>
        </md-switch>

        <md-switch ng-change="saveCols()"ng-model="columns.type" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="70">
          <translate>
            Type
          </translate>
        </md-switch>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()"> 
        <translate>
          Close
        </translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
