<!-- <md-button ng-click="toggle('cols-menu')" aria-controls="cols-menu" class="md-primary" aria-expanded="{{isOpen()}}"> -->
<!--   <div flex></div> -->
<!--   <md-icon md-font-icon="settings">settings</md-icon> -->
<!-- </md-button> -->

<div ng-show="isOpen('cols-menu')" id="cols-menu" class="menu-toggle-list" layout="column" layout-gt-sm="row" layout-wrap>

  <md-divider></md-divider>

  <!-- <div flex="100" layout="row"> -->
  <!--   Display Columns -->
  <!-- </div> -->

  <md-switch ng-change="saveCols()" ng-model="columns.ssid" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
     SSID
    </translate>
  </md-switch>

  <!-- Removed while we figure out the best way to display -->
  <!-- <md-switch ng-change="saveCols()"ng-model="columns.txbps" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20"> -->
  <!--   <translate> -->
  <!--     Txbps -->
  <!--   </translate> -->
  <!-- </md-switch> -->

  <!-- <md-switch ng-change="saveCols()"ng-model="columns.rxbps" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20"> -->
  <!--   <translate> -->
  <!--     Rxbps -->
  <!--   </translate> -->
  <!-- </md-switch> -->
  <!-- Removed while we figure out the best way to display -->

  <md-switch ng-change="saveCols()"ng-model="columns.expected_throughput" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Expected Tput
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.txbitrate" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Tx Rate
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.rxbitrate" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Rx Rate
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.snr" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      SNR
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.signal" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Signal
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.mcs" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      MCS
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.ip" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      IPv4
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.updated_at" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Last Seen
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.description" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      AP Description
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.channel" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Channel
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.capabilities" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Frequency
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.manufacturer" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Manufacturer
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.splash_username" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Splash User
    </translate>
  </md-switch>

  <md-switch ng-change="saveCols()"ng-model="columns.type" ng-click="saveCols()" aria-label="{{ 'Switch 1' | translate }}" layout="row" flex flex-gt-sm="20">
    <translate>
      Type
    </translate>
  </md-switch>

</div>
