<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px">
      <md-icon md-font-icon="search">search</md-icon>
      <label></label>
      <input ng-model="query.filter" md-autofocus placeholder="{{ 'Filter Clients' | translate }}">
    </md-input-container>
    <div flex></div>
    <md-menu-bar ng-if="group_policies.length > 0" style="padding: 0">
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <md-icon>group_work</md-icon>
        </button>
        <md-menu-content >
          <md-menu-item>
            <md-button ng-click="refresh()" ng-disabled="!policy_id">
              <translate>
              Clear Filter
              </translate>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-repeat="policy in group_policies">
            <md-button ng-class="{ 'active': policy.id == policy_id }" ng-click="updatePolicy(policy.id)">
              {{ policy.policy_name }}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <md-menu-bar ng-if="unique_aps.length > 0" style="padding: 0">
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <md-icon>router</md-icon>
        </button>
        <md-menu-content >
          <md-menu-item>
            <md-button ng-click="refresh()" ng-disabled="!ap_mac">
              <translate>
              Clear Filter
              </translate>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-repeat="box in unique_aps">
            <md-button ng-class="{ 'active': ap_mac == box.ap_mac }" ng-click="updateAp(box.ap_mac)">
              {{box.description}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <md-button class="md-icon-button md-primary" aria-label="Filter" ng-if="start || end" ng-click="clearRangeFilter()">
      <md-icon>clear_all</md-icon>
      <md-tooltip>
        <translate>
        Clear range filter
        </translate>
      </md-tooltip>
    </md-button>
    <md-button ng-click="openMomentRange()" class="md-icon-button" hide show-gt-xs>
     <md-icon md-font-icon="date_range">date_range</md-icon>
    </md-button>
    <md-button ng-click="openColumns()" class="md-icon-button" hide show-gt-xs>
      <md-icon md-font-icon="settings">settings</md-icon>
    </md-button>
    <md-button class='md-icon-button md-accent' ng-click='createClient()'>
      <md-icon>add_circle</md-icon>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content layout-padding>
  <div layout="row" layout-wrap layout-align="space-between start">
    <div flex="100">

      <md-card>
        <md-card-content>
          <div class="md-toolbar-tools" ng-cloak>
            <span class="md-subhead" translate>
              There {{ connected == 1 ? 'is' : 'are' }} currently {{ connected || 0 }} client{{ connected == 1 ? '' : 's' }} connected to your network. <span ng-if="query.start">{{ total || 0 }} in total between {{ query.start | lastSeen }} and {{ query.end | lastSeen }}.</span>
            </span>
          </div>
          <md-table-container style="overflow-x:scroll;">
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="clients">
              <thead md-head md-order="query.order">
                <tr md-row class="md-table-headers-row">
                  <th md-column md-order-by="status"><a href="" translate>Status</a></th>
                  <th md-column><a href="" translate>Description</a></th>
                  <th md-column hide md-order-by="client_mac" show-gt-sm><a href="" translate>Mac Address</a></th>
                  <th hide show-gt-sm md-column md-order-by="ssid" ng-show="columns.ssid"><a href="" translate>SSID</a></th>
                  <!-- <th hide show-gt-sm md-column md-order-by="" ng-show="columns.expected_throughput"><a href="" translate>Expected Tput</a></th> -->
                  <th hide show-gt-sm md-column md-order-by="txbitrate" ng-show="columns.txbitrate"><a href="" translate>Tx Rate</a></th>
                  <th hide show-gt-sm md-column md-order-by="rxbitrate" ng-show="columns.rxbitrate"><a href="" translate>Rx Rate</a></th>
                  <th hide show-gt-sm md-column md-order-by="snr" ng-show="columns.snr"><a href="" translate>SNR</a></th>
                  <th hide show-gt-sm md-column md-order-by="signal" ng-show="columns.signal"><a href="" translate>Signal</a></th>
                  <th hide show-gt-sm md-column md-order-by="mcs" ng-show="columns.mcs"><a href="" translate>MCS Index</a></th>
                  <th hide show-gt-sm md-column md-order-by="ip" ng-show="columns.ip"><a href="" translate>IPv4</a></th>
                  <th hide show-gt-sm md-column md-order-by="lastseen" ng-show="columns.lastseen"><a href="" translate>Last Seen</a></th>
                  <th hide show-gt-sm md-column md-order-by="ap_mac" ng-show="columns.ap_name"><a href="" translate>AP Name</a></th>
                  <th hide show-gt-sm md-column md-order-by="channel" ng-show="columns.channel"><a href="" translate>Channel</a></th>
                  <th hide show-gt-sm md-column md-order-by="capabilities" ng-show="columns.capabilities"><a href="" translate>Frequency</a></th>
                  <!-- <th hide show-gt-sm md-column md-order-by="manufacturer" ng-show="columns.manufacturer"><a href="" translate>Manufacturer</a></th> -->
                  <!-- <th hide show-gt-sm md-column md-order-by="" ng-show="columns.splash_username"><a href="" translate>Splash User</a></th> -->
                  <!-- <th hide show-gt-sm md-column md-order-by="" ng-show="columns.policies"><a href="" translate>Policies</a></th> -->
                  <th md-column translate>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-auto-select="false" md-on-select="updateChart" md-select="client" md-auto-select="options.autoSelect" ng-repeat="client in filtered = (clients | filter: query.filter | orderBy: query.order)">
                  <td md-cell class="with-padding">
                    <md-icon ng-class="client.online ? (client.splash_status == 'dnat' ? 'dnat' : 'online' ) : 'offline'">wifi</md-icon>
                  </td md-cell>
                  <td md-cell ng-show="columns.device_name">
                    <span ng-if="!client.id">
                      <a href="/#/locations/{{ location.slug }}/clients/{{ client.client_mac }}">{{ client.name || client.device_name | emptyFilter | truncate:20 }}</a><br>
                    </span>
                    <span ng-if="client.id">
                      <a href="/#/locations/{{ location.slug }}/clients/{{ client.id }}">{{ client.name || client.device_name | emptyFilter | truncate:20 }}</a><br>
                    </span>
                    <span hide show-sm>
                      <small>{{ client.client_mac }}</small>
                    </span>

                  </td md-cell>
                  <td hide show-gt-sm md-cell md-cell>
                    {{ client.client_mac }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.ssid">
                    <span class="text-muted" ng-if="client.conn_type == 'wired'" translate>
                      Unknown network
                    </span>
                    <span ng-if="client.conn_type != 'wired' ">
                      <span ng-if="client.ssid">{{ client.ssid }}</span>
                      <span ng-if="!client.ssid && client.wired"><i class="fa fa-code-fork"></i> LAN</span>
                    </span>
                    <md-tooltip>
                      {{ client.ap_mac }}
                    </md-tooltip>
                  </td md-cell>
                  <!-- <td hide show-gt-sm md-cell ng-show="columns.expected_throughput"> -->
                  <!--   <translate>{{ client.expected_throughput || 0}}Mbps</translate> -->
                  <!-- </td md-cell> -->
                  <td hide show-gt-sm md-cell ng-show="columns.txbitrate">
                    <translate>{{ client.txbitrate || 0 }}Kbps</translate>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.rxbitrate">
                    <translate>{{ client.rxbitrate || 0 }}Kbps</translate>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.snr">
                    <span class="text-muted" ng-if="client.conn_type == 'wired'" translate>
                      NA
                    </span>
                    <span ng-if="client.conn_type != 'wired'">
                      <span ng-if="!client.snr_alert">
                        {{ client.snr || 0 }}dB
                      </span>
                      <span ng-if="client.snr_alert">
                        <b>{{ client.snr }}dB</b>
                        <md-tooltip>
                          <translate>
                          If the client signal drops below 16dB, they may have problems browsing.
                          </translate>
                        </md-tooltip>
                      </span>
                    </span>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.signal">
                    {{ client.signal }}<span ng-show="client.signal">dBm</span>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.mcs">
                    {{ client.mcs }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.ip">
                    {{ client.ip }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.lastseen">
                    {{ client.lastseen | lastSeen }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.ap_name">
                    {{ client.ap_name }}
                  </td md-cell>
                  <!-- <td hide show-gt-sm md-cell ng-show="columns.description"> -->
                  <!--   <a ng-hide="fake" href="/#/locations/{{location.slug}}/boxes/{{client.slug}}">{{ client.description | emptyFilter }}</a> -->
                  <!-- </td md-cell> -->
                  <td hide show-gt-sm md-cell ng-show="columns.channel">
                    {{ client.channel }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.capabilities">
                    {{ client.channel > 14 ? '5Ghz' : '2.4Ghz' }}
                  </td md-cell>
                  <!-- <td hide show-gt-sm md-cell ng-show="columns.manufacturer"> -->
                  <!--   {{ client.manufacturer | emptyFilter }} -->
                  <!-- </td md-cell> -->
                  <td hide show-gt-sm md-cell ng-show="columns.splash_username">
                    <span ng-show="client.errors"><b translate>Failed</b></span>
                  </td md-cell>
                  <!-- <td hide show-gt-sm md-cell ng-show="columns.policies"> -->
                  <!--   <span ng-if="client.policies.length == 0">-</span> -->
                  <!--   <translate ng-if="client.policies.length == 1"> -->
                  <!--   <a href="/#/locations/{{ location.slug }}/group_policies/{{ client.policies[0].id}}">{{ client.policies[0].policy_name | titleCase }}</a> -->
                  <!--   </translate> -->
                  <!--   <span ng-if="client.policies.length > 1"> -->
                  <!--     <translate>{{ client.policies.length }} Policies</translate> -->
                  <!--     <md-tooltip> -->
                  <!--       {{ client.policies | toString }} -->
                  <!--     </md-tooltip> -->
                  <!--   </span> -->
                  <!-- </td> -->
                  <td md-cell ng-show="menu.length">
                    <span ng-show="client.processing">
                      <md-progress-circular class="md-warn" md-diameter="40"></md-progress-circular>
                    </span>
                    <span ng-hide="client.processing">
                      <md-menu>
                        <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                          <md-menu-item ng-repeat="item in menu">
                            <md-button ng-click="menuAction(item.type,client)" ng-disabled="{{ menuDisabled(item.type, client) }}">
                              <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                          <p flex>{{ item.name }}</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select ng-show="query.start_time"></md-table-pagination>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
