<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px">
      <md-icon md-font-icon="search">search</md-icon>
      <label></label>
      <input ng-model="query.filter" md-autofocus placeholder="{{ 'Filter Clients' | translate }}">
    </md-input-container>
    <div flex></div>
    <md-menu-bar ng-if="group_policies.length > 0" style="padding: 0">
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <md-icon>group_work</md-icon>
        </button>
        <md-menu-content >
          <md-menu-item>
            <md-button ng-click="refresh()" ng-disabled="!policy_id">
              <translate>
              Clear Filter
              </translate>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-repeat="policy in group_policies">
            <md-button ng-class="{ 'active': policy.id == policy_id }" ng-click="updatePolicy(policy.id)">
              {{ policy.policy_name }}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <md-menu-bar ng-if="clients.unique_aps.length > 1" style="padding: 0">
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <md-icon>router</md-icon>
        </button>
        <md-menu-content >
          <md-menu-item>
            <md-button ng-click="refresh()" ng-disabled="!ap_mac">
              <translate>
              Clear Filter
              </translate>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-repeat="box in clients.unique_aps">
            <md-button ng-class="{ 'active': ap_mac == box.ap_mac }" ng-click="updateAp(box.ap_mac)">
              {{box.description}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <md-button ng-click="openColumns()" class="md-icon-button" hide show-gt-xs>
      <md-icon md-font-icon="settings">settings</md-icon>
    </md-button>
    <md-button-group hide show-gt-sm class="md-raised">
      <md-button ng-click="updatePeriod('5m')" ng-class="{ 'active': period === '5m' }" translate>5m</md-button>
      <md-button ng-click="updatePeriod('30m')" ng-class="{ 'active': period === '30m' }" translate>30m</md-button>
      <md-button ng-click="updatePeriod('60m')" ng-class="{ 'active': period === '60m' }" translate>60m</md-button>
      <md-button ng-click="updatePeriod('6h')" ng-class="{ 'active': period === '6h' }" translate>6h</md-button>
      <md-button ng-click="updatePeriod('1d')" ng-class="{ 'active': period === '1d' }" translate>1d</md-button>
      <md-button ng-click="updatePeriod('7d')" ng-class="{ 'active': period === '7d' }" translate>7d</md-button>
      <md-button ng-click="updatePeriod('30d')" ng-class="{ 'active': period === '30d' }" translate>30d</md-button>
    </md-button-group>
    <md-button class='md-icon-button md-accent' ng-click='createClient()'>
      <md-icon>add_circle</md-icon>
    </md-button>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content layout-padding>
  <div layout="row" layout-wrap layout-align="space-between start">
    <div flex="100">

      <md-card hide show-gt-sm>
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">
              <span ng-if="type == 'mcs'" translate>{{ client_mac }} MCS Value</span>
              <span ng-if="type == 'signal'" translate>{{ client_mac }} WiFi Signal</span>
              <span ng-if="type == 'tx'" translate>{{ client_mac }} WiFi Traffic</span>
              <span ng-if="type == 'usage'" translate>{{ client_mac }} Total WiFi Usage</span>
              <span ng-if="type == 'failures'" translate>{{ client_mac }} Transmission Failures</span>
            </span>
            <span class="md-subhead">
              <!-- ZAK - TO DO -->
              <span ng-if="type == 'mcs'" translate>{{ (fn || 'average') | titleCase }} client MCS values</span>
              <span ng-if="type == 'signal'" translate>{{ (fn || 'average') | titleCase }} signal, noise and SNR values</span>
              <span ng-if="type == 'tx'" translate>{{ (fn || 'average') | titleCase }} network throughput</span>
              <span ng-if="type == 'usage'" translate>{{ (fn || 'average') | titleCase }} aggregated network usage</span>
              <span ng-if="type == 'failures'" translate>{{ (fn || 'average') | titleCase }} transmission packets that failed</span>
            </span>
          </md-card-header-text>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="reset()" ng-disabled="!client_mac && !ap_mac && !query.filter && period == '6h'">
            <md-icon>zoom_out</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="refresh()">
            <md-icon>refresh</md-icon>
          </md-button>
          <md-menu-bar style="padding: 0">
            <md-menu>
              <button ng-click="$mdOpenMenu()">
                <md-icon>more_vert</md-icon>
              </button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="">
                    <translate>
                    Share
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="changeType('signal')">
                    <translate>
                    Signal Strength
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeType('tx')">
                    <translate>
                    WiFi Traffic
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeType('usage')">
                    <translate>
                    WiFi Usage
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeType('mcs')">
                    <translate>
                    MCS Index
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeType('failures')">
                    <translate>
                    TX Fails
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="changeFn('mean')">
                    <translate>
                    Average Values
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeFn('max')">
                    <translate>
                    Max. Values
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeFn('median')">
                    <translate>
                    Median Values
                    </translate>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="changeFn('sum')" ng-disabled="type != 'usage'">
                    <translate>
                    Sum
                    </translate>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </md-card-header>
        <md-card-content>
          <clients-chart></clients-chart>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <div class="md-toolbar-tools" ng-cloak>
            <span class="md-subhead" translate>
              {{ info.connected }} Connected.
            </span>
          </div>
          <md-table-container style="overflow-x:scroll;">
            <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="clients">
              <thead md-head>
                <tr md-row class="md-table-headers-row">
                  <th md-column><a href="" ng-click='sort("online", query.direction)' translate>Status</a></th>
                  <th md-column><a href="" ng-click='sort("device_name", query.direction)' translate>Description</a></th>
                  <th md-column hide show-gt-sm><a href="" ng-click='sort("client_mac", query.direction)' translate>Mac Address</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.ssid"><a href="" ng-click='sort("ssid", query.direction)' translate>SSID</a></th>
                  <!-- <th hide show-gt-sm md-column ng-show="columns.tx"><a href="" ng-click='sort("tx", query.direction)'>Usage</a></th> -->
                  <!-- <th hide show-gt-sm md-column ng-show="columns.txbps"><a href="" ng-click='sort("txbps", query.direction)'>Txbps</a></th> -->
                  <!-- <th hide show-gt-sm md-column ng-show="columns.rxbps"><a href="" ng-click='sort("rxbps", query.direction)'>Rxbps</a></th> -->
                  <th hide show-gt-sm md-column ng-show="columns.expected_throughput"><a href="" ng-click='sort("expected_throughput", query.direction)' translate>Expected Tput</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.txbitrate"><a href="" ng-click='sort("txbitrate", query.direction)' translate>Tx Rate</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.rxbitrate"><a href="" ng-click='sort("rxbitrate", query.direction)' translate>Rx Rate</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.snr"><a href="" ng-click='sort("snr", query.direction)' translate>SNR</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.signal"><a href="" ng-click='sort("signal", query.direction)' translate>Signal</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.mcs"><a href="" ng-click='sort("mcs", query.direction)' translate>MCS Index</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.ip"><a href="" ng-click='sort("ip", query.direction)' translate>IPv4</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.lastseen"><a href="" ng-click='sort("lastseen", query.direction)' translate>Last Seen</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.description"><a href="" ng-click='sort("description", query.direction)' translate>AP Name</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.channel"><a href="" ng-click='sort("channel", query.direction)' translate>Channel</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.capabilities"><a href="" ng-click='sort("capabilities", query.direction)' translate>Frequency</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.manufacturer"><a href="" ng-click='sort("manufacturer", query.direction)' translate>Manufacturer</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.splash_username"><a href="" ng-click='sort("splash_username", query.direction)' translate>Splash User</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.policies"><a href="" ng-click='sort("policies", query.direction)' translate>Policies</a></th>
                  <th hide show-gt-sm md-column ng-show="columns.type"><a href="" ng-click='sort("type", query.direction)' translate>Type</a></th>
                  <th md-column translate>Action</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-auto-select="false" md-on-select="updateChart" md-select="client" md-auto-select="options.autoSelect" ng-repeat="client in filtered = (clients | filter: query.filter | orderBy: query.direction)">
                  <td md-cell class="with-padding">
                    <md-icon ng-class="client.online ? (client.splash_status == 'dnat' ? 'dnat' : 'online' ) : 'offline'">wifi</md-icon>
                  </td md-cell>
                  <td md-cell ng-show="columns.device_name">
                    <a href="/#/locations/{{ location.slug }}/clients/{{ client.id }}">{{ client.name || client.device_name | emptyFilter | truncate:20 }}</a><br>
                    <span hide show-sm>
                      <small>{{ client.client_mac }}</small>
                    </span>

                  </td md-cell>
                  <td hide show-gt-sm md-cell md-cell>
                    {{ client.client_mac }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.ssid">
                    <span class="text-muted" ng-if="client.conn_type == 'wired'" translate>
                      Unknown network
                    </span>
                    <span ng-if="client.conn_type != 'wired' ">
                      <span ng-if="client.ssid">{{ client.ssid }}</span>
                      <span ng-if="!client.ssid && client.wired"><i class="fa fa-code-fork"></i> LAN</span>
                    </span>
                    <md-tooltip>
                      {{ client.ap_mac }}
                    </md-tooltip>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.expected_throughput">
                    {{ client.expected_throughput }}Mbps
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.txbitrate">
                    {{ client.txbitrate }}Mbps
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.rxbitrate">
                    {{ client.rxbitrate }}Mbps
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.snr">
                    <span class="text-muted" ng-if="client.conn_type == 'wired'" translate>
                      NA
                    </span>
                    <span ng-if="client.conn_type != 'wired'">
                      <span ng-if="!client.snr_alert">
                        {{ client.snr }}dB
                      </span>
                      <span ng-if="client.snr_alert">
                        <b>{{ client.snr }}dB</b>
                        <md-tooltip>
                          <translate>
                          If the client signal drops below 16dB, they may have problems browsing.
                          </translate>
                        </md-tooltip>
                      </span>
                    </span>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.signal">
                    {{ client.signal }}<span ng-show="client.signal">dBm</span>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.mcs">
                    {{ client.mcs }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.ip">
                    {{ client.ip }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.lastseen">
                    {{ client.lastseen | lastSeen }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.description">
                    <a ng-hide="fake" href="/#/locations/{{location.slug}}/boxes/{{client.slug}}">{{ client.description | emptyFilter }}</a>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.channel">
                    {{ client.channel }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.capabilities">
                    {{ client.capabilities }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.manufacturer">
                    {{ client.manufacturer | emptyFilter }}
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.splash_username">
                    <span ng-show="client.errors"><b translate>Failed</b></span>
                  </td md-cell>
                  <td hide show-gt-sm md-cell ng-show="columns.policies">
                    <span ng-if="client.policies.length == 0">-</span>
                    <translate ng-if="client.policies.length == 1">
                    <a href="/#/locations/{{ location.slug }}/group_policies/{{ client.policies[0].id}}">{{ client.policies[0].policy_name | titleCase }}</a>
                    </translate>
                    <span ng-if="client.policies.length > 1">
                      <translate>{{ client.policies.length }} Policies</translate>
                      <md-tooltip>
                        {{ client.policies | toString }}
                      </md-tooltip>
                    </span>
                  </td>
                  <td hide show-gt-sm md-cell ng-show="columns.type">
                    <img style="width: 16px;" class="clients_type" src="https://d3e9l1phmgx8f2.cloudfront.net/images/logos/ct-wifi.svg" ng-if="client.type != 'vsg'">
                    <img style="width: 16px;" class="clients_type center" src="https://d3e9l1phmgx8f2.cloudfront.net/images/manufacturer-images/ruckus-wireless.png" ng-if="client.type=='vsg'"/>
                  </td md-cell>
                  <td md-cell ng-show="menu.length">
                    <span ng-show="client.processing">
                      <md-progress-circular class="md-warn" md-diameter="40"></md-progress-circular>
                    </span>
                    <span ng-hide="client.processing">
                      <md-menu>
                        <md-button aria-label="{{ 'Open Clients Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s24">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4" >
                          <md-menu-item ng-repeat="item in menu">
                            <md-button ng-click="menuAction(item.type,client)" ng-disabled="{{ menuDisabled(item.type, client) }}">
                              <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ item.icon }}">{{ item.icon }}</md-icon>
                          <p flex>{{ item.name }}</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
