<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow_back" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Clients</p>
    <span flex></span>
    <md-button id='clearer' class="md-icon-button md-primary" aria-label="Filter" ng-click="clearRangeFilter()" ng-show='showClearFilter'>
      <md-icon>clear_all</md-icon>
      <md-tooltip>
        <translate>
        Clear range filter
        </translate>
      </md-tooltip>
    </md-button>
    <md-button ng-click="openMomentRange()" class="md-icon-button" hide show-gt-xs>
     <md-icon md-font-icon="date_range">date_range</md-icon>
    </md-button>
    <!-- <md-button-group hide show-gt-sm class="md-raised">
      <md-button ng-click="updatePeriod('5m')" ng-class="{ 'active': period === '5m' }"><span translate>5m</span></md-button>
      <md-button ng-click="updatePeriod('30m')" ng-class="{ 'active': period === '30m' }"><span translate>30m</span></md-button>
      <md-button ng-click="updatePeriod('60m')" ng-class="{ 'active': period === '60m' }"><span translate>60m</span></md-button>
      <md-button ng-click="updatePeriod('6h')" ng-class="{ 'active': period === '6h' }"><span translate>6h</span></md-button>
      <md-button ng-click="updatePeriod('1d')" ng-class="{ 'active': period === '1d' }"><span translate>1d</span></md-button>
      <md-button ng-click="updatePeriod('7d')" ng-class="{ 'active': period === '7d' }"><span translate>7d</span></md-button>
      <md-button ng-click="updatePeriod('30d')" ng-class="{ 'active': period === '30d' }"><span translate>30d</span></md-button>
    </md-button-group> -->
    <clients-toolbar client="client"></clients-toolbar>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>
  <div flex flex-gt-sm="30" layout="column" ng-if="!fs">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <translate>Client {{ client.online ? 'Online' : 'Offline' }}</translate>
          </span>
        </md-card-title-text>
        <md-icon md-font-icon="wifi" ng-class="client.online ? (client.splash_status == 'dnat' ? 'dnat' : 'online' ) : 'offline'">wifi</md-icon>
      </md-card-title>

      <md-card-content>
        <md-list flex>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3 translate>Last Seen</h3>
              <p>{{client.lastseen | humanTime }}</p>
              <md-tooltip>
                <translate>
                  First seen {{ client.created_at | humanTime }}
                </translate>
              </md-tooltip>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3 translate>Client Mac</h3>
              <p>{{client.client_mac}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3 translate>Device Name</h3>
              <p>{{ client.name || client.device_name | truncate:30 }} </p>
              <md-button ng-click="editName()" aria-controls="{{'splash' | translate }}" class="md-secondary md-icon-button" aria-label="{{ 'call' | translate }}">
                <md-icon md-font-icon="mode_edit">mode_edit</md-icon>
              </md-button>
              <md-tooltip ng-if="client.name">
                <translate>
                  Original name: {{ client.device_name }}
                </translate>
              </md-tooltip>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3 translate>Manufacturer</h3>
              <p>{{client.manufacturer | emptyFilter }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3 translate>Group Policy</h3>
              <p>
                <translate ng-if="client.policies.length == 0">
                  No policy
                </translate>
                <translate ng-if="client.policies.length == 1">
                <a href="/#/locations/{{ location.slug }}/group_policies/{{ client.policies[0].id}}">{{ client.policies[0].policy_name | titleCase }}</a>
                </translate>
                <translate ng-if="client.policies.length > 1">
                  {{ client.policies.length }} policies
                </translate>
                <md-button ng-click="editPolicy()" aria-controls="{{'splash' | translate }}" class="md-secondary md-icon-button" aria-label="{{ 'call' | translate }}">
                  <md-icon md-font-icon="mode_edit">mode_edit</md-icon>
                </md-button>
              </p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div flex flex-gt-sm="{{fs.panel ? 100 : 70}}" layout="column" class="clients-charts">
    <div layout="" layout-wrap>
      <div flex="100" flex-gt-md="{{fs.panel ? 100 : 100}}" ng-hide="fs && fs.panel != 'tx'">
        <tx-chart height="450"></tx-chart>
      </div>
      <div flex="100" flex-gt-md="{{fs.panel ? 100 : 100}}" ng-hide="fs && fs.panel != 'snr'">
        <interface-chart ></interface-chart>
      </div>
    </div>
  </div>
</md-content>