<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
      <md-icon md-font-icon="arrow-left" >arrow_back</md-icon>
    </md-button>
    <p translate>Back to Device</p>
  </div>
  <md-divider></md-divider>
</md-toolbar>

<section ng-cloak ng-show="!loading">
  <md-subheader class="md-accent"><b><translate>MAC Address</translate></b>: {{ box.calledstationid }} <span hide show-gt-sm> <b><translate>Description</translate></b>:&nbsp;{{ box.description }}<b>&nbsp;<translate>Last Seen</translate></b>: {{ box.last_heartbeat | humanTime }}</span></md-subheader>
</section>

<md-content class="md-padding" layout-gt-sm="column" layout="column" ng-if="box.is_cucumber == false">
  <div flex layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Splash Only Device</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p translate>This device only supports splash pages. Management features are disabled.</p>
        <splash-only box="box"></splash-only>
      </md-card-content>
    </md-card>
  </div>
</md-content>

<md-content class="md-padding" layout="column" ng-if="box.is_cucumber === true">
  <form ng-submit="update(myForm)" name="myForm">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Device Settings</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column" layout-gt-xs="row" layout-wrap>
          <div flex-gt-sm="50">
            <md-input-container class="md-block" flex-gt-xs>
              <label>
                <translate>Description</translate>
              </label>
              <input ng-model="box.description" name="desc" minlength="5" md-maxlength="255" required>
              <div ng-messages="myForm.desc.$error">
                <div ng-message="required" translate>A description is required</div>
                <div ng-message="md-maxlength" translate>Must be less than 255 characters</div>
                <div ng-message="minlength" translate>Must be more than 5 characters</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>
                <translate>Timezone</translate>
              </label>
              <md-select ng-model="box.timezone" required>
                <md-option ng-repeat="zone in timezones" value="{{zone}}">
                  {{zone}}
                </md-option>
              </md-select>
            </md-input-container>
            <small translate>This specifies the timezone for alerts. Regulatory domain is set automatically based on geographic location.</small>
            <md-input-container class="md-block" flex-gt-xs style="margin: 40px 0 0 0">
              <label>
                <translate>Tags</translate>
              </label>
              <input ng-model="box.tags" name="tags" placeholder="{{ 'Box tags' | translate }}">
            </md-input-container>
            <small class="muted" translate>Enter a comma, separated, list, of, tags.</small>
            <md-input-container class="md-block" style="margin-top: 40px" flex-gt-xs ng-if="zones.length">
              <label>
                <translate>Zone</translate>
              </label>
              <md-select ng-model="box.zone_id">
                <md-option value=""></md-option>
                <md-option ng-repeat="zone in zones" value="{{zone.id}}">
                  {{zone.zone_name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div hide-xs flex-gt-xs="10"></div>
          <div flex-gt-xs="40" layout="column">

            <md-checkbox ng-model="box.tony" aria-label="{{ 'CT box' | translate }}" ng-if="!white_label">
              <translate>
                CT Box
              </translate>
            </md-checkbox>

            <small translate ng-if="!white_label">Don't disable this unless you're using a splash-only device.</small>

            <md-switch title="is_monitored" ng-model="box.is_monitored" aria-label=" ">
              <span translate>Alerts {{ box.is_monitored | humanBoolean }}</span>
            </md-switch>

            <small translate>Disabling alerts will prevent further alerts from this device.</small>

            <md-switch title="ct_modify" ng-model="box.ct_modify" aria-label=" " ng-if="!white_label">
              <span translate>CT Write Access {{ box.ct_modify | humanBoolean }}</span>
            </md-switch>

            <small translate ng-if="!white_label">Enabling write access allows CT staff to modify this device. This is overwritten by location write access changes.</small>

          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card ng-class="{ 'highlight-section': highlight == 'channel' }">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Wireless Settings</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column" layout-gt-xs="row" layout-wrap>
          <div flex-gt-sm="50">
            <div layout="column" layout-gt-xs="row">
              <md-input-container flex-gt-xs="50">
                <label>
                  <translate>2.4Ghz Channel</translate>
                </label>
                <md-select ng-model="box.channel" required>
                  <md-option ng-repeat="channel in channels" value="{{channel}}">
                    {{ channel }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex-gt-xs="50">
                <label>
                  <translate>2.4Ghz Mode</translate>
                </label>
                <md-select ng-model="box.ht_mode_2" ng-change="updateChannelTwo()" required>
                  <md-option ng-repeat="mode in ht_modes" value="{{mode.value}}">
                    {{mode.key}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex="100">
              <p translate>2.4Ghz Power ({{box.tx_power_2}}dBm)</p>
              <md-slider-container>
                <md-slider flex class="md-primary" md-discrete ng-model="box.tx_power_2" step="1" min="5" max="20" aria-label="tx_power_2">
                </md-slider>
              </md-slider-container>
            </div>
          </div>
          <div hide-xs flex-gt-xs="10"></div>
          <div flex="40">
            <span ng-if="box.dual_band">
              <div layout="column" layout-gt-xs="row">
                <md-input-container flex-gt-xs="50">
                  <label>
                    <translate>5Ghz Channel</translate>
                  </label>
                  <md-select ng-model="box.channel_5" required>
                    <md-option ng-repeat="channel in channels5" value="{{channel}}">
                      {{channel}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex-gt-xs="50">
                  <label>
                    <translate>5Ghz Mode</translate>
                  </label>
                  <md-select ng-model="box.ht_mode_5" ng-change="updateChannelFive()" required>
                    <md-option ng-repeat="mode in ht_modes_5" value="{{mode.value}}">
                      {{mode.key}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex="100">
                <p translate>5Ghz Power ({{box.tx_power_5}}dBm)</p>
                <md-slider-container>
                  <md-slider flex class="md-primary" md-discrete ng-model="box.tx_power_5" step="1" min="5" max="20" aria-label="tx_power_2">
                  </md-slider>
                </md-slider-container>

              </div>
            </span>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>Advanced Radio Settings</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>

      <div layout="column" layout-gt-xs="row">
        <div layout="row" flex-gt-xs="50" flex-xs="100">
          <md-checkbox ng-disabled="box.legacy_mode_b" ng-model="box.basic_rate_enabled" aria-label="{{ 'Basic Rate Support' | translate }}" flex="50">
            <translate>
              Minimum Data Rate
            </translate>
          </md-checkbox>
          <md-checkbox ng-model="box.band_steering" aria-label="{{ 'Band Steering' | translate }}" flex='50'>
            <translate>
              Band Steering
            </translate>
          </md-checkbox>
        </div>
        <div layout="row" flex-gt-xs="50" flex-xs="100">
          <md-checkbox ng-model="box.no_scan" aria-label="{{ 'No Scan' | translate }}" flex="50">
            <translate>
              No Scan Mode
            </translate>
          </md-checkbox>
          <md-checkbox ng-disabled="box.basic_rate_enabled" ng-model="box.legacy_mode_b" aria-label="{{ 'Legacy Mode' | translate }}" flex="50">
            <translate>
              Legacy Mode
            </translate>
          </md-checkbox>
        </div>
      </div>

        <div layout="row" ng-if="box.basic_rate_enabled == true">
          <div flex-gt-sm="50">
            <box-data-rates nas="box"></box-data-rates>
          </div>
        </div>

      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>Network Settings</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div flex-gt-xs="30">
        <md-input-container class="md-block">
          <label>
            <translate>WAN Protocol</translate>
          </label>
          <md-select ng-model="box.wan_proto" required>
            <md-option ng-repeat="proto in protos" value="{{proto.value}}">
              {{proto.key}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" layout-wrap>
        <div flex-gt-sm="50">
          <md-input-container class="md-block">
            <label>
              <translate>IP Address</translate>
            </label>
            <input ng-model="box.wan_ipaddr" name="wan_ip" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="box.wan_proto === 'static'" ng-disabled="box.wan_proto === 'dhcp'">
            <div ng-messages="myForm.wan_ip.$error">
              <div ng-message="required" translate>This device must have a valid WAN IP</div>
              <div ng-message="pattern" translate>Must be a valid IPv4 address</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>
              <translate>Netmask</translate>
            </label>
            <input ng-model="box.wan_netmask" name="netmask" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="box.wan_proto === 'static'" ng-disabled="box.wan_proto === 'dhcp'">
            <div ng-messages="myForm.netmask.$error">
              <div ng-message="required" translate>Must have a valid subnet</div>
              <div ng-message="pattern" translate>Must be a valid netmask</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>
              <translate>Gateway IP</translate>
            </label>
            <input ng-model="box.wan_gateway" name="gateway" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="box.wan_proto === 'static'" ng-disabled="box.wan_proto === 'dhcp'">
            <div ng-messages="myForm.gateway.$error">
              <div ng-message="required" translate>This device must have a valid gateway</div>
              <div ng-message="pattern" translate>Must be a valid gateway address</div>
            </div>
          </md-input-container>
        </div>
        <div hide-xs flex-gt-xs="10"></div>
        <div flex-gt-xs="40" layout="column" layout-gt-xs="row" layout-wrap>
          <md-input-container class="md-block" flex-gt-xs="50">
            <label>
              <translate>DNS 1</translate>
            </label>
            <input ng-model="box.wan_dns_1" name="wan_dns_1" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="box.wan_proto === 'static'" ng-disabled="box.wan_proto === 'dhcp'">
            <div ng-messages="myForm.wan_dns_1.$error">
              <div ng-message="required" translate>A DNS value is required</div>
              <div ng-message="pattern" translate>Must be a valid IPv4 address</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs="50">
            <label>
              <translate>DNS 2</translate>
            </label>
            <input ng-model="box.wan_dns_2" name="wan_dns_2" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-required="box.wan_proto === 'static'" ng-disabled="box.wan_proto === 'dhcp'">
            <div ng-messages="myForm.wan_dns_2.$error">
              <div ng-message="required" translate>A DNS value is required</div>
              <div ng-message="pattern" translate>Must be a valid IPv4 address</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs="50">
            <label>
              <translate>WAN MTU</translate>
            </label>
            <input ng-model="box.wan_mtu" name="mtu" type="number" min="100" max="1500" step="1" required>
            <div ng-messages="myForm.mtu.$error">
              <div ng-message="required" translate>A valid MTU is required</div>
              <div ng-message="min" translate>Must be greated than 100</div>
              <div ng-message="max" translate>Must be less than 1500</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs="50">
            <label>
              <translate>WAN Metric</translate>
            </label>
            <input ng-model="box.wan_metric_1" name="wan_metric_1" type="number" min="0" max="1000" required>
            <div ng-messages="myForm.wan_metric_1.$error">
              <div ng-message="required" translate>A WAN metric is required</div>
              <div ng-message="min" translate>Must not be less than 0</div>
              <div ng-message="max" translate>Must be less than 1000</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>Radius Settings</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="50" flex>
          <label>
            <translate>Radius NAS ID</translate>
          </label>
          <input ng-model="box.radiusnasid" name="nasid" md-maxlength="255" ng-pattern="/^[a-zA-Z0-9\-\_]*$/" required>
          <div ng-messages="myForm.nasid.$error" md-auto-hide="false">
            <div ng-message="md-maxlength" translate>Up to 255 characters</div>
            <div ng-message="required" translate>Radius NAS ID is required</div>
            <div ng-message="pattern" translate>Numbers, letters and hyphens only.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="50" flex>
          <label>
            <translate>Radius Secret</translate>
          </label>
          <input ng-model="box.radius_secret" name="secret" ng-disabled="true" required>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
  <md-button ng-click="update(myForm)" ng-disabled="myForm.$invalid || myForm.$pristine" class="md-raised"><translate>Save</translate></md-button>
  <div class="lock-size" layout="row" layout-align="center center">
    <md-button aria-label="{{'menu' | translate }}" ng-hide="myForm.$invalid || myForm.$pristine" type="submit" class="md-fab md-primary md-fab-bottom-right ">
      <md-icon>save</md-icon>
    </md-button>
  </div>

</form>
</md-content>
