<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          flex="100"
          md-selected-item="selectedItem"
          ng-enter="search(item._key)"
          md-search-text-change="searchTextChange(searchText)"
          md-no-cache="true"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item._key"
          md-min-length="5"
          md-autofocus="true"
          md-menu-class="locations-autocomplete"
          placeholder="{{ 'Search' | translate }}">

        <md-item-template >
          <a ng-click="go(item.slug)">
            <span class="item-title">
              <md-icon>{{ item._index == 'emails' ? "email" : "business" }}</md-icon>
              <span>&nbsp;{{ item._key }}</span>
            </span>
             <!--This is the way plurals should be done in the gettext, so we need item._score to also return 0-->
            <span class="item-metadata">
              <span class="item-metastat" translate-n="{{::item._score}}" translate-plural="Found {{::item._score}} records">
                 Found 1 record
              </span>
            </span>
          </a>
        </md-item-template>
        <md-not-found translate>
          No results found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
    <div flex></div>
    <md-button class="md-icon-button md-primary" aria-label="Filter" ng-if="selected.length" ng-click="filterClient()">
      <md-icon>filter_list</md-icon>
      <md-tooltip>
        <translate>
        Filter this client
        </translate>
      </md-tooltip>
    </md-button>
    <range-filter search="test()" ing-if="query.filter || query.start" ></range-filter>
    <audit-downloads ng-if="query.start && location.id && location_name && emails.length" lid="{{location.id}}" type="email"></audit-downloads>
  </div>
  <md-divider></md-divider>
</md-toolbar>
<md-content class="md-padding" layout="column" layout-gt-sm='column' layout-wrap>
  <div layout="row" layout-align="center center">
    <div flex="100" flex-gt-sm="100">
      <md-card>
        <md-card-content>
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <span translate translate-n="{{_links.total_entries}}" translate-plural="{{_links.total_entries || 0}} emails">1 email</span><span hide show-gt-sm ng-if="query.start" translate>&nbsp;created between {{ query.start | humanDate }} and {{ query.end | humanDate }}</span>
              <div flex></div>
            </div>
          </md-toolbar>
          <md-table-container>
            <table ng-model="selected" md-row-select="options.rowSelection" multiple="false" md-table md-progress="promise">
              <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th hide show-gt-xs md-column><span translate>Added</span></th>
                  <th md-column><span translate>Email</span></th>
                  <th hide show-gt-sm md-column><span translate>Type</span></th>
                  <th hide show-gt-md md-column><span translate>Location</span></th>
                  <th hide show-gt-sm md-column><span translate>Created</span></th>
                  <th md-column><span translate>Action</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="email" ng-repeat="email in emails | filter: filter.search | orderBy: query.order">
                  <td hide show-gt-xs md-cell>
                    <md-icon>{{ email.added ? "check" : "" }}</md-icon>
                  </td>
                  <td md-cell>
                    <span hide show-xs>
                      {{ email.email | truncate:18 }}
                    </span>
                    <span hide show-gt-xs>
                      {{ email.email }}
                    </span>
                  </td>
                  <td hide show-gt-sm md-cell>
                    {{ email.list_type }}
                  </td>
                  <td hide show-gt-md md-cell>
                    {{ email.location_name | truncate:20 }}
                    <md-tooltip ng-if="email.location_name.length >= 20">{{ email.location_name }}</md-tooltip>
                  </td>
                  <td hide show-gt-sm md-cell>
                    {{ ::(email.created_at | humanTimeShort ) }}
                  </td>
                  <td md-cell>
                    <md-menu>
                      <md-button aria-label="{{ 'Open sessions menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="4" >
                        <md-menu-item>
                          <md-button href="/#/locations/{{ email.location_id }}">
                            <md-icon>business</md-icon>
                        <p flex translate>Location</p>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="email.client_id && email.location_id">
                          <md-button ng-click="visitClient(email)">
                            <md-icon>devices</md-icon>
                            <p flex translate>Client</p>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination md-limit="query.limit" md-limit-options="query.options" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>


        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
