<form name="myForm" ng-submit="update(myForm)">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-button id="main" class="md-icon-button md-primary" ng-click="back()" aria-label="{{ 'Settings' | translate }}">
        <md-icon md-font-icon="arrow_back" >all_inclusive</md-icon>
      </md-button>
      <p translate>Reseller</p>
      <div flex></div>
    </div>
    <md-divider></md-divider>
  </md-toolbar>

  <md-content class="md-padding" layout="column" layout-gt-sm='column'>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="75">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                Reseller Details
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <md-list-item class="md-3-line" flex="100" flex-gt-sm="50">
                <div class="md-list-item-text">
                  <h3 translate>Referral URL</h3>
                  <p>{{ ::user.referral_url }}
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line" flex="100" flex-gt-sm="50" ng-if="user.plan">
                <div class="md-list-item-text">
                  <h3 translate>Reseller Status</h3>
                  <p ng-if="user.reseller == true" translate> Enabled</p>
                  <p ng-if="user.reseller == false" translate> Disabled</p>
                </div>
              </md-list-item>
              <p ng-show="user.reseller == true"><span ng-show="new_reseller"><b>Success! We have activated your account</b>!</span> Please ensure you have subscribed to the reseller plan in the <a href="/#/users/{{ user.slug }}/billing">billing section</a>.</p>
            </div>
          </md-card-content>
        </md-card>

        <md-card ng-show="user.reseller == false && user.credit_card_last4">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" >
                 Sign-up
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <div ng-show="user.reseller_processing">
                Thanks! We're processing your request. Please wait a few seconds.
              </div>
              <div ng-hide="user.reseller_processing">
                <p>Activate your reseller account now.</p>
                <md-button class="md-raised md-primary" ng-click="go()">
                  <translate>ACTIVATE</translate>
                </md-button>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                How to become a reseller
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-wrap>
              <p>There's a one-off charge of $500 to access the platform and reseller features. After joining, you will have access to the reseller features plus you'll get a discount on the per AP costs. Here's how it works:</p>

              <md-list-item class="md-3-line md-long-text" ng-show="!user.credit_card_last4">
                <div class="md-list-item-text">
                  <h3>First, add a card to your account</h3>
                  <p>You'll need to add a card to your account before you sign-up. <a href="/#/users/{{ user.slug }}/billing">Do that here</a>.</p>
                </div>
              </md-list-item>

              <md-list-item class="md-3-line md-long-text">
                <div class="md-list-item-text">
                  <h3>Pay One-off Joining Fee</h3>
                  <p>Pay the joining fee using the form below. This is paid just once and gives you access to the reseller features and discounted rates.</p>
                </div>
              </md-list-item>

              <md-list-item class="md-3-line md-long-text">
                <div class="md-list-item-text">
                  <h3>Sign-up for the Reseller Plan</h3>
                  <p>The reseller plan costs {{ user.plan.currency_symbol}}5 per month which includes 2 access points. Additional APs cost from {{ user.plan.currency_symbol}}{{ per }} per month per AP. See the website for full pricing details.</p>
                </div>
              </md-list-item>
              <p>If you want to know more about the reseller plan, contact the support team via the support widget.</p>
            </div>
          </md-card-content>
        </md-card>

        <!-- <md-card ng-show="user.reseller == true && new_reseller"> -->
        <!--   <md-card-title> -->
        <!--     <md-card-title-text> -->
        <!--       <span class="md-headline"> -->
        <!--         Reseller Enabled -->
        <!--       </span> -->
        <!--     </md-card-title-text> -->
        <!--   </md-card-title> -->
        <!--   <md-card-content> -->
        <!--     <div layout="row" layout-wrap> -->
        <!--       <p>Great news, we've activated the reseller plans! Please subscribe to the reseller plans in the billing section.</p> -->
        <!--     </div> -->
        <!--   </md-card-content> -->
        <!-- </md-card> -->

      </div>

  </md-content>
</form>
