<md-dialog aria-label="{{'Invite' | translate }}" ng-cloak>
  <form ng-submit="update(user)">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 translate>Edit User Role</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-wrap>
        <div flex="100">
          <!-- Zak - needs docs -->
          <p translate>Change the user's default role. Read more about roles in the documentation.</p>
        </div>
        <md-input-container flex="100">
          <label>Role</label>
          <md-select ng-model="user.brand_user.role_id">
            <md-option ng-repeat="role in roles" value="{{role.role_id}}">
              {{role.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        <translate>
        Cancel
        </translate>
      </md-button>
      <md-button type="submit" ng-disabled="myForm.$pristine || myForm.$invalid" class="md-raised md-primary" translate>Update</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
