<form ng-submit="search()">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px">
        <label></label>
        <md-icon md-font-icon="search">search</md-icon>
        <input ng-blur="search()" ng-model="query.filter" md-autofocus placeholder="{{ 'Filter Users' | translate }}">
      </md-input-container>
    </div>
    <md-divider></md-divider>
  </md-toolbar>
</form>

<md-content class="md-padding" layout="column" layout-gt-sm='row' layout-wrap>

  <div flex layout="column">

    <md-card>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column md-order-by="username"><translate>Username</translate></th>
              <th hide show-gt-sm md-column md-order-by="email"><translate>Email</translate></th>
              <th hide show-gt-sm md-column md-order-by="role_id"><translate>Role</translate></th>
              <th hide show-gt-sm md-column><translate>Created</translate></th>
              <th hide show-gt-sm md-column><translate>Last Seen</translate></th>
              <th md-column ng-show="menu.length"><translate>Action</translate></th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="user" md-auto-select="options.autoSelect" ng-repeat="user in filtered = (users | filter: query.filter | orderBy: query.direction)">
              <td md-cell>
                <a ng-if="super" href="/#/users/{{ ::user.slug }}">
                  {{ ::user.username | truncate:15 }}
                </a>
                <span ng-if="!super">
                  {{ ::user.username | truncate:15 }}
                </span>
                <md-tooltip hide-gt-sm>
                  {{ ::user.email }}
                </md-tooltip>
              </td>
              <td hide show-gt-sm md-cell>
                {{ ::user.email }}
              </td>
              <td hide show-gt-sm md-cell>
                {{ user.role_id | roleFilter }}
              </td>
              <td hide show-gt-sm md-cell>
                {{ ::(user.created_at | humanTime) }}
              </td>
              <td hide show-gt-sm md-cell>
                {{ ::(user.last_sign_in_at | humanTime) }}
              </td>
              <td md-cell ng-show="menu.length">
                <md-menu>
                  <md-button aria-label="{{ 'Open Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in menu">
                      <md-button ng-click="menuAction(item.type, user)">
                        <md-icon ng-if="item.icon" md-menu-origin md-font-icon="{{ ::item.icon }}">{{ ::item.icon }}</md-icon>
                        <p flex>{{ ::item.name }}</p>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{_links.total_entries}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-card>
  </div>
</md-content>

